create_promt_gen_video_veo3-TbkFELb1hU8CAn8m.json
{"createdAt":"2025-08-19T05:37:12.583Z","updatedAt":"2025-08-20T17:53:05.609Z","id":"TbkFELb1hU8CAn8m","name":"CREATE_PROMT_GEN_VIDEO_VEO3","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2144,-32],"id":"9e4c20c9-6ce3-4fbe-97cc-ff99d06225f3","name":"Create_promt_veo3_input","webhookId":"8a9192ec-be73-42e3-b3ec-ed09f36d140e","credentials":{"telegramApi":{"id":"SugIvvhmJwgtMuQ8","name":"CREATE_PROMT_GEN_VEO3"}}},{"parameters":{"assignments":{"assignments":[{"id":"5f896984-b923-4d4c-90e8-54d5aa866914","name":"chatInput","value":"={{ $json.text }}","type":"string"},{"id":"e7058ca5-7d1b-4da7-8bb6-b9129fe02add","name":"system_prompt","value":"={{ JSON.stringify($json.system_prompt) }}","type":"string"},{"id":"d4d53449-a1d2-4a5a-b029-4282f6b914d2","name":"chatId","value":"={{ $json.chatId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-256],"id":"2f402381-1aa9-4684-8160-9792ab8e2f69","name":"INPUT_AIAGENT"},{"parameters":{"assignments":{"assignments":[{"id":"5f896984-b923-4d4c-90e8-54d5aa866914","name":"chatInput","value":"=promt\\_vi: {{ JSON.stringify($json.output.promt_vi) + \"\\n\\n\"}}\npromt\\_eng: {{ JSON.stringify($json.output.promt_eng) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,-256],"id":"db5b4a81-e908-4fda-94fa-aa0f5af6b6d4","name":"OUTPUT_AIAGENT"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a716a63-e03c-4b3e-99c3-603f2d3679fb","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"13462083-d42f-41a6-9ac9-77ff9d426fbd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b55227b-e1cb-4583-afa4-f8b42ab6535d","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1856,-48],"id":"c246d96f-20ce-40fa-9436-6bd7594e35a1","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"={{ $json.system_prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[560,-256],"id":"338bec21-d0ce-4b9c-b41b-8532a6fb8821","name":"CREATE_PROMPT_VEO3_AIAGENT"},{"parameters":{"assignments":{"assignments":[{"id":"d7496cac-8b4d-47a3-a68f-08bead1ad5c5","name":"text","value":"={{ $('Create_promt_veo3_input').item.json.message.text  }}","type":"string"},{"id":"39de0512-7c5e-4625-93c2-a66f91ccb2b5","name":"chatId","value":"={{ $('Create_promt_veo3_input').item.json.message.chat.id }}","type":"number"},{"id":"06035568-871d-4b93-836a-12d18050c2da","name":"system_prompt","value":"=# **System Prompt: Video Prompt Generator for VEo 3**\n\nYou are an **expert video prompt engineer** specializing in generating **highly detailed and cinematic prompts for VEo 3 video generation model**.\nYour task is to **always create prompts with all 12 essential components** to ensure realism, consistency, and cinematic quality.\n\n---\n\n## **Your Responsibilities**\n\n1. Always generate prompts following the **12 mandatory components**.\n2. Keep descriptions **clear, structured, and cinematic**.\n3. Avoid overly complex or contradictory descriptions.\n4. Always add **negative prompts** to remove undesired artifacts.\n\n---\n\n## **12 Mandatory Components for Every Prompt**\n\n1. **Subject (Nội dung chính)** → Define the main subject clearly.\n\n   * Example: *A young woman in a white dress*\n\n2. **Action (Hành động/Chuyển động)** → Specify what the subject is doing.\n\n   * Example: *walking gracefully, soaring, dancing*\n\n3. **Setting (Bối cảnh/Môi trường)** → Describe the location, time, or atmosphere.\n\n   * Example: *in a sunflower field at golden hour, on a snowy mountain peak*\n\n4. **Camera Work (Góc quay & Chuyển động Camera)** → Define shot type and camera movement.\n\n   * Example: *cinematic wide shot, smooth tracking shot, slow zoom in*\n\n5. **Lighting (Ánh sáng & Màu sắc)** → Specify lighting conditions and color tones.\n\n   * Example: *soft golden hour light, dramatic backlighting, warm palette*\n\n6. **Speed & Timing (Tốc độ & Nhịp điệu)** → Define motion pace.\n\n   * Example: *slow motion, real-time, perfectly synchronized timing*\n\n7. **Effects & Atmosphere (Hiệu ứng & Không khí)** → Add natural or fantasy effects.\n\n   * Example: *gentle breeze, floating dust particles, mystical fog*\n\n8. **Visual Style (Phong cách hình ảnh)** → Define style and look.\n\n   * Example: *cinematic, ultra-realistic, anime, oil painting style*\n\n9. **Technical Specs (Thông số kỹ thuật)** → Define length, aspect ratio, frame rate.\n\n   * Example: *12 seconds, 16:9 aspect ratio, 60fps*\n\n10. **Quality Modifiers (Chất lượng Render)** → Ensure clarity and resolution.\n\n* Example: *4K Ultra HD, sharp textures, perfectly stabilized*\n\n11. **Post-production & Color Grading (Hậu kỳ & Màu sắc)** → Define grading style.\n\n* Example: *film-like grading, HDR tone mapping, vibrant contrast*\n\n12. **Negative Prompts (Các yếu tố cần tránh)** → Explicitly state unwanted artifacts.\n\n* Example: *avoid blurry footage, pixelation, unnatural skin, harsh lighting*\n13.Character Voice & Dialogue Tone (Giọng điệu & Lời thoại nhân vật) →\nChỉ rõ giọng nói (deep, soft, energetic, calm, dramatic, whispering...)\nChỉ rõ cảm xúc (happy, sad, mysterious, authoritative, playful...)\n* Example: \"The young woman speaks with a soft, gentle tone full of warmth\", hoặc \"The wizard chants in a deep, powerful, echoing voice\"\n14. Character Dialogue (Lời thoại nhân vật) → Nội dung nhân vật nói, ví dụ:\n“We must protect this land at all costs!” (giọng mạnh mẽ, dõng dạc)\n“I’ve been waiting for you…” (giọng thì thầm, bí ẩn)\n“It’s so beautiful…” (giọng nhẹ nhàng, đầy cảm xúc)\n## **Final Prompt Structure**\n\n```\n[Subject] + [Action] + [Setting] + [Camera work] + [Lighting] + [Speed/Timing] + [Effects] + [Visual style] + [Technical specs] + [Quality modifiers] + [Post-production] + [Character Voice & Tone] + [Character Dialogue] + [Negative prompts]\n\n```\n---\n## **Example Output(only prompt, no explanation)**\n\n```\nA brave young warrior standing on a battlefield at dawn, gripping his sword tightly as the wind blows through his hair, cinematic wide shot slowly dollying in, golden hour backlighting with soft mist covering the ground, sparks and floating dust particles in the air, slow-motion as his cape flutters, epic cinematic fantasy style, 10 seconds duration, 16:9 aspect ratio, 60fps, 4K Ultra HD resolution with sharp textures and HDR grading, perfectly stabilized, his voice is deep and resonant filled with determination, he shouts “For honor and freedom!”, avoid blurry footage, pixelation, oversaturation, and jerky camera movements\n```\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-512],"id":"6e3738a8-944b-4cd0-a229-c1f48628fb7b","name":"OUTPUT_TEXT"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[608,-16],"id":"17205617-e06b-41ba-beaa-31b27643e7ba","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"NMKcbGDcH6Ujn2GV","name":"OpenAi_GPT_4.1_mini"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[416,48],"id":"11872c40-e1cf-4116-85d0-699d55a2d836","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"cj63td1781zMkdUi","name":"Google Gemini(PaLM) Api account 5"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[784,-64],"id":"fba17886-1ba4-47e7-9719-87ee5ff49b2d","name":"Auto-fixing Output Parser"},{"parameters":{"schemaType":"manual","inputSchema":"={\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Schema đầu ra cho Promt tạo video Veo3\",\n  \"description\": \"Một đối tượng JSON chứa promt bằng tiếng Việt và tiếng Anh để tạo video với Veo3.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"promt_vi\": {\n      \"description\": \"Promt chi tiết bằng tiếng Việt để AI tạo video.\",\n      \"type\": \"string\"\n    },\n    \"promt_eng\": {\n      \"description\": \"Promt chi tiết bằng tiếng Anh để AI tạo video.\",\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"promt_vi\",\n    \"promt_eng\"\n  ],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[944,64],"id":"6d790432-b967-4c70-bd27-92af44240764","name":"Structured Output Parser"},{"parameters":{"chatId":"={{ $('INPUT_AIAGENT').item.json.chatId }}","text":"={{ $json.output.replaceAll(\"\\\\\",\"\") }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1344,-256],"id":"a6052901-2cc4-4c82-b142-1d2242ae395a","name":"Send_message","webhookId":"5e8d33d5-106e-45bf-ade9-1c28d887bdd2","credentials":{"telegramApi":{"id":"SugIvvhmJwgtMuQ8","name":"CREATE_PROMT_GEN_VEO3"}}},{"parameters":{"command":"=ffmpeg -i /files/audio/{{ $('Get_file_audio').item.binary.data.fileName }} -acodec libmp3lame /files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-832,-128],"id":"4af3f5e3-23b1-4f06-a50c-f18b188b91e3","name":"Convert_oga_to_mp3"},{"parameters":{"fileSelector":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-656,-128],"id":"a65ad726-55ea-44f3-bc2f-4c92f0e04539","name":"Read_mp3"},{"parameters":{"operation":"write","fileName":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-992,-128],"id":"85fe13f5-68c2-4b56-bfac-39b1ac6c2418","name":"Write_file_oga_to_disk"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nfrom google import genai\nclient = genai.Client(api_key=api_key)\nfilepath=\"{{ $json.file_path }}\"\nmyfile = client.files.upload(file=filepath)\nresponse = client.models.generate_content(\n    model=\"{{ $json.MODEL_ID }}\", contents=[\"{{ $json.user_prompt }}\", myfile]\n)\nprint(response.text)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-320,-128],"id":"4d6a2d4f-0698-4fbd-9fd5-5f0ae4e58067","name":"EXTRACT_TEXT_FROM_AUDIO"},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.0-flash","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"=Trích xuất nội dung file audio trên giúp và giữ nguyên nội dung","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=Bạn đóng vai chuyên gia trích xuất file audio chuyên nghiệp","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyC7IDPEipqKJWBY8IjRWCAAEHIdYzOUWfU\",\n\"AIzaSyAsBME5PBRA9_Ra96iSjC06hzQ9a6LmDMc\",\n\"AIzaSyB6Qvq67CrEnsxX1Mor-0eNsbqMPmXxc8Y\",\n\"AIzaSyDzwyE6FsmpweMgTK4GwZ_ExEOIGD_9GPQ\",\n\"AIzaSyD4jpDYhy-1KCnE1fxyHQ4ZAPOAQP6_KuA\",\n\"AIzaSyBxY3DkI-FrrgWYTeBqDEc2SDnbmx-tPyo\",\n\"AIzaSyBd4s8QqT0LLefihuBKy_vi8FYo1YyX39M\",\n\"AIzaSyDHewqPOuFD6jiDs4C89XR-t24plyN6DSA\",\n\"AIzaSyCtuzTLBKPMVCrdiuWYCzxYjIwM8nxd8kE\",\n\"AIzaSyBJrTDlfUQqcvVu8IxDz0rEqD8_ZWyQLWc\",\n\"AIzaSyB78fyQeUqhtNB6VAs9DJ8Uh16KVSN3b-E\",\n\"AIzaSyCabGYCD4Xg82VZb2rY_lrscGXfP4rPQFc\",\n\"AIzaSyAhbEkepstvNhY6do-KqZXycPl_NEB6r6Y\",\n\"AIzaSyCOzWJAbbkvajNlkF0GM4R4fKi_mkn2UVc\",\n\"AIzaSyB-7SRZfWcPni3YDlHpxOo2fHAnWw91x_w\",\n\"AIzaSyABBEI7opEkGBHR5v3p5hy6qBnNKpld4j0\",\n\"AIzaSyDJBgA2vuyFSQhWtS0bQbh6cohTY8PZEWs\",\n\"AIzaSyAlQZxaUuzTZYuVEAEsjEiGcO9m8kFDuSU\",\n\"AIzaSyAB7S_PXClUOamufZw1m_wyRa93mqQmip0\",\n\"AIzaSyCBacQNdgtiC-UxChXYNDEvdyeYu-qSQwg\"]","type":"string"},{"id":"bab05bf4-9a8d-4df5-95dc-f188d6532723","name":"file_path","value":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,-128],"id":"d3dd9117-3439-4a44-8752-61ec45d44c3b","name":"GET_INPUT"},{"parameters":{"resource":"file","fileId":"={{ $('Create_promt_veo3_input').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1200,-128],"id":"57066aa2-9492-43c3-86bb-d1e7f54030d8","name":"Get_file_audio","webhookId":"27e6f208-5a18-4929-b780-b1617344fd96","credentials":{"telegramApi":{"id":"SugIvvhmJwgtMuQ8","name":"CREATE_PROMT_GEN_VEO3"}}},{"parameters":{"assignments":{"assignments":[{"id":"0c61fba4-93a5-4725-9b8a-f0e8f6cfbe20","name":"text","value":"={{ $json.stdout }}","type":"string"},{"id":"b1da5365-5ad1-4c49-a775-bfd4c7c11b0e","name":"chatId","value":"={{ $('Switch').item.json.message.chat.id }}","type":"string"},{"id":"ea168bc0-3ac5-491a-9ad0-3aa47ba75234","name":"system_prompt","value":"=# **System Prompt: Video Prompt Generator for VEo 3**\n\nYou are an **expert video prompt engineer** specializing in generating **highly detailed and cinematic prompts for VEo 3 video generation model**.\nYour task is to **always create prompts with all 12 essential components** to ensure realism, consistency, and cinematic quality.\n\n---\n\n## **Your Responsibilities**\n\n1. Always generate prompts following the **12 mandatory components**.\n2. Keep descriptions **clear, structured, and cinematic**.\n3. Avoid overly complex or contradictory descriptions.\n4. Always add **negative prompts** to remove undesired artifacts.\n\n---\n\n## **12 Mandatory Components for Every Prompt**\n\n1. **Subject (Nội dung chính)** → Define the main subject clearly.\n\n   * Example: *A young woman in a white dress*\n\n2. **Action (Hành động/Chuyển động)** → Specify what the subject is doing.\n\n   * Example: *walking gracefully, soaring, dancing*\n\n3. **Setting (Bối cảnh/Môi trường)** → Describe the location, time, or atmosphere.\n\n   * Example: *in a sunflower field at golden hour, on a snowy mountain peak*\n\n4. **Camera Work (Góc quay & Chuyển động Camera)** → Define shot type and camera movement.\n\n   * Example: *cinematic wide shot, smooth tracking shot, slow zoom in*\n\n5. **Lighting (Ánh sáng & Màu sắc)** → Specify lighting conditions and color tones.\n\n   * Example: *soft golden hour light, dramatic backlighting, warm palette*\n\n6. **Speed & Timing (Tốc độ & Nhịp điệu)** → Define motion pace.\n\n   * Example: *slow motion, real-time, perfectly synchronized timing*\n\n7. **Effects & Atmosphere (Hiệu ứng & Không khí)** → Add natural or fantasy effects.\n\n   * Example: *gentle breeze, floating dust particles, mystical fog*\n\n8. **Visual Style (Phong cách hình ảnh)** → Define style and look.\n\n   * Example: *cinematic, ultra-realistic, anime, oil painting style*\n\n9. **Technical Specs (Thông số kỹ thuật)** → Define length, aspect ratio, frame rate.\n\n   * Example: *12 seconds, 16:9 aspect ratio, 60fps*\n\n10. **Quality Modifiers (Chất lượng Render)** → Ensure clarity and resolution.\n\n* Example: *4K Ultra HD, sharp textures, perfectly stabilized*\n\n11. **Post-production & Color Grading (Hậu kỳ & Màu sắc)** → Define grading style.\n\n* Example: *film-like grading, HDR tone mapping, vibrant contrast*\n\n12. **Negative Prompts (Các yếu tố cần tránh)** → Explicitly state unwanted artifacts.\n\n* Example: *avoid blurry footage, pixelation, unnatural skin, harsh lighting*\n13.Character Voice & Dialogue Tone (Giọng điệu & Lời thoại nhân vật) →\nChỉ rõ giọng nói (deep, soft, energetic, calm, dramatic, whispering...)\nChỉ rõ cảm xúc (happy, sad, mysterious, authoritative, playful...)\n* Example: \"The young woman speaks with a soft, gentle tone full of warmth\", hoặc \"The wizard chants in a deep, powerful, echoing voice\"\n14. Character Dialogue (Lời thoại nhân vật) → Nội dung nhân vật nói, ví dụ:\n“We must protect this land at all costs!” (giọng mạnh mẽ, dõng dạc)\n“I’ve been waiting for you…” (giọng thì thầm, bí ẩn)\n“It’s so beautiful…” (giọng nhẹ nhàng, đầy cảm xúc)\n## **Final Prompt Structure**\n\n```\n[Subject] + [Action] + [Setting] + [Camera work] + [Lighting] + [Speed/Timing] + [Effects] + [Visual style] + [Technical specs] + [Quality modifiers] + [Post-production] + [Character Voice & Tone] + [Character Dialogue] + [Negative prompts]\n\n```\n---\n## **Example Output(only prompt, no explanation)**\n\n```\nA brave young warrior standing on a battlefield at dawn, gripping his sword tightly as the wind blows through his hair, cinematic wide shot slowly dollying in, golden hour backlighting with soft mist covering the ground, sparks and floating dust particles in the air, slow-motion as his cape flutters, epic cinematic fantasy style, 10 seconds duration, 16:9 aspect ratio, 60fps, 4K Ultra HD resolution with sharp textures and HDR grading, perfectly stabilized, his voice is deep and resonant filled with determination, he shouts “For honor and freedom!”, avoid blurry footage, pixelation, oversaturation, and jerky camera movements\n```","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-128],"id":"2d37c15c-9686-45d9-a2ce-b60fb76feb96","name":"OUTPUT_STT"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi {{ $json.message.from.username }} xíu nhé! Mình sẽ phản hồi cho cậu ngay.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1392,-128],"id":"2a575be2-91e4-46e9-bdec-2fa059cb9a4c","name":"WAIT_AUDIO","webhookId":"5e8d33d5-106e-45bf-ade9-1c28d887bdd2","credentials":{"telegramApi":{"id":"SugIvvhmJwgtMuQ8","name":"CREATE_PROMT_GEN_VEO3"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi {{ $json.message.from.username }} xíu nhé! Mình sẽ phản hồi cho cậu ngay.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1360,-512],"id":"4d709053-b8bb-4927-b550-067ccad9e7c5","name":"WAIT_TEXT","webhookId":"5e8d33d5-106e-45bf-ade9-1c28d887bdd2","credentials":{"telegramApi":{"id":"SugIvvhmJwgtMuQ8","name":"CREATE_PROMT_GEN_VEO3"}}},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-688,304],"id":"28fe036e-2eea-4796-b261-39a670d43a73","name":"RANDOM_API_KEY"},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.0-flash","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"=Phân tích cho tôi hình ảnh sau ","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"={{ JSON.stringify($json.system_prompt) }}","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyC7IDPEipqKJWBY8IjRWCAAEHIdYzOUWfU\",\n\"AIzaSyAsBME5PBRA9_Ra96iSjC06hzQ9a6LmDMc\",\n\"AIzaSyB6Qvq67CrEnsxX1Mor-0eNsbqMPmXxc8Y\",\n\"AIzaSyDzwyE6FsmpweMgTK4GwZ_ExEOIGD_9GPQ\",\n\"AIzaSyD4jpDYhy-1KCnE1fxyHQ4ZAPOAQP6_KuA\",\n\"AIzaSyBxY3DkI-FrrgWYTeBqDEc2SDnbmx-tPyo\",\n\"AIzaSyBd4s8QqT0LLefihuBKy_vi8FYo1YyX39M\",\n\"AIzaSyDHewqPOuFD6jiDs4C89XR-t24plyN6DSA\",\n\"AIzaSyCtuzTLBKPMVCrdiuWYCzxYjIwM8nxd8kE\",\n\"AIzaSyBJrTDlfUQqcvVu8IxDz0rEqD8_ZWyQLWc\",\n\"AIzaSyB78fyQeUqhtNB6VAs9DJ8Uh16KVSN3b-E\",\n\"AIzaSyCabGYCD4Xg82VZb2rY_lrscGXfP4rPQFc\",\n\"AIzaSyAhbEkepstvNhY6do-KqZXycPl_NEB6r6Y\",\n\"AIzaSyCOzWJAbbkvajNlkF0GM4R4fKi_mkn2UVc\",\n\"AIzaSyB-7SRZfWcPni3YDlHpxOo2fHAnWw91x_w\",\n\"AIzaSyABBEI7opEkGBHR5v3p5hy6qBnNKpld4j0\",\n\"AIzaSyDJBgA2vuyFSQhWtS0bQbh6cohTY8PZEWs\",\n\"AIzaSyAlQZxaUuzTZYuVEAEsjEiGcO9m8kFDuSU\",\n\"AIzaSyAB7S_PXClUOamufZw1m_wyRa93mqQmip0\",\n\"AIzaSyCBacQNdgtiC-UxChXYNDEvdyeYu-qSQwg\"]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,304],"id":"c1bff64e-ec30-4df3-a077-090358a109a0","name":"INPUT_NORMAL"},{"parameters":{"assignments":{"assignments":[{"id":"93018433-af47-48a6-b5f1-d031ebcc24c7","name":"text","value":"={{ $('ANALYST_IMAGES').item.json.candidates[0].content.parts[0].text .replace(`\\\"extract_text\":`,\"\").replace(`{`,\"\").replace(`}`,\"\").trim()+\"\\nKết hợp với kết quả phân tích trên \"+$('Switch').item.json.message.caption}}","type":"string"},{"id":"fd2a6ae2-d0cb-4f75-8a8a-cd231be014e9","name":"chatId","value":"={{ $('Create_promt_veo3_input').item.json.message.chat.id  }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,304],"id":"fda0d3be-1e9e-4577-a389-554305fc30de","name":"OUPUT_IMAGES"},{"parameters":{"assignments":{"assignments":[{"id":"cc625b20-5d55-4b0d-803d-363653ac7c5d","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"abe1768c-193c-4387-97b3-816dd1824281","name":"chatId","value":"={{ $('OUPUT_IMAGES').item.json.chatId }}","type":"string"},{"id":"df648bba-05f8-49e4-a898-c1f884bf276d","name":"system_prompt","value":"=### **System Prompt (English Version): Image-to-Video Prompt Generator for VEo 3**\n\nYou are an **expert video prompt engineer** specializing in generating **highly detailed and cinematic prompts for the VEo 3 video generation model**, with a focus on **animating a static image into a dynamic video**.\n\nYour task is to **always create prompts with all 14 essential components**, using a user-provided reference image as the foundation, and then adding new actions, movements, and effects to ensure realism, consistency, and cinematic quality.\n\n-----\n\n## **Your Responsibilities**\n\n1.  Always require and integrate a **reference image** as the video's foundation.\n2.  Generate prompts based on the source image, **adding new actions, gestures, and changes** as requested by the user to animate the subject.\n3.  Always generate prompts following the **14 mandatory components**.\n4.  Keep descriptions **clear, structured, and cinematic**.\n5.  Always add **negative prompts** to remove undesired artifacts.\n\n-----\n\n## **14 Mandatory Components for Every Prompt**\n\n**0. Reference Image** → **The foundation of the video.** Always confirm that the prompt is based on a provided static image.\n\n1.  **Subject** → Describe the subject **from the reference image**. Emphasize **maintaining 100% of their identifying features** (face, outfit, physique).\n\n      * *Example: A young woman in a white dress, **looking identical to the one in the provided image***\n\n2.  **Action/Movement** → Specify the **new** action the subject will perform. This is the new layer of motion that brings the static image to life.\n\n      * *Example: begins to smile and gently turns her head to the right, slowly drawing his sword from its scabbard*\n\n3.  **Setting** → Describe the location, time, or atmosphere. This can either maintain the setting from the source image or be changed as requested.\n\n      * *Example: in a sunflower field at golden hour, on a snowy mountain peak*\n\n4.  **Camera Work** → Define shot type and camera movement to enhance the cinematic feel.\n\n      * *Example: cinematic wide shot, smooth tracking shot, slow zoom in*\n\n5.  **Lighting & Color** → Specify lighting conditions and color tones. This can re-describe the image's lighting or apply a new style.\n\n      * *Example: soft golden hour light, dramatic backlighting, a warm color palette*\n\n6.  **Speed & Timing** → Define the motion pace.\n\n      * *Example: slow motion, real-time, perfectly synchronized timing*\n\n7.  **Effects & Atmosphere** → Add natural or fantasy effects.\n\n      * *Example: a gentle breeze, floating dust particles, mystical fog*\n\n8.  **Visual Style** → Define the overall style and look.\n\n      * *Example: cinematic, ultra-realistic, anime style, oil painting*\n\n9.  **Technical Specs** → Define length, aspect ratio, and frame rate.\n\n      * *Example: 12 seconds, 16:9 aspect ratio, 60fps*\n\n10. **Quality Modifiers** → Ensure clarity and resolution.\n\n      * *Example: 4K Ultra HD, sharp textures, perfectly stabilized*\n\n11. **Post-production & Color Grading** → Define the color grading style.\n\n      * *Example: film-like color grading, HDR tone mapping, vibrant contrast*\n\n12. **Character Voice & Dialogue Tone** → Specify the voice (deep, soft, energetic...) and emotion (happy, sad, mysterious...).\n\n      * *Example: \"The woman speaks with a soft, warm tone,\" \"The wizard chants in a deep, echoing, powerful voice\"*\n\n13. **Character Dialogue** → The content of what the character says.\n\n      * *Example: “We must protect this land at all costs\\!”, “I’ve been waiting for you…”*\n\n14. **Negative Prompts** → Explicitly state unwanted artifacts.\n\n      * *Example: avoid blurry footage, pixelation, unnatural skin, harsh lighting, subject distortion*\n\n## **Final Prompt Structure**\n\n```\n[Based on Reference Image] + [Subject] + [Action] + [Setting] + [Camera work] + [Lighting] + [Speed/Timing] + [Effects] + [Visual style] + [Technical specs] + [Quality modifiers] + [Post-production] + [Character Voice & Tone] + [Character Dialogue] + [Negative prompts]\n```\n\n-----\n\n## **Example Output**\n\n```\nBased on the reference image of a powerful female warrior standing still, she begins to slowly draw her sword from its scabbard, her eyes glowing with determination, in the setting of a desolate battlefield at dawn, a medium shot that slowly orbits her, dramatic backlighting from the rising sun creating a rim light on her hair, slow-motion to emphasize the tension, embers and ash particles float in the air, ultra-realistic cinematic fantasy style, 10 seconds duration, 16:9 aspect ratio, 60fps, 4K Ultra HD quality with sharp, detailed textures, cinematic cool-toned color grading, her voice is deep and steady, filled with authority, she says “This battle will decide everything!”, avoid altering the subject's face or armor from the original image, avoid jerky movements, blurriness, and pixelation.\n```","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,304],"id":"e7a72e13-0160-4293-b125-a094aaec4a55","name":"Edit_output_images"},{"parameters":{"assignments":{"assignments":[{"id":"222535e4-1f92-46ad-a725-92f11746286d","name":"system_prompt","value":"=# SYSTEM PROMPT: AI IMAGE PROMPT GENERATOR & ANALYZER\n\n## CORE IDENTITY\nYou are an advanced AI Image Prompt Engineer with expertise in generating professional-grade prompts for all major AI image generators (DALL-E, Midjourney, Stable Diffusion, Adobe Firefly, etc.) and analyzing existing images to create accurate reverse-engineering prompts.\n\n## PRIMARY ROLES\n\n### ROLE 1: PROMPT ENHANCEMENT SPECIALIST\n- Transform basic user ideas into comprehensive, professional image generation prompts\n- Optimize prompts for maximum quality and accuracy\n- Provide multiple variations for different styles and approaches\n- Include advanced parameters and technical specifications\n\n### ROLE 2: IMAGE ANALYSIS & REVERSE PROMPT ENGINEER\n- Analyze uploaded images in extreme detail\n- Extract all visual elements, styles, and technical aspects\n- Generate 100% accurate prompts that recreate the original image\n- Identify artistic techniques, lighting, composition, and post-processing effects\n\n## PROMPT STRUCTURE FRAMEWORK\n\n### TIER 1: ESSENTIAL COMPONENTS\n1. **Subject/Main Focus** - Primary object, person, or scene\n2. **Action/Pose** - What the subject is doing\n3. **Environment/Setting** - Background and context\n4. **Visual Style** - Art style, medium, technique\n5. **Lighting** - Type, direction, mood, time of day\n6. **Composition** - Camera angle, framing, perspective\n7. **Quality Parameters** - Resolution, detail level, rendering quality\n\n### TIER 2: ADVANCED COMPONENTS\n8. **Color Palette** - Dominant colors, saturation, temperature\n9. **Mood/Atmosphere** - Emotional tone, ambiance\n10. **Technical Camera Settings** - Aperture, focal length, depth of field\n11. **Artistic Influences** - Specific artists, art movements, styles\n12. **Material/Texture Details** - Surface properties, material types\n13. **Post-Processing Effects** - Filters, adjustments, special effects\n14. **Negative Prompts** - Elements to avoid or exclude\n\n### TIER 3: EXPERT LEVEL COMPONENTS\n15. **Cinematic Elements** - Film references, cinematography techniques\n16. **Fashion/Costume Details** - Clothing, accessories, styling\n17. **Architectural Elements** - Building styles, interior design\n18. **Weather/Environmental Conditions** - Climate, season, atmospheric effects\n19. **Cultural/Historical Context** - Time period, cultural references\n20. **Advanced Rendering Techniques** - Ray tracing, global illumination, subsurface scattering\n\n## ANALYSIS METHODOLOGY FOR IMAGE UPLOADS\n\n### VISUAL BREAKDOWN PROTOCOL\n1. **Primary Analysis**\n   - Identify main subject(s) and their characteristics\n   - Determine overall composition and framing\n   - Assess lighting conditions and shadows\n   - Evaluate color scheme and contrast\n\n2. **Technical Analysis**\n   - Estimate camera settings (aperture, focal length, ISO)\n   - Identify depth of field characteristics\n   - Analyze image quality and rendering style\n   - Detect post-processing effects\n\n3. **Stylistic Analysis**\n   - Determine artistic style (realistic, stylized, abstract, etc.)\n   - Identify artistic influences or movements\n   - Assess rendering technique (photographic, painted, CGI, etc.)\n   - Evaluate aesthetic choices and artistic intent\n\n4. **Detailed Element Extraction**\n   - Catalog all visible objects and their properties\n   - Document materials, textures, and surfaces\n   - Note environmental conditions and atmosphere\n   - Record any text, symbols, or graphic elements\n\n## OUTPUT FORMATS\n\n### For Prompt Enhancement:\n```\n**ENHANCED PROMPT:**\n[Comprehensive prompt with all components]\n\n**ALTERNATIVE VERSIONS:**\n- Style Variation 1: [Different artistic approach]\n- Style Variation 2: [Alternative aesthetic]\n- Technical Variation: [Different technical specifications]\n\n**NEGATIVE PROMPTS:**\n[Things to avoid]\n\n**RECOMMENDED SETTINGS:**\n- Platform: [Best AI generator for this style]\n- Resolution: [Optimal size]\n- Steps: [Generation parameters]\n- Additional Parameters: [Style-specific settings]\n```\n### For Image Analysis:\n```\n**IMAGE ANALYSIS REPORT:**\n**Primary Elements:**\n- Subject: [Detailed description]\n- Setting: [Environment details]\n- Composition: [Framing and layout]\n**Technical Specifications:**\n- Style: [Artistic approach]\n- Lighting: [Light source and quality]\n- Camera: [Estimated settings]\n- Quality: [Resolution and detail level]\n**RECONSTRUCTED PROMPT:**\n[100% accurate prompt to recreate the image]\n**CONFIDENCE LEVEL:** [Percentage of accuracy expected]\n**OPTIMIZATION SUGGESTIONS:**\n[Ways to improve the recreation]\n```\n## SPECIALIZED EXPERTISE AREAS\n### Art Styles Mastery\n- Photorealism, hyperrealism, surrealism\n- Impressionism, expressionism, abstract art\n- Digital art, concept art, matte painting\n- Anime, manga, cartoon styles\n- Traditional media (oil, watercolor, pencil, etc.)\n### Technical Photography Knowledge\n- Portrait, landscape, macro, street photography\n- Studio lighting setups and natural lighting\n- Camera equipment and lens characteristics\n- Professional photography techniques\n### Digital Art Techniques\n- 3D rendering and CGI methods\n- Digital painting and illustration\n- Photo manipulation and compositing\n- Modern AI art trends and aesthetics\n## INTERACTION GUIDELINES\n### When Enhancing User Prompts:\n1. Always ask clarifying questions if the request is vague\n2. Provide multiple quality levels (basic, professional, expert)\n3. Include platform-specific optimizations\n4. Offer creative alternatives and suggestions\n5. Explain reasoning behind prompt choices\n### When Analyzing Images:\n1. Request high-resolution uploads when possible\n2. Provide confidence levels for all analyses\n3. Highlight any elements that might be difficult to recreate\n4. Suggest alternative approaches if exact recreation isn't possible\n5. Offer enhancement suggestions beyond the original\n## QUALITY STANDARDS\n- All prompts must be actionable and specific\n- Technical accuracy is paramount\n- Creative enhancement while maintaining user intent\n- Platform compatibility across major AI generators\n- Continuous optimization based on latest AI capabilities\n## ERROR HANDLING\n- If image quality is too low for accurate analysis, request better version\n- If prompt requirements exceed platform capabilities, provide alternatives\n- If conflicting style elements are requested, offer resolution strategies\n- Always provide fallback options and explanations","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,304],"id":"be56b91c-45f4-4c95-95f7-e64165d4d1a9","name":"format_system_prompt"},{"parameters":{"resource":"file","inputType":"binary"},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1472,304],"id":"f75d53ba-614a-409e-a4c6-8df0b7b8d804","name":"Upload a file","credentials":{"googlePalmApi":{"id":"mzLiXdDHw88ZBMIG","name":"Google Gemini(PaLM) Api account 1"}}},{"parameters":{"chatId":"={{ $('Switch').item.json.message.chat.id }}","text":"Đã upload xong file, chờ xíu","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1264,304],"id":"30bf2ba9-497e-491a-aac7-db1287213355","name":"Send a text message","webhookId":"8b4575c2-4f70-43fb-8b04-c43b9514d39d","credentials":{"telegramApi":{"id":"SugIvvhmJwgtMuQ8","name":"CREATE_PROMT_GEN_VEO3"}}},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/{{ $('INPUT_NORMAL').item.json.MODEL_ID }}:{{ $('INPUT_NORMAL').item.json.GENERATE_CONTENT_API }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.stdout }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"systemInstruction\": {\n   \"role\": \"system\",\n    \"parts\": [\n      {\n        \"text\": {{ JSON.stringify($('INPUT_NORMAL').item.json.system_prompt) }}\n      }\n    ]\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n    {\n      \"inlineData\": {\n      \"mimeType\": \"{{ $('Upload a file').item.json.mimeType }}\",\n      \"data\": \"{{$('Switch').item.binary.data.data}}\"\n      }\n    },\n    {\n    \"text\": {{ JSON.stringify($('INPUT_NORMAL').item.json.user_prompt) }}\n    }\n  ]\n  }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\",\n    \"responseSchema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"extract_text\": {\n          \"type\": \"string\",\n          \"description\": \"Toàn bộ nội dung văn bản được trích xuất từ hình ảnh.\"\n        }\n      },\n      \"required\": [\"extract_text\"]\n    },\n    \"maxOutputTokens\": 2048,\n    \"topP\": 0.95,\n    \"topK\": 40\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,304],"id":"042667bb-d006-4b62-bc43-337c6f4396da","name":"ANALYST_IMAGES","alwaysOutputData":false},{"parameters":{"sessionIdType":"customKey","sessionKey":"=prompt_veo3"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[720,96],"id":"a1bfca38-daa5-437e-8bac-f0347740a882","name":"Redis Chat Memory","credentials":{"redis":{"id":"lj6dqd3CIF0WI3QZ","name":"Redis account"}}},{"parameters":{"jsCode":"// 1. Lấy dữ liệu thô\nconst rawInput = $input.first().json.chatInput || '';\n\n// --- HÀM TIỆN ÍCH ---\n\n/**\n * Hàm tiện ích: \"Làm sạch\" các ký tự HTML đặc biệt trong một chuỗi.\n * @param {string} text - Văn bản cần làm sạch.\n * @returns {string} - Văn bản đã được làm sạch.\n */\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n/**\n * Định dạng một chuỗi dưới dạng khối mã, sử dụng hàm escapeHtml.\n * @param {string} text - Văn bản cần định dạng.\n * @returns {string} - Chuỗi HTML đã được định dạng.\n */\nfunction formatAsCode(text) {\n  return `<pre><code>${escapeHtml(text)}</code></pre>`;\n}\n\n/**\n * Chia văn bản thành các chunk AN TOÀN cho Telegram.\n * @param {string} text - Văn bản cần chia.\n * @param {number} maxLength - Độ dài ký tự tối đa cho mỗi chunk. Mặc định là 4000 để an toàn với Telegram.\n * @returns {string[]} - Mảng các chunk.\n */\nfunction getTextChunks(text, maxLength = 4000) {\n    if (!text || text.trim().length === 0) {\n        return [];\n    }\n\n    const chunks = [];\n    let textToProcess = text;\n\n    while (textToProcess.length > 0) {\n        if (textToProcess.length <= maxLength) {\n            chunks.push(textToProcess);\n            break;\n        }\n\n        let chunkCandidate = textToProcess.slice(0, maxLength);\n        let splitIndex = maxLength; \n\n        const breakPoints = ['\\n\\n', '\\n', '. ', ' '];\n        for (const breakPoint of breakPoints) {\n            const lastBreak = chunkCandidate.lastIndexOf(breakPoint);\n            if (lastBreak > maxLength * 0.7) {\n                splitIndex = lastBreak;\n                break;\n            }\n        }\n\n        const chunk = textToProcess.slice(0, splitIndex);\n        chunks.push(chunk);\n        \n        textToProcess = textToProcess.slice(splitIndex).trim();\n    }\n\n    return chunks.filter(chunk => chunk.trim().length > 0);\n}\n\n\n// --- LOGIC CHÍNH ---\nconst allChunks = [];\n\n// TRƯỜNG HỢP 1: Xử lý file bài tập đặc biệt của bạn\n// Nếu input bắt đầu bằng '%%%==============SA_', coi toàn bộ là một khối mã\nif (rawInput.trim().startsWith('%%%========')) {\n    const codeChunks = getTextChunks(rawInput);\n    for (const chunk of codeChunks) {\n        allChunks.push({ json: { output: formatAsCode(chunk) } });\n    }\n} \n// TRƯỜNG HỢP 2: Xử lý các loại văn bản hỗn hợp khác\nelse {\n    const patterns = [\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '```[\\\\s\\\\S]*?```',\n      '%%%.*?%%%',\n      '\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '\\\\begin{lstlisting}[\\\\s\\\\S]*?\\\\end{lstlisting}',\n      '\\\\begin{verbatim}[\\\\s\\\\S]*?\\\\end{verbatim}',\n      '\\\\begin{code}[\\\\s\\\\S]*?\\\\end{code}',\n      '\\\\$\\\\$[\\\\s\\\\S]*?\\\\$\\\\$',\n      '<code>[\\\\s\\\\S]*?</code>',\n      '<pre>[\\\\s\\\\S]*?</pre>',\n      '`[^`\\\\n]+`',\n    ];\n\n    const specialBlocksRegex = new RegExp(`(${patterns.join('|')})`, 'g');\n    let currentIndex = 0;\n    let match;\n\n    try {\n      while ((match = specialBlocksRegex.exec(rawInput)) !== null) {\n        const plainText = rawInput.substring(currentIndex, match.index);\n        if (plainText && plainText.trim()) {\n          const plainTextChunks = getTextChunks(plainText);\n          for (const chunk of plainTextChunks) {\n            allChunks.push({ json: { output: chunk } });\n          }\n        }\n\n        const specialBlock = match[0];\n        if (specialBlock && specialBlock.trim()) {\n          const specialBlockChunks = getTextChunks(specialBlock);\n          for (const chunk of specialBlockChunks) {\n            allChunks.push({ json: { output: formatAsCode(chunk) } });\n          }\n        }\n        currentIndex = specialBlocksRegex.lastIndex;\n      }\n\n      const remainingText = rawInput.substring(currentIndex);\n      if (remainingText && remainingText.trim()) {\n        const plainTextChunks = getTextChunks(remainingText);\n        for (const chunk of plainTextChunks) {\n          allChunks.push({ json: { output: chunk } });\n        }\n      }\n    } catch (error) {\n      console.error('Error processing with regex, using fallback:', error);\n      const fallbackChunks = getTextChunks(rawInput);\n      for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n      }\n    }\n}\n\nif (allChunks.length === 0 && rawInput.trim()) {\n    const fallbackChunks = getTextChunks(rawInput);\n    for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n    }\n}\n\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,-256],"id":"cd8eda5c-1b66-45f2-a1be-03a66a35d6d3","name":"FORMAT_MULTY_OUTPUT"}],"connections":{"INPUT_AIAGENT":{"main":[[{"node":"CREATE_PROMPT_VEO3_AIAGENT","type":"main","index":0}]]},"Create_promt_veo3_input":{"main":[[{"node":"Switch","type":"main","index":0}]]},"CREATE_PROMPT_VEO3_AIAGENT":{"main":[[{"node":"OUTPUT_AIAGENT","type":"main","index":0}]]},"Switch":{"main":[[{"node":"WAIT_TEXT","type":"main","index":0}],[{"node":"WAIT_AUDIO","type":"main","index":0}],[{"node":"Upload a file","type":"main","index":0}]]},"OUTPUT_TEXT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"CREATE_PROMPT_VEO3_AIAGENT","type":"ai_languageModel","index":1}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"CREATE_PROMPT_VEO3_AIAGENT","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"CREATE_PROMPT_VEO3_AIAGENT","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"OUTPUT_AIAGENT":{"main":[[{"node":"FORMAT_MULTY_OUTPUT","type":"main","index":0}]]},"Convert_oga_to_mp3":{"main":[[{"node":"Read_mp3","type":"main","index":0}]]},"Read_mp3":{"main":[[{"node":"GET_INPUT","type":"main","index":0}]]},"Write_file_oga_to_disk":{"main":[[{"node":"Convert_oga_to_mp3","type":"main","index":0}]]},"EXTRACT_TEXT_FROM_AUDIO":{"main":[[{"node":"OUTPUT_STT","type":"main","index":0}]]},"GET_INPUT":{"main":[[{"node":"EXTRACT_TEXT_FROM_AUDIO","type":"main","index":0}]]},"Get_file_audio":{"main":[[{"node":"Write_file_oga_to_disk","type":"main","index":0}]]},"WAIT_AUDIO":{"main":[[{"node":"Get_file_audio","type":"main","index":0}]]},"WAIT_TEXT":{"main":[[{"node":"OUTPUT_TEXT","type":"main","index":0}]]},"OUTPUT_STT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"RANDOM_API_KEY":{"main":[[{"node":"ANALYST_IMAGES","type":"main","index":0}]]},"INPUT_NORMAL":{"main":[[{"node":"RANDOM_API_KEY","type":"main","index":0}]]},"OUPUT_IMAGES":{"main":[[{"node":"Edit_output_images","type":"main","index":0}]]},"format_system_prompt":{"main":[[{"node":"INPUT_NORMAL","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"format_system_prompt","type":"main","index":0}]]},"ANALYST_IMAGES":{"main":[[{"node":"OUPUT_IMAGES","type":"main","index":0}]]},"Edit_output_images":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"CREATE_PROMPT_VEO3_AIAGENT","type":"ai_memory","index":0}]]},"FORMAT_MULTY_OUTPUT":{"main":[[{"node":"Send_message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Create_promt_veo3_input":[{"json":{"update_id":879507315,"message":{"message_id":1208,"from":{"id":7638885552,"is_bot":false,"first_name":"Nguyen","last_name":"Duy","username":"edutechnd","language_code":"vi"},"chat":{"id":7638885552,"first_name":"Nguyen","last_name":"Duy","username":"edutechnd","type":"private"},"date":1755711283,"text":"Tạo cho cảnh quay giữa Bảy Râu và Tám Móm đi thả lưới. Khung cảnh vùng quê nông thôn với cánh đồng lúa , Họ đi trên con đê ở giữa là làn bê tông hai bên là làn cỏ xanh , lát đát những chùm hoa dại còn đọng hơi xương. Nhân vật Bảy râu là nam trung niên Châu Á 40 tuổi với bộ râu dài mặc áo thun xám, quần dài xoăn ống tay phải cầm lưới ,tay trái đang cầm điếu thuốc lào, còn tám Mỏm là nam thanh niên Châu Á 24 tuổi  mặc áo thun đỏ, quần  bò ngắn tay  thì cầm cây sào, cả hai đều đội nón. Lời thoạ tiếng viêt: nhân vật bảy Râu giọng trầm ấm Miền Trung: \" Nè Tám Mõm, đầm Trà Ổ dạo này nhiều cá lắm\". nhân vật Tám Mõm giọng trong trẻo : \"Kiểu này là phải kiếm vài kí về kho tiêu là hết sẩy\" Chất lượng video full HD 1920: 1080, tỉ lệ khung hình 16 :9, các yếu tố khác bạn thêm vào cho video chân thực"}}}]},"versionId":"2f169787-9def-4994-8574-e0db679e0608","triggerCount":1,"tags":[]}