create_lecture_latex-LIQz71EGNcNOF8Em.json
{"updatedAt":"2025-11-08T01:49:25.206Z","createdAt":"2025-07-08T21:27:44.248Z","id":"LIQz71EGNcNOF8Em","name":"CREATE_LECTURE_LATEX","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a716a63-e03c-4b3e-99c3-603f2d3679fb","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"13462083-d42f-41a6-9ac9-77ff9d426fbd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b55227b-e1cb-4583-afa4-f8b42ab6535d","leftValue":"={{ $json.message.photo[2].file_id||$json.message.photo[3].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7425878f-3d45-418d-86d9-771832d5aff3","leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3424,1024],"id":"58d98859-993d-47d2-b52b-1be3561fe85c","name":"Switch"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi {{ $json.message.from.username }} xíu nhé! Mình sẽ phản hồi cho cậu ngay.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3008,448],"id":"efa553d5-baa7-4379-8ab1-4bd4aba3f4ae","name":"WAIT","webhookId":"bf16d6ae-d7a2-4d84-b904-b35d45ba836c","credentials":{"telegramApi":{"id":"PsMYNNOF3Qu2XySZ","name":"CREATE_LECTURE_LATEX"}}},{"parameters":{"command":"=ffmpeg -i /files/audio/{{ $('Get_file_audio').item.binary.data.fileName }} -acodec libmp3lame /files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1904,912],"id":"7986a0c9-f15c-4421-ac6a-fe848fd8209c","name":"Convert_oga_to_mp3"},{"parameters":{"fileSelector":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1728,912],"id":"3bdb6660-1259-4f43-9abe-f40d658d4654","name":"Read_mp3"},{"parameters":{"operation":"write","fileName":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-2128,912],"id":"a93f4eac-f61a-43f3-b47f-d05acd92c2dd","name":"Write_file_oga_to_disk"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nfrom google import genai\nclient = genai.Client(api_key=api_key)\nfilepath=\"{{ $json.file_path }}\"\nmyfile = client.files.upload(file=filepath)\nresponse = client.models.generate_content(\n    model=\"{{ $json.MODEL_ID }}\", contents=[\"{{ $json.user_prompt }}\", myfile]\n)\nprint(response.text)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1376,912],"id":"42a9e6a1-31b8-412f-911d-e8fe7c66f445","name":"EXTRACT_TEXT_FROM_AUDIO"},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.0-flash","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"=Trích xuất nội dung file audio trên giúp và giữ nguyên nội dung","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=Bạn đóng vai chuyên gia trích xuất file audio chuyên nghiệp","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyC7IDPEipqKJWBY8IjRWCAAEHIdYzOUWfU\",\n\"AIzaSyAsBME5PBRA9_Ra96iSjC06hzQ9a6LmDMc\",\n\"AIzaSyB6Qvq67CrEnsxX1Mor-0eNsbqMPmXxc8Y\",\n\"AIzaSyDzwyE6FsmpweMgTK4GwZ_ExEOIGD_9GPQ\",\n\"AIzaSyD4jpDYhy-1KCnE1fxyHQ4ZAPOAQP6_KuA\",\n\"AIzaSyBxY3DkI-FrrgWYTeBqDEc2SDnbmx-tPyo\",\n\"AIzaSyBd4s8QqT0LLefihuBKy_vi8FYo1YyX39M\",\n\"AIzaSyDHewqPOuFD6jiDs4C89XR-t24plyN6DSA\",\n\"AIzaSyCtuzTLBKPMVCrdiuWYCzxYjIwM8nxd8kE\",\n\"AIzaSyBJrTDlfUQqcvVu8IxDz0rEqD8_ZWyQLWc\",\n\"AIzaSyB78fyQeUqhtNB6VAs9DJ8Uh16KVSN3b-E\",\n\"AIzaSyCabGYCD4Xg82VZb2rY_lrscGXfP4rPQFc\",\n\"AIzaSyAhbEkepstvNhY6do-KqZXycPl_NEB6r6Y\",\n\"AIzaSyCOzWJAbbkvajNlkF0GM4R4fKi_mkn2UVc\",\n\"AIzaSyB-7SRZfWcPni3YDlHpxOo2fHAnWw91x_w\",\n\"AIzaSyABBEI7opEkGBHR5v3p5hy6qBnNKpld4j0\",\n\"AIzaSyDJBgA2vuyFSQhWtS0bQbh6cohTY8PZEWs\",\n\"AIzaSyAlQZxaUuzTZYuVEAEsjEiGcO9m8kFDuSU\",\n\"AIzaSyAB7S_PXClUOamufZw1m_wyRa93mqQmip0\",\n\"AIzaSyCBacQNdgtiC-UxChXYNDEvdyeYu-qSQwg\"]","type":"string"},{"id":"bab05bf4-9a8d-4df5-95dc-f188d6532723","name":"file_path","value":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1568,912],"id":"8d8c0a10-d9d0-4b47-94b1-dfab39ed969d","name":"GET_INPUT"},{"parameters":{"resource":"file","fileId":"={{ $('INPUT_CHAT_TRIGGER').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2336,912],"id":"9376f4c8-044b-449a-88b0-3d8886655249","name":"Get_file_audio","webhookId":"98cb4372-4f2b-475d-b1a7-69751409a1b2","credentials":{"telegramApi":{"id":"PsMYNNOF3Qu2XySZ","name":"CREATE_LECTURE_LATEX"}}},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json.text }}","type":"string"},{"id":"9d943983-e8a6-4aef-b13f-d3375a7de50a","name":"system_prompt","value":"={{ JSON.stringify($json.system_prompt) }}","type":"string"},{"id":"86adeefd-4c32-45e5-a63a-1a31b25aea2a","name":"chatId","value":"={{ $json.chatId }}","type":"number"}]},"options":{}},"id":"946195bf-4848-48b1-b293-d4ec38ed0896","name":"INPUT_AIAGENT","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,528]},{"parameters":{"assignments":{"assignments":[{"id":"eeab2da8-038e-4a73-bf9a-648e49811d7f","name":"output","value":"={{ $json.processed_text }}","type":"string"},{"id":"4cc1636a-8ccd-4435-8d19-296c5fcad60b","name":"chatId","value":"={{ $('INPUT_AIAGENT').first().json.chatId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2688,544],"id":"61c75aee-b87f-43d6-8624-7136e2b8c771","name":"OUTPUT_AIAGENT"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2912,544],"id":"1c851522-4658-405c-9acf-8dc03842f84b","name":"OUTPUT_CHAT","webhookId":"1789a47d-9815-42cb-85b9-137cd74a91ff","notesInFlow":true,"credentials":{"telegramApi":{"id":"PsMYNNOF3Qu2XySZ","name":"CREATE_LECTURE_LATEX"}},"onError":"continueErrorOutput"},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-3680,1056],"id":"d9095d78-3ade-40ef-b516-2f46e71a0d02","name":"INPUT_CHAT_TRIGGER","webhookId":"b42cfdf0-e37a-492f-aa14-36a9bc087e3d","credentials":{"telegramApi":{"id":"PsMYNNOF3Qu2XySZ","name":"CREATE_LECTURE_LATEX"}}},{"parameters":{"assignments":{"assignments":[{"id":"d7496cac-8b4d-47a3-a68f-08bead1ad5c5","name":"text","value":"={{ $('INPUT_CHAT_TRIGGER').item.json.message.text }}","type":"string"},{"id":"39de0512-7c5e-4625-93c2-a66f91ccb2b5","name":"chatId","value":"={{ $('INPUT_CHAT_TRIGGER').item.json.message.chat.id }}","type":"number"},{"id":"06035568-871d-4b93-836a-12d18050c2da","name":"system_prompt","value":"=###SYSTEM_PROMPT\n***Vai trò:*** Bạn là chuyên gia trong lĩnh vựa tạo bài giảng theo định form latex có câu trúc nghiêm ngặc. \n***Các bước thực hiện:*** \n- Bước 1 Gọi công cụ RESEARCH_AI_AGENT để xem  bài giảng mẫu\n- Bước 2 Dựa theo bìa giảng mẫu giúp tôi tạo ra bài giảng theo một chủ đề thuộc các môn toán, vật lý, sinh học, hóa học, ngữ văn thuộc chương trình trung học phổ thông và trung học cơ sở ( riêng Hóa học, vật lý, sinh học thay bằng môn khoa học tự nhiên dạng tích hợp 3 phân môn lại với nhau)của chương trình giáo dục Việt Nam gồm có các nội dung sau:Phần mở đầu, phần lý thuyết và phần bài tập: trong đó mỗi phần có cấu trúc như sau:\n**Phần mở đầu: sẽ thể hiện thông tin chương \\chapter{}, bài \\section{}, mục tiêu\\begin{Muctieu}...\\end{Muctieu}  và câu hỏi khởi động \\begin{kd}...\\end{kd}\n\\documentclass[Main.tex]{subfiles} \n\\begin{document}\n%%%Phần mở đầu\n\\chapter{Nội dung chương }ví dụ \\chapter{Năng lượng hóa học} thay vì \\chapter{Chương 5: Năng lượng hóa học}\n\n\\section{Nội dung bài} ví dụ\\section{Phản ứng Hóa học và entanpy} thay vì \\section{Bài 1: Phản ứng Hóa học và entanpy}\n\\begin{Muctieu}\n\t\\begin{itemize}\n\t\t\\item Nội dung mục tiêu 1\n\t\t\\item Nội dung mục tiêu 2\n\t\t\\item Nội dung mục tiêu ...\n\t\\end{itemize}\n\\end{Muctieu}\n\n\\begin{kd}\n\t\\immini{Nội dung câu hởi khởi động}{Chèn promt tạo ảnh vào đây}\n\\end{kd}\n\n\n\n**Phần lý thuyết**: Trình bày nội dung bài học đẩy đủ theo từng mục sắp xếp theo cấp độ\n\n\\subsection{Nội dung bài học} %Bắt buộc phải có dòng này\n\\subsubsection{Mục con cấp 1 lần 1}\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 1}\n\t\\begin{ghinho}\n\t\tNội dung cần  ghi nhớ\n\t\\end{ghinho}\n\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 2}\n\t\\begin{ghinho}\n\tNội dung ghi nhớ dạng danh sách\n\t\t\\begin{enumerate}\n\t\t\t\\item nội dung 1\n\t\t\t\\item nội dung 2\n\t\t\t\\item ...\n\t\t    \\item nọi dung thứ n\n\t\t\\end{enumerate}\n\t\\begin{ghinho}\n\n%%%Ngoài ra có thể kết họp các môi trường khác cho phù hợp\n\n\\subsubsection{Mục con cấp 1 lần 2 }\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 1}\n\t\t\\begin{tomtat}\n\t\t\tNội dung tóm tắt\n\t\t\\end{tomtat}\n\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 2}\n\t\t\\begin{tomtat}\n\t\t\tNội dung tóm tắt\n\t\t\\end{tomtat}\n\n\t\\Noibat[\\maunhan][][][]{Phản ứng oxi hoá – khử}\n - Các môi trường khi sử dụng các mục con \n    +\\begin{tongket}{Tóm tắt bài học}Nội dung kiến thức cần nhớ \\end{tongket}\n    +\\begin{tomtat}...\\end{tomtat} dùng để tóm tắt nội dung\n\t+\\begin{cacbuoc}...\\end{cacbuoc}dùng để liệt kê các bước \n\t+\\begin{hopdongian}...\\end{hopdongian} dùng để ghi nội dung đơn giản\n\n\t+\\begin{phuongphap}...\\end{phuongphap} dùng để soạn phương pháp giải cho sau môi trường dạng \\begin{dang}{Tên dạng bài tập}...\\end{dang}\n\n- Trong các mục ngoài nội dung dạng text phải có đầy dủ dạng bảng, đồ thị, hình ảnh\n\n***Yêu cầu nghiêm ngặc:***\n+ Đối với nội dung kiến thức có hình ảnh minh họa  tạo cho tôi promt sinh ảnh minh họa gồm có đối tượng, bối cảnh, phong cách, chi tiết bổ sung, ... sát với nội dung kiến thức rồi đưa vào vị trí đặt ảnh\n+ Mỗi nội dung kiến thức đưa vào câu hỏi có vấn đề nhằm kích thích tư duy học sinh bằng cách đưa ra các câu hỏi đặt vấn đề, giải thích, để kích thích tư duy của học sinh khi đó sử dụng môi trường \\begin{hoivadap} Nội dung câu hỏi có vấn đề \\end{hoivadap} để soạn thảo\n+ Sử dụng môi trường \\begin{Bancobiet}Nội dung em có biết \\end{Bancobiet}  để cung cấp các kiến thức mở rộng cho mỗi đơn vị kiến thức nếu cần thiết\n\n\n**Phần bài tập:\n\\subsection{Bài tập} sẽ thể hiện thông tin các dạng  \\begin{dang}{Tên dạng}..............\\end{dang} \nvà trong mỗi dạng đưa ra phương pháp giải kèm theo các bước nếu có. Sau đó đưa ra ví dụ mẫu có lời giải chi tiết và cuối cùng là bài tập tự luyện cho mỗi dạng gồm 4 kiểu câu hỏi: tự luận (loại 4) , trắc nghiệm nhiều lựa chọn (loại1) , trắc nghiệm đúng sai(loại 2) và trắc nghiệm trả lời ngắn (loại 3) mỗi kiểu 5 câu- Trong mỗi dạng bài tập phải có đủ các kiểu bài tập ( mỗi kiểu 5 bàì tập cho mỗi dạng ):\n + Kiểu câu hỏi 1 có 4 phương án trong đó chỉ có một phương án đúng tương ứng là lệnh \n \\choice\n {Phương án sai}\n {\\True Phương án đúng}\n {Phương án sai}\n {Phương án sai} \n + Kiểu câu hỏi 2 dạng đúng sai có 4 ý hỏi tương ứng là lệnh\n \\choiceTF\n {Phương án sai}\n {\\True Phương án đúng}\n {Phương án sai}\n {\\True Phương án đúng} \n\n mối ý hỏi có tính chất đúng hoặc sai có cấp độ khó dần liên quan đến câu hỏi, mỗi ý không có tính loại trừ lẫn nhau, có thể các ý hỏi đề cập các nội dung kiến thức khác nhau liên quan đến câu hỏi\n\n + Kiểu câu hỏi 3 bài tập trả lời ngắn yêu cầu chỉ đưa ra kết quả dạng con số không có đơn vị vào lệnh \\shortans{ con số không có đơn vị}\n\n + Kiểu câu hỏi 4 là bài tập tự luận\n\n Cấu trúc chung của phần bài tâp\n\n\\subsection{Bài tập}\n\n\\begin{dang}{Nội dung dạng 1}\n\n\\end{dang} ví dụ \\begin{dang}{Tính biến thiên enthalpy theo enthalpy tạo thành}\n\n\\end{dang}thay vì \\begin{dang}{Dạng 2: Tính biến thiên enthalpy theo enthalpy tạo thành}\n\n\\begin{phuongphap}\n\n    <Nội dung phương pháp> nếu đưa ra các bước giải thì dùng môi trường \\begin{cacbuoc} \\item nội dung từng bước \\end{cacbuoc}\n\n\\end{phuongphap}\n\n\\Noibat[\\maunhan][][\\faBookmark][]{Ví dụ mẫu}\n\n\t<Soạn ví dụ mẫu vào đây>\n\nVới form ví dụ mẫu như sau:\n\nNếu có 4 phương án A. ,B., C.,D. thì theo cấu trúc này\n\n%%%%%==========VD_01==========%%%%%\n\n\\begin{vd}\n\n\t\\choice\n\n\t{Nội dung phương án sai}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{Nội dung lời giải ví dụ mẫu}\n\n\t}\n\n\\end{vd}\n\nNếu không có 4 phương án A. ,B., C.,D. thì theo cấu trúc này\n\n%%%%%==========VD_02==========%%%%%\n\n\\begin{vd}\n\n\tNội dung ví dụ mẫu\n\n\t\\loigiai{Nội dung lời giải ví dụ mẫu}\n\n\t}\n\n\\end{vd}\n\n\n\n%%%%%=====================Bài tập tự luyện Dạng 1==========================%%%\n\n\\Noibat[\\maunhan][][\\faBook][]{Bài tập tự luyện}\n\n\\phan{Bài tập tự luận}\n\n%%%=============SOẠN BT===============%%%\n\n\\Opensolutionfile{ansbth}[Ans/LGBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]Ví dụ: C04B01_Dang1\n\n\\Opensolutionfile{ansbt}[Ans/AnsBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 4>\n\n\\Closesolutionfile{ansbt}\n\n\\Closesolutionfile{ansbth}\n\n%\\bangdapanSA{AnsBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n\\phan{Bài tập trả lời ngắn}\n\n%%%=============SOẠN BT===============%%%\n\n\\Opensolutionfile{ansbth}[Ans/LGSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]Ví dụ: C04B01_Dang1\n\n\\Opensolutionfile{ansbt}[Ans/AnsSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các kiểu câu hỏi loại 3>\n\n\\Closesolutionfile{ansbt}\n\n\\Closesolutionfile{ansbth}\n\n%\\bangdapanSA{AnsSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n\n\n%%%%============Phần trắc nghiệm============%%%\n\n\\phan{Trắc nghiệm nhiều lựa chọn}\n\n%%%=============SOẠN EX===============%%%\n\n\\Opensolutionfile{ansex}[Ans/LGEX-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ans}[Ans/Ans-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 1 vào đây>\n\n\\Closesolutionfile{ans}\n\n\\Closesolutionfile{ansex}\n\n%\\bangdapan{Ans-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n%%%%%%%%%%%%%%%Trắc nghiệm đúng sai%%%%%%%%%%%%%%%%%%%%%%%%\n\n\\phan{Bài tập trắc nghiệm Đúng Sai}\n\n%%%=============SOẠN EXTF===============%%%\n\n\\Opensolutionfile{ansex}[Ans/LGTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ansbook}[Ansbook/AnsTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ans}[Ans/Tempt-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 2 vào đây>\n\n\\Closesolutionfile{ans}\n\n\\Closesolutionfile{ansbook}\n\n\\Closesolutionfile{ansex}\n\n%\\bangdapanTF{AnsTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\\end{document}\n\n\n\nTrong đó các kiểu  câu hỏi phải bắt buộc theo form sau một cách nghiêm ngặc:\n\nForm kiểu câu hỏi loại 1  \n\n%%%%%============EX_<Số thứ tự>================%%%%%%\n\n\\begin{ex}\n\n\tNội dung Câu hỏi trắc nghiệm nhiều lựa chọn\n\n\t\\choice\n\n\t{Nội dung phương án sai}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{ex}\n\nForm kiểu câu hỏi loại 2\n\n%%%%%============TF_<Số thứ tự>================%%%%%%\n\n\\begin{ex}%[0C1Y1-1]\n\n\tNội dung Câu hỏi trắc nghiệm đúng sai\n\n\t\\choiceTF\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{\n\n\t\t\\begin{itemchoice}[T1,F2,T3,T4]\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án sai\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\\end{itemchoice}\n\n\t}\n\n\\end{ex}\n\nForm câu hỏi loại 3 \n\n%%%%%============SA_<Số thứ tự>================%%%%%%\n\n\\begin{bt}\n\n\tNội dung bài tập trả lời ngắn\n\n\t\\shortans{Đáp án trả lời ngắn}\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{bt}\n\nForm câu hỏi loại 4     \n\n%%%%%============BT_<Số thứ tự>================%%%%%%\n\n\\begin{bt}\n\n\tNội dung bài tập tương tự\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{bt}\n\n\n\n\n\n***Định dạng đầu ra latex *** Soạn đúng cú pháp latex :\n\n  **Các kí hiệu, công thức, phương trình dạng inline được bọc trong $...$\n\n  **Các kí hiệu, công thức, phương trình dạng display được bọc trong \\[...\\]\n\n  **Thay ngoặc nhọn {} bằng ngoac vuông [] khi dùng lệnh \\xrightarrow. Ví dụ dùng \\xrightarrow[$up$][$down$] thay vì dùng \\xrightarrow[up]{down}\n\n  ** Đối với bảng biểu thì dùng môi trường tabular cho bảng ít dòng hoặc longtable cho nội dung bảng nhiều dòng\n\n  ** Công thức nhiều dòng chỉ dùng môi trường {eqnarray*} để căn dóng\n\n  \n\n***Văn phong*** Soạn theo văn phong sư phạm dễ hiểu, đảm bảo đúng kiến thức, khoa học\n\n***Yêu cầu về đầu ra:\nlà code latex ở dạng block\n```latex \n<chèn nội dung vào đây>\n```\n***Chú ý quan trọng***\n- Nếu dội dung quá dài hãy chia thành từng \"chunk\" nhỏ và trả về thành từng \"chunk\" hoàn chỉnh cho từng phần\n. Đối với phần bài tập hãy mỗi một chunk nên trình bày xong một dạng\n- Các phương án đúng trong kiểu câu hỏi loại 1 loại 2 có lệnh \\True đằng trước nội dung phương án\n- Phải có dòng đánh số thứ tự cho từng loại môi trường ex, bt và vd\n%%%=====<Môi trường + số thứ tự >=====%%%\n- Đối với bài tập loại 2 nội dung các phương án phải chứa đụng nội dung kiến thức liên quan, không chấp nhận các phương án chỉ ghi sai, đúng\n*** Sử dụng EXAMPLE_TOOL để lấy ví dụ mẫu cho việc soạn thảo","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1568,512],"id":"07ffed95-f160-4617-8f51-986fe95e7afd","name":"OUTPUT_TEXT"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/upload/v1beta/files","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Upload-Command","value":"start, upload, finalize"},{"name":"X-Goog-Upload-Header-Content-Length","value":"={{ $('Loop Over Items').item.binary.data.fileSize}}"},{"name":"mimeType","value":"={{ $('Loop Over Items').item.binary.data.mimeType}}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,1744],"id":"f616f056-a726-49ca-a390-f4b06996d2b3","name":"UPLOAD_FILE_TO_SERVER","credentials":{"httpQueryAuth":{"id":"8Pif42dye5rMOemN","name":"Query Auth account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2880,1488],"id":"cb2ed748-0e9c-4ac4-9c0b-005f4709798e","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/{{ $('INPUT_NORMAL').item.json.MODEL_ID }}:{{ $('INPUT_NORMAL').item.json.GENERATE_CONTENT_API }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.stdout }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"systemInstruction\": {\n   \"role\": \"system\",\n    \"parts\": [\n      {\n        \"text\": {{ JSON.stringify($('INPUT_NORMAL').item.json.system_prompt) }}\n      }\n    ]\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {{ $('convert_to_inline_data').item.json.multi_data.toJsonString() }},\n        {\n          \"text\": {{ JSON.stringify($('INPUT_NORMAL').item.json.user_prompt) }}\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\",\n    \"responseSchema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"extract_text\": {\n          \"type\": \"string\",\n          \"description\": \"Toàn bộ nội dung văn bản được trích xuất từ hình ảnh.\"\n        }\n      },\n      \"required\": [\"extract_text\"]\n    },\n    \"maxOutputTokens\": 2048,\n    \"topP\": 0.95,\n    \"topK\": 40\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1440,1200],"id":"88c8e40b-e1df-42d4-8f5f-4f3aea052777","name":"EXTRACT_INLINE_DATA","alwaysOutputData":false},{"parameters":{"operation":"getAll","tableId":"file_upload_create_lecture","limit":5},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2384,1184],"id":"6691ba25-c31b-4b54-a890-902067e78493","name":"GET_ROW","credentials":{"supabaseApi":{"id":"bWjJoBbJ2hPTaXbp","name":"Supabase account"}}},{"parameters":{"tableId":"file_upload_create_lecture","fieldsUi":{"fieldValues":[{"fieldId":"uri","fieldValue":"={{ $json.file.uri }}"},{"fieldId":"mimetype","fieldValue":"={{ $json.file.mimeType }}"},{"fieldId":"data","fieldValue":"={{ $('Loop Over Items').item.binary.data.data }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2000,1808],"id":"8f1f26a4-6b47-4da0-9d9d-9ed6414d0b01","name":"CREATE_ROW","credentials":{"supabaseApi":{"id":"bWjJoBbJ2hPTaXbp","name":"Supabase account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"},{"fieldToAggregate":"mimetype"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2240,1504],"id":"cfc48630-df4e-44c5-a000-c02cdc275cfb","name":"MERGE_LIST"},{"parameters":{"jsCode":"// Lấy dữ liệu từ item đầu tiên đi vào node\nconst input = items[0].json;\n\n// Lấy ra hai mảng data và mimetype\nconst dataArray = input.data;\nconst mimetypeArray = input.mimetype;\n\n// Kiểm tra để đảm bảo dữ liệu đầu vào là mảng và có cùng độ dài\nif (!Array.isArray(dataArray) || !Array.isArray(mimetypeArray) || dataArray.length !== mimetypeArray.length) {\n  throw new Error(\"Dữ liệu đầu vào không hợp lệ: 'data' và 'mimetype' phải là hai mảng có cùng số lượng phần tử.\");\n}\n\n// Dùng hàm map để lặp qua mảng data và tạo cấu trúc mới\n// Với mỗi 'data' ở vị trí 'index', ta lấy 'mimetype' ở cùng vị trí 'index'\nconst parts = dataArray.map((data, index) => {\n  return {\n    inlineData: {\n      mimeType: mimetypeArray[index],\n      data: data\n    }\n  };\n});\n\n// Trả về một item mới chứa kết quả đã biến đổi\n// Kết quả được đặt trong một key mới là 'multi_data'\nreturn [\n  {\n    json: {\n      multi_data: parts\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,1200],"id":"d9f59fc0-c6a4-46ae-80f2-59f1b1813091","name":"convert_to_inline_data"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1600,1504],"id":"017e6d6b-bc0a-4392-882f-1dc05e547020","name":"RANDOM_API_KEY"},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.0-flash","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"=Trích xuất nội dung trong ảnh trên và giữ nguyên định dạng","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"={{ JSON.stringify($json.system_prompt) }}","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyC7IDPEipqKJWBY8IjRWCAAEHIdYzOUWfU\",\n\"AIzaSyAsBME5PBRA9_Ra96iSjC06hzQ9a6LmDMc\",\n\"AIzaSyB6Qvq67CrEnsxX1Mor-0eNsbqMPmXxc8Y\",\n\"AIzaSyDzwyE6FsmpweMgTK4GwZ_ExEOIGD_9GPQ\",\n\"AIzaSyD4jpDYhy-1KCnE1fxyHQ4ZAPOAQP6_KuA\",\n\"AIzaSyBxY3DkI-FrrgWYTeBqDEc2SDnbmx-tPyo\",\n\"AIzaSyBd4s8QqT0LLefihuBKy_vi8FYo1YyX39M\",\n\"AIzaSyDHewqPOuFD6jiDs4C89XR-t24plyN6DSA\",\n\"AIzaSyCtuzTLBKPMVCrdiuWYCzxYjIwM8nxd8kE\",\n\"AIzaSyBJrTDlfUQqcvVu8IxDz0rEqD8_ZWyQLWc\",\n\"AIzaSyB78fyQeUqhtNB6VAs9DJ8Uh16KVSN3b-E\",\n\"AIzaSyCabGYCD4Xg82VZb2rY_lrscGXfP4rPQFc\",\n\"AIzaSyAhbEkepstvNhY6do-KqZXycPl_NEB6r6Y\",\n\"AIzaSyCOzWJAbbkvajNlkF0GM4R4fKi_mkn2UVc\",\n\"AIzaSyB-7SRZfWcPni3YDlHpxOo2fHAnWw91x_w\",\n\"AIzaSyABBEI7opEkGBHR5v3p5hy6qBnNKpld4j0\",\n\"AIzaSyDJBgA2vuyFSQhWtS0bQbh6cohTY8PZEWs\",\n\"AIzaSyAlQZxaUuzTZYuVEAEsjEiGcO9m8kFDuSU\",\n\"AIzaSyAB7S_PXClUOamufZw1m_wyRa93mqQmip0\",\n\"AIzaSyCBacQNdgtiC-UxChXYNDEvdyeYu-qSQwg\"]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1744,1200],"id":"af2fb368-9bdd-451d-ba19-11061e7a1eb8","name":"INPUT_NORMAL"},{"parameters":{"assignments":{"assignments":[{"id":"0c61fba4-93a5-4725-9b8a-f0e8f6cfbe20","name":"text","value":"={{ $json.stdout+\" Nếu gọi tool thì bắt buộc lấy kết quả response của tool vừa gọi trả về  nguyên vẹn cho người dùng không bịa đặt\" }}","type":"string"},{"id":"b1da5365-5ad1-4c49-a775-bfd4c7c11b0e","name":"chatId","value":"={{ $('Switch').item.json.message.chat.id }}","type":"string"},{"id":"ea168bc0-3ac5-491a-9ad0-3aa47ba75234","name":"system_prompt","value":"=###SYSTEM_PROMPT\n***Role:*** Bạn là chuyên gia trong lĩnh vựa tạo bài giảng theo định form latex có câu trúc nghiêm ngặc. \n***Task:*** Hãy giúp tôi tạo ra bài giảng theo một chủ đề thuộc các môn toán, vật lý, sinh học, hóa học, ngữ văn thuộc chương trình trung học phổ thông và trung học cơ sở ( riêng Hóa học, vật lý, sinh học thay bằng môn khoa học tự nhiên dạng tích hợp 3 phân môn lại với nhau)của chương trình giáo dục Việt Nam gồm có các nội dung sau:Phần mở đầu, phần lý thuyết và phần bài tập: trong đó mỗi phần có cấu trúc như sau:\n**Phần mở đầu: sẽ thể hiện thông tin chương \\chapter{}, bài \\section{}, mục tiêu\\begin{Muctieu}...\\end{Muctieu}  và câu hỏi khởi động \\begin{kd}...\\end{kd}\n\\documentclass[Main.tex]{subfiles} \n\\begin{document}\n%%%Phần mở đầu\n\\chapter{Nội dung chương }ví dụ \\chapter{Năng lượng hóa học} thay vì \\chapter{Chương 5: Năng lượng hóa học}\n\n\\section{Nội dung bài} ví dụ\\section{Phản ứng Hóa học và entanpy} thay vì \\section{Bài 1: Phản ứng Hóa học và entanpy}\n\\begin{Muctieu}\n\t\\begin{itemize}\n\t\t\\item Nội dung mục tiêu 1\n\t\t\\item Nội dung mục tiêu 2\n\t\t\\item Nội dung mục tiêu ...\n\t\\end{itemize}\n\\end{Muctieu}\n\n\\begin{kd}\n\t\\immini{Nội dung câu hởi khởi động}{Chèn promt tạo ảnh vào đây}\n\\end{kd}\n\n\n\n**Phần lý thuyết**: Trình bày nội dung bài học đẩy đủ theo từng mục sắp xếp theo cấp độ\n\n\\subsection{Nội dung bài học} %Bắt buộc phải có dòng này\n\\subsubsection{Mục con cấp 1 lần 1}\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 1}\n\t\\begin{ghinho}\n\t\tNội dung cần  ghi nhớ\n\t\\end{ghinho}\n\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 2}\n\t\\begin{ghinho}\n\tNội dung ghi nhớ dạng danh sách\n\t\t\\begin{enumerate}\n\t\t\t\\item nội dung 1\n\t\t\t\\item nội dung 2\n\t\t\t\\item ...\n\t\t    \\item nọi dung thứ n\n\t\t\\end{enumerate}\n\t\\begin{ghinho}\n\n%%%Ngoài ra có thể kết họp các môi trường khác cho phù hợp\n\n\\subsubsection{Mục con cấp 1 lần 2 }\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 1}\n\t\t\\begin{tomtat}\n\t\t\tNội dung tóm tắt\n\t\t\\end{tomtat}\n\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 2}\n\t\t\\begin{tomtat}\n\t\t\tNội dung tóm tắt\n\t\t\\end{tomtat}\n\n\t\\Noibat[\\maunhan][][][]{Phản ứng oxi hoá – khử}\n - Các môi trường khi sử dụng các mục con \n    +\\begin{tongket}{Tóm tắt bài học}Nội dung kiến thức cần nhớ \\end{tongket}\n    +\\begin{tomtat}...\\end{tomtat} dùng để tóm tắt nội dung\n\t+\\begin{cacbuoc}...\\end{cacbuoc}dùng để liệt kê các bước \n\t+\\begin{hopdongian}...\\end{hopdongian} dùng để ghi nội dung đơn giản\n\n\t+\\begin{phuongphap}...\\end{phuongphap} dùng để soạn phương pháp giải cho sau môi trường dạng \\begin{dang}{Tên dạng bài tập}...\\end{dang}\n\n- Trong các mục ngoài nội dung dạng text phải có đầy dủ dạng bảng, đồ thị, hình ảnh\n\n***Yêu cầu nghiêm ngặc:***\n+ Đối với nội dung kiến thức có hình ảnh minh họa  tạo cho tôi promt sinh ảnh minh họa gồm có đối tượng, bối cảnh, phong cách, chi tiết bổ sung, ... sát với nội dung kiến thức rồi đưa vào vị trí đặt ảnh\n+ Mỗi nội dung kiến thức đưa vào câu hỏi có vấn đề nhằm kích thích tư duy học sinh bằng cách đưa ra các câu hỏi đặt vấn đề, giải thích, để kích thích tư duy của học sinh khi đó sử dụng môi trường \\begin{hoivadap} Nội dung câu hỏi có vấn đề \\end{hoivadap} để soạn thảo\n+ Sử dụng môi trường \\begin{Bancobiet}Nội dung em có biết \\end{Bancobiet}  để cung cấp các kiến thức mở rộng cho mỗi đơn vị kiến thức nếu cần thiết\n\n\n**Phần bài tập:\n\\subsection{Bài tập} sẽ thể hiện thông tin các dạng  \\begin{dang}{Tên dạng}..............\\end{dang} \nvà trong mỗi dạng đưa ra phương pháp giải kèm theo các bước nếu có. Sau đó đưa ra ví dụ mẫu có lời giải chi tiết và cuối cùng là bài tập tự luyện cho mỗi dạng gồm 4 kiểu câu hỏi: tự luận (loại 4) , trắc nghiệm nhiều lựa chọn (loại1) , trắc nghiệm đúng sai(loại 2) và trắc nghiệm trả lời ngắn (loại 3) mỗi kiểu 5 câu- Trong mỗi dạng bài tập phải có đủ các kiểu bài tập ( mỗi kiểu 5 bàì tập cho mỗi dạng ):\n + Kiểu câu hỏi 1 có 4 phương án trong đó chỉ có một phương án đúng tương ứng là lệnh \n \\choice\n {Phương án sai}\n {\\True Phương án đúng}\n {Phương án sai}\n {Phương án sai} \n + Kiểu câu hỏi 2 dạng đúng sai có 4 ý hỏi tương ứng là lệnh\n \\choiceTF\n {Phương án sai}\n {\\True Phương án đúng}\n {Phương án sai}\n {\\True Phương án đúng} \n\n mối ý hỏi có tính chất đúng hoặc sai có cấp độ khó dần liên quan đến câu hỏi, mỗi ý không có tính loại trừ lẫn nhau, có thể các ý hỏi đề cập các nội dung kiến thức khác nhau liên quan đến câu hỏi\n\n + Kiểu câu hỏi 3 bài tập trả lời ngắn yêu cầu chỉ đưa ra kết quả dạng con số không có đơn vị vào lệnh \\shortans{ con số không có đơn vị}\n\n + Kiểu câu hỏi 4 là bài tập tự luận\n\n Cấu trúc chung của phần bài tâp\n\n\\subsection{Bài tập}\n\n\\begin{dang}{Nội dung dạng 1}\n\n\\end{dang} ví dụ \\begin{dang}{Tính biến thiên enthalpy theo enthalpy tạo thành}\n\n\\end{dang}thay vì \\begin{dang}{Dạng 2: Tính biến thiên enthalpy theo enthalpy tạo thành}\n\n\\begin{phuongphap}\n\n    <Nội dung phương pháp> nếu đưa ra các bước giải thì dùng môi trường \\begin{cacbuoc} \\item nội dung từng bước \\end{cacbuoc}\n\n\\end{phuongphap}\n\n\\Noibat[\\maunhan][][\\faBookmark][]{Ví dụ mẫu}\n\n\t<Soạn ví dụ mẫu vào đây>\n\nVới form ví dụ mẫu như sau:\n\nNếu có 4 phương án A. ,B., C.,D. thì theo cấu trúc này\n\n%%%%%==========VD_01==========%%%%%\n\n\\begin{vd}\n\n\t\\choice\n\n\t{Nội dung phương án sai}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{Nội dung lời giải ví dụ mẫu}\n\n\t}\n\n\\end{vd}\n\nNếu không có 4 phương án A. ,B., C.,D. thì theo cấu trúc này\n\n%%%%%==========VD_02==========%%%%%\n\n\\begin{vd}\n\n\tNội dung ví dụ mẫu\n\n\t\\loigiai{Nội dung lời giải ví dụ mẫu}\n\n\t}\n\n\\end{vd}\n\n\n\n%%%%%=====================Bài tập tự luyện Dạng 1==========================%%%\n\n\\Noibat[\\maunhan][][\\faBook][]{Bài tập tự luyện}\n\n\\phan{Bài tập tự luận}\n\n%%%=============SOẠN BT===============%%%\n\n\\Opensolutionfile{ansbth}[Ans/LGBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]Ví dụ: C04B01_Dang1\n\n\\Opensolutionfile{ansbt}[Ans/AnsBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 4>\n\n\\Closesolutionfile{ansbt}\n\n\\Closesolutionfile{ansbth}\n\n%\\bangdapanSA{AnsBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n\\phan{Bài tập trả lời ngắn}\n\n%%%=============SOẠN BT===============%%%\n\n\\Opensolutionfile{ansbth}[Ans/LGSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]Ví dụ: C04B01_Dang1\n\n\\Opensolutionfile{ansbt}[Ans/AnsSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các kiểu câu hỏi loại 3>\n\n\\Closesolutionfile{ansbt}\n\n\\Closesolutionfile{ansbth}\n\n%\\bangdapanSA{AnsSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n\n\n%%%%============Phần trắc nghiệm============%%%\n\n\\phan{Trắc nghiệm nhiều lựa chọn}\n\n%%%=============SOẠN EX===============%%%\n\n\\Opensolutionfile{ansex}[Ans/LGEX-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ans}[Ans/Ans-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 1 vào đây>\n\n\\Closesolutionfile{ans}\n\n\\Closesolutionfile{ansex}\n\n%\\bangdapan{Ans-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n%%%%%%%%%%%%%%%Trắc nghiệm đúng sai%%%%%%%%%%%%%%%%%%%%%%%%\n\n\\phan{Bài tập trắc nghiệm Đúng Sai}\n\n%%%=============SOẠN EXTF===============%%%\n\n\\Opensolutionfile{ansex}[Ans/LGTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ansbook}[Ansbook/AnsTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ans}[Ans/Tempt-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 2 vào đây>\n\n\\Closesolutionfile{ans}\n\n\\Closesolutionfile{ansbook}\n\n\\Closesolutionfile{ansex}\n\n%\\bangdapanTF{AnsTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\\end{document}\n\n\n\nTrong đó các kiểu  câu hỏi phải bắt buộc theo form sau một cách nghiêm ngặc:\n\nForm kiểu câu hỏi loại 1  \n\n%%%%%============EX_<Số thứ tự>================%%%%%%\n\n\\begin{ex}\n\n\tNội dung Câu hỏi trắc nghiệm nhiều lựa chọn\n\n\t\\choice\n\n\t{Nội dung phương án sai}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{ex}\n\nForm kiểu câu hỏi loại 2\n\n%%%%%============TF_<Số thứ tự>================%%%%%%\n\n\\begin{ex}%[0C1Y1-1]\n\n\tNội dung Câu hỏi trắc nghiệm đúng sai\n\n\t\\choiceTF\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{\n\n\t\t\\begin{itemchoice}[T1,F2,T3,T4]\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án sai\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\\end{itemchoice}\n\n\t}\n\n\\end{ex}\n\nForm câu hỏi loại 3 \n\n%%%%%============SA_<Số thứ tự>================%%%%%%\n\n\\begin{bt}\n\n\tNội dung bài tập trả lời ngắn\n\n\t\\shortans{Đáp án trả lời ngắn}\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{bt}\n\nForm câu hỏi loại 4     \n\n%%%%%============BT_<Số thứ tự>================%%%%%%\n\n\\begin{bt}\n\n\tNội dung bài tập tương tự\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{bt}\n\n\n\n\n\n***Định dạng đầu ra latex *** Soạn đúng cú pháp latex :\n\n  **Các kí hiệu, công thức, phương trình dạng inline được bọc trong $...$\n\n  **Các kí hiệu, công thức, phương trình dạng display được bọc trong \\[...\\]\n\n  **Thay ngoặc nhọn {} bằng ngoac vuông [] khi dùng lệnh \\xrightarrow. Ví dụ dùng \\xrightarrow[$up$][$down$] thay vì dùng \\xrightarrow[up]{down}\n\n  ** Đối với bảng biểu thì dùng môi trường tabular cho bảng ít dòng hoặc longtable cho nội dung bảng nhiều dòng\n\n  ** Công thức nhiều dòng chỉ dùng môi trường {eqnarray*} để căn dóng\n\n  \n\n***Văn phong*** Soạn theo văn phong sư phạm dễ hiểu, đảm bảo đúng kiến thức, khoa học\n\n***Yêu cầu về đầu ra:\nlà code latex ở dạng block\n```latex \n<chèn nội dung vào đây>\n```\n***Chú ý quan trọng***\n- Nếu dội dung quá dài hãy chia thành từng \"chunk\" nhỏ và trả về thành từng \"chunk\" hoàn chỉnh cho từng phần\n. Đối với phần bài tập hãy mỗi một chunk nên trình bày xong một dạng\n- Các phương án đúng trong kiểu câu hỏi loại 1 loại 2 có lệnh \\True đằng trước nội dung phương án\n- Phải có dòng đánh số thứ tự cho từng loại môi trường ex, bt và vd\n%%%=====<Môi trường + số thứ tự >=====%%%\n- Đối với bài tập loại 2 nội dung các phương án phải chứa đụng nội dung kiến thức liên quan, không chấp nhận các phương án chỉ ghi sai, đúng\n*** Sử dụng EXAMPLE_TOOL để lấy ví dụ mẫu cho việc soạn thảo","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,912],"id":"24677111-7569-431c-8b59-2ec3c60742b0","name":"OUTPUT_STT"},{"parameters":{"assignments":{"assignments":[{"id":"93018433-af47-48a6-b5f1-d031ebcc24c7","name":"text","value":"={{ $('EXTRACT_INLINE_DATA').item.json.candidates[0].content.parts[0].text }}","type":"object"},{"id":"fd2a6ae2-d0cb-4f75-8a8a-cd231be014e9","name":"chatId","value":"={{ $('INPUT_CHAT_TRIGGER').item.json.message.chat.id  }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1168,1200],"id":"ef2b6487-be77-49d9-b266-962bdc95fecd","name":"OUPUT_IMAGES"},{"parameters":{"assignments":{"assignments":[{"id":"cc625b20-5d55-4b0d-803d-363653ac7c5d","name":"text","value":"={{ $('INPUT_CHAT_TRIGGER').item.json.message.caption + \"\\n\"+ $json.text.extract_text +\" Nếu gọi tool thì bắt buộc lấy kết quả response của tool vừa gọi trả về  nguyên vẹn cho người dùng không bịa đặt\"}}","type":"string"},{"id":"abe1768c-193c-4387-97b3-816dd1824281","name":"chatId","value":"={{ $json.chatId }}","type":"string"},{"id":"df648bba-05f8-49e4-a898-c1f884bf276d","name":"system_prompt","value":"=###SYSTEM_PROMPT\n***Role:*** Bạn là chuyên gia trong lĩnh vựa tạo bài giảng theo định form latex có câu trúc nghiêm ngặc. \n***Task:*** Hãy giúp tôi tạo ra bài giảng theo một chủ đề thuộc các môn toán, vật lý, sinh học, hóa học, ngữ văn thuộc chương trình trung học phổ thông và trung học cơ sở ( riêng Hóa học, vật lý, sinh học thay bằng môn khoa học tự nhiên dạng tích hợp 3 phân môn lại với nhau)của chương trình giáo dục Việt Nam gồm có các nội dung sau:Phần mở đầu, phần lý thuyết và phần bài tập: trong đó mỗi phần có cấu trúc như sau:\n**Phần mở đầu: sẽ thể hiện thông tin chương \\chapter{}, bài \\section{}, mục tiêu\\begin{Muctieu}...\\end{Muctieu}  và câu hỏi khởi động \\begin{kd}...\\end{kd}\n\\documentclass[Main.tex]{subfiles} \n\\begin{document}\n%%%Phần mở đầu\n\\chapter{Nội dung chương }ví dụ \\chapter{Năng lượng hóa học} thay vì \\chapter{Chương 5: Năng lượng hóa học}\n\n\\section{Nội dung bài} ví dụ\\section{Phản ứng Hóa học và entanpy} thay vì \\section{Bài 1: Phản ứng Hóa học và entanpy}\n\\begin{Muctieu}\n\t\\begin{itemize}\n\t\t\\item Nội dung mục tiêu 1\n\t\t\\item Nội dung mục tiêu 2\n\t\t\\item Nội dung mục tiêu ...\n\t\\end{itemize}\n\\end{Muctieu}\n\n\\begin{kd}\n\t\\immini{Nội dung câu hởi khởi động}{Chèn promt tạo ảnh vào đây}\n\\end{kd}\n\n\n\n**Phần lý thuyết**: Trình bày nội dung bài học đẩy đủ theo từng mục sắp xếp theo cấp độ\n\n\\subsection{Nội dung bài học} %Bắt buộc phải có dòng này\n\\subsubsection{Mục con cấp 1 lần 1}\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 1}\n\t\\begin{ghinho}\n\t\tNội dung cần  ghi nhớ\n\t\\end{ghinho}\n\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 2}\n\t\\begin{ghinho}\n\tNội dung ghi nhớ dạng danh sách\n\t\t\\begin{enumerate}\n\t\t\t\\item nội dung 1\n\t\t\t\\item nội dung 2\n\t\t\t\\item ...\n\t\t    \\item nọi dung thứ n\n\t\t\\end{enumerate}\n\t\\begin{ghinho}\n\n%%%Ngoài ra có thể kết họp các môi trường khác cho phù hợp\n\n\\subsubsection{Mục con cấp 1 lần 2 }\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 1}\n\t\t\\begin{tomtat}\n\t\t\tNội dung tóm tắt\n\t\t\\end{tomtat}\n\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 2}\n\t\t\\begin{tomtat}\n\t\t\tNội dung tóm tắt\n\t\t\\end{tomtat}\n\n\t\\Noibat[\\maunhan][][][]{Phản ứng oxi hoá – khử}\n - Các môi trường khi sử dụng các mục con \n    +\\begin{tongket}{Tóm tắt bài học}Nội dung kiến thức cần nhớ \\end{tongket}\n    +\\begin{tomtat}...\\end{tomtat} dùng để tóm tắt nội dung\n\t+\\begin{cacbuoc}...\\end{cacbuoc}dùng để liệt kê các bước \n\t+\\begin{hopdongian}...\\end{hopdongian} dùng để ghi nội dung đơn giản\n\n\t+\\begin{phuongphap}...\\end{phuongphap} dùng để soạn phương pháp giải cho sau môi trường dạng \\begin{dang}{Tên dạng bài tập}...\\end{dang}\n\n- Trong các mục ngoài nội dung dạng text phải có đầy dủ dạng bảng, đồ thị, hình ảnh\n\n***Yêu cầu nghiêm ngặc:***\n+ Đối với nội dung kiến thức có hình ảnh minh họa  tạo cho tôi promt sinh ảnh minh họa gồm có đối tượng, bối cảnh, phong cách, chi tiết bổ sung, ... sát với nội dung kiến thức rồi đưa vào vị trí đặt ảnh\n+ Mỗi nội dung kiến thức đưa vào câu hỏi có vấn đề nhằm kích thích tư duy học sinh bằng cách đưa ra các câu hỏi đặt vấn đề, giải thích, để kích thích tư duy của học sinh khi đó sử dụng môi trường \\begin{hoivadap} Nội dung câu hỏi có vấn đề \\end{hoivadap} để soạn thảo\n+ Sử dụng môi trường \\begin{Bancobiet}Nội dung em có biết \\end{Bancobiet}  để cung cấp các kiến thức mở rộng cho mỗi đơn vị kiến thức nếu cần thiết\n\n\n**Phần bài tập:\n\\subsection{Bài tập} sẽ thể hiện thông tin các dạng  \\begin{dang}{Tên dạng}..............\\end{dang} \nvà trong mỗi dạng đưa ra phương pháp giải kèm theo các bước nếu có. Sau đó đưa ra ví dụ mẫu có lời giải chi tiết và cuối cùng là bài tập tự luyện cho mỗi dạng gồm 4 kiểu câu hỏi: tự luận (loại 4) , trắc nghiệm nhiều lựa chọn (loại1) , trắc nghiệm đúng sai(loại 2) và trắc nghiệm trả lời ngắn (loại 3) mỗi kiểu 5 câu- Trong mỗi dạng bài tập phải có đủ các kiểu bài tập ( mỗi kiểu 5 bàì tập cho mỗi dạng ):\n + Kiểu câu hỏi 1 có 4 phương án trong đó chỉ có một phương án đúng tương ứng là lệnh \n \\choice\n {Phương án sai}\n {\\True Phương án đúng}\n {Phương án sai}\n {Phương án sai} \n + Kiểu câu hỏi 2 dạng đúng sai có 4 ý hỏi tương ứng là lệnh\n \\choiceTF\n {Phương án sai}\n {\\True Phương án đúng}\n {Phương án sai}\n {\\True Phương án đúng} \n\n mối ý hỏi có tính chất đúng hoặc sai có cấp độ khó dần liên quan đến câu hỏi, mỗi ý không có tính loại trừ lẫn nhau, có thể các ý hỏi đề cập các nội dung kiến thức khác nhau liên quan đến câu hỏi\n\n + Kiểu câu hỏi 3 bài tập trả lời ngắn yêu cầu chỉ đưa ra kết quả dạng con số không có đơn vị vào lệnh \\shortans{ con số không có đơn vị}\n\n + Kiểu câu hỏi 4 là bài tập tự luận\n\n Cấu trúc chung của phần bài tâp\n\n\\subsection{Bài tập}\n\n\\begin{dang}{Nội dung dạng 1}\n\n\\end{dang} ví dụ \\begin{dang}{Tính biến thiên enthalpy theo enthalpy tạo thành}\n\n\\end{dang}thay vì \\begin{dang}{Dạng 2: Tính biến thiên enthalpy theo enthalpy tạo thành}\n\n\\begin{phuongphap}\n\n    <Nội dung phương pháp> nếu đưa ra các bước giải thì dùng môi trường \\begin{cacbuoc} \\item nội dung từng bước \\end{cacbuoc}\n\n\\end{phuongphap}\n\n\\Noibat[\\maunhan][][\\faBookmark][]{Ví dụ mẫu}\n\n\t<Soạn ví dụ mẫu vào đây>\n\nVới form ví dụ mẫu như sau:\n\nNếu có 4 phương án A. ,B., C.,D. thì theo cấu trúc này\n\n%%%%%==========VD_01==========%%%%%\n\n\\begin{vd}\n\n\t\\choice\n\n\t{Nội dung phương án sai}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{Nội dung lời giải ví dụ mẫu}\n\n\t}\n\n\\end{vd}\n\nNếu không có 4 phương án A. ,B., C.,D. thì theo cấu trúc này\n\n%%%%%==========VD_02==========%%%%%\n\n\\begin{vd}\n\n\tNội dung ví dụ mẫu\n\n\t\\loigiai{Nội dung lời giải ví dụ mẫu}\n\n\t}\n\n\\end{vd}\n\n\n\n%%%%%=====================Bài tập tự luyện Dạng 1==========================%%%\n\n\\Noibat[\\maunhan][][\\faBook][]{Bài tập tự luyện}\n\n\\phan{Bài tập tự luận}\n\n%%%=============SOẠN BT===============%%%\n\n\\Opensolutionfile{ansbth}[Ans/LGBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]Ví dụ: C04B01_Dang1\n\n\\Opensolutionfile{ansbt}[Ans/AnsBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 4>\n\n\\Closesolutionfile{ansbt}\n\n\\Closesolutionfile{ansbth}\n\n%\\bangdapanSA{AnsBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n\\phan{Bài tập trả lời ngắn}\n\n%%%=============SOẠN BT===============%%%\n\n\\Opensolutionfile{ansbth}[Ans/LGSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]Ví dụ: C04B01_Dang1\n\n\\Opensolutionfile{ansbt}[Ans/AnsSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các kiểu câu hỏi loại 3>\n\n\\Closesolutionfile{ansbt}\n\n\\Closesolutionfile{ansbth}\n\n%\\bangdapanSA{AnsSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n\n\n%%%%============Phần trắc nghiệm============%%%\n\n\\phan{Trắc nghiệm nhiều lựa chọn}\n\n%%%=============SOẠN EX===============%%%\n\n\\Opensolutionfile{ansex}[Ans/LGEX-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ans}[Ans/Ans-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 1 vào đây>\n\n\\Closesolutionfile{ans}\n\n\\Closesolutionfile{ansex}\n\n%\\bangdapan{Ans-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n%%%%%%%%%%%%%%%Trắc nghiệm đúng sai%%%%%%%%%%%%%%%%%%%%%%%%\n\n\\phan{Bài tập trắc nghiệm Đúng Sai}\n\n%%%=============SOẠN EXTF===============%%%\n\n\\Opensolutionfile{ansex}[Ans/LGTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ansbook}[Ansbook/AnsTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ans}[Ans/Tempt-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 2 vào đây>\n\n\\Closesolutionfile{ans}\n\n\\Closesolutionfile{ansbook}\n\n\\Closesolutionfile{ansex}\n\n%\\bangdapanTF{AnsTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\\end{document}\n\n\n\nTrong đó các kiểu  câu hỏi phải bắt buộc theo form sau một cách nghiêm ngặc:\n\nForm kiểu câu hỏi loại 1  \n\n%%%%%============EX_<Số thứ tự>================%%%%%%\n\n\\begin{ex}\n\n\tNội dung Câu hỏi trắc nghiệm nhiều lựa chọn\n\n\t\\choice\n\n\t{Nội dung phương án sai}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{ex}\n\nForm kiểu câu hỏi loại 2\n\n%%%%%============TF_<Số thứ tự>================%%%%%%\n\n\\begin{ex}%[0C1Y1-1]\n\n\tNội dung Câu hỏi trắc nghiệm đúng sai\n\n\t\\choiceTF\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{\n\n\t\t\\begin{itemchoice}[T1,F2,T3,T4]\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án sai\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\\end{itemchoice}\n\n\t}\n\n\\end{ex}\n\nForm câu hỏi loại 3 \n\n%%%%%============SA_<Số thứ tự>================%%%%%%\n\n\\begin{bt}\n\n\tNội dung bài tập trả lời ngắn\n\n\t\\shortans{Đáp án trả lời ngắn}\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{bt}\n\nForm câu hỏi loại 4     \n\n%%%%%============BT_<Số thứ tự>================%%%%%%\n\n\\begin{bt}\n\n\tNội dung bài tập tương tự\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{bt}\n\n\n\n\n\n***Định dạng đầu ra latex *** Soạn đúng cú pháp latex :\n\n  **Các kí hiệu, công thức, phương trình dạng inline được bọc trong $...$\n\n  **Các kí hiệu, công thức, phương trình dạng display được bọc trong \\[...\\]\n\n  **Thay ngoặc nhọn {} bằng ngoac vuông [] khi dùng lệnh \\xrightarrow. Ví dụ dùng \\xrightarrow[$up$][$down$] thay vì dùng \\xrightarrow[up]{down}\n\n  ** Đối với bảng biểu thì dùng môi trường tabular cho bảng ít dòng hoặc longtable cho nội dung bảng nhiều dòng\n\n  ** Công thức nhiều dòng chỉ dùng môi trường {eqnarray*} để căn dóng\n\n  \n\n***Văn phong*** Soạn theo văn phong sư phạm dễ hiểu, đảm bảo đúng kiến thức, khoa học\n\n***Yêu cầu về đầu ra:\nlà code latex ở dạng block\n```latex \n<chèn nội dung vào đây>\n```\n***Chú ý quan trọng***\n- Nếu dội dung quá dài hãy chia thành từng \"chunk\" nhỏ và trả về thành từng \"chunk\" hoàn chỉnh cho từng phần\n. Đối với phần bài tập hãy mỗi một chunk nên trình bày xong một dạng\n- Các phương án đúng trong kiểu câu hỏi loại 1 loại 2 có lệnh \\True đằng trước nội dung phương án\n- Phải có dòng đánh số thứ tự cho từng loại môi trường ex, bt và vd\n%%%=====<Môi trường + số thứ tự >=====%%%\n- Đối với bài tập loại 2 nội dung các phương án phải chứa đụng nội dung kiến thức liên quan, không chấp nhận các phương án chỉ ghi sai, đúng\n*** Sử dụng EXAMPLE_TOOL để lấy ví dụ mẫu cho việc soạn thảo","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1008,1504],"id":"65bd95dc-b16f-4cc3-ad19-ed1f983a2105","name":"Edit_output_images"},{"parameters":{"assignments":{"assignments":[{"id":"222535e4-1f92-46ad-a725-92f11746286d","name":"system_prompt","value":"=Bạn là chuyên gia trích xuất nội dung từ file ảnh và PDF, hãy giúp tôi trích xuất nội dung theo yêu cầu:\n1. Trích xuất TẤT CẢ văn bản có thể nhìn thấy trong hình ảnh, bao gồm cả chữ nhỏ, chữ bị che khuất một phần hoặc chữ ở nền.\n2. Duy trì chính xác định dạng gốc, bao gồm ngắt dòng, đoạn văn, khoảng cách và vị trí tương đối của văn bản.\n3. Đối với bảng, dùng môi trường tabular latex để soạn thảo \n4. Bao gồm chính xác tất cả số, ký hiệu, ký tự đặc biệt và dấu câu như chúng xuất hiện trong hình ảnh.\n5. Nếu có nhiều ngôn ngữ, trích xuất tất cả và xác định từng ngôn ngữ trong [ngoặc vuông] trước đoạn văn bản tương ứng.\n6. Đối với phương trình hoặc công thức toán học, sử dụng ký hiệu LaTeX chính xác. Ví dụ: $1s^22s^22p^63s^1$ cho 1s²2s²2p⁶3s¹.\n7. Đối với sơ đồ hoặc hình vẽ có nhãn, thì chèn lệnh yêu cầu vẽ hình kèm theo mô tả như sau:\n\\begin{center}\n\t\\begin{tikzpicture}[declare function={r=3;}]\n\t\t\\path node[text width=0.9\\linewidth] (text){Mô tả hình vẽ trong ảnh};\n\t\\end{tikzpicture}\n\\end{center}.\n8. Ghi chú bất kỳ văn bản nào là một phần của logo, hình mờ hoặc các yếu tố nền trong (ngoặc đơn).\n9. Nếu có bất kỳ văn bản nào không rõ ràng hoặc mơ hồ, chỉ ra điều này bằng cách sử dụng [?] sau từ hoặc cụm từ đó.\n10. Đối với các phương án trắc nghiệm (ví dụ: A, B, C, D), đảm bảo mỗi phương án bắt đầu trên một dòng mới.\n11. Đối với các số cúng đuọc bọc trong $$ và nếu số thập phân thì dùng $3{,}14$ thay vì $3.14$\n12. Không bao gồm bất kỳ phân tích, diễn giải hoặc bình luận bổ sung nào - chỉ trích xuất văn bản như nó xuất hiện.\n13. Nếu hình ảnh chứa các yếu tố không phải văn bản (như hình ảnh hoặc đồ họa), hãy mô tả ngắn gọn chúng trong {dấu ngoặc nhọn} nếu chúng quan trọng đối với ngữ cảnh của văn bản.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,1504],"id":"c115d51e-62dd-49cc-90cf-0f654cc02481","name":"format_system_prompt"},{"parameters":{"operation":"delete","tableId":"file_upload_create_lecture","filters":{"conditions":[{"keyName":"id","condition":"gt","keyValue":"0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1328,1504],"id":"122edf2a-8df3-427f-916d-f4ce84d33780","name":"DELETE_ROWS","credentials":{"supabaseApi":{"id":"bWjJoBbJ2hPTaXbp","name":"Supabase account"}}},{"parameters":{"jsCode":"// 1. Lấy dữ liệu thô\nconst rawInput = $input.first().json.output || '';\n\n// --- HÀM TIỆN ÍCH ---\n\n/**\n * Hàm tiện ích: \"Làm sạch\" các ký tự HTML đặc biệt trong một chuỗi.\n * @param {string} text - Văn bản cần làm sạch.\n * @returns {string} - Văn bản đã được làm sạch.\n */\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n/**\n * Định dạng một chuỗi dưới dạng khối mã, sử dụng hàm escapeHtml.\n * @param {string} text - Văn bản cần định dạng.\n * @returns {string} - Chuỗi HTML đã được định dạng.\n */\nfunction formatAsCode(text) {\n  return `<pre><code>${escapeHtml(text)}</code></pre>`;\n}\n\n/**\n * Chia văn bản thành các chunk AN TOÀN cho Telegram.\n * @param {string} text - Văn bản cần chia.\n * @param {number} maxLength - Độ dài ký tự tối đa cho mỗi chunk. Mặc định là 4000 để an toàn với Telegram.\n * @returns {string[]} - Mảng các chunk.\n */\nfunction getTextChunks(text, maxLength = 4000) {\n    if (!text || text.trim().length === 0) {\n        return [];\n    }\n\n    const chunks = [];\n    let textToProcess = text;\n\n    while (textToProcess.length > 0) {\n        if (textToProcess.length <= maxLength) {\n            chunks.push(textToProcess);\n            break;\n        }\n\n        let chunkCandidate = textToProcess.slice(0, maxLength);\n        let splitIndex = maxLength; \n\n        const breakPoints = ['\\n\\n', '\\n', '. ', ' '];\n        for (const breakPoint of breakPoints) {\n            const lastBreak = chunkCandidate.lastIndexOf(breakPoint);\n            if (lastBreak > maxLength * 0.7) {\n                splitIndex = lastBreak;\n                break;\n            }\n        }\n\n        const chunk = textToProcess.slice(0, splitIndex);\n        chunks.push(chunk);\n        \n        textToProcess = textToProcess.slice(splitIndex).trim();\n    }\n\n    return chunks.filter(chunk => chunk.trim().length > 0);\n}\n\n\n// --- LOGIC CHÍNH ---\nconst allChunks = [];\n\n// TRƯỜNG HỢP 1: Xử lý file bài tập đặc biệt của bạn\n// Nếu input bắt đầu bằng '%%%==============SA_', coi toàn bộ là một khối mã\nif (rawInput.trim().startsWith('%%%========')) {\n    const codeChunks = getTextChunks(rawInput);\n    for (const chunk of codeChunks) {\n        allChunks.push({ json: { output: formatAsCode(chunk) } });\n    }\n} \n// TRƯỜNG HỢP 2: Xử lý các loại văn bản hỗn hợp khác\nelse {\n    const patterns = [\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '```[\\\\s\\\\S]*?```',\n      '%%%.*?%%%',\n      '\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '\\\\begin{lstlisting}[\\\\s\\\\S]*?\\\\end{lstlisting}',\n      '\\\\begin{verbatim}[\\\\s\\\\S]*?\\\\end{verbatim}',\n      '\\\\begin{code}[\\\\s\\\\S]*?\\\\end{code}',\n      '\\\\$\\\\$[\\\\s\\\\S]*?\\\\$\\\\$',\n      '<code>[\\\\s\\\\S]*?</code>',\n      '<pre>[\\\\s\\\\S]*?</pre>',\n      '`[^`\\\\n]+`',\n    ];\n\n    const specialBlocksRegex = new RegExp(`(${patterns.join('|')})`, 'g');\n    let currentIndex = 0;\n    let match;\n\n    try {\n      while ((match = specialBlocksRegex.exec(rawInput)) !== null) {\n        const plainText = rawInput.substring(currentIndex, match.index);\n        if (plainText && plainText.trim()) {\n          const plainTextChunks = getTextChunks(plainText);\n          for (const chunk of plainTextChunks) {\n            allChunks.push({ json: { output: chunk } });\n          }\n        }\n\n        const specialBlock = match[0];\n        if (specialBlock && specialBlock.trim()) {\n          const specialBlockChunks = getTextChunks(specialBlock);\n          for (const chunk of specialBlockChunks) {\n            allChunks.push({ json: { output: formatAsCode(chunk) } });\n          }\n        }\n        currentIndex = specialBlocksRegex.lastIndex;\n      }\n\n      const remainingText = rawInput.substring(currentIndex);\n      if (remainingText && remainingText.trim()) {\n        const plainTextChunks = getTextChunks(remainingText);\n        for (const chunk of plainTextChunks) {\n          allChunks.push({ json: { output: chunk } });\n        }\n      }\n    } catch (error) {\n      console.error('Error processing with regex, using fallback:', error);\n      const fallbackChunks = getTextChunks(rawInput);\n      for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n      }\n    }\n}\n\nif (allChunks.length === 0 && rawInput.trim()) {\n    const fallbackChunks = getTextChunks(rawInput);\n    for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n    }\n}\n\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,528],"id":"47c9802a-2ca9-4912-b992-f1a2d7f524dd","name":"FORMAT_MULTY_OUTPUT"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi {{ $json.message.from.username }} xíu nhé! Mình sẽ phản hồi cho cậu ngay.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2576,912],"id":"251e90b6-567c-4c28-a4ea-4f94cff711da","name":"WAIT_AUDIO","webhookId":"943371da-cf4e-419d-ac58-bcde9cd56ded","credentials":{"telegramApi":{"id":"PsMYNNOF3Qu2XySZ","name":"CREATE_LECTURE_LATEX"}}},{"parameters":{"chatId":"={{ $('INPUT_CHAT_TRIGGER').item.json.message.chat.id }}","text":"={{ $('INPUT_CHAT_TRIGGER').item.json.message.chat.username }} đã upload xong chờ xíu nhé!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2544,1488],"id":"d581bdd0-5648-4908-ae43-85e784fcbb15","name":"WAIT_UPLOAD","webhookId":"02df3252-833a-4e75-bfa0-e895c990e206","credentials":{"telegramApi":{"id":"PsMYNNOF3Qu2XySZ","name":"CREATE_LECTURE_LATEX"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"33b6c043-c5ef-40ed-a61a-1736b9b3a79f","leftValue":"={{ $('Switch').item.json.message.text }}","rightValue":"=/https://[a-zA-Z0-9./?_=&%-]+/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2704,448],"id":"3a91acc0-db64-42b6-93a8-64ff375bfe9e","name":"IS_URL"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ddb2b4b-ac4d-4542-8c10-4bc34e2ba577","leftValue":"={{ $('Switch').item.json.message.text }}","rightValue":"=/(?:https?:\\/\\/)?(?:www\\.)?(?:youtube\\.com\\/(?:watch\\?v=|shorts\\/|embed\\/)|youtu\\.be\\/)([a-zA-Z0-9_-]{11})/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2496,192],"id":"8cb557cf-a5c4-4cd1-bfc2-ce4e4e05f0a6","name":"IS_LINK_YT"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $('INPUT_LINK_YT').item.json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1344,-496],"id":"8a204808-a62a-4329-8bf9-031e0f3df934","name":"RANDOM_KEY_API"},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.5-flash","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"={{ $json.cleanedText }}","type":"string"},{"id":"1bfc6ac1-69ae-4432-b753-1bd6b6c34ad0","name":"extractedLink","value":"={{ $json.extractedLink }}","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=Bạn là chuyên gia phân tích, tổng hợp thông tin từ link  video youtube chuyên nghiệp","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyC7IDPEipqKJWBY8IjRWCAAEHIdYzOUWfU\",\n\"AIzaSyAsBME5PBRA9_Ra96iSjC06hzQ9a6LmDMc\",\n\"AIzaSyB6Qvq67CrEnsxX1Mor-0eNsbqMPmXxc8Y\",\n\"AIzaSyDzwyE6FsmpweMgTK4GwZ_ExEOIGD_9GPQ\",\n\"AIzaSyD4jpDYhy-1KCnE1fxyHQ4ZAPOAQP6_KuA\",\n\"AIzaSyBxY3DkI-FrrgWYTeBqDEc2SDnbmx-tPyo\",\n\"AIzaSyBd4s8QqT0LLefihuBKy_vi8FYo1YyX39M\",\n\"AIzaSyDHewqPOuFD6jiDs4C89XR-t24plyN6DSA\",\n\"AIzaSyCtuzTLBKPMVCrdiuWYCzxYjIwM8nxd8kE\",\n\"AIzaSyBJrTDlfUQqcvVu8IxDz0rEqD8_ZWyQLWc\",\n\"AIzaSyB78fyQeUqhtNB6VAs9DJ8Uh16KVSN3b-E\",\n\"AIzaSyCabGYCD4Xg82VZb2rY_lrscGXfP4rPQFc\",\n\"AIzaSyAhbEkepstvNhY6do-KqZXycPl_NEB6r6Y\",\n\"AIzaSyCOzWJAbbkvajNlkF0GM4R4fKi_mkn2UVc\",\n\"AIzaSyB-7SRZfWcPni3YDlHpxOo2fHAnWw91x_w\",\n\"AIzaSyABBEI7opEkGBHR5v3p5hy6qBnNKpld4j0\",\n\"AIzaSyDJBgA2vuyFSQhWtS0bQbh6cohTY8PZEWs\",\n\"AIzaSyAlQZxaUuzTZYuVEAEsjEiGcO9m8kFDuSU\",\n\"AIzaSyAB7S_PXClUOamufZw1m_wyRa93mqQmip0\",\n\"AIzaSyCBacQNdgtiC-UxChXYNDEvdyeYu-qSQwg\"]","type":"string"},{"id":"f0847ff6-d080-4ee3-b527-d3fcf3f55c35","name":"chatId","value":"={{ $json.result.chat.id }}","type":"number"},{"id":"b8220665-ec3a-4165-a55d-c97b3e50d51b","name":"videoId","value":"={{ $json.videoId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2576,-768],"id":"dfee9e29-796a-447b-9eec-cbd10b110092","name":"INPUT_LINK_YT"},{"parameters":{"command":"=python -c '\nimport base64\nimport os\nfrom google import genai\nfrom google.genai import types\ndef generate():\n    client = genai.Client(\n        api_key=\"{{ $json.stdout }}\",\n    )\n    model = \"{{ $('INPUT_LINK_YT').item.json.MODEL_ID }}\"\n    contents = [\n        types.Content(\n            role=\"user\",\n            parts=[\n                types.Part(\n                    file_data=types.FileData(\n                        file_uri=\"{{ $('INPUT_LINK_YT').item.json.extractedLink }}\",\n                        mime_type=\"video/*\",\n                    ),\n                    video_metadata=types.VideoMetadata(\n                        start_offset=\"{{ $('Loop Over Items1').item.json.start }}s\",\n                        end_offset=\"{{ $('Loop Over Items1').item.json.end }}s\",\n                    ),\n                ),\n                types.Part.from_text(text=\"\"\"Trích xuất lại toàn bộ nội dung video bao gồm: phụ đề, thông tin mô tả, lời bài hát, cap, ... và sắp xếp lại một cách hợp ly theo timeline của video\"\"\"),\n            ],\n        ),\n    ]\n    generate_content_config = types.GenerateContentConfig(\n        thinking_config = types.ThinkingConfig(\n            thinking_budget=-1,\n        ),\n        response_mime_type=\"text/plain\",\n    )\n\n    for chunk in client.models.generate_content_stream(\n        model=model,\n        contents=contents,\n        config=generate_content_config,\n    ):\n        print(chunk.text, end=\"\")\n\nif __name__ == \"__main__\":\n    generate()\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1056,-416],"id":"74db363c-d516-4d83-b4c8-ac8344685a45","name":"EXTRACT_CONTENT_FROM_VIDEO_YT"},{"parameters":{"assignments":{"assignments":[{"id":"d7496cac-8b4d-47a3-a68f-08bead1ad5c5","name":"text","value":"={{ $json.fullTranscript +\" \"+ $('INPUT_LINK_YT').item.json.user_prompt}}","type":"string"},{"id":"39de0512-7c5e-4625-93c2-a66f91ccb2b5","name":"chatId","value":"={{ $('INPUT_LINK_YT').item.json.chatId }}","type":"number"},{"id":"06035568-871d-4b93-836a-12d18050c2da","name":"system_prompt","value":"=###SYSTEM_PROMPT\n***Role:*** Bạn là chuyên gia trong lĩnh vựa tạo bài giảng theo định form latex có câu trúc nghiêm ngặc. \n***Task:*** Hãy giúp tôi tạo ra bài giảng theo một chủ đề thuộc các môn toán, vật lý, sinh học, hóa học, ngữ văn thuộc chương trình trung học phổ thông và trung học cơ sở ( riêng Hóa học, vật lý, sinh học thay bằng môn khoa học tự nhiên dạng tích hợp 3 phân môn lại với nhau)của chương trình giáo dục Việt Nam gồm có các nội dung sau:Phần mở đầu, phần lý thuyết và phần bài tập: trong đó mỗi phần có cấu trúc như sau:\n**Phần mở đầu: sẽ thể hiện thông tin chương \\chapter{}, bài \\section{}, mục tiêu\\begin{Muctieu}...\\end{Muctieu}  và câu hỏi khởi động \\begin{kd}...\\end{kd}\n\\documentclass[Main.tex]{subfiles} \n\\begin{document}\n%%%Phần mở đầu\n\\chapter{Nội dung chương }ví dụ \\chapter{Năng lượng hóa học} thay vì \\chapter{Chương 5: Năng lượng hóa học}\n\n\\section{Nội dung bài} ví dụ\\section{Phản ứng Hóa học và entanpy} thay vì \\section{Bài 1: Phản ứng Hóa học và entanpy}\n\\begin{Muctieu}\n\t\\begin{itemize}\n\t\t\\item Nội dung mục tiêu 1\n\t\t\\item Nội dung mục tiêu 2\n\t\t\\item Nội dung mục tiêu ...\n\t\\end{itemize}\n\\end{Muctieu}\n\n\\begin{kd}\n\t\\immini{Nội dung câu hởi khởi động}{Chèn promt tạo ảnh vào đây}\n\\end{kd}\n\n\n\n**Phần lý thuyết**: Trình bày nội dung bài học đẩy đủ theo từng mục sắp xếp theo cấp độ\n\n\\subsection{Nội dung bài học} %Bắt buộc phải có dòng này\n\\subsubsection{Mục con cấp 1 lần 1}\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 1}\n\t\\begin{ghinho}\n\t\tNội dung cần  ghi nhớ\n\t\\end{ghinho}\n\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 2}\n\t\\begin{ghinho}\n\tNội dung ghi nhớ dạng danh sách\n\t\t\\begin{enumerate}\n\t\t\t\\item nội dung 1\n\t\t\t\\item nội dung 2\n\t\t\t\\item ...\n\t\t    \\item nọi dung thứ n\n\t\t\\end{enumerate}\n\t\\begin{ghinho}\n\n%%%Ngoài ra có thể kết họp các môi trường khác cho phù hợp\n\n\\subsubsection{Mục con cấp 1 lần 2 }\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 1}\n\t\t\\begin{tomtat}\n\t\t\tNội dung tóm tắt\n\t\t\\end{tomtat}\n\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 2}\n\t\t\\begin{tomtat}\n\t\t\tNội dung tóm tắt\n\t\t\\end{tomtat}\n\n\t\\Noibat[\\maunhan][][][]{Phản ứng oxi hoá – khử}\n - Các môi trường khi sử dụng các mục con \n    +\\begin{tongket}{Tóm tắt bài học}Nội dung kiến thức cần nhớ \\end{tongket}\n    +\\begin{tomtat}...\\end{tomtat} dùng để tóm tắt nội dung\n\t+\\begin{cacbuoc}...\\end{cacbuoc}dùng để liệt kê các bước \n\t+\\begin{hopdongian}...\\end{hopdongian} dùng để ghi nội dung đơn giản\n\n\t+\\begin{phuongphap}...\\end{phuongphap} dùng để soạn phương pháp giải cho sau môi trường dạng \\begin{dang}{Tên dạng bài tập}...\\end{dang}\n\n- Trong các mục ngoài nội dung dạng text phải có đầy dủ dạng bảng, đồ thị, hình ảnh\n\n***Yêu cầu nghiêm ngặc:***\n+ Đối với nội dung kiến thức có hình ảnh minh họa  tạo cho tôi promt sinh ảnh minh họa gồm có đối tượng, bối cảnh, phong cách, chi tiết bổ sung, ... sát với nội dung kiến thức rồi đưa vào vị trí đặt ảnh\n+ Mỗi nội dung kiến thức đưa vào câu hỏi có vấn đề nhằm kích thích tư duy học sinh bằng cách đưa ra các câu hỏi đặt vấn đề, giải thích, để kích thích tư duy của học sinh khi đó sử dụng môi trường \\begin{hoivadap} Nội dung câu hỏi có vấn đề \\end{hoivadap} để soạn thảo\n+ Sử dụng môi trường \\begin{Bancobiet}Nội dung em có biết \\end{Bancobiet}  để cung cấp các kiến thức mở rộng cho mỗi đơn vị kiến thức nếu cần thiết\n\n\n**Phần bài tập:\n\\subsection{Bài tập} sẽ thể hiện thông tin các dạng  \\begin{dang}{Tên dạng}..............\\end{dang} \nvà trong mỗi dạng đưa ra phương pháp giải kèm theo các bước nếu có. Sau đó đưa ra ví dụ mẫu có lời giải chi tiết và cuối cùng là bài tập tự luyện cho mỗi dạng gồm 4 kiểu câu hỏi: tự luận (loại 4) , trắc nghiệm nhiều lựa chọn (loại1) , trắc nghiệm đúng sai(loại 2) và trắc nghiệm trả lời ngắn (loại 3) mỗi kiểu 5 câu- Trong mỗi dạng bài tập phải có đủ các kiểu bài tập ( mỗi kiểu 5 bàì tập cho mỗi dạng ):\n + Kiểu câu hỏi 1 có 4 phương án trong đó chỉ có một phương án đúng tương ứng là lệnh \n \\choice\n {Phương án sai}\n {\\True Phương án đúng}\n {Phương án sai}\n {Phương án sai} \n + Kiểu câu hỏi 2 dạng đúng sai có 4 ý hỏi tương ứng là lệnh\n \\choiceTF\n {Phương án sai}\n {\\True Phương án đúng}\n {Phương án sai}\n {\\True Phương án đúng} \n\n mối ý hỏi có tính chất đúng hoặc sai có cấp độ khó dần liên quan đến câu hỏi, mỗi ý không có tính loại trừ lẫn nhau, có thể các ý hỏi đề cập các nội dung kiến thức khác nhau liên quan đến câu hỏi\n\n + Kiểu câu hỏi 3 bài tập trả lời ngắn yêu cầu chỉ đưa ra kết quả dạng con số không có đơn vị vào lệnh \\shortans{ con số không có đơn vị}\n\n + Kiểu câu hỏi 4 là bài tập tự luận\n\n Cấu trúc chung của phần bài tâp\n\n\\subsection{Bài tập}\n\n\\begin{dang}{Nội dung dạng 1}\n\n\\end{dang} ví dụ \\begin{dang}{Tính biến thiên enthalpy theo enthalpy tạo thành}\n\n\\end{dang}thay vì \\begin{dang}{Dạng 2: Tính biến thiên enthalpy theo enthalpy tạo thành}\n\n\\begin{phuongphap}\n\n    <Nội dung phương pháp> nếu đưa ra các bước giải thì dùng môi trường \\begin{cacbuoc} \\item nội dung từng bước \\end{cacbuoc}\n\n\\end{phuongphap}\n\n\\Noibat[\\maunhan][][\\faBookmark][]{Ví dụ mẫu}\n\n\t<Soạn ví dụ mẫu vào đây>\n\nVới form ví dụ mẫu như sau:\n\nNếu có 4 phương án A. ,B., C.,D. thì theo cấu trúc này\n\n%%%%%==========VD_01==========%%%%%\n\n\\begin{vd}\n\n\t\\choice\n\n\t{Nội dung phương án sai}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{Nội dung lời giải ví dụ mẫu}\n\n\t}\n\n\\end{vd}\n\nNếu không có 4 phương án A. ,B., C.,D. thì theo cấu trúc này\n\n%%%%%==========VD_02==========%%%%%\n\n\\begin{vd}\n\n\tNội dung ví dụ mẫu\n\n\t\\loigiai{Nội dung lời giải ví dụ mẫu}\n\n\t}\n\n\\end{vd}\n\n\n\n%%%%%=====================Bài tập tự luyện Dạng 1==========================%%%\n\n\\Noibat[\\maunhan][][\\faBook][]{Bài tập tự luyện}\n\n\\phan{Bài tập tự luận}\n\n%%%=============SOẠN BT===============%%%\n\n\\Opensolutionfile{ansbth}[Ans/LGBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]Ví dụ: C04B01_Dang1\n\n\\Opensolutionfile{ansbt}[Ans/AnsBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 4>\n\n\\Closesolutionfile{ansbt}\n\n\\Closesolutionfile{ansbth}\n\n%\\bangdapanSA{AnsBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n\\phan{Bài tập trả lời ngắn}\n\n%%%=============SOẠN BT===============%%%\n\n\\Opensolutionfile{ansbth}[Ans/LGSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]Ví dụ: C04B01_Dang1\n\n\\Opensolutionfile{ansbt}[Ans/AnsSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các kiểu câu hỏi loại 3>\n\n\\Closesolutionfile{ansbt}\n\n\\Closesolutionfile{ansbth}\n\n%\\bangdapanSA{AnsSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n\n\n%%%%============Phần trắc nghiệm============%%%\n\n\\phan{Trắc nghiệm nhiều lựa chọn}\n\n%%%=============SOẠN EX===============%%%\n\n\\Opensolutionfile{ansex}[Ans/LGEX-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ans}[Ans/Ans-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 1 vào đây>\n\n\\Closesolutionfile{ans}\n\n\\Closesolutionfile{ansex}\n\n%\\bangdapan{Ans-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n%%%%%%%%%%%%%%%Trắc nghiệm đúng sai%%%%%%%%%%%%%%%%%%%%%%%%\n\n\\phan{Bài tập trắc nghiệm Đúng Sai}\n\n%%%=============SOẠN EXTF===============%%%\n\n\\Opensolutionfile{ansex}[Ans/LGTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ansbook}[Ansbook/AnsTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ans}[Ans/Tempt-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 2 vào đây>\n\n\\Closesolutionfile{ans}\n\n\\Closesolutionfile{ansbook}\n\n\\Closesolutionfile{ansex}\n\n%\\bangdapanTF{AnsTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\\end{document}\n\n\n\nTrong đó các kiểu  câu hỏi phải bắt buộc theo form sau một cách nghiêm ngặc:\n\nForm kiểu câu hỏi loại 1  \n\n%%%%%============EX_<Số thứ tự>================%%%%%%\n\n\\begin{ex}\n\n\tNội dung Câu hỏi trắc nghiệm nhiều lựa chọn\n\n\t\\choice\n\n\t{Nội dung phương án sai}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{ex}\n\nForm kiểu câu hỏi loại 2\n\n%%%%%============TF_<Số thứ tự>================%%%%%%\n\n\\begin{ex}%[0C1Y1-1]\n\n\tNội dung Câu hỏi trắc nghiệm đúng sai\n\n\t\\choiceTF\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{\n\n\t\t\\begin{itemchoice}[T1,F2,T3,T4]\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án sai\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\\end{itemchoice}\n\n\t}\n\n\\end{ex}\n\nForm câu hỏi loại 3 \n\n%%%%%============SA_<Số thứ tự>================%%%%%%\n\n\\begin{bt}\n\n\tNội dung bài tập trả lời ngắn\n\n\t\\shortans{Đáp án trả lời ngắn}\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{bt}\n\nForm câu hỏi loại 4     \n\n%%%%%============BT_<Số thứ tự>================%%%%%%\n\n\\begin{bt}\n\n\tNội dung bài tập tương tự\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{bt}\n\n\n\n\n\n***Định dạng đầu ra latex *** Soạn đúng cú pháp latex :\n\n  **Các kí hiệu, công thức, phương trình dạng inline được bọc trong $...$\n\n  **Các kí hiệu, công thức, phương trình dạng display được bọc trong \\[...\\]\n\n  **Thay ngoặc nhọn {} bằng ngoac vuông [] khi dùng lệnh \\xrightarrow. Ví dụ dùng \\xrightarrow[$up$][$down$] thay vì dùng \\xrightarrow[up]{down}\n\n  ** Đối với bảng biểu thì dùng môi trường tabular cho bảng ít dòng hoặc longtable cho nội dung bảng nhiều dòng\n\n  ** Công thức nhiều dòng chỉ dùng môi trường {eqnarray*} để căn dóng\n\n  \n\n***Văn phong*** Soạn theo văn phong sư phạm dễ hiểu, đảm bảo đúng kiến thức, khoa học\n\n***Yêu cầu về đầu ra:\nlà code latex ở dạng block\n```latex \n<chèn nội dung vào đây>\n```\n***Chú ý quan trọng***\n- Nếu dội dung quá dài hãy chia thành từng \"chunk\" nhỏ và trả về thành từng \"chunk\" hoàn chỉnh cho từng phần\n. Đối với phần bài tập hãy mỗi một chunk nên trình bày xong một dạng\n- Các phương án đúng trong kiểu câu hỏi loại 1 loại 2 có lệnh \\True đằng trước nội dung phương án\n- Phải có dòng đánh số thứ tự cho từng loại môi trường ex, bt và vd\n%%%=====<Môi trường + số thứ tự >=====%%%\n- Đối với bài tập loại 2 nội dung các phương án phải chứa đụng nội dung kiến thức liên quan, không chấp nhận các phương án chỉ ghi sai, đúng\n*** Sử dụng EXAMPLE_TOOL để lấy ví dụ mẫu cho việc soạn thảo","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,-688],"id":"589daff2-dd4f-4f98-b958-eb755467fa67","name":"OUTPUT_LINK_YT"},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $json.videoId }}","options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-2336,-528],"id":"284e8872-1d26-4507-b4ec-e56e1de12566","name":"Get a video","credentials":{"youTubeOAuth2Api":{"id":"myOWmjDkjIu5CNAa","name":"YouTube account 2"}}},{"parameters":{"jsCode":"// Lấy tất cả các mục đầu vào từ node trước\nconst items = $input.all();\n\n// Regex 1: Tìm mọi loại link YouTube trong văn bản.\nconst youtubeLinkRegex = /(https?:\\/\\/(?:www\\.)?(?:youtu\\.be\\/|youtube\\.com\\/(?:watch\\?v=|embed\\/|shorts\\/))[\\w\\-=&?%._]+)/i;\n\n// Regex 2: Trích xuất ID video từ một link YouTube.\n// Nó tìm kiếm các chuỗi như v=, shorts/, embed/, .be/ và lấy chuỗi ký tự (ID) theo sau.\nconst videoIdRegex = /(?:v=|shorts\\/|embed\\/|\\.be\\/)([a-zA-Z0-9_-]{11})/;\n\n// Duyệt qua từng mục đầu vào để xử lý riêng lẻ\nfor (const item of items) {\n  // QUAN TRỌNG: Lấy văn bản từ trường của MỤC HIỆN TẠI.\n  // Thay 'myText' bằng tên trường chứa văn bản của bạn (ví dụ: 'message', 'text', 'content'...).\n  const inputText = $('Switch').first().json.message.text; \n\n  if (inputText) {\n    // Sử dụng Regex 1 để tìm link trong văn bản\n    const linkMatch = inputText.match(youtubeLinkRegex);\n\n    // Nếu tìm thấy link\n    if (linkMatch && linkMatch[0]) {\n      const extractedLink = linkMatch[0];\n      const cleanedText = inputText.replace(extractedLink, '').trim();\n      let videoId = null; // Khởi tạo videoId là null\n\n      // Sử dụng Regex 2 để tìm ID trong link vừa trích xuất\n      const idMatch = extractedLink.match(videoIdRegex);\n\n      // Nếu tìm thấy ID (nằm ở nhómจับที่ 1)\n      if (idMatch && idMatch[1]) {\n        videoId = idMatch[1];\n      }\n\n      // Gán cả 3 kết quả vào mục hiện tại\n      item.json.extractedLink = extractedLink;\n      item.json.cleanedText = cleanedText;\n      item.json.videoId = videoId;\n\n    } else {\n      // Nếu không tìm thấy link, gán các giá trị mặc định\n      item.json.extractedLink = null;\n      item.json.cleanedText = inputText; // Giữ nguyên văn bản gốc\n      item.json.videoId = null;\n    }\n  } else {\n      // Xử lý trường hợp không có inputText\n      item.json.extractedLink = null;\n      item.json.cleanedText = null;\n      item.json.videoId = null;\n  }\n}\n\n// Trả về các mục đã được xử lý\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2816,-528],"id":"cd135759-6848-4cb7-9778-7d862ae62ade","name":"Split_link_YT_and_ID"},{"parameters":{"jsCode":"/**\n * Hàm chuyển đổi thời lượng từ định dạng ISO 8601 (VD: \"PT1M30S\") sang giây.\n * Định dạng ISO 8601 cho thời lượng bắt đầu bằng 'P', theo sau là 'T' cho\n * các thành phần thời gian (Hours, Minutes, Seconds).\n * @param {string} isoDuration - Chuỗi thời lượng ISO 8601.\n * @returns {number|null} - Tổng số giây, hoặc null nếu định dạng không hợp lệ.\n */\nfunction parseIsoDurationToSeconds(isoDuration) {\n  if (!isoDuration || !isoDuration.startsWith('PT')) {\n    return null;\n  }\n  \n  // Regex để trích xuất số giờ (H), phút (M), giây (S)\n  const regex = /PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/;\n  const matches = isoDuration.match(regex);\n\n  if (!matches) {\n    return null;\n  }\n\n  // parseInt(matches[index] || 0) sẽ chuyển đổi chuỗi số thành số nguyên.\n  // Nếu một phần (H, M, hoặc S) không tồn tại, '|| 0' sẽ đảm bảo nó có giá trị là 0.\n  const hours = parseInt(matches[1] || 0);\n  const minutes = parseInt(matches[2] || 0);\n  const seconds = parseInt(matches[3] || 0);\n\n  return (hours * 3600) + (minutes * 60) + seconds;\n}\n\n\n// Lấy tất cả các mục đầu vào từ node trước\nconst items = $input.all();\n\n// Vòng lặp qua từng mục để xử lý\nfor (const item of items) {\n  // Giả sử biến duration của bạn nằm trong `item.json.duration`\n  // Hãy thay đổi `duration` thành tên trường thực tế của bạn nếu cần\n  const isoDuration = $input.first().json.contentDetails.duration;\n\n  // Chuyển đổi chuỗi ISO thành tổng số giây\n  const totalSeconds = parseIsoDurationToSeconds(isoDuration);\n\n  // Nếu không có thời lượng hoặc chuyển đổi thất bại, bỏ qua mục này\n  if (totalSeconds === null || totalSeconds < 0) {\n      item.json.totalSeconds = null;\n      item.json.timeSegments = []; // Trả về mảng rỗng\n      continue; // Chuyển sang mục tiếp theo\n  }\n\n  // Gán tổng số giây vào kết quả để dễ kiểm tra\n  item.json.totalSeconds = totalSeconds;\n\n  const timeSegments = [];\n  const chunkDuration = 600; // Thời lượng mỗi đoạn là 600 giây\n\n  // Nếu video có thời lượng, bắt đầu chia đoạn\n  if (totalSeconds > 0) {\n      // Vòng lặp bắt đầu từ 0, mỗi lần tăng lên 600 giây\n      for (let startTime = 0; startTime < totalSeconds; startTime += chunkDuration) {\n          \n          // Tính thời gian kết thúc của đoạn hiện tại\n          // Dùng Math.min để đảm bảo đoạn cuối cùng không vượt quá tổng thời lượng video\n          const endTime = Math.min(startTime + chunkDuration, totalSeconds);\n\n          // Thêm đoạn {start, end} vào mảng kết quả\n          timeSegments.push({\n              start: startTime,\n              end: endTime\n          });\n      }\n  }\n\n  // Gán mảng các đoạn thời gian vào mục hiện tại\n  item.json.timeSegments = timeSegments;\n}\n\n// Trả về các mục đã được xử lý\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,-528],"id":"d5d837bc-e2a4-4b8e-81d0-3356f4728bef","name":"GET_TIME"},{"parameters":{"assignments":{"assignments":[{"id":"2c505564-9bad-488b-a53c-7ca70a56b4b9","name":"contentDetails.duration","value":"={{ $json.contentDetails.duration }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2160,-784],"id":"a606753f-f1dc-44c4-9344-de3ad76435c1","name":"Duration"},{"parameters":{"fieldToSplitOut":"timeSegments","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1776,-800],"id":"2ef54b69-9804-4d84-bb68-b07dbee1af70","name":"SPLIT_TIMELINE"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1584,-704],"id":"823d4ef9-9393-4b8d-8898-f3cf0bbd0e9a","name":"Loop Over Items1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"stdout","renameField":true,"outputFieldName":"transcript"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1024,-704],"id":"212eba25-8baa-49b8-a753-23ec368da62a","name":"Aggregate"},{"parameters":{"jsCode":"// Lấy tất cả các mục đầu vào từ node trước\nconst items = $input.all();\n\n// Vòng lặp qua từng mục để xử lý\nfor (const item of items) {\n  // 1. Lấy mảng 'transcript' từ dữ liệu JSON của mục hiện tại\n  const transcriptArray = item.json.transcript;\n  \n  // 2. Kiểm tra xem 'transcriptArray' có tồn tại và có phải là một mảng không\n  //    Đây là một bước an toàn để tránh lỗi nếu dữ liệu đầu vào không như mong đợi\n  if (transcriptArray && Array.isArray(transcriptArray)) {\n    \n    // 3. Sử dụng phương thức .join() để nối tất cả các phần tử của mảng.\n    //    '\\n\\n' được dùng làm ký tự phân tách. Nó sẽ tạo một dòng trống \n    //    giữa mỗi đoạn transcript, giúp văn bản cuối cùng dễ đọc hơn.\n    const fullTranscript = transcriptArray.join('\\n\\n');\n    \n    // 4. Gán chuỗi văn bản đã nối vào một trường mới, ví dụ: 'fullTranscript'\n    item.json.fullTranscript = fullTranscript;\n\n    // (Tùy chọn) Bạn có thể xóa mảng 'transcript' gốc nếu không cần nữa\n    // delete item.json.transcript;\n\n  } else {\n    // Nếu không có mảng 'transcript', gán một giá trị mặc định\n    // để tránh lỗi ở các node sau\n    item.json.fullTranscript = ''; \n  }\n}\n\n// Trả về các mục đã được xử lý với trường mới\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,-704],"id":"cc3a426e-5f0b-4f7e-8314-d59c4c0ec8c6","name":"join"},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.5-flash-preview-04-17","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"={{ $('Switch').item.json.message.text }}","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=Bạn là chuyên gia phân tích, tổng hợp thông tin từ link  trang web chuyên nghiệp","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyC7IDPEipqKJWBY8IjRWCAAEHIdYzOUWfU\",\n\"AIzaSyAsBME5PBRA9_Ra96iSjC06hzQ9a6LmDMc\",\n\"AIzaSyB6Qvq67CrEnsxX1Mor-0eNsbqMPmXxc8Y\",\n\"AIzaSyDzwyE6FsmpweMgTK4GwZ_ExEOIGD_9GPQ\",\n\"AIzaSyD4jpDYhy-1KCnE1fxyHQ4ZAPOAQP6_KuA\",\n\"AIzaSyBxY3DkI-FrrgWYTeBqDEc2SDnbmx-tPyo\",\n\"AIzaSyBd4s8QqT0LLefihuBKy_vi8FYo1YyX39M\",\n\"AIzaSyDHewqPOuFD6jiDs4C89XR-t24plyN6DSA\",\n\"AIzaSyCtuzTLBKPMVCrdiuWYCzxYjIwM8nxd8kE\",\n\"AIzaSyBJrTDlfUQqcvVu8IxDz0rEqD8_ZWyQLWc\",\n\"AIzaSyB78fyQeUqhtNB6VAs9DJ8Uh16KVSN3b-E\",\n\"AIzaSyCabGYCD4Xg82VZb2rY_lrscGXfP4rPQFc\",\n\"AIzaSyAhbEkepstvNhY6do-KqZXycPl_NEB6r6Y\",\n\"AIzaSyCOzWJAbbkvajNlkF0GM4R4fKi_mkn2UVc\",\n\"AIzaSyB-7SRZfWcPni3YDlHpxOo2fHAnWw91x_w\",\n\"AIzaSyABBEI7opEkGBHR5v3p5hy6qBnNKpld4j0\",\n\"AIzaSyDJBgA2vuyFSQhWtS0bQbh6cohTY8PZEWs\",\n\"AIzaSyAlQZxaUuzTZYuVEAEsjEiGcO9m8kFDuSU\",\n\"AIzaSyAB7S_PXClUOamufZw1m_wyRa93mqQmip0\",\n\"AIzaSyCBacQNdgtiC-UxChXYNDEvdyeYu-qSQwg\"]","type":"string"},{"id":"f0847ff6-d080-4ee3-b527-d3fcf3f55c35","name":"chatId","value":"={{ $json.result.chat.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2224,208],"id":"8925f1ff-93f9-4163-b540-eb1c02edbe5f","name":"INPUT_URL_CONTEXT"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1984,208],"id":"aae28c87-7667-497c-bb14-007c1006c48c","name":"API_KEY_RANDOM"},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/{{ $('INPUT_URL_CONTEXT').item.json.MODEL_ID }}:{{ $('INPUT_URL_CONTEXT').item.json.GENERATE_CONTENT_API }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.stdout }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"systemInstruction\": {\n    \"parts\": {\n      \"text\": {{ JSON.stringify($('INPUT_URL_CONTEXT').item.json.system_prompt) }}\n    }\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": {{ JSON.stringify($('INPUT_URL_CONTEXT').item.json.user_prompt) }} \n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"topP\": 0.95,\n    \"topK\": 40,\n    \"maxOutputTokens\": 8192\n  },\n  \"tools\": [\n    {\n      \"urlContext\": {}\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1808,208],"id":"e16c4ba8-513a-4706-b796-29be9ebf4d77","name":"URL_CONTEXT"},{"parameters":{"assignments":{"assignments":[{"id":"bc8a1622-41a6-4e27-b4c2-aa1879d6e97d","name":"text","value":"={{ JSON.stringify($json.text) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1408,208],"id":"1627a2fc-41fc-4386-b35f-0e74a41ba7a3","name":"TEXT"},{"parameters":{"fieldToSplitOut":"candidates[0].content.parts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1600,208],"id":"dec31249-cef1-485f-97d9-def9c99316be","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"d7496cac-8b4d-47a3-a68f-08bead1ad5c5","name":"text","value":"=     {{ $json.text + \" \" + $('Switch').item.json.message.text}}","type":"string"},{"id":"39de0512-7c5e-4625-93c2-a66f91ccb2b5","name":"chatId","value":"={{ $('INPUT_URL_CONTEXT').item.json.chatId }}","type":"number"},{"id":"06035568-871d-4b93-836a-12d18050c2da","name":"system_prompt","value":"=###SYSTEM_PROMPT\n***Role:*** Bạn là chuyên gia trong lĩnh vựa tạo bài giảng theo định form latex có câu trúc nghiêm ngặc. \n***Task:*** Hãy giúp tôi tạo ra bài giảng theo một chủ đề thuộc các môn toán, vật lý, sinh học, hóa học, ngữ văn thuộc chương trình trung học phổ thông và trung học cơ sở ( riêng Hóa học, vật lý, sinh học thay bằng môn khoa học tự nhiên dạng tích hợp 3 phân môn lại với nhau)của chương trình giáo dục Việt Nam gồm có các nội dung sau:Phần mở đầu, phần lý thuyết và phần bài tập: trong đó mỗi phần có cấu trúc như sau:\n**Phần mở đầu: sẽ thể hiện thông tin chương \\chapter{}, bài \\section{}, mục tiêu\\begin{Muctieu}...\\end{Muctieu}  và câu hỏi khởi động \\begin{kd}...\\end{kd}\n\\documentclass[Main.tex]{subfiles} \n\\begin{document}\n%%%Phần mở đầu\n\\chapter{Nội dung chương }ví dụ \\chapter{Năng lượng hóa học} thay vì \\chapter{Chương 5: Năng lượng hóa học}\n\n\\section{Nội dung bài} ví dụ\\section{Phản ứng Hóa học và entanpy} thay vì \\section{Bài 1: Phản ứng Hóa học và entanpy}\n\\begin{Muctieu}\n\t\\begin{itemize}\n\t\t\\item Nội dung mục tiêu 1\n\t\t\\item Nội dung mục tiêu 2\n\t\t\\item Nội dung mục tiêu ...\n\t\\end{itemize}\n\\end{Muctieu}\n\n\\begin{kd}\n\t\\immini{Nội dung câu hởi khởi động}{Chèn promt tạo ảnh vào đây}\n\\end{kd}\n\n\n\n**Phần lý thuyết**: Trình bày nội dung bài học đẩy đủ theo từng mục sắp xếp theo cấp độ\n\n\\subsection{Nội dung bài học} %Bắt buộc phải có dòng này\n\\subsubsection{Mục con cấp 1 lần 1}\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 1}\n\t\\begin{ghinho}\n\t\tNội dung cần  ghi nhớ\n\t\\end{ghinho}\n\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 2}\n\t\\begin{ghinho}\n\tNội dung ghi nhớ dạng danh sách\n\t\t\\begin{enumerate}\n\t\t\t\\item nội dung 1\n\t\t\t\\item nội dung 2\n\t\t\t\\item ...\n\t\t    \\item nọi dung thứ n\n\t\t\\end{enumerate}\n\t\\begin{ghinho}\n\n%%%Ngoài ra có thể kết họp các môi trường khác cho phù hợp\n\n\\subsubsection{Mục con cấp 1 lần 2 }\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 1}\n\t\t\\begin{tomtat}\n\t\t\tNội dung tóm tắt\n\t\t\\end{tomtat}\n\n\t\\Noibat[\\maunhan][][][]{Mục con cấp 2 lần 2}\n\t\t\\begin{tomtat}\n\t\t\tNội dung tóm tắt\n\t\t\\end{tomtat}\n\n\t\\Noibat[\\maunhan][][][]{Phản ứng oxi hoá – khử}\n - Các môi trường khi sử dụng các mục con \n    +\\begin{tongket}{Tóm tắt bài học}Nội dung kiến thức cần nhớ \\end{tongket}\n    +\\begin{tomtat}...\\end{tomtat} dùng để tóm tắt nội dung\n\t+\\begin{cacbuoc}...\\end{cacbuoc}dùng để liệt kê các bước \n\t+\\begin{hopdongian}...\\end{hopdongian} dùng để ghi nội dung đơn giản\n\n\t+\\begin{phuongphap}...\\end{phuongphap} dùng để soạn phương pháp giải cho sau môi trường dạng \\begin{dang}{Tên dạng bài tập}...\\end{dang}\n\n- Trong các mục ngoài nội dung dạng text phải có đầy dủ dạng bảng, đồ thị, hình ảnh\n\n***Yêu cầu nghiêm ngặc:***\n+ Đối với nội dung kiến thức có hình ảnh minh họa  tạo cho tôi promt sinh ảnh minh họa gồm có đối tượng, bối cảnh, phong cách, chi tiết bổ sung, ... sát với nội dung kiến thức rồi đưa vào vị trí đặt ảnh\n+ Mỗi nội dung kiến thức đưa vào câu hỏi có vấn đề nhằm kích thích tư duy học sinh bằng cách đưa ra các câu hỏi đặt vấn đề, giải thích, để kích thích tư duy của học sinh khi đó sử dụng môi trường \\begin{hoivadap} Nội dung câu hỏi có vấn đề \\end{hoivadap} để soạn thảo\n+ Sử dụng môi trường \\begin{Bancobiet}Nội dung em có biết \\end{Bancobiet}  để cung cấp các kiến thức mở rộng cho mỗi đơn vị kiến thức nếu cần thiết\n\n\n**Phần bài tập:\n\\subsection{Bài tập} sẽ thể hiện thông tin các dạng  \\begin{dang}{Tên dạng}..............\\end{dang} \nvà trong mỗi dạng đưa ra phương pháp giải kèm theo các bước nếu có. Sau đó đưa ra ví dụ mẫu có lời giải chi tiết và cuối cùng là bài tập tự luyện cho mỗi dạng gồm 4 kiểu câu hỏi: tự luận (loại 4) , trắc nghiệm nhiều lựa chọn (loại1) , trắc nghiệm đúng sai(loại 2) và trắc nghiệm trả lời ngắn (loại 3) mỗi kiểu 5 câu- Trong mỗi dạng bài tập phải có đủ các kiểu bài tập ( mỗi kiểu 5 bàì tập cho mỗi dạng ):\n + Kiểu câu hỏi 1 có 4 phương án trong đó chỉ có một phương án đúng tương ứng là lệnh \n \\choice\n {Phương án sai}\n {\\True Phương án đúng}\n {Phương án sai}\n {Phương án sai} \n + Kiểu câu hỏi 2 dạng đúng sai có 4 ý hỏi tương ứng là lệnh\n \\choiceTF\n {Phương án sai}\n {\\True Phương án đúng}\n {Phương án sai}\n {\\True Phương án đúng} \n\n mối ý hỏi có tính chất đúng hoặc sai có cấp độ khó dần liên quan đến câu hỏi, mỗi ý không có tính loại trừ lẫn nhau, có thể các ý hỏi đề cập các nội dung kiến thức khác nhau liên quan đến câu hỏi\n\n + Kiểu câu hỏi 3 bài tập trả lời ngắn yêu cầu chỉ đưa ra kết quả dạng con số không có đơn vị vào lệnh \\shortans{ con số không có đơn vị}\n\n + Kiểu câu hỏi 4 là bài tập tự luận\n\n Cấu trúc chung của phần bài tâp\n\n\\subsection{Bài tập}\n\n\\begin{dang}{Nội dung dạng 1}\n\n\\end{dang} ví dụ \\begin{dang}{Tính biến thiên enthalpy theo enthalpy tạo thành}\n\n\\end{dang}thay vì \\begin{dang}{Dạng 2: Tính biến thiên enthalpy theo enthalpy tạo thành}\n\n\\begin{phuongphap}\n\n    <Nội dung phương pháp> nếu đưa ra các bước giải thì dùng môi trường \\begin{cacbuoc} \\item nội dung từng bước \\end{cacbuoc}\n\n\\end{phuongphap}\n\n\\Noibat[\\maunhan][][\\faBookmark][]{Ví dụ mẫu}\n\n\t<Soạn ví dụ mẫu vào đây>\n\nVới form ví dụ mẫu như sau:\n\nNếu có 4 phương án A. ,B., C.,D. thì theo cấu trúc này\n\n%%%%%==========VD_01==========%%%%%\n\n\\begin{vd}\n\n\t\\choice\n\n\t{Nội dung phương án sai}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{Nội dung lời giải ví dụ mẫu}\n\n\t}\n\n\\end{vd}\n\nNếu không có 4 phương án A. ,B., C.,D. thì theo cấu trúc này\n\n%%%%%==========VD_02==========%%%%%\n\n\\begin{vd}\n\n\tNội dung ví dụ mẫu\n\n\t\\loigiai{Nội dung lời giải ví dụ mẫu}\n\n\t}\n\n\\end{vd}\n\n\n\n%%%%%=====================Bài tập tự luyện Dạng 1==========================%%%\n\n\\Noibat[\\maunhan][][\\faBook][]{Bài tập tự luyện}\n\n\\phan{Bài tập tự luận}\n\n%%%=============SOẠN BT===============%%%\n\n\\Opensolutionfile{ansbth}[Ans/LGBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]Ví dụ: C04B01_Dang1\n\n\\Opensolutionfile{ansbt}[Ans/AnsBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 4>\n\n\\Closesolutionfile{ansbt}\n\n\\Closesolutionfile{ansbth}\n\n%\\bangdapanSA{AnsBT-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n\\phan{Bài tập trả lời ngắn}\n\n%%%=============SOẠN BT===============%%%\n\n\\Opensolutionfile{ansbth}[Ans/LGSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]Ví dụ: C04B01_Dang1\n\n\\Opensolutionfile{ansbt}[Ans/AnsSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các kiểu câu hỏi loại 3>\n\n\\Closesolutionfile{ansbt}\n\n\\Closesolutionfile{ansbth}\n\n%\\bangdapanSA{AnsSA-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n\n\n%%%%============Phần trắc nghiệm============%%%\n\n\\phan{Trắc nghiệm nhiều lựa chọn}\n\n%%%=============SOẠN EX===============%%%\n\n\\Opensolutionfile{ansex}[Ans/LGEX-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ans}[Ans/Ans-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 1 vào đây>\n\n\\Closesolutionfile{ans}\n\n\\Closesolutionfile{ansex}\n\n%\\bangdapan{Ans-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\n\n%%%%%%%%%%%%%%%Trắc nghiệm đúng sai%%%%%%%%%%%%%%%%%%%%%%%%\n\n\\phan{Bài tập trắc nghiệm Đúng Sai}\n\n%%%=============SOẠN EXTF===============%%%\n\n\\Opensolutionfile{ansex}[Ans/LGTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ansbook}[Ansbook/AnsTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\\Opensolutionfile{ans}[Ans/Tempt-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>]\n\n\t<Soạn các câu hỏi loại 2 vào đây>\n\n\\Closesolutionfile{ans}\n\n\\Closesolutionfile{ansbook}\n\n\\Closesolutionfile{ansex}\n\n%\\bangdapanTF{AnsTF-C<Số thứ tự chương>B<Số thứ tự bài>_Dang<Số thứ tự dạng>}\n\n\\end{document}\n\n\n\nTrong đó các kiểu  câu hỏi phải bắt buộc theo form sau một cách nghiêm ngặc:\n\nForm kiểu câu hỏi loại 1  \n\n%%%%%============EX_<Số thứ tự>================%%%%%%\n\n\\begin{ex}\n\n\tNội dung Câu hỏi trắc nghiệm nhiều lựa chọn\n\n\t\\choice\n\n\t{Nội dung phương án sai}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{ex}\n\nForm kiểu câu hỏi loại 2\n\n%%%%%============TF_<Số thứ tự>================%%%%%%\n\n\\begin{ex}%[0C1Y1-1]\n\n\tNội dung Câu hỏi trắc nghiệm đúng sai\n\n\t\\choiceTF\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án đúng}\n\n\t{\\True Nội dung phương án đúng}\n\n\t{Nội dung phương án sai}\n\n\t\\loigiai{\n\n\t\t\\begin{itemchoice}[T1,F2,T3,T4]\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án sai\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\n\t\t\\end{itemchoice}\n\n\t}\n\n\\end{ex}\n\nForm câu hỏi loại 3 \n\n%%%%%============SA_<Số thứ tự>================%%%%%%\n\n\\begin{bt}\n\n\tNội dung bài tập trả lời ngắn\n\n\t\\shortans{Đáp án trả lời ngắn}\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{bt}\n\nForm câu hỏi loại 4     \n\n%%%%%============BT_<Số thứ tự>================%%%%%%\n\n\\begin{bt}\n\n\tNội dung bài tập tương tự\n\n\t\\loigiai{Thêm lời giải vào đây}\n\n\\end{bt}\n\n\n\n\n\n***Định dạng đầu ra latex *** Soạn đúng cú pháp latex :\n\n  **Các kí hiệu, công thức, phương trình dạng inline được bọc trong $...$\n\n  **Các kí hiệu, công thức, phương trình dạng display được bọc trong \\[...\\]\n\n  **Thay ngoặc nhọn {} bằng ngoac vuông [] khi dùng lệnh \\xrightarrow. Ví dụ dùng \\xrightarrow[$up$][$down$] thay vì dùng \\xrightarrow[up]{down}\n\n  ** Đối với bảng biểu thì dùng môi trường tabular cho bảng ít dòng hoặc longtable cho nội dung bảng nhiều dòng\n\n  ** Công thức nhiều dòng chỉ dùng môi trường {eqnarray*} để căn dóng\n\n  \n\n***Văn phong*** Soạn theo văn phong sư phạm dễ hiểu, đảm bảo đúng kiến thức, khoa học\n\n***Yêu cầu về đầu ra:\nlà code latex ở dạng block\n```latex \n<chèn nội dung vào đây>\n```\n***Chú ý quan trọng***\n- Nếu dội dung quá dài hãy chia thành từng \"chunk\" nhỏ và trả về thành từng \"chunk\" hoàn chỉnh cho từng phần\n. Đối với phần bài tập hãy mỗi một chunk nên trình bày xong một dạng\n- Các phương án đúng trong kiểu câu hỏi loại 1 loại 2 có lệnh \\True đằng trước nội dung phương án\n- Phải có dòng đánh số thứ tự cho từng loại môi trường ex, bt và vd\n%%%=====<Môi trường + số thứ tự >=====%%%\n- Đối với bài tập loại 2 nội dung các phương án phải chứa đụng nội dung kiến thức liên quan, không chấp nhận các phương án chỉ ghi sai, đúng\n*** Sử dụng EXAMPLE_TOOL để lấy ví dụ mẫu cho việc soạn thảo","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,208],"id":"e0a70c72-07a1-474f-922e-b87b39315c0f","name":"OUTPUT_URL_CONTEXT"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2064,528],"id":"2bbda416-6ef1-4d7d-ae29-9f8d0e48ca93","name":"Loop Over Items2"},{"parameters":{"method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"task_name\": \"process_text_advanced\",\n    \"payload\": {\n        \"text\": {{JSON.stringify($json.text) }},\n        \"extraction_patterns\": {\n          {{ $json.regex_dict }}\n        },\n        \"correction_dict\": {\n            {{ $json.nomal_dict }}\n        }\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,544],"id":"436e2f69-6c8e-4895-bfef-c494f7ef1e1f","name":"replace_python_request1"},{"parameters":{"assignments":{"assignments":[{"id":"7eac0a9f-8e37-41e3-944f-095f19e44b74","name":"text","value":"={{ $json.output }}","type":"string"},{"id":"3f61e746-35f2-4f9a-a625-160030c917cc","name":"nomal_dict","value":"=    \"\\\\end<bt>\": \"\\\\end{bt}\",\n    \"\\\\\\\\[\": \"\\\\[\",\n     \"\\\\\\\\]\": \"\\\\]\",\n    \"</ex}\" : \"\\\\end{ex}\",\n    \"</bt}\" : \"\\\\end{bt}\",\n    \"&lt;/ex}\": \"\\\\end{ex}\",\n    \"&lt;/bt}\": \"\\\\end{bt}\"\n","type":"string"},{"id":"9e0d9138-c046-4885-81b9-535669ff4a23","name":"regex_dict","value":"=\"\\\\\\\\xrightarrow\\\\{(.*?)\\\\}\" : \"\\\\\\\\xrightarrow@@@\\\\1@@@\",\n\"\\\\\\\\xrightarrow@@@(.*?)@@@\" : \"\\\\\\\\xrightarrow[$\\\\1$]\",\n\"\\\\\\\\xrightarrow\\\\{(.*?)\\\\}\\\\{(.*?)\\\\}\" :\"\\\\\\\\xrightarrow[$\\\\1$][$\\\\2$]\"\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2320,544],"id":"8d715247-72db-4751-8cdd-595d5b977cb3","name":"input_para"},{"parameters":{"modelName":"=models/gemini-2.5-flash","options":{"maxOutputTokens":8192}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[640,880],"id":"97558825-1e14-468f-acb1-0ae5d32458e7","name":"gemini-2.5-flash","credentials":{"googlePalmApi":{"id":"RelESC7qOF6ATbVw","name":"Google Gemini(PaLM) Api account 6"}}},{"parameters":{"options":{"maxTokens":8192}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[912,928],"id":"3da81b45-3760-4a4d-b66c-5cd61e5ce379","name":"openrouter-gpt-4.1-mini","credentials":{"openRouterApi":{"id":"u4raH9M6rBCAl4d7","name":"OpenRouter gpt 4.1 mini"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","needsFallback":true,"options":{"systemMessage":"={{ $json.system_prompt }} "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[864,528],"id":"136ac384-e7b6-4387-a01e-c033ed8cae4b","name":"MAIN_AI_AGENT"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('INPUT_AIAGENT').item.json.chatId}}"},"id":"91f6d276-b45a-4ecb-83b2-03101e8b6b4c","name":"Postgres Chat Memory1","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[1184,880],"notesInFlow":false,"credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}}],"connections":{"Switch":{"main":[[{"node":"WAIT","type":"main","index":0}],[{"node":"WAIT_AUDIO","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"WAIT":{"main":[[{"node":"IS_URL","type":"main","index":0}]]},"Convert_oga_to_mp3":{"main":[[{"node":"Read_mp3","type":"main","index":0}]]},"Read_mp3":{"main":[[{"node":"GET_INPUT","type":"main","index":0}]]},"Write_file_oga_to_disk":{"main":[[{"node":"Convert_oga_to_mp3","type":"main","index":0}]]},"EXTRACT_TEXT_FROM_AUDIO":{"main":[[{"node":"OUTPUT_STT","type":"main","index":0}]]},"GET_INPUT":{"main":[[{"node":"EXTRACT_TEXT_FROM_AUDIO","type":"main","index":0}]]},"Get_file_audio":{"main":[[{"node":"Write_file_oga_to_disk","type":"main","index":0}]]},"INPUT_AIAGENT":{"main":[[{"node":"MAIN_AI_AGENT","type":"main","index":0}]]},"OUTPUT_AIAGENT":{"main":[[{"node":"OUTPUT_CHAT","type":"main","index":0}]]},"INPUT_CHAT_TRIGGER":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OUTPUT_TEXT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"UPLOAD_FILE_TO_SERVER":{"main":[[{"node":"CREATE_ROW","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"WAIT_UPLOAD","type":"main","index":0}],[{"node":"UPLOAD_FILE_TO_SERVER","type":"main","index":0}]]},"EXTRACT_INLINE_DATA":{"main":[[{"node":"DELETE_ROWS","type":"main","index":0}]]},"GET_ROW":{"main":[[{"node":"MERGE_LIST","type":"main","index":0}]]},"CREATE_ROW":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"MERGE_LIST":{"main":[[{"node":"convert_to_inline_data","type":"main","index":0}]]},"convert_to_inline_data":{"main":[[{"node":"format_system_prompt","type":"main","index":0}]]},"RANDOM_API_KEY":{"main":[[{"node":"EXTRACT_INLINE_DATA","type":"main","index":0}]]},"INPUT_NORMAL":{"main":[[{"node":"RANDOM_API_KEY","type":"main","index":0}]]},"OUTPUT_STT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"OUPUT_IMAGES":{"main":[[{"node":"Edit_output_images","type":"main","index":0}]]},"format_system_prompt":{"main":[[{"node":"INPUT_NORMAL","type":"main","index":0}]]},"Edit_output_images":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"DELETE_ROWS":{"main":[[{"node":"OUPUT_IMAGES","type":"main","index":0}]]},"FORMAT_MULTY_OUTPUT":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"WAIT_AUDIO":{"main":[[{"node":"Get_file_audio","type":"main","index":0}]]},"WAIT_UPLOAD":{"main":[[{"node":"GET_ROW","type":"main","index":0}]]},"IS_URL":{"main":[[{"node":"IS_LINK_YT","type":"main","index":0}],[{"node":"OUTPUT_TEXT","type":"main","index":0}]]},"RANDOM_KEY_API":{"main":[[{"node":"EXTRACT_CONTENT_FROM_VIDEO_YT","type":"main","index":0}]]},"INPUT_LINK_YT":{"main":[[{"node":"Get a video","type":"main","index":0}]]},"IS_LINK_YT":{"main":[[{"node":"Split_link_YT_and_ID","type":"main","index":0}],[{"node":"INPUT_URL_CONTEXT","type":"main","index":0}]]},"EXTRACT_CONTENT_FROM_VIDEO_YT":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OUTPUT_LINK_YT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"Get a video":{"main":[[{"node":"Duration","type":"main","index":0}]]},"Split_link_YT_and_ID":{"main":[[{"node":"INPUT_LINK_YT","type":"main","index":0}]]},"GET_TIME":{"main":[[{"node":"SPLIT_TIMELINE","type":"main","index":0}]]},"Duration":{"main":[[{"node":"GET_TIME","type":"main","index":0}]]},"SPLIT_TIMELINE":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"RANDOM_KEY_API","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"join","type":"main","index":0}]]},"join":{"main":[[{"node":"OUTPUT_LINK_YT","type":"main","index":0}]]},"API_KEY_RANDOM":{"main":[[{"node":"URL_CONTEXT","type":"main","index":0}]]},"INPUT_URL_CONTEXT":{"main":[[{"node":"API_KEY_RANDOM","type":"main","index":0}]]},"URL_CONTEXT":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"TEXT","type":"main","index":0}]]},"TEXT":{"main":[[{"node":"OUTPUT_URL_CONTEXT","type":"main","index":0}]]},"OUTPUT_URL_CONTEXT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"input_para","type":"main","index":0}]]},"OUTPUT_CHAT":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"input_para":{"main":[[{"node":"replace_python_request1","type":"main","index":0}]]},"replace_python_request1":{"main":[[{"node":"OUTPUT_AIAGENT","type":"main","index":0}]]},"gemini-2.5-flash":{"ai_languageModel":[[{"node":"MAIN_AI_AGENT","type":"ai_languageModel","index":0}]]},"openrouter-gpt-4.1-mini":{"ai_languageModel":[[{"node":"MAIN_AI_AGENT","type":"ai_languageModel","index":1}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"MAIN_AI_AGENT","type":"ai_memory","index":0}]]},"MAIN_AI_AGENT":{"main":[[{"node":"FORMAT_MULTY_OUTPUT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ae192b7-15d8-4019-bbde-cc6bddc40683","triggerCount":1,"shared":[{"updatedAt":"2025-07-08T21:27:44.248Z","createdAt":"2025-07-08T21:27:44.248Z","role":"workflow:owner","workflowId":"LIQz71EGNcNOF8Em","projectId":"EIQckweL3OLW7kzz"}],"tags":[]}