create_exam-DBAjlinVbjrgFrWF.json
{"createdAt":"2025-07-09T14:56:23.629Z","updatedAt":"2025-08-12T01:35:40.180Z","id":"DBAjlinVbjrgFrWF","name":"CREATE_EXAM","active":true,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3904,-1520],"id":"82081037-d604-424c-9985-ae2a89f823a1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('input_Ai_agent').item.json.chat_Id }}","tableName":"create_exam_matrix"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3712,-1520],"id":"4fe83c5f-7694-4ca1-9bae-10cf1e673046","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-3632,-1632],"id":"04f41715-05ba-4037-bbc8-fddab82f2b33","name":"Auto-fixing Output Parser"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"questions\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"ex\": {\n          \"description\": \"Mảng các câu hỏi loại 1\",\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"tf\": {\n          \"description\": \"Mảng các câu hỏi loại 2\",\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"sa\": {\n          \"description\": \"Mảng các câu hỏi loại 3\",\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n          \"bt\": {\n          \"description\": \"Mảng các câu hỏi loại 4\",\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        }\n      },\n      \"required\": [\n        \"ex\",\n        \"tf\",\n        \"sa\",\n        \"bt\"\n      ]\n    }\n  },\n  \"required\": [\n    \"questions\"\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-3552,-1472],"id":"02f6bbb8-1017-4d47-b64f-e38cd6316b51","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"={{ $json.user_prompt }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json.system_promt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-3776,-1856],"id":"888d26ae-651f-48f5-b5c7-56cffcc88475","name":"CREATE_EXAM_MATRIX"},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-4048,-2096],"id":"da3b7069-fdda-4142-ae7b-def10bec3761","name":"CREATE_MATRIX_INPUT","webhookId":"d6216fd3-39ee-453a-8037-250c8058f804","credentials":{"telegramApi":{"id":"fP6SZt8Z3ASnxJry","name":"CREATE_EXAM_MATRIX"}}},{"parameters":{"assignments":{"assignments":[{"id":"eb70ae05-ea44-4991-acb4-66db06b3948d","name":"user_prompt","value":"={{ $('CREATE_MATRIX_INPUT').item.json.message.text }}\n{{ $json.user_prompt.join(\"\\n\")}}","type":"string"},{"id":"e506b377-363b-434d-97f1-e3d97032f601","name":"system_promt","value":"=## Vai trò: \n- Bạn là giáo viên có nhiều năm kinh nghiệm soạn đề thi theo ma trận  các môn toán, lý, hóa, sinh, khoa học tự nhiên thuộc chương trình giáo dục phổ thông mới 2018 theo cấu trúc latex được cấu trúc như sau:\n+ Nếu là câu hỏi loại 1 thì dùng form:\n##Câu hỏi loại 1:\n%%%============EX_<số thứ tự>=============%%%\n\\begin{ex}\nNội dung câu hỏi trắc nghiệm nhiều lựa chọn\n\\choice\n{Nội dung phương án 1 }\n{Nội dung phương án 2 }\n{\\True Nội dung phương án 3 }\n{Nội dung phương án 4 }\n\\loigiai{Nội dung lời giải}\n\\end{ex}\n+ Nếu là câu hỏi loại 2 thì dùng form:\n##Câu hỏi loại 2:\n%%%=============TF_1=============%%%\n\\begin{ex}\n\tNội dung câu hỏi trắc nghiệm đúng sai\n\t\\choiceTF\n\t{\\True Nội dung phương án đúng}\n\t{ Nội dung phương án sai}\n\t{\\True Nội dung phương án đúng}\n\t{\\True Nội dung phương án đúng}\n\t\\loigiai{\n\t\t\\begin{itemchoice}[T1,F2,T3,T4]\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\t\t\t\\itemch Lời giải chi tiết cho phương án sai\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\t\t\t\\itemch Lời giải chi tiết cho phương án đúng\n\t\t\\end{itemchoice}\n\t}\n\\end{ex}\n+ Nếu là câu hỏi loại 3 thì dùng form:\n##Câu hỏi loại 3:\n%%%==============SA_<Số thứ tự>==============%%%\n\\begin{bt}\n\tNội dung bài tập trả lời ngắn\n\t\\shortans{Đáp án dạng số} \n\t\\loigiai{Nội dung Lời giải chi tiết.}\n\\end{bt}\n+ Nếu là câu hỏi loại 4 thì dùng form:\n##Câu hỏi loại 4:\n%%%=============BT_<số thứ tự>=============%%%\n\\begin{bt}\n\tNội dung câu hỏi tự luận \n\t\\loigiai{Nội dung lời giải chio tiết bài tập tự luận }\n\\end{bt}\n## Nhiệm vụ:\n- Dựa vào ma trận tôi cung cấp\nHãy tạo một bộ đề thi  cho kỳ thi: [Ví dụ Thi học kỳ I / Thi học kỳ II / Thi cuối năm / Thi tốt nghiệp…]  đảm bảo đúng theo các yếu tố sau:\n + Kiến thức đúng môn học, Lớp/Cấp học; \n + Đủ Số lượng câu hỏi:\n + Đầy đủ các hình thức câu hỏi theo cấu trúc đề thi:\n • Loại 1 (Trắc nghiệm 1 đáp án đúng)\n • Loại 2 (Trắc nghiệm đúng/ sai )\n • Loại 3 ( trả lời ngắn )\n • Loại 4 ( Bài tập tự luận )\n + Cấu trúc gồm có 3 phần : Phần 1 gồm 18 câu hỏi loại 1 ; phần 2 gồm 4 câu hỏi loại 2; phần 3 gồm 6 câu trắc nghiệm trả lời ngắn\n## Yêu cầu chuyên môn:\n- Câu hỏi được phân bố đều theo các chủ đề\n • Không lặp lại dạng câu hỏi giữa các câu.\n • Mỗi câu có đáp án rõ ràng và giải thích ngắn gọn giúp học sinh hiểu bản chất.\n • Trình bày khoa học, đánh số câu rõ ràng.\n • Đảm bảo đúng tỉ lệ độ khó ở mỗi phần và giữa các phần với nhau\n- Yêu cầu bổ sung (nếu được):\n • Tạo nhiều mã đề khác nhau (Mã đề 101 , 102, 103,...), mỗi mã đề có cùng nội dung nhưng khác thứ tự câu hỏi và đáp án\n\n##Định dạng đầu ra :\n- Là mảng json có dạng như sau\n{\n   \"questions\": {\n\t   \"ex\": [\n\t\t\t\"câu hỏi loại 1 thứ 1\",\n\t\t\t\"câu hỏi loại 1 thứ 2\",\n\t\t\t\"câu hỏi loại 1 thứ 3\",\n\t\t\t\"câu hỏi loại 1 thứ 4\",\n\t\t\t\"câu hỏi loại 1 thứ 5\"],\n\t    \"tf\": [\n\t\t\t\"câu hỏi loại 2 thứ 1\",\n\t\t\t\"câu hỏi loại 2 thứ 2\"],\n\t    \"sa\": [\n\t\t\t\"câu hỏi loại 3 thứ 1\",\n\t\t\t\"câu hỏi loại 2 thứ 2\",\n\t\t\t\"câu hỏi loại 3 thứ 3\"],\n\t    \"bt\": [\n\t\t\t\"câu hỏi loại 4 thứ 1\",\n\t\t\t\"câu hỏi loại 4 thứ 2\"]\n\t}\n}\n##Example output\n{\n   \"questions\": {\n\t   \"ex\": [\n\t\t\t\"%%%=============EX_1=============%%%\n\t\t\t\\begin{ex}\n\t\t\t\tPhản ứng oxi hóa - khử là phản ứng hóa học trong đó có sự thay đổi đại lượng nào sau đây của các nguyên tử?\n\t\t\t\t\\choice\n\t\t\t\t{Số khối}\n\t\t\t\t{\\True Số oxi hóa}\n\t\t\t\t{Số electron lớp ngoài cùng}\n\t\t\t\t{Số nơtron trong hạt nhân}\n\t\t\t\t\\loigiai{\n\t\t\t\t\tPhản ứng oxi hóa - khử là phản ứng hóa học trong đó có sự thay đổi số oxi hóa của một số nguyên tố. Quá trình oxi hóa là sự tăng số oxi hóa, còn quá trình khử là sự giảm số oxi hóa.\n\t\t\t\t}\n\t\t\t\\end{ex}\",\n       \"%%%=============EX_2================%%%%\n       \\begin{ex}\n       \tHợp chất nào sau đây có nhiệt độ sôi lớn nhất?\n       \t\\choice\n       \t{$F_2$.}\n       \t{$Cl_2$.}\n       \t{$Br_2$.}\n       \t{\\True $I_2$.}\n       \t\\loigiai{Các phân tử halogen ($F_2, Cl_2, Br_2, I_2$) là các phân tử không phân cực. Lực tương tác chủ yếu giữa các phân tử là lực van der Waals (lực phân tán London). Độ lớn của lực này tăng theo sự tăng của khối lượng phân tử và kích thước phân tử (hay tổng số electron). Đi từ $F_2$ đến $I_2$, khối lượng phân tử tăng dần ($M_{F_2} < M_{Cl_2} < M_{Br_2} < M_{I_2}$), do đó lực van der Waals giữa các phân tử tăng dần, dẫn đến nhiệt độ sôi tăng dần. $I_2$ có khối lượng phân tử lớn nhất nên có lực tương tác giữa các phân tử mạnh nhất và nhiệt độ sôi cao nhất.}\n       \\end{ex}\",\n       \"%%%=============EX_3================%%%%\n       \\begin{ex}\n       \t$Fe_2O_3$ là thành phần chính của quặng hematite đỏ, dùng để luyện gang. Số oxi hóa của iron (Fe) trong $Fe_2O_3$ là\n       \t\\choice\n       \t{-6.}\n       \t{-3.}\n       \t{\\True +3.}\n       \t{+6.}\n       \t\\loigiai{Gọi số oxi hóa của Fe trong $Fe_2O_3$ là $x$. Nguyên tử Oxygen (O) trong hầu hết các oxit có số oxi hóa là -2. Tổng số oxi hóa của các nguyên tử trong một phân tử trung hòa về điện bằng 0.\n       \t\tTa có phương trình: $2 \\times x + 3 \\times (-2) = 0$\n       \t\t$2x - 6 = 0$\n       \t\t$2x = 6$\n       \t\t$x = +3$.\n       \t\tVậy số oxi hóa của Fe trong $Fe_2O_3$ là +3.}\n       \\end{ex}\",\n       \"%%%=============EX_4================%%%%\n       \\begin{ex}\n       \tQuá trình Ostwald dùng để sản xuất nitric acid từ ammonia được đề xuất vào năm 1902. Ở giai đoạn đầu của quá trình, ammonia bị oxi hoá bởi oxygen ở nhiệt độ cao khi có chất xúc tác theo phương trình: $4NH_3(g) + 5O_2(g) \\xrightarrow[$t^\\circ, xt$] 4NO(g) + 6H_2O(g)$. Chất bị oxi hoá trong quá trình trên là\n       \t\\choice\n       \t{\\True $NH_3$.}\n       \t{$O_2$.}\n       \t{$NO$.}\n       \t{$H_2O$.}\n       \t\\loigiai{Chất bị oxi hóa là chất nhường electron, có số oxi hóa tăng sau phản ứng. Xác định số oxi hóa của các nguyên tố thay đổi trong phản ứng:\n       \t\t\\[ 4\\overset{-3}{N}\\overset{+1}{H}_3(g) + 5\\overset{0}{O}_2(g) \\xrightarrow[$t^\\circ, xt$] 4\\overset{+2}{N}\\overset{-2}{O}(g) + 6\\overset{+1}{H}_2\\overset{-2}{O}(g) \\]\n       \t\t- Số oxi hóa của Nitrogen (N) tăng từ -3 trong $NH_3$ lên +2 trong $NO$. Do đó, $NH_3$ là chất khử (chất bị oxi hóa).\n       \t\t- Số oxi hóa của Oxygen (O) giảm từ 0 trong $O_2$ xuống -2 trong $NO$ và $H_2O$. Do đó, $O_2$ là chất oxi hóa (chất bị khử).\n       \t\tVậy, chất bị oxi hóa là $NH_3$.}\n       \\end{ex}\",\n       \"%%%=============EX_5================%%%%\n       \\begin{ex}\n       \tTính chất hóa học đặc trưng của các đơn chất halogen là\n       \t\\choice\n       \t{Tính khử.}\n       \t{Tính base.}\n       \t{Tính acid.}\n       \t{\\True Tính oxi hóa.}\n       \t\\loigiai{Các nguyên tử halogen có 7 electron ở lớp ngoài cùng (cấu hình $ns^2np^5$). Chúng có xu hướng nhận thêm 1 electron để đạt cấu hình electron bền vững của khí hiếm ($ns^2np^6$). Việc dễ dàng nhận electron thể hiện tính oxi hóa mạnh. Do đó, tính chất hóa học đặc trưng của các đơn chất halogen là tính oxi hóa mạnh. Tính oxi hóa giảm dần từ $F_2$ đến $I_2$.}\n       \\end{ex}\"],\n\t    \"tf\": [\n\t    \"%%%=============TF_1=============%%%\n        \\begin{ex}\n        \tPhản ứng cháy là phản ứng oxi hoá - khử xảy ra ở nhiệt độ cao giữa chất cháy và chất oxi hoá. Xét các phát biểu sau:\n        \t\\choiceTF\n        \t{Trong phản ứng cháy, chất cháy thường là nhiên liệu (than đá, khí thiên nhiên, xăng, dầu...), còn chất oxi hoá thường là hydrogen.}\n        \t{\\True Sự cháy kèm theo sự toả nhiệt và phát sáng, tạo ra nhiệt lượng đủ để duy trì sự cháy.}\n        \t{\\True Phản ứng oxi hoá - khử xảy ra khi đốt cháy carbon trong than đá là: $C + O_2 \\xrightarrow[$t^\\circ$] CO_2$.}\n        \t{\\True Phản ứng oxi hoá - khử xảy ra khi đốt cháy butane ($C_4H_{10}$) trong khí gas là: $2C_4H_{10} + 13O_2 \\xrightarrow[$t^\\circ$] 8CO_2 + 10H_2O$.}\n        \t\\loigiai{\n        \t\t\\begin{itemchoice}[F1,T2,T3,T4]\n        \t\t\t\\itemch Chất oxi hóa phổ biến nhất trong các phản ứng cháy thông thường là oxygen ($O_2$) từ không khí, không phải hydrogen ($H_2$). Hydrogen là chất cháy. Phát biểu sai.\n        \t\t\t\\itemch Đây là mô tả đúng về hiện tượng và đặc điểm của sự cháy. Phát biểu đúng.\n        \t\t\t\\itemch Phương trình hóa học biểu diễn sự cháy hoàn toàn của carbon tạo thành carbon dioxide là chính xác. Phát biểu đúng.\n        \t\t\t\\itemch Phương trình hóa học biểu diễn sự cháy hoàn toàn của butane tạo thành carbon dioxide và nước đã được cân bằng đúng. Phát biểu đúng.\n        \t\t\\end{itemchoice}\n        \t}\n        \\end{ex}\",\n        \"%%%=============TF_2=============%%%\n        \\begin{ex}\n        \tCho phương trình nhiệt hóa học sau:\n        \t\\[ C_2H_5OH(l) + 3O_2(g) \\rightarrow 2CO_2(g) + 3H_2O(g) \\quad \\Delta_rH^\\circ_{298} = -1234{,}83 \\text{ kJ} \\]\n        \tXét các phát biểu sau:\n        \t\\choiceTF\n        \t{\\True Phản ứng trên là phản ứng tỏa nhiệt.}\n        \t{\\True Nhiệt tạo thành chuẩn của $O_2(g)$ bằng 0.}\n        \t{\\True Đốt cháy hoàn toàn 1 mol $C_2H_5OH(l)$ toả ra nhiệt lượng là $1234{,}83$ kJ.}\n        \t{Biến thiên enthalpy chuẩn của phản ứng được tính theo công thức sau: $\\Delta_rH^\\circ_{298} = 2\\Delta_fH^\\circ_{298}(CO_2, g) + 3\\Delta_fH^\\circ_{298}(H_2O, g) - \\Delta_fH^\\circ_{298}(C_2H_5OH, l)$.}\n        \t\\loigiai{\n        \t\t\\begin{itemchoice}[T1,T2,T3,F4]\n        \t\t\t\\itemch Do $\\Delta_rH^\\circ_{298} = -1234{,}83 \\text{ kJ} < 0$, phản ứng giải phóng nhiệt lượng ra môi trường nên là phản ứng tỏa nhiệt. Phát biểu đúng.\n        \t\t\t\\itemch Oxygen ($O_2(g)$) là đơn chất bền ở điều kiện chuẩn, theo quy ước, nhiệt tạo thành chuẩn của các đơn chất bền bằng 0. Phát biểu đúng.\n        \t\t\t\\itemch Phương trình nhiệt hóa học cho biết khi đốt cháy 1 mol $C_2H_5OH(l)$ theo phản ứng trên thì biến thiên enthalpy là $-1234{,}83$ kJ, nghĩa là nhiệt lượng tỏa ra là $1234{,}83$ kJ. Phát biểu đúng.\n        \t\t\t\\itemch Công thức tính biến thiên enthalpy chuẩn của phản ứng theo nhiệt tạo thành chuẩn phải bao gồm tất cả các chất tham gia và sản phẩm: $\\Delta_rH^\\circ_{298} = \\sum \\Delta_fH^\\circ_{298}(\\text{sản phẩm}) - \\sum \\Delta_fH^\\circ_{298}(\\text{chất đầu})$.\n        \t\t\tCông thức đúng phải là:\n        \t\t\t\\[ \\Delta_rH^\\circ_{298} = [2\\Delta_fH^\\circ_{298}(CO_2, g) + 3\\Delta_fH^\\circ_{298}(H_2O, g)] - [\\Delta_fH^\\circ_{298}(C_2H_5OH, l) + 3\\Delta_fH^\\circ_{298}(O_2, g)] \\]\n        \t\t\tMặc dù $\\Delta_fH^\\circ_{298}(O_2, g) = 0$, công thức được nêu trong phát biểu là thiếu sót về mặt cấu trúc (thiếu trừ đi $\\Delta_fH^\\circ_{298}$ của $O_2$). Phát biểu sai.\n        \t\t\\end{itemchoice}\n        \t}\n        \\end{ex}\"],\n\t    \"sa\": [\n        \"%%%=============SA_1=============%%%\n        \\begin{bt}\n        \tCho các hợp chất sau: $H_2S, SO_3, KHSO_4, Na_2SO_3, SO_2$. Có bao nhiêu hợp chất chứa nguyên tử sulfur (S) có số oxi hoá là +6?\n        \t\\shortans{2}\n        \t\\loigiai{\n        \t\tXác định số oxi hóa của S trong từng hợp chất:\n        \t\t\\begin{itemize}\n        \t\t\t\\item $H_2\\overset{-2}{S}$: S có số oxi hóa -2.\n        \t\t\t\\item $\\overset{+6}{S}O_3$: Gọi số oxi hóa của S là x. Ta có: $x + 3(-2) = 0 \\Rightarrow x = +6$.\n        \t\t\t\\item $K\\overset{+1}{H}\\overset{+1}{\\overset{+6}{S}}\\overset{-2}{O}_4$: Gọi số oxi hóa của S là x. Ta có: $(+1) + (+1) + x + 4(-2) = 0 \\Rightarrow x = +6$.\n        \t\t\t\\item $Na_2\\overset{+4}{S}O_3$: Gọi số oxi hóa của S là x. Ta có: $2(+1) + x + 3(-2) = 0 \\Rightarrow x = +4$.\n        \t\t\t\\item $\\overset{+4}{S}O_2$: Gọi số oxi hóa của S là x. Ta có: $x + 2(-2) = 0 \\Rightarrow x = +4$.\n        \t\t\\end{itemize}\n        \t\tVậy có 2 hợp chất chứa S có số oxi hóa +6 là $SO_3$ và $KHSO_4$.\n        \t}\n        \\end{bt}\",\n        \"%%%=============SA_2=============%%%\n        \\begin{bt}\n        \tThực hiện các quá trình sau:\n        \t\\\\(1) Phản ứng nung vôi ($CaCO_3(s) \\xrightarrow[$t^\\circ$] CaO(s) + CO_2(g)$).\n        \t\\\\(2) Cồn cháy trong không khí ($C_2H_5OH(l) + 3O_2(g) \\xrightarrow[$t^\\circ$] 2CO_2(g) + 3H_2O(g)$).\n        \t\\\\(3) Cho vôi sống vào nước ($CaO(s) + H_2O(l) \\rightarrow Ca(OH)_2(aq)$).\n        \t\\\\(4) Hòa tan viên vitamin C sủi vào cốc nước (phản ứng của acid citric và $NaHCO_3$).\n        \t\\\\(5) Nhiệt phân $NaHCO_3$ ($2NaHCO_3(s) \\xrightarrow[$t^\\circ$] Na_2CO_3(s) + CO_2(g) + H_2O(g)$).\n        \t\\\\Có bao nhiêu quá trình thuộc loại phản ứng thu nhiệt trong các quá trình trên?\n        \t\\shortans{3}\n        \t\\loigiai{\n        \t\tPhản ứng thu nhiệt là phản ứng hấp thụ năng lượng dưới dạng nhiệt từ môi trường.\n        \t\t\\begin{itemize}\n        \t\t\t\\item (1) Phản ứng nung vôi cần cung cấp nhiệt độ cao, là phản ứng thu nhiệt.\n        \t\t\t\\item (2) Phản ứng cháy của cồn tỏa ra nhiều nhiệt, là phản ứng tỏa nhiệt.\n        \t\t\t\\item (3) Phản ứng của vôi sống với nước tỏa ra nhiều nhiệt, là phản ứng tỏa nhiệt.\n        \t\t\t\\item (4) Quá trình hòa tan và phản ứng của viên C sủi thường làm cốc nước lạnh đi, hấp thụ nhiệt từ môi trường, là quá trình thu nhiệt.\n        \t\t\t\\item (5) Phản ứng nhiệt phân $NaHCO_3$ cần cung cấp nhiệt độ, là phản ứng thu nhiệt.\n        \t\t\\end{itemize}\n        \t\tVậy có 3 quá trình thu nhiệt là (1), (4), (5).\n        \t}\n        \\end{bt}\",\n        \"%%%=============SA_3=============%%%\n        \\begin{bt}\n        \tCho bảng Enthalpy tạo thành chuẩn ($\\Delta_fH^\\circ_{298}$) của một số chất như sau:\n        \t\\begin{center}\n        \t\t\\begin{tabular}{|c|c|}\n        \t\t\t\\hline\n        \t\t\tChất & $\\Delta_fH^\\circ_{298}$ (kJ/mol) \\\\\n        \t\t\t\\hline\n        \t\t\t$CaCO_3(s)$ & $-1206{,}90$ \\\\\n        \t\t\t$CH_4(g)$ & $-74{,}87$ \\\\\n        \t\t\t$CaO(s)$ & $-634{,}90$ \\\\\n        \t\t\t$H_2O(l)$ & $-285{,}84$ \\\\\n        \t\t\t$CO_2(g)$ & $-393{,}50$ \\\\\n        \t\t\t$O_2(g)$ & $0$ \\\\\n        \t\t\t\\hline\n        \t\t\\end{tabular}\n        \t\\end{center}\n        \tỞ điều kiện chuẩn, cần phải đốt cháy hoàn toàn bao nhiêu gam $CH_4(g)$ để cung cấp đủ nhiệt lượng cho phản ứng tạo 1 mol $CaO(s)$ bằng cách nung $CaCO_3(s)$? Giả thiết hiệu suất các quá trình đều là 100\\%. (Kết quả làm tròn đến 2 chữ số thập phân).\n        \t\\shortans{3.21}\n        \t\\loigiai{\n        \t\tPhản ứng nung vôi: $CaCO_3(s) \\xrightarrow[$t^\\circ$] CaO(s) + CO_2(g)$ (1)\n        \t\t\\\\\n        \t\tBiến thiên enthalpy của phản ứng (1):\n        \t\t\\[ \\Delta_rH^\\circ_{298}(1) = \\Delta_fH^\\circ_{298}(CaO, s) + \\Delta_fH^\\circ_{298}(CO_2, g) - \\Delta_fH^\\circ_{298}(CaCO_3, s) \\]\n        \t\t\\[ \\Delta_rH^\\circ_{298}(1) = (-634{,}90) + (-393{,}50) - (-1206{,}90) = +178{,}50 \\text{ kJ} \\]\n        \t\tPhản ứng này thu nhiệt, để tạo 1 mol CaO cần cung cấp $178{,}50$ kJ.\n        \t\t\\\\\n        \t\tPhản ứng đốt cháy methane: $CH_4(g) + 2O_2(g) \\rightarrow CO_2(g) + 2H_2O(l)$ (2)\n        \t\t\\\\\n        \t\tBiến thiên enthalpy của phản ứng (2):\n        \t\t\\[ \\Delta_rH^\\circ_{298}(2) = \\Delta_fH^\\circ_{298}(CO_2, g) + 2\\Delta_fH^\\circ_{298}(H_2O, l) - [\\Delta_fH^\\circ_{298}(CH_4, g) + 2\\Delta_fH^\\circ_{298}(O_2, g)] \\]\n        \t\t\\[ \\Delta_rH^\\circ_{298}(2) = (-393{,}50) + 2(-285{,}84) - [(-74{,}87) + 2(0)] \\]\n        \t\t\\[ \\Delta_rH^\\circ_{298}(2) = -393{,}50 - 571{,}68 + 74{,}87 = -890{,}31 \\text{ kJ} \\]\n        \t\tPhản ứng này tỏa nhiệt. Đốt cháy 1 mol $CH_4$ tỏa ra $890{,}31$ kJ.\n        \t\t\\\\\n        \t\tĐể cung cấp $178{,}50$ kJ nhiệt, số mol $CH_4$ cần đốt là:\n        \t\t\\[ n_{CH_4} = \\frac{\\text{Nhiệt lượng cần cung cấp}}{\\text{Nhiệt lượng tỏa ra từ 1 mol } CH_4} = \\frac{178{,}50}{890{,}31} \\approx 0{,}20049 \\text{ mol} \\]\n        \t\tKhối lượng $CH_4$ cần đốt (M = 16 g/mol):\n        \t\t\\[ m_{CH_4} = n_{CH_4} \\times M_{CH_4} = 0{,}20049 \\times 16 \\approx 3{,}20784 \\text{ g} \\]\n        \t\tLàm tròn đến 2 chữ số thập phân là $3{,}21$ g.\n        \t}\n        \\end{bt}\"],\n\t\"bt\":[\n\t\t\"%%%%%============BT_01================%%%%%%\n\t\t\\begin{bt}\n\t\t\tTính pH của các dung dịch sau ở $25^\\circ C$:\n\t\t\t\\begin{enumerate}\n\t\t\t\t\t\\item Dung dịch $H_2SO_4$ 0,005M (coi $H_2SO_4$ điện li hoàn toàn cả hai nấc).\n\t\t\t\t\t\\item Dung dịch $KOH$ 0,002M.\n\t\t\t\t\t\\item Dung dịch $CH_3COOH$ 0,1M, biết $K_a = 1,75 \\cdot 10^{-5}$.\n\t\t\t\t\\end{enumerate}\n\t\t\t\\loigiai{\n\t\t\t\t\\begin{enumerate}\n\t\t\t\t\t\t\\item $H_2SO_4 \\rightarrow 2H^+ + SO_4^{2-}$\n\t\t\t\t\t\t$[H^+] = 2 \\times 0,005 M = 0,01 M = 10^{-2} M$.\n\t\t\t\t\t\t$pH = -\\log(10^{-2}) = 2$.\n\t\t\t\t\t\t\\item $KOH \\rightarrow K^+ + OH^-$\n\t\t\t\t\t\t$[OH^-] = 0,002 M = 2 \\cdot 10^{-3} M$.\n\t\t\t\t\t\t$pOH = -\\log(2 \\cdot 10^{-3}) \\approx 2,7$.\n\t\t\t\t\t\t$pH = 14 - pOH = 14 - 2,7 = 11,3$.\n\t\t\t\t\t\t\\item $CH_3COOH \\rightleftharpoons CH_3COO^- + H^+$\n\t\t\t\t\t\t$[H^+] \\approx \\sqrt{K_a \\cdot C_0} = \\sqrt{1,75 \\cdot 10^{-5} \\cdot 0,1} = \\sqrt{1,75 \\cdot 10^{-6}} \\approx 1,32 \\cdot 10^{-3} M$.\n\t\t\t\t\t\t$pH = -\\log(1,32 \\cdot 10^{-3}) \\approx 2,88$.\n\t\t\t\t\t\\end{enumerate}\n\t\t\t\t}\n\t\t\\end{bt}\",\n\t\t\"%%%%%============BT_02================%%%%%%\n\t\t\\begin{bt}\n\t\t\tViết phương trình phân tử, ion đầy đủ và ion rút gọn cho các phản ứng (nếu có) xảy ra khi trộn các cặp dung dịch sau:\n\t\t\t\\begin{enumerate}\n\t\t\t\t\t\\item $FeCl_3$ và $NaOH$.\n\t\t\t\t\t\\item $Na_2CO_3$ và $HCl$.\n\t\t\t\t\t\\item $CuSO_4$ và $Ba(NO_3)_2$.\n\t\t\t\t\t\\item $KNO_3$ và $NaCl$.\n\t\t\t\t\\end{enumerate}\n\t\t\t\\loigiai{\n\t\t\t\t\\begin{enumerate}\n\t\t\t\t\t\t\\item $FeCl_3$ và $NaOH$:\n\t\t\t\t\t\tPT phân tử: $FeCl_3(aq) + 3NaOH(aq) \\rightarrow Fe(OH)_3(s) + 3NaCl(aq)$\n\t\t\t\t\t\tPT ion đầy đủ: $Fe^{3+}(aq) + 3Cl^-(aq) + 3Na^+(aq) + 3OH^-(aq) \\rightarrow Fe(OH)_3(s) + 3Na^+(aq) + 3Cl^-(aq)$\n\t\t\t\t\t\tPT ion rút gọn: $Fe^{3+}(aq) + 3OH^-(aq) \\rightarrow Fe(OH)_3(s)$\n\t\t\t\t\t\t\\item $Na_2CO_3$ và $HCl$:\n\t\t\t\t\t\tPT phân tử: $Na_2CO_3(aq) + 2HCl(aq) \\rightarrow 2NaCl(aq) + H_2O(l) + CO_2(g)$\n\t\t\t\t\t\tPT ion đầy đủ: $2Na^+(aq) + CO_3^{2-}(aq) + 2H^+(aq) + 2Cl^-(aq) \\rightarrow 2Na^+(aq) + 2Cl^-(aq) + H_2O(l) + CO_2(g)$\n\t\t\t\t\t\tPT ion rút gọn: $CO_3^{2-}(aq) + 2H^+(aq) \\rightarrow H_2O(l) + CO_2(g)$\n\t\t\t\t\t\t\\item $CuSO_4$ và $Ba(NO_3)_2$:\n\t\t\t\t\t\tPT phân tử: $CuSO_4(aq) + Ba(NO_3)_2(aq) \\rightarrow BaSO_4(s) + Cu(NO_3)_2(aq)$\n\t\t\t\t\t\tPT ion đầy đủ: $Cu^{2+}(aq) + SO_4^{2-}(aq) + Ba^{2+}(aq) + 2NO_3^-(aq) \\rightarrow BaSO_4(s) + Cu^{2+}(aq) + 2NO_3^-(aq)$\n\t\t\t\t\t\tPT ion rút gọn: $Ba^{2+}(aq) + SO_4^{2-}(aq) \\rightarrow BaSO_4(s)$\n\t\t\t\t\t\t\\item $KNO_3$ và $NaCl$:\n\t\t\t\t\t\tKhông có phản ứng xảy ra vì không tạo kết tủa, khí hay chất điện li yếu. Các ion vẫn tồn tại độc lập trong dung dịch.\n\t\t\t\t\t\\end{enumerate}\n\t\t\t\t}\n\t\t\\end{bt}\"\n\t\t]\n\t}\n}\n\n## Văn phong:\n- Sư phạm, khoa học, kiến thức được cập nhật chính xác từ các nguồn tin cậy không bịa đặt thông tin\n## Yêu cầu bắt buộc:\n- Nội dung các câu hỏi và các phương án, câu trả lời soạn theo code latex đảm bảo các trình biên dịch latex biên dịch không gây lỗi.\n- Đối với câu hỏi loại 2 các ý 1 ở mức độ nhận biết, ý 2 ở mức độ thông hiểu, ý 3, 4 mức độ vận dung/ vận dụng cao\n- Số thứ tự câu hỏi phải được đánh số tăng dần theo từng phần theo nằm riêng biệt 1 dòng trước nội dung mỗi câu hỏi theo cấu trúc sau:\n + %%%==========<value của key type viết in hoa + ID> ==========%%%\n + ví dụ %%%==========EX1==========%%%, %%%==========TF1==========%%%, %%%==========SA1==========%%%, %%%==========BT1==========%%%\n- Key \"solution\" trong câu hỏi loại 2 trình bày ở dạng mảng các loại câu hỏi còn lại trình bày dạng chuỗi.\n- Nếu nội dung có bảng biểu thì dùng môi trường tabular hoặc longtable trong latex để hiển thị.\n\\begin{center}\n\t\\begin{tabular}{|c|c|c|c|}\n\t\t\\hline\n\t\t& $C-C$ & $C=C$ & C$\\equiv$C \\\\\n\t\t\\hline\n\t\tĐộ dài liên kết ($A^{o}$) & $1{,}54$ & $1{,}34$ & $1{,}20$ \\\\\n\t\t\\hline\n\t\tNăng lượng liên kết ($kJ/mol$) & $347$ & $614$ & $839$ \\\\\n\t\t\\hline\n\t\\end{tabular}\n\\end{center}\nhoặc nếu nội dung nhiều trang dùng môi trường longtable\n\\begin{longtable}{|c|c|c|}\n  \\hline\n  \\textbf{STT} & \\textbf{Họ và tên} & \\textbf{Điểm} \\\\\n  \\hline\n  \\endfirsthead % Phần đầu tiên của bảng (hiển thị trên trang đầu tiên)\n  \\hline\n  \\textbf{STT} & \\textbf{Họ và tên} & \\textbf{Điểm} \\\\\n  \\hline\n  \\endhead % Phần đầu của bảng (hiển thị trên các trang tiếp theo)\n  \\hline\n  \\endfoot % Phần cuối của bảng (hiển thị trên các trang trừ trang cuối)\n  \\hline\n  \\endlastfoot % Phần cuối của bảng (hiển thị trên trang cuối)\n  1 & Nguyễn Văn A & 8.5 \\\\\n  2 & Trần Thị B & 9.0 \\\\\n  3 & Lê Văn C & 7.5 \\\\\n  \\hline\n\\end{longtable}\n\\begin{enumerate}[a)] hoặc [(a)], [(1)]\n\t\\item nội dung ý nhỏ 1 cấp 1\n\t\\begin{enumerate}[a)] hoặc [(a)], [(1)]\n\t\t\\item nội dung ý nhỏ 1 cấp 2\n\t\t\n\t\t\\item Nội dung ý nhỏ 2 cấp 2\n\t\n\t    \\item nội dung ý nhỏ n cấp 2\n\\end{enumerate}\n\t\\item Nội dung ý nhỏ 2 cấp 1\n\t....\n\t\\item nội dung ý nhỏ n cấp 1\n\\end{enumerate}\nVí dụ: \n## Chú ý: \n- Chỉ có 2 môi trường soạn thảo là ex và bt \n- Số lượng item trong mỗi mảng \"ex\", \"tf\",\"sa\",\"bt\" phải đúng theo số  lượng câu hỏi trong ma trận đưa ra.","type":"string"},{"id":"cfb4f5ab-88f0-4971-a799-73033f9501d9","name":"=chat_Id","value":"={{ $('CREATE_MATRIX_INPUT').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4000,-1856],"id":"7d293713-890a-4ea9-9214-6f2912021277","name":"input_Ai_agent"},{"parameters":{"assignments":{"assignments":[{"id":"ff910bc6-ba20-4e74-8fc0-c2802bd63762","name":"user_prompt","value":"={{ $json.quantity }} bài tập {{ $json.form }} môn {{ $json.object }} lớp {{ $json.class }} chương(nội dung) {{ $json.chapter }} mức độ {{ $json.level }} chủ đề (bài) {{ $json.secsion }} dạng {{ $json.type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3392,-2096],"id":"06d289a0-7ef1-4fb8-90b8-286964273b87","name":"PROMT_CREATE_QUESTION"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"user_prompt"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3072,-2096],"id":"25505dee-65cd-4aef-8e11-a4d542d0aa4c","name":"CONVERT_SINGLE_ARRAYS"},{"parameters":{"assignments":{"assignments":[{"id":"3cdc8e8b-0b7f-45ad-bf2b-c5f24587de13","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3264,-1856],"id":"7eeaf2e2-6c02-41f7-8c1f-f42e73ee2e30","name":"OUTPUT_AI_AGENT"},{"parameters":{"assignments":{"assignments":[{"id":"78e0b302-7f36-497f-a5b2-cd0b751c0616","name":"questions","value":"={{ $json.output.questions }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3008,-1856],"id":"7dfd8f69-0ab1-4518-9775-ef40b0588a7d","name":"get_question"},{"parameters":{"assignments":{"assignments":[{"id":"38e66ca6-7b5e-46ec-90cb-615dc7958248","name":"ex","value":"={{ $json.questions.ex.join(\"\\n\").replace(/\\\\n/g, '\\n')}}","type":"string"},{"id":"9b626af3-3591-47fe-aae9-8e6302dc967f","name":"tf","value":"={{ $json.questions.tf.join(\"\\n\").replace(/\\\\n/g, '\\n')}}","type":"string"},{"id":"baadf086-f0c0-4914-a3ba-525fde0d4055","name":"sa","value":"={{ $json.questions.sa.join(\"\\n\").replace(/\\\\n/g, '\\n')}}\n","type":"string"},{"id":"de86ecd6-3bf5-46cd-b1e5-b5c5fa182624","name":"bt","value":"={{ $json.questions.bt.join(\"\\n\").replace(/\\\\n/g, '\\n')}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3296,-1568],"id":"8c9238d2-6960-44e8-aa8e-7c4b8dbe14e0","name":"Join"},{"parameters":{"assignments":{"assignments":[{"id":"ded82117-0a76-4c8a-b79f-6421a3816e8c","name":"file_output","value":"=\\documentclass[FileMain_Ver1.tex]{subfiles}\n\\gdef\\sophong{Phòng Giáo dục\\& ĐT}\n\\gdef\\truong{Trường THPT Số 2 phù Mỹ}\n\\gdef\\monhoc{Hóa}\n\\gdef\\lop{10}\n\\gdef\\nh{2024 - 2025}\n\\gdef\\thoigian{45}\n\\setcounter{demsode}{2}\n\\gdef\\loaide{ĐỀ SỐ \\circlenumH[\\mycolor]{\\fontfamily{ugq}\\selectfont\\large\\thedemsode}}\n\\pgfmathsetmacro{\\made}{random(100,401)}\n\\begin{document}\n    %%%====Hiển thị Mục Lục=======%%%\n    %\\setcounter{tocdepth}{1}\n    %\\setcounter{secnumdepth}{3}\n    %\\tableofcontents\n    %%%====Điều chỉnh lời giải=======%%%\n%    \\tatloigiai\n\t\\dongkeloigiai\n    %\\hienthiloigiai\n    %\\sodongke[4]{ex}\n    %\\sodongke[8]{bt}\n    \\section[Đề thi Kiểm tra cuối kì 2 lần 3 Bình Định  - Mã đề \\made]{Đề thi Kiểm tra cuối kì 2 lần 3}\n    %%%==============Phần trắc nghiệm nhiều lựa chọn==============%%%    \n    \\subsection{Bài tập trắc nghiệm nhiều lựa chọn}\n    \\Opensolutionfile{ansex}[Ans/LGEX-ktcuoiki2_lan3]\n    \\Opensolutionfile{ans}[Ans/Ans-ktcuoiki2_lan3]\n     {{ $json.ex}}\n    \\Closesolutionfile{ans}\n    \\Closesolutionfile{ansex}\n    %\\bangdapan{Ans-ktcuoiki2_lan3}\n    \n    %%%==============Phần trắc nghiệm đúng sai==============%%%    \n    \\subsection{Trắc nghiệm đúng sai}\n    \\Opensolutionfile{ansex}[Ans/LGTF-ktcuoiki2_lan3]\n    \\Opensolutionfile{ansbook}[Ansbook/AnsTF-ktcuoiki2_lan3]\n    \\Opensolutionfile{ans}[Ans/Tempt-ktcuoiki2_lan3]\n        {{ $json.tf}}\n    \\Closesolutionfile{ans}\n    \\Closesolutionfile{ansbook}\n    \\Closesolutionfile{ansex}\n    %\\bangdapanTF{AnsTF-ktcuoiki2_lan3}\n    \n    %%%==============Phần bài tập trả lời ngắn==============%%%    \n    \\subsection{Bài tập trả lời ngắn}\n    \\Opensolutionfile{ansbth}[Ans/LGSA-ktcuoiki2_lan3]\n    \\Opensolutionfile{ansbt}[Ans/AnsSA-ktcuoiki2_lan3]\n\t\t{{ $json.sa}}\n    \\Closesolutionfile{ansbt}\n    \\Closesolutionfile{ansbth}\n    %\\bangdapanSA{AnsSA-ktcuoiki2_lan3}\n\n    %%%==============Phần bài tập tự luận==============%%%    \n    \\subsection{Bài tập tự luận}\n    \\Opensolutionfile{ansbth}[Ans/LGBT-ktcuoiki2_lan3]\n    \\Opensolutionfile{ansbt}[Ans/AnsBT-ktcuoiki2_lan3]\n     {{ $json.bt}}\n    \\Closesolutionfile{ansbt}\n    \\Closesolutionfile{ansbth}\n    %\\bangdapanSA{AnsBT-ktcuoiki2_lan3}\n    \\fileend\n\\end{document}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3088,-1568],"id":"2fee92f7-eea0-444b-890a-65e38c109fd6","name":"file_output"},{"parameters":{"method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task_name\": \"write_file\",\n  \"payload\": {\n    \"filepath\": \"./latex_document/{{ $json.filename_output }}\",\n    \"content\": {{ JSON.stringify($json.content_to_write) }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2688,-1568],"id":"49e528e3-4b13-4285-bb3d-a86df7c60e8c","name":"write_file_request"},{"parameters":{"assignments":{"assignments":[{"id":"7eac0a9f-8e37-41e3-944f-095f19e44b74","name":"filename_output","value":"=Create_matrix_{{$now.format('hh-mm-ss_dd-MM-yyyy')}}.txt","type":"string"},{"id":"1c218b8e-1ad2-48f4-96cf-5dc4c5b5d72e","name":"content_to_write","value":"={{ $json.file_output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2880,-1568],"id":"550cd7d6-90bc-4512-899f-1a79b170064d","name":"file_content"},{"parameters":{"chatId":"={{ $('input_Ai_agent').item.json.chat_Id }}","text":"=File {{ $('file_content').item.json.filename_output }} được ghi vào đường dẫn  /home/n8n/python_receiver/data_share/latex_document truy cập thu mục để tải file","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2480,-1568],"id":"ef8820f6-2ffd-40e3-8fcf-1c83398ddbe0","name":"Send a text message","webhookId":"93b1afd8-86c9-475f-994f-028d9b084940","credentials":{"telegramApi":{"id":"fP6SZt8Z3ASnxJry","name":"CREATE_EXAM_MATRIX"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pmgxt61xd7t6ywx","table":"mfmoyfcwqpgjxrq","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-3760,-2096],"id":"6fb10a06-8082-4d8a-9fe9-aa55daca50a0","name":"Get_matrix","credentials":{"nocoDbApiToken":{"id":"1CLDf2cb4oYaVzJf","name":"NocoDB Token account"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"CREATE_EXAM_MATRIX","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"CREATE_EXAM_MATRIX","type":"ai_memory","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"CREATE_EXAM_MATRIX","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"CREATE_MATRIX_INPUT":{"main":[[{"node":"Get_matrix","type":"main","index":0}]]},"CREATE_EXAM_MATRIX":{"main":[[{"node":"OUTPUT_AI_AGENT","type":"main","index":0}]]},"input_Ai_agent":{"main":[[{"node":"CREATE_EXAM_MATRIX","type":"main","index":0}]]},"PROMT_CREATE_QUESTION":{"main":[[{"node":"CONVERT_SINGLE_ARRAYS","type":"main","index":0}]]},"CONVERT_SINGLE_ARRAYS":{"main":[[{"node":"input_Ai_agent","type":"main","index":0}]]},"OUTPUT_AI_AGENT":{"main":[[{"node":"get_question","type":"main","index":0}]]},"get_question":{"main":[[{"node":"Join","type":"main","index":0}]]},"Join":{"main":[[{"node":"file_output","type":"main","index":0}]]},"file_output":{"main":[[{"node":"file_content","type":"main","index":0}]]},"file_content":{"main":[[{"node":"write_file_request","type":"main","index":0}]]},"write_file_request":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Get_matrix":{"main":[[{"node":"PROMT_CREATE_QUESTION","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"898316f5-30ca-4644-9038-af7b19131810","triggerCount":1,"tags":[]}