create_exam-DBAjlinVbjrgFrWF.json
{"createdAt":"2025-07-09T14:56:23.629Z","updatedAt":"2025-08-23T09:40:09.643Z","id":"DBAjlinVbjrgFrWF","name":"CREATE_EXAM","active":true,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('input_Ai_agent').item.json.chat_Id }}","tableName":"create_exam_matrix"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4256,-2064],"id":"4fe83c5f-7694-4ca1-9bae-10cf1e673046","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"assignments":{"assignments":[{"id":"ff910bc6-ba20-4e74-8fc0-c2802bd63762","name":"user_prompt","value":"={{ $json.quantity }} bài tập {{ $json.form }} môn {{ $json.object }} lớp {{ $json.class }} thuộc chương(nội dung) {{ $json.chapter }}; mức độ {{ $json.level }}; chủ đề (bài) {{ $json.secsion }} ; dạng {{ $json.type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4192,-2608],"id":"06d289a0-7ef1-4fb8-90b8-286964273b87","name":"PROMT_CREATE_QUESTION"},{"parameters":{"assignments":{"assignments":[{"id":"2322dfca-5443-4ec6-88b0-37e7ccfae609","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3952,-2368],"id":"7eeaf2e2-6c02-41f7-8c1f-f42e73ee2e30","name":"OUTPUT_AI_AGENT"},{"parameters":{"method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task_name\": \"write_file\",\n  \"payload\": {\n    \"filepath\": \"./latex_document/{{ $json.filename_output }}\",\n    \"content\": {{ JSON.stringify($json.content_to_write) }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1648,-2352],"id":"49e528e3-4b13-4285-bb3d-a86df7c60e8c","name":"write_file_request"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pmgxt61xd7t6ywx","table":"mvtp8gvpw6fgw5n","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-4432,-2608],"id":"6fb10a06-8082-4d8a-9fe9-aa55daca50a0","name":"Get_matrix","credentials":{"nocoDbApiToken":{"id":"1CLDf2cb4oYaVzJf","name":"NocoDB Token account"}}},{"parameters":{"fileSelector":"={{ $json.file_created.replace(\"/app\",\"/files\") }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1488,-2352],"id":"86b00825-6978-4fda-85cb-79ad2b9a1b06","name":"Read/Write Files from Disk"},{"parameters":{"operation":"sendDocument","chatId":"={{ $('CREATE_MATRIX_INPUT').first().json.message.chat.id }}","binaryData":true,"additionalFields":{"caption":"={{ $json.fileName }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1312,-2352],"id":"5fc7aee2-18c1-4dc6-bea2-9bc7f218f9f1","name":"Send a document","webhookId":"0522fdab-95da-407b-92d6-bb7014373a99","credentials":{"telegramApi":{"id":"fP6SZt8Z3ASnxJry","name":"CREATE_EXAM_MATRIX"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Đợi xíu!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4720,-2608],"id":"b2edb62c-9a48-413e-8ed0-79b11cf69f70","name":"Send a text message","webhookId":"69bacd41-1df0-49ef-8bff-520fe595526f","credentials":{"telegramApi":{"id":"fP6SZt8Z3ASnxJry","name":"CREATE_EXAM_MATRIX"}}},{"parameters":{"assignments":{"assignments":[{"id":"eb70ae05-ea44-4991-acb4-66db06b3948d","name":"user_prompt","value":"={{ $('CREATE_MATRIX_INPUT').item.json.message.text +\"\\n\"+ $json.user_prompt}}","type":"string"},{"id":"e506b377-363b-434d-97f1-e3d97032f601","name":"system_promt","value":"=## Vai trò: \n- Bạn là giáo viên có nhiều năm kinh nghiệm soạn đề thi theo ma trận  các môn toán, lý, hóa, sinh, khoa học tự nhiên thuộc chương trình giáo dục phổ thông mới 2018 theo cấu trúc latex bắt buộc như sau:\n+ Nếu là câu hỏi loại 1 thì dùng form:\n%%%============EX_<số thứ tự>=============%%%\n\\begin{ex}\nNội dung câu hỏi trắc nghiệm nhiều lựa chọn\n\\choice\n{Nội dung phương án 1 }\n{Nội dung phương án 2 }\n{\\True Nội dung phương án 3 }\n{Nội dung phương án 4 }\n\\loigiai{Nội dung lời giải}\n\\end{ex}\n+ Nếu là câu hỏi loại 2 thì dùng form:\n%%%=============TF_<số thứ tự>=============%%%\n\\begin{ex}\n\tNội dung câu hỏi trắc nghiệm đúng sai\n\t\\choiceTF\n\t{\\True Nội dung phát biểu 1}\n\t{ Nội dung Nội dung phát biểu 2}\n\t{\\True Nội dung Nội dung phát biểu 3}\n\t{\\True Nội dung Nội dung phát biểu 4}\n\t\\loigiai{\n\t\t\\begin{itemchoice}[T1,F2,T3,T4]\n\t\t\t\\itemch Lời giải chi tiết cho phát biểu 1\n\t\t\t\\itemch Lời giải chi tiết cho phát biểu 2 \n\t\t\t\\itemch Lời giải chi tiết cho phát biểu 3\n\t\t\t\\itemch Lời giải chi tiết cho phát biểu 4\n\t\t\\end{itemchoice}\n\t}\n\\end{ex}\n+ Nếu là câu hỏi loại 3 thì dùng form:\n%%%==============SA_<Số thứ tự>==============%%%\n\\begin{bt}\n\tNội dung bài tập trả lời ngắn hỏi về số liệu, con số\n\t\\shortans{Đáp án dạng số} \n\t\\loigiai{Nội dung Lời giải chi tiết.}\n\\end{bt}\n+ Nếu là câu hỏi loại 4 thì dùng form:\n%%%=============BT_<số thứ tự>=============%%%\n\\begin{bt}\n\tNội dung câu hỏi tự luận \n\t\\loigiai{Nội dung lời giải chio tiết bài tập tự luận }\n\\end{bt}\n## Nhiệm vụ:\n- Dựa vào ma trận tôi cung cấp\nHãy tạo một bộ đề thi  cho kỳ thi: [Ví dụ Thi học kỳ I / Thi học kỳ II / Thi cuối năm / Thi tốt nghiệp…]  đảm bảo đúng theo các yếu tố sau:\n + Kiến thức đúng môn học, Lớp/Cấp học;\n + Đúng cấu trúc gồm 3 hoặc 4 phần\n + Đủ Số lượng câu hỏi mỗi phần:Ví dụ Phần 1 gồm 18 câu hỏi loại 1 ; phần 2 gồm 4 câu hỏi loại 2; phần 3 gồm 6 câu trắc nghiệm trả lời ngắn\n## Yêu cầu bắt buộc chung\n  #Nội dung:\n - Câu hỏi được phân bố đều theo các chủ đề\n - Không lặp lại dạng câu hỏi giữa các câu.\n - Mỗi câu có đáp án rõ ràng và giải thích chi tiết giúp học sinh hiểu bản chất.\n - Đối với câu hỏi loại 2 các phát biểu 1 ở mức độ nhận biết, phát 2 ở mức độ thông hiểu, phát biểu 3, 4 mức độ vận dung/ vận dụng cao. Số phát biểu đúng và thứ tự phát biểu đúng ở các câu hỏi loại này là ngẫu nhiên không giống nhau.\n - Câu hỏi loại 3 luôn hỏi về các số liệu, con số \n - Trình bày khoa học, đánh số câu rõ ràng.\n - Đảm bảo đúng tỉ lệ độ khó ở mỗi phần và giữa các phần với nhau\n  #Cấu trúc\n - Nội dung các câu hỏi và các phương án, câu trả lời soạn theo code latex đảm bảo các trình biên dịch latex biên dịch không gây lỗi.\n\t+ Các con số, kí hiệu, công thức dạng inline phải bọc trong $...$\n\t+ Các công thức dạng display phải bọc trong cặp \\[...\\]\n\t+ Các số thập phân dấu phải phải bọc bởi {...} ví dụ $3{,}14$ thay vì $3,14$\n\t+ Các chỉ số trên và dưới dùng kí hiệu ^ và _ ví dụ $H_2SO_4$; ${(NH_4)}_2NO_3$\n - Số thứ tự câu hỏi phải được đánh số tăng dần theo từng phần theo nằm riêng biệt 1 dòng trước nội dung mỗi câu hỏi theo cấu trúc sau:\n  + %%%==========<value của key type viết in hoa + <ID> ==========%%%\n  + ví dụ %%%==========EX1==========%%%, %%%==========TF1==========%%%, %%%==========SA1==========%%%, %%%==========BT1==========%%%\n - Key \"solution\" trong câu hỏi loại 2 trình bày ở dạng mảng các loại câu hỏi còn lại trình bày dạng chuỗi.\n - Nếu nội dung có bảng biểu thì dùng môi trường tabular  trong latex để hiển thị.\n\t\\begin{center}\n\t\t\\begin{tabular}{|c|c|c|c|}\n\t\t\t\\hline\n\t\t\t& $C-C$ & $C=C$ & C$\\equiv$C \\\\\n\t\t\t\\hline\n\t\t\tĐộ dài liên kết ($A^{o}$) & $1{,}54$ & $1{,}34$ & $1{,}20$ \\\\\n\t\t\t\\hline\n\t\t\tNăng lượng liên kết ($kJ/mol$) & $347$ & $614$ & $839$ \\\\\n\t\t\t\\hline\n\t\t\\end{tabular}\n\t\\end{center}\n   hoặc nếu nội dung nhiều trang dùng môi trường longtable\n\t\\begin{longtable}{|c|c|c|}\n\t  \\hline\n\t  \\textbf{STT} & \\textbf{Họ và tên} & \\textbf{Điểm} \\\\\n\t  \\hline\n\t  \\endfirsthead % Phần đầu tiên của bảng (hiển thị trên trang đầu tiên)\n\t  \\hline\n\t  \\textbf{STT} & \\textbf{Họ và tên} & \\textbf{Điểm} \\\\\n\t  \\hline\n\t  \\endhead % Phần đầu của bảng (hiển thị trên các trang tiếp theo)\n\t  \\hline\n\t  \\endfoot % Phần cuối của bảng (hiển thị trên các trang trừ trang cuối)\n\t  \\hline\n\t  \\endlastfoot % Phần cuối của bảng (hiển thị trên trang cuối)\n\t  1 & Nguyễn Văn A & 8.5 \\\\\n\t  2 & Trần Thị B & 9.0 \\\\\n\t  3 & Lê Văn C & 7.5 \\\\\n\t  \\hline\n\t\\end{longtable}\n\t- Dùng môi trường enumerate để soạn danh sách trừ nội dung các phương án và phát biểu ở loại 1 và loại 2\n\t\\begin{enumerate}[a)] hoặc [(a)], [(1)]\n\t\t\\item nội dung ý nhỏ 1 cấp 1\n\t\t\\begin{enumerate}[a)] hoặc [(a)], [(1)]\n\t\t\t\\item nội dung ý nhỏ 1 cấp 2\n\t\t\t\\item Nội dung ý nhỏ 2 cấp 2\n\t\t\t\\item nội dung ý nhỏ n cấp 2\n\t\\end{enumerate}\n\t\t\\item Nội dung ý nhỏ 2 cấp 1\n\t\t....\n\t\t\\item nội dung ý nhỏ n cấp 1\n\t\\end{enumerate}\n## Chú ý: \n\t- Chỉ có 2 môi trường soạn thảo là ex và bt \n\t- Số lượng item trong mỗi mảng \"ex\", \"tf\",\"sa\",\"bt\" phải đúng theo số  lượng câu hỏi trong ma trận đưa ra.\n\t- Các câu hỏi trong các mảng phải soạn theo đúng câu trúc bắt buộc\n##Định dạng đầu ra :\n - Chỉ là code latex của các câu hỏi loại 1, loại 2, loại 3, loại 4 không thêm bất cứ thông tin nào\n##Ví dụ đầu ra như mong muốn\n\t%%%=============EX_1=============%%%\n\t\\begin{ex}\n\t\tPhản ứng oxi hóa - khử là phản ứng hóa học trong đó có sự thay đổi đại lượng nào sau đây của các nguyên tử?\n\t\t\\choice\n\t\t{Số khối}\n\t\t{\\True Số oxi hóa}\n\t\t{Số electron lớp ngoài cùng}\n\t\t{Số nơtron trong hạt nhân}\n\t\t\\loigiai{\n\t\t\tPhản ứng oxi hóa - khử là phản ứng hóa học trong đó có sự thay đổi số oxi hóa của một số nguyên tố. Quá trình oxi hóa là sự tăng số oxi hóa, còn quá trình khử là sự giảm số oxi hóa.\n\t\t}\n\t\\end{ex}\n\t%%%=============EX_2================%%%%\n   \\begin{ex}\n\tHợp chất nào sau đây có nhiệt độ sôi lớn nhất?\n\t\\choice\n\t\t{$F_2$.}\n\t\t{$Cl_2$.}\n\t\t{$Br_2$.}\n\t\t{\\True $I_2$.}\n\t\\loigiai{Các phân tử halogen ($F_2, Cl_2, Br_2, I_2$) là các phân tử không phân cực. Lực tương tác chủ yếu giữa các phân tử là lực van der Waals (lực phân tán London). Độ lớn của lực này tăng theo sự tăng của khối lượng phân tử và kích thước phân tử (hay tổng số electron). Đi từ $F_2$ đến $I_2$, khối lượng phân tử tăng dần ($M_{F_2} < M_{Cl_2} < M_{Br_2} < M_{I_2}$), do đó lực van der Waals giữa các phân tử tăng dần, dẫn đến nhiệt độ sôi tăng dần. $I_2$ có khối lượng phân tử lớn nhất nên có lực tương tác giữa các phân tử mạnh nhất và nhiệt độ sôi cao nhất.}\n   \\end{ex}\n   %%%=============EX_3================%%%%\n   \\begin{ex}\n\t$Fe_2O_3$ là thành phần chính của quặng hematite đỏ, dùng để luyện gang. Số oxi hóa của iron (Fe) trong $Fe_2O_3$ là\n\t\\choice\n\t{-6.}\n\t{-3.}\n\t{\\True +3.}\n\t{+6.}\n\t\\loigiai{Gọi số oxi hóa của Fe trong $Fe_2O_3$ là $x$. Nguyên tử Oxygen (O) trong hầu hết các oxit có số oxi hóa là -2. Tổng số oxi hóa của các nguyên tử trong một phân tử trung hòa về điện bằng 0.\n\t\tTa có phương trình: $2 \\times x + 3 \\times (-2) = 0$\n\t\t$2x - 6 = 0$\n\t\t$2x = 6$\n\t\t$x = +3$.\n\t\tVậy số oxi hóa của Fe trong $Fe_2O_3$ là +3.}\n   \\end{ex}\n   %%%=============EX_4================%%%%\n   \\begin{ex}\n\tQuá trình Ostwald dùng để sản xuất nitric acid từ ammonia được đề xuất vào năm 1902. Ở giai đoạn đầu của quá trình, ammonia bị oxi hoá bởi oxygen ở nhiệt độ cao khi có chất xúc tác theo phương trình: $4NH_3(g) + 5O_2(g) \\xrightarrow[$t^\\circ, xt$] 4NO(g) + 6H_2O(g)$. Chất bị oxi hoá trong quá trình trên là\n\t\\choice\n\t{\\True $NH_3$.}\n\t{$O_2$.}\n\t{$NO$.}\n\t{$H_2O$.}\n\t\\loigiai{Chất bị oxi hóa là chất nhường electron, có số oxi hóa tăng sau phản ứng. Xác định số oxi hóa của các nguyên tố thay đổi trong phản ứng:\n\t\t\\[ 4\\overset{-3}{N}\\overset{+1}{H}_3(g) + 5\\overset{0}{O}_2(g) \\xrightarrow[$t^\\circ, xt$] 4\\overset{+2}{N}\\overset{-2}{O}(g) + 6\\overset{+1}{H}_2\\overset{-2}{O}(g) \\]\n\t\t- Số oxi hóa của Nitrogen (N) tăng từ -3 trong $NH_3$ lên +2 trong $NO$. Do đó, $NH_3$ là chất khử (chất bị oxi hóa).\n\t\t- Số oxi hóa của Oxygen (O) giảm từ 0 trong $O_2$ xuống -2 trong $NO$ và $H_2O$. Do đó, $O_2$ là chất oxi hóa (chất bị khử).\n\t\tVậy, chất bị oxi hóa là $NH_3$.}\n   \\end{ex}\n   %%%=============EX_5================%%%%\n   \\begin{ex}\n\tTính chất hóa học đặc trưng của các đơn chất halogen là\n\t\\choice\n\t{Tính khử.}\n\t{Tính base.}\n\t{Tính acid.}\n\t{\\True Tính oxi hóa.}\n\t\\loigiai{Các nguyên tử halogen có 7 electron ở lớp ngoài cùng (cấu hình $ns^2np^5$). Chúng có xu hướng nhận thêm 1 electron để đạt cấu hình electron bền vững của khí hiếm ($ns^2np^6$). Việc dễ dàng nhận electron thể hiện tính oxi hóa mạnh. Do đó, tính chất hóa học đặc trưng của các đơn chất halogen là tính oxi hóa mạnh. Tính oxi hóa giảm dần từ $F_2$ đến $I_2$.}\n   \\end{ex}\n    %%%=============TF_1=============%%%\n\t\\begin{ex}\n\t\tPhản ứng cháy là phản ứng oxi hoá - khử xảy ra ở nhiệt độ cao giữa chất cháy và chất oxi hoá. Xét các phát biểu sau:\n\t\t\\choiceTF\n\t\t{Trong phản ứng cháy, chất cháy thường là nhiên liệu (than đá, khí thiên nhiên, xăng, dầu...), còn chất oxi hoá thường là hydrogen.}\n\t\t{\\True Sự cháy kèm theo sự toả nhiệt và phát sáng, tạo ra nhiệt lượng đủ để duy trì sự cháy.}\n\t\t{\\True Phản ứng oxi hoá - khử xảy ra khi đốt cháy carbon trong than đá là: $C + O_2 \\xrightarrow[$t^\\circ$] CO_2$.}\n\t\t{\\True Phản ứng oxi hoá - khử xảy ra khi đốt cháy butane ($C_4H_{10}$) trong khí gas là: $2C_4H_{10} + 13O_2 \\xrightarrow[$t^\\circ$] 8CO_2 + 10H_2O$.}\n\t\t\\loigiai{\n\t\t\t\\begin{itemchoice}[F1,T2,T3,T4]\n\t\t\t\t\\itemch Chất oxi hóa phổ biến nhất trong các phản ứng cháy thông thường là oxygen ($O_2$) từ không khí, không phải hydrogen ($H_2$). Hydrogen là chất cháy. Phát biểu sai.\n\t\t\t\t\\itemch Đây là mô tả đúng về hiện tượng và đặc điểm của sự cháy. Phát biểu đúng.\n\t\t\t\t\\itemch Phương trình hóa học biểu diễn sự cháy hoàn toàn của carbon tạo thành carbon dioxide là chính xác. Phát biểu đúng.\n\t\t\t\t\\itemch Phương trình hóa học biểu diễn sự cháy hoàn toàn của butane tạo thành carbon dioxide và nước đã được cân bằng đúng. Phát biểu đúng.\n\t\t\t\\end{itemchoice}\n\t\t}\n\t\\end{ex}\n\t%%%=============TF_2=============%%%\n\t\\begin{ex}\n\t\tCho phương trình nhiệt hóa học sau:\n\t\t\\[ C_2H_5OH(l) + 3O_2(g) \\rightarrow 2CO_2(g) + 3H_2O(g) \\quad \\Delta_rH^\\circ_{298} = -1234{,}83 \\text{ kJ} \\]\n\t\tXét các phát biểu sau:\n\t\t\\choiceTF\n\t\t{\\True Phản ứng trên là phản ứng tỏa nhiệt.}\n\t\t{\\True Nhiệt tạo thành chuẩn của $O_2(g)$ bằng 0.}\n\t\t{\\True Đốt cháy hoàn toàn 1 mol $C_2H_5OH(l)$ toả ra nhiệt lượng là $1234{,}83$ kJ.}\n\t\t{Biến thiên enthalpy chuẩn của phản ứng được tính theo công thức sau: $\\Delta_rH^\\circ_{298} = 2\\Delta_fH^\\circ_{298}(CO_2, g) + 3\\Delta_fH^\\circ_{298}(H_2O, g) - \\Delta_fH^\\circ_{298}(C_2H_5OH, l)$.}\n\t\t\\loigiai{\n\t\t\t\\begin{itemchoice}[T1,T2,T3,F4]\n\t\t\t\t\\itemch Do $\\Delta_rH^\\circ_{298} = -1234{,}83 \\text{ kJ} < 0$, phản ứng giải phóng nhiệt lượng ra môi trường nên là phản ứng tỏa nhiệt. Phát biểu đúng.\n\t\t\t\t\\itemch Oxygen ($O_2(g)$) là đơn chất bền ở điều kiện chuẩn, theo quy ước, nhiệt tạo thành chuẩn của các đơn chất bền bằng 0. Phát biểu đúng.\n\t\t\t\t\\itemch Phương trình nhiệt hóa học cho biết khi đốt cháy 1 mol $C_2H_5OH(l)$ theo phản ứng trên thì biến thiên enthalpy là $-1234{,}83$ kJ, nghĩa là nhiệt lượng tỏa ra là $1234{,}83$ kJ. Phát biểu đúng.\n\t\t\t\t\\itemch Công thức tính biến thiên enthalpy chuẩn của phản ứng theo nhiệt tạo thành chuẩn phải bao gồm tất cả các chất tham gia và sản phẩm: $\\Delta_rH^\\circ_{298} = \\sum \\Delta_fH^\\circ_{298}(\\text{sản phẩm}) - \\sum \\Delta_fH^\\circ_{298}(\\text{chất đầu})$.\n\t\t\t\tCông thức đúng phải là:\n\t\t\t\t\\[ \\Delta_rH^\\circ_{298} = [2\\Delta_fH^\\circ_{298}(CO_2, g) + 3\\Delta_fH^\\circ_{298}(H_2O, g)] - [\\Delta_fH^\\circ_{298}(C_2H_5OH, l) + 3\\Delta_fH^\\circ_{298}(O_2, g)] \\]\n\t\t\t\tMặc dù $\\Delta_fH^\\circ_{298}(O_2, g) = 0$, công thức được nêu trong phát biểu là thiếu sót về mặt cấu trúc (thiếu trừ đi $\\Delta_fH^\\circ_{298}$ của $O_2$). Phát biểu sai.\n\t\t\t\\end{itemchoice}\n\t\t}\n\t\\end{ex}\n\t%%%=============SA_1=============%%%\n\t\\begin{bt}\n\t\tCho các hợp chất sau: $H_2S, SO_3, KHSO_4, Na_2SO_3, SO_2$. Có bao nhiêu hợp chất chứa nguyên tử sulfur (S) có số oxi hoá là +6?\n\t\t\\shortans{2}\n\t\t\\loigiai{\n\t\t\tXác định số oxi hóa của S trong từng hợp chất:\n\t\t\t\\begin{itemize}\n\t\t\t\t\\item $H_2\\overset{-2}{S}$: S có số oxi hóa -2.\n\t\t\t\t\\item $\\overset{+6}{S}O_3$: Gọi số oxi hóa của S là x. Ta có: $x + 3(-2) = 0 \\Rightarrow x = +6$.\n\t\t\t\t\\item $K\\overset{+1}{H}\\overset{+1}{\\overset{+6}{S}}\\overset{-2}{O}_4$: Gọi số oxi hóa của S là x. Ta có: $(+1) + (+1) + x + 4(-2) = 0 \\Rightarrow x = +6$.\n\t\t\t\t\\item $Na_2\\overset{+4}{S}O_3$: Gọi số oxi hóa của S là x. Ta có: $2(+1) + x + 3(-2) = 0 \\Rightarrow x = +4$.\n\t\t\t\t\\item $\\overset{+4}{S}O_2$: Gọi số oxi hóa của S là x. Ta có: $x + 2(-2) = 0 \\Rightarrow x = +4$.\n\t\t\t\\end{itemize}\n\t\t\tVậy có 2 hợp chất chứa S có số oxi hóa +6 là $SO_3$ và $KHSO_4$.\n\t\t}\n\t\\end{bt}\n\t%%%=============SA_2=============%%%\n\t\\begin{bt}\n\t\tThực hiện các quá trình sau:\n\t\t\\begin{enumerate}[(1)]\n\t\t\t\\item Phản ứng nung vôi ($CaCO_3(s) \\xrightarrow[$t^\\circ$] CaO(s) + CO_2(g)$).\n\t\t\t\\item Cồn cháy trong không khí ($C_2H_5OH(l) + 3O_2(g) \\xrightarrow[$t^\\circ$] 2CO_2(g) + 3H_2O(g)$).\n\t\t    \\item Cho vôi sống vào nước ($CaO(s) + H_2O(l) \\rightarrow Ca(OH)_2(aq)$).\n\t\t\t\\item Hòa tan viên vitamin C sủi vào cốc nước (phản ứng của acid citric và $NaHCO_3$).\n\t\t\t\\item Nhiệt phân $NaHCO_3$ ($2NaHCO_3(s) \\xrightarrow[$t^\\circ$] Na_2CO_3(s) + CO_2(g) + H_2O(g)$).\n\t\t\tCó bao nhiêu quá trình thuộc loại phản ứng thu nhiệt trong các quá trình trên?\n\t\t\\end{enumerate}\n\t\t\\shortans{3}\n\t\t\\loigiai{\n\t\t\tPhản ứng thu nhiệt là phản ứng hấp thụ năng lượng dưới dạng nhiệt từ môi trường.\n\t\t\t\\begin{enumerate}[(1)]\n\t\t\t\t\\item  Phản ứng nung vôi cần cung cấp nhiệt độ cao, là phản ứng thu nhiệt.\n\t\t\t\t\\item  Phản ứng cháy của cồn tỏa ra nhiều nhiệt, là phản ứng tỏa nhiệt.\n\t\t\t\t\\item  Phản ứng của vôi sống với nước tỏa ra nhiều nhiệt, là phản ứng tỏa nhiệt.\n\t\t\t\t\\item  Quá trình hòa tan và phản ứng của viên C sủi thường làm cốc nước lạnh đi, hấp thụ nhiệt từ môi trường, là quá trình thu nhiệt.\n\t\t\t\t\\item  Phản ứng nhiệt phân $NaHCO_3$ cần cung cấp nhiệt độ, là phản ứng thu nhiệt.\n\t\t\t\\end{enumerate}\n\t\t\tVậy có 3 quá trình thu nhiệt là (1), (4), (5).\n\t\t}\n\t\\end{bt}\n\t%%%=============SA_3=============%%%\n\t\\begin{bt}\n\t\tCho bảng Enthalpy tạo thành chuẩn ($\\Delta_fH^\\circ_{298}$) của một số chất như sau:\n\t\t\\begin{center}\n\t\t\t\\begin{tabular}{|c|c|}\n\t\t\t\t\\hline\n\t\t\t\tChất & $\\Delta_fH^\\circ_{298}$ (kJ/mol) \\\\\n\t\t\t\t\\hline\n\t\t\t\t$CaCO_3(s)$ & $-1206{,}90$ \\\\\n\t\t\t\t$CH_4(g)$ & $-74{,}87$ \\\\\n\t\t\t\t$CaO(s)$ & $-634{,}90$ \\\\\n\t\t\t\t$H_2O(l)$ & $-285{,}84$ \\\\\n\t\t\t\t$CO_2(g)$ & $-393{,}50$ \\\\\n\t\t\t\t$O_2(g)$ & $0$ \\\\\n\t\t\t\t\\hline\n\t\t\t\\end{tabular}\n\t\t\\end{center}\n\t\tỞ điều kiện chuẩn, cần phải đốt cháy hoàn toàn bao nhiêu gam $CH_4(g)$ để cung cấp đủ nhiệt lượng cho phản ứng tạo 1 mol $CaO(s)$ bằng cách nung $CaCO_3(s)$? Giả thiết hiệu suất các quá trình đều là 100\\%. (Kết quả làm tròn đến 2 chữ số thập phân).\n\t\t\\shortans{3.21}\n\t\t\\loigiai{\n\t\t\tPhản ứng nung vôi: $CaCO_3(s) \\xrightarrow[$t^\\circ$] CaO(s) + CO_2(g)$ (1)\n\t\t\t\\\\\n\t\t\tBiến thiên enthalpy của phản ứng (1):\n\t\t\t\\[ \\Delta_rH^\\circ_{298}(1) = \\Delta_fH^\\circ_{298}(CaO, s) + \\Delta_fH^\\circ_{298}(CO_2, g) - \\Delta_fH^\\circ_{298}(CaCO_3, s) \\]\n\t\t\t\\[ \\Delta_rH^\\circ_{298}(1) = (-634{,}90) + (-393{,}50) - (-1206{,}90) = +178{,}50 \\text{ kJ} \\]\n\t\t\tPhản ứng này thu nhiệt, để tạo 1 mol CaO cần cung cấp $178{,}50$ kJ.\n\t\t\t\\\\\n\t\t\tPhản ứng đốt cháy methane: $CH_4(g) + 2O_2(g) \\rightarrow CO_2(g) + 2H_2O(l)$ (2)\n\t\t\t\\\\\n\t\t\tBiến thiên enthalpy của phản ứng (2):\n\t\t\t\\[ \\Delta_rH^\\circ_{298}(2) = \\Delta_fH^\\circ_{298}(CO_2, g) + 2\\Delta_fH^\\circ_{298}(H_2O, l) - [\\Delta_fH^\\circ_{298}(CH_4, g) + 2\\Delta_fH^\\circ_{298}(O_2, g)] \\]\n\t\t\t\\[ \\Delta_rH^\\circ_{298}(2) = (-393{,}50) + 2(-285{,}84) - [(-74{,}87) + 2(0)] \\]\n\t\t\t\\[ \\Delta_rH^\\circ_{298}(2) = -393{,}50 - 571{,}68 + 74{,}87 = -890{,}31 \\text{ kJ} \\]\n\t\t\tPhản ứng này tỏa nhiệt. Đốt cháy 1 mol $CH_4$ tỏa ra $890{,}31$ kJ.\n\t\t\t\\\\\n\t\t\tĐể cung cấp $178{,}50$ kJ nhiệt, số mol $CH_4$ cần đốt là:\n\t\t\t\\[ n_{CH_4} = \\frac{\\text{Nhiệt lượng cần cung cấp}}{\\text{Nhiệt lượng tỏa ra từ 1 mol } CH_4} = \\frac{178{,}50}{890{,}31} \\approx 0{,}20049 \\text{ mol} \\]\n\t\t\tKhối lượng $CH_4$ cần đốt (M = 16 g/mol):\n\t\t\t\\[ m_{CH_4} = n_{CH_4} \\times M_{CH_4} = 0{,}20049 \\times 16 \\approx 3{,}20784 \\text{ g} \\]\n\t\t\tLàm tròn đến 2 chữ số thập phân là $3{,}21$ g.\n\t\t}\n\t\\end{bt}\n\t%%%%%============BT_01================%%%%%%\n\t\\begin{bt}\n\t\tTính pH của các dung dịch sau ở $25^\\circ C$:\n\t\t\\begin{enumerate}\n\t\t\t\t\\item Dung dịch $H_2SO_4$ 0,005M (coi $H_2SO_4$ điện li hoàn toàn cả hai nấc).\n\t\t\t\t\\item Dung dịch $KOH$ 0,002M.\n\t\t\t\t\\item Dung dịch $CH_3COOH$ 0,1M, biết $K_a = 1,75 \\cdot 10^{-5}$.\n\t\t\t\\end{enumerate}\n\t\t\\loigiai{\n\t\t\t\\begin{enumerate}\n\t\t\t\t\t\\item $H_2SO_4 \\rightarrow 2H^+ + SO_4^{2-}$\n\t\t\t\t\t$[H^+] = 2 \\times 0,005 M = 0,01 M = 10^{-2} M$.\n\t\t\t\t\t$pH = -\\log(10^{-2}) = 2$.\n\t\t\t\t\t\\item $KOH \\rightarrow K^+ + OH^-$\n\t\t\t\t\t$[OH^-] = 0,002 M = 2 \\cdot 10^{-3} M$.\n\t\t\t\t\t$pOH = -\\log(2 \\cdot 10^{-3}) \\approx 2,7$.\n\t\t\t\t\t$pH = 14 - pOH = 14 - 2,7 = 11,3$.\n\t\t\t\t\t\\item $CH_3COOH \\rightleftharpoons CH_3COO^- + H^+$\n\t\t\t\t\t$[H^+] \\approx \\sqrt{K_a \\cdot C_0} = \\sqrt{1,75 \\cdot 10^{-5} \\cdot 0,1} = \\sqrt{1,75 \\cdot 10^{-6}} \\approx 1,32 \\cdot 10^{-3} M$.\n\t\t\t\t\t$pH = -\\log(1,32 \\cdot 10^{-3}) \\approx 2,88$.\n\t\t\t\t\\end{enumerate}\n\t\t\t}\n\t\\end{bt}\n\t%%%%%============BT_02================%%%%%%\n\t\\begin{bt}\n\t\tViết phương trình phân tử, ion đầy đủ và ion rút gọn cho các phản ứng (nếu có) xảy ra khi trộn các cặp dung dịch sau:\n\t\t\\begin{enumerate}\n\t\t\t\t\\item $FeCl_3$ và $NaOH$.\n\t\t\t\t\\item $Na_2CO_3$ và $HCl$.\n\t\t\t\t\\item $CuSO_4$ và $Ba(NO_3)_2$.\n\t\t\t\t\\item $KNO_3$ và $NaCl$.\n\t\t\t\\end{enumerate}\n\t\t\\loigiai{\n\t\t\t\\begin{enumerate}\n\t\t\t\t\t\\item $FeCl_3$ và $NaOH$:\n\t\t\t\t\tPT phân tử: $FeCl_3(aq) + 3NaOH(aq) \\rightarrow Fe(OH)_3(s) + 3NaCl(aq)$\n\t\t\t\t\tPT ion đầy đủ: $Fe^{3+}(aq) + 3Cl^-(aq) + 3Na^+(aq) + 3OH^-(aq) \\rightarrow Fe(OH)_3(s) + 3Na^+(aq) + 3Cl^-(aq)$\n\t\t\t\t\tPT ion rút gọn: $Fe^{3+}(aq) + 3OH^-(aq) \\rightarrow Fe(OH)_3(s)$\n\t\t\t\t\t\\item $Na_2CO_3$ và $HCl$:\n\t\t\t\t\tPT phân tử: $Na_2CO_3(aq) + 2HCl(aq) \\rightarrow 2NaCl(aq) + H_2O(l) + CO_2(g)$\n\t\t\t\t\tPT ion đầy đủ: $2Na^+(aq) + CO_3^{2-}(aq) + 2H^+(aq) + 2Cl^-(aq) \\rightarrow 2Na^+(aq) + 2Cl^-(aq) + H_2O(l) + CO_2(g)$\n\t\t\t\t\tPT ion rút gọn: $CO_3^{2-}(aq) + 2H^+(aq) \\rightarrow H_2O(l) + CO_2(g)$\n\t\t\t\t\t\\item $CuSO_4$ và $Ba(NO_3)_2$:\n\t\t\t\t\tPT phân tử: $CuSO_4(aq) + Ba(NO_3)_2(aq) \\rightarrow BaSO_4(s) + Cu(NO_3)_2(aq)$\n\t\t\t\t\tPT ion đầy đủ: $Cu^{2+}(aq) + SO_4^{2-}(aq) + Ba^{2+}(aq) + 2NO_3^-(aq) \\rightarrow BaSO_4(s) + Cu^{2+}(aq) + 2NO_3^-(aq)$\n\t\t\t\t\tPT ion rút gọn: $Ba^{2+}(aq) + SO_4^{2-}(aq) \\rightarrow BaSO_4(s)$\n\t\t\t\t\t\\item $KNO_3$ và $NaCl$:\n\t\t\t\t\tKhông có phản ứng xảy ra vì không tạo kết tủa, khí hay chất điện li yếu. Các ion vẫn tồn tại độc lập trong dung dịch.\n\t\t\t\t\\end{enumerate}\n\t\t\t}\n\t\\end{bt}\n## Văn phong:\n - Sư phạm, khoa học, kiến thức được cập nhật chính xác từ các nguồn tin cậy không bịa đặt thông tin","type":"string"},{"id":"cfb4f5ab-88f0-4971-a799-73033f9501d9","name":"=chat_Id","value":"={{ $('CREATE_MATRIX_INPUT').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4896,-2352],"id":"7d293713-890a-4ea9-9214-6f2912021277","name":"input_Ai_agent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4688,-2352],"id":"65011f5a-a480-41ad-baa0-21fe5fb6e7fa","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3904,-2096],"id":"bc656a0e-95d0-411e-9801-ca0fb1f1f7fb","name":"Wait","webhookId":"bc9e50cf-cf2e-4d82-948a-d61455a22ade"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"choice","operator":{"type":"string","operation":"contains"},"id":"9aae6250-bd97-4bcb-b8bd-cef58e6405d1"}],"combinator":"and"},"renameOutput":true,"outputKey":"EX_AND_TF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a3b468d-5b29-4e4c-8822-a100a4e00ee5","leftValue":"={{ $json.output }}","rightValue":"begin{bt}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SA_and_BT"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3760,-2368],"id":"46902a8a-bc62-493f-9f92-fdc6f5b45f6e","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0f9e360-5330-41d7-b375-9637ac76acdb","leftValue":"={{ $json.output }}","rightValue":"choiceTF","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3552,-2592],"id":"7407df1b-b8ea-41b5-aa90-b8d08c08192f","name":"Is_EX"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0f9e360-5330-41d7-b375-9637ac76acdb","leftValue":"={{ $json.output }}","rightValue":"shortans","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3536,-2288],"id":"19555caf-b6e5-4f31-8515-1746cfa1875a","name":"Is_SA"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3312,-2736],"id":"0d2b91b2-e3ee-49b1-9a8b-3fd396417c1b","name":"merge_to_list_EX"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3312,-2560],"id":"128f1020-5959-4c5e-b396-281e4190223c","name":"merge_to_list_TF"},{"parameters":{"jsCode":"// Lấy dữ liệu từ item đầu tiên đi vào node.\n// Giả định rằng dữ liệu bạn muốn xử lý nằm trong items[0].json.output\nconst inputItems = $input.first().json.output;\n\n// Kiểm tra xem inputItems có phải là một mảng không, nếu không thì báo lỗi.\nif (!Array.isArray(inputItems)) {\n  throw new Error(\"Dữ liệu đầu vào không phải là một mảng. Vui lòng kiểm tra cấu trúc dữ liệu.\");\n}\n\n// Nối tất cả các phần tử trong mảng thành một chuỗi lớn duy nhất để xử lý.\n// Điều này đảm bảo rằng chúng ta không bỏ lỡ các bài tập bị tách ra giữa các phần tử của mảng.\nconst fullLatexString = inputItems.join('\\n');\n\n// Sử dụng biểu thức chính quy (regex) để tìm tất cả các khối bắt đầu bằng \\begin{ex}\n// và kết thúc bằng \\end{ex}.\n// - /.../g : Tìm tất cả các kết quả khớp, không chỉ kết quả đầu tiên.\n// - [\\s\\S]*? : Khớp với bất kỳ ký tự nào (bao gồm cả ký tự xuống dòng) một cách \"lười biếng\" (non-greedy).\nconst exerciseRegex = /\\\\begin{ex}[\\s\\S]*?\\\\end{ex}/g;\nconst matchedExercises = fullLatexString.match(exerciseRegex);\n\n// Mảng để lưu trữ kết quả đầu ra\nconst resultItems = [];\n\n// Nếu tìm thấy các bài tập, hãy xử lý chúng\nif (matchedExercises) {\n  // Lặp qua từng khối bài tập đã tìm thấy\n  for (let i = 0; i < matchedExercises.length; i++) {\n    const exerciseContent = matchedExercises[i];\n    const exerciseNumber = i + 1;\n\n    // Tạo chuỗi tiêu đề được đánh số\n    const header = `%%%============EX_${exerciseNumber}=============%%%`;\n\n    // Kết hợp tiêu đề và nội dung bài tập\n    const finalContent = `${header}\\n${exerciseContent}`;\n\n    // Tạo một item mới theo định dạng mà n8n yêu cầu.\n    // Mỗi đối tượng trong mảng trả về sẽ trở thành một item riêng biệt ở đầu ra của node.\n    resultItems.push({\n      json: {\n        EX: finalContent\n      }\n    });\n  }\n}\n\n// Trả về mảng các item mới.\nreturn resultItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3168,-2736],"id":"4abe15d0-8385-457e-807d-94c213cc14ba","name":"EX"},{"parameters":{"jsCode":"// Lấy dữ liệu từ item đầu tiên đi vào node.\n// Giả định rằng dữ liệu bạn muốn xử lý nằm trong items[0].json.output\nconst inputItems = $input.first().json.output;\n\n// Kiểm tra xem inputItems có phải là một mảng không, nếu không thì báo lỗi.\nif (!Array.isArray(inputItems)) {\n  throw new Error(\"Dữ liệu đầu vào không phải là một mảng. Vui lòng kiểm tra cấu trúc dữ liệu.\");\n}\n\n// Nối tất cả các phần tử trong mảng thành một chuỗi lớn duy nhất để xử lý.\n// Điều này đảm bảo rằng chúng ta không bỏ lỡ các bài tập bị tách ra giữa các phần tử của mảng.\nconst fullLatexString = inputItems.join('\\n');\n\n// Sử dụng biểu thức chính quy (regex) để tìm tất cả các khối bắt đầu bằng \\begin{ex}\n// và kết thúc bằng \\end{ex}.\n// - /.../g : Tìm tất cả các kết quả khớp, không chỉ kết quả đầu tiên.\n// - [\\s\\S]*? : Khớp với bất kỳ ký tự nào (bao gồm cả ký tự xuống dòng) một cách \"lười biếng\" (non-greedy).\nconst exerciseRegex = /\\\\begin{ex}[\\s\\S]*?\\\\end{ex}/g;\nconst matchedExercises = fullLatexString.match(exerciseRegex);\n\n// Mảng để lưu trữ kết quả đầu ra\nconst resultItems = [];\n\n// Nếu tìm thấy các bài tập, hãy xử lý chúng\nif (matchedExercises) {\n  // Lặp qua từng khối bài tập đã tìm thấy\n  for (let i = 0; i < matchedExercises.length; i++) {\n    const exerciseContent = matchedExercises[i];\n    const exerciseNumber = i + 1;\n\n    // Tạo chuỗi tiêu đề được đánh số\n    const header = `%%%============TF_${exerciseNumber}=============%%%`;\n\n    // Kết hợp tiêu đề và nội dung bài tập\n    const finalContent = `${header}\\n${exerciseContent}`;\n\n    // Tạo một item mới theo định dạng mà n8n yêu cầu.\n    // Mỗi đối tượng trong mảng trả về sẽ trở thành một item riêng biệt ở đầu ra của node.\n    resultItems.push({\n      json: {\n        TF: finalContent\n      }\n    });\n  }\n}\n\n// Trả về mảng các item mới.\nreturn resultItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3168,-2560],"id":"cf6d45eb-9621-4467-b5ea-e5597541a525","name":"TF"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3312,-2400],"id":"c12318c3-41b1-4928-a522-03af73d5dc01","name":"merge_to_list_SA"},{"parameters":{"jsCode":"// Lấy dữ liệu từ item đầu tiên đi vào node.\n// Giả định rằng dữ liệu bạn muốn xử lý nằm trong items[0].json.output\nconst inputItems = $input.first().json.output;\n\n// Kiểm tra xem inputItems có phải là một mảng không, nếu không thì báo lỗi.\nif (!Array.isArray(inputItems)) {\n  throw new Error(\"Dữ liệu đầu vào không phải là một mảng. Vui lòng kiểm tra cấu trúc dữ liệu.\");\n}\n\n// Nối tất cả các phần tử trong mảng thành một chuỗi lớn duy nhất để xử lý.\n// Điều này đảm bảo rằng chúng ta không bỏ lỡ các bài tập bị tách ra giữa các phần tử của mảng.\nconst fullLatexString = inputItems.join('\\n');\n\n// Sử dụng biểu thức chính quy (regex) để tìm tất cả các khối bắt đầu bằng \\begin{ex}\n// và kết thúc bằng \\end{ex}.\n// - /.../g : Tìm tất cả các kết quả khớp, không chỉ kết quả đầu tiên.\n// - [\\s\\S]*? : Khớp với bất kỳ ký tự nào (bao gồm cả ký tự xuống dòng) một cách \"lười biếng\" (non-greedy).\nconst exerciseRegex = /\\\\begin{bt}[\\s\\S]*?\\\\end{bt}/g;\nconst matchedExercises = fullLatexString.match(exerciseRegex);\n\n// Mảng để lưu trữ kết quả đầu ra\nconst resultItems = [];\n\n// Nếu tìm thấy các bài tập, hãy xử lý chúng\nif (matchedExercises) {\n  // Lặp qua từng khối bài tập đã tìm thấy\n  for (let i = 0; i < matchedExercises.length; i++) {\n    const exerciseContent = matchedExercises[i];\n    const exerciseNumber = i + 1;\n\n    // Tạo chuỗi tiêu đề được đánh số\n    const header = `%%%============SA_${exerciseNumber}=============%%%`;\n\n    // Kết hợp tiêu đề và nội dung bài tập\n    const finalContent = `${header}\\n${exerciseContent}`;\n\n    // Tạo một item mới theo định dạng mà n8n yêu cầu.\n    // Mỗi đối tượng trong mảng trả về sẽ trở thành một item riêng biệt ở đầu ra của node.\n    resultItems.push({\n      json: {\n        SA: finalContent\n      }\n    });\n  }\n}\n\n// Trả về mảng các item mới.\nreturn resultItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3168,-2400],"id":"8c6334f4-c855-4ef5-ad9c-3f709b38729e","name":"SA"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3312,-2176],"id":"0134e0e9-453e-4e81-9bb3-36180c7ead42","name":"merge_to_list_BT"},{"parameters":{"jsCode":"// Lấy dữ liệu từ item đầu tiên đi vào node.\n// Giả định rằng dữ liệu bạn muốn xử lý nằm trong items[0].json.output\nconst inputItems = $input.first().json.output;\n\n// Kiểm tra xem inputItems có phải là một mảng không, nếu không thì báo lỗi.\nif (!Array.isArray(inputItems)) {\n  throw new Error(\"Dữ liệu đầu vào không phải là một mảng. Vui lòng kiểm tra cấu trúc dữ liệu.\");\n}\n\n// Nối tất cả các phần tử trong mảng thành một chuỗi lớn duy nhất để xử lý.\n// Điều này đảm bảo rằng chúng ta không bỏ lỡ các bài tập bị tách ra giữa các phần tử của mảng.\nconst fullLatexString = inputItems.join('\\n');\n\n// Sử dụng biểu thức chính quy (regex) để tìm tất cả các khối bắt đầu bằng \\begin{ex}\n// và kết thúc bằng \\end{ex}.\n// - /.../g : Tìm tất cả các kết quả khớp, không chỉ kết quả đầu tiên.\n// - [\\s\\S]*? : Khớp với bất kỳ ký tự nào (bao gồm cả ký tự xuống dòng) một cách \"lười biếng\" (non-greedy).\nconst exerciseRegex = /\\\\begin{bt}[\\s\\S]*?\\\\end{bt}/g;\nconst matchedExercises = fullLatexString.match(exerciseRegex);\n\n// Mảng để lưu trữ kết quả đầu ra\nconst resultItems = [];\n\n// Nếu tìm thấy các bài tập, hãy xử lý chúng\nif (matchedExercises) {\n  // Lặp qua từng khối bài tập đã tìm thấy\n  for (let i = 0; i < matchedExercises.length; i++) {\n    const exerciseContent = matchedExercises[i];\n    const exerciseNumber = i + 1;\n\n    // Tạo chuỗi tiêu đề được đánh số\n    const header = `%%%============BT_${exerciseNumber}=============%%%`;\n\n    // Kết hợp tiêu đề và nội dung bài tập\n    const finalContent = `${header}\\n${exerciseContent}`;\n\n    // Tạo một item mới theo định dạng mà n8n yêu cầu.\n    // Mỗi đối tượng trong mảng trả về sẽ trở thành một item riêng biệt ở đầu ra của node.\n    resultItems.push({\n      json: {\n        BT: finalContent\n      }\n    });\n  }\n}\n\n// Trả về mảng các item mới.\nreturn resultItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3168,-2176],"id":"c2bdcd56-b220-47ef-8b6e-a28cfd2681b9","name":"BT"},{"parameters":{"jsCode":"const allQuestionStrings = items.map(item => item.json.EX);\n\n// Bước 2: Nối tất cả các chuỗi câu hỏi trong mảng vừa tạo thành một chuỗi duy nhất.\n// Sử dụng '\\n\\n' để tạo một dòng trống ngăn cách giữa các câu hỏi, giúp dễ đọc hơn.\nconst combinedString = allQuestionStrings.join('\\n\\n');\n\n// Bước 3: Trả về kết quả dưới dạng một item duy nhất theo định dạng đầu ra của n8n.\n// Chuỗi đã được kết hợp sẽ nằm trong thuộc tính 'combined_output'.\nreturn [\n  {\n    json: {\n      combined_output: combinedString\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3040,-2736],"id":"4448885a-e048-4cb1-84f9-6784599a6068","name":"join_EX"},{"parameters":{"jsCode":"const allQuestionStrings = items.map(item => item.json.TF);\n\n// Bước 2: Nối tất cả các chuỗi câu hỏi trong mảng vừa tạo thành một chuỗi duy nhất.\n// Sử dụng '\\n\\n' để tạo một dòng trống ngăn cách giữa các câu hỏi, giúp dễ đọc hơn.\nconst combinedString = allQuestionStrings.join('\\n\\n');\n\n// Bước 3: Trả về kết quả dưới dạng một item duy nhất theo định dạng đầu ra của n8n.\n// Chuỗi đã được kết hợp sẽ nằm trong thuộc tính 'combined_output'.\nreturn [\n  {\n    json: {\n      combined_output: combinedString\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3040,-2560],"id":"91628eaf-d8a9-4a3e-9b37-9c0584a1e95e","name":"join_TF"},{"parameters":{"jsCode":"const allQuestionStrings = items.map(item => item.json.SA);\n\n// Bước 2: Nối tất cả các chuỗi câu hỏi trong mảng vừa tạo thành một chuỗi duy nhất.\n// Sử dụng '\\n\\n' để tạo một dòng trống ngăn cách giữa các câu hỏi, giúp dễ đọc hơn.\nconst combinedString = allQuestionStrings.join('\\n\\n');\n\n// Bước 3: Trả về kết quả dưới dạng một item duy nhất theo định dạng đầu ra của n8n.\n// Chuỗi đã được kết hợp sẽ nằm trong thuộc tính 'combined_output'.\nreturn [\n  {\n    json: {\n      combined_output: combinedString\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3040,-2400],"id":"94f6d030-4157-4c5e-9135-bee9eb64dbed","name":"join_SA"},{"parameters":{"assignments":{"assignments":[{"id":"ded82117-0a76-4c8a-b79f-6421a3816e8c","name":"file_output","value":"=\\documentclass[FileMain_Ver1.tex]{subfiles}\n\\gdef\\sophong{`{{ $json.ten_so_phong }}`}\n\\gdef\\truong{`{{ $json.ten_truong }}`}\n\\gdef\\monhoc{`{{ $json.mon_thi }}`}\n\\gdef\\lop{`{{$json.lop }}`}\n\\gdef\\nh{`{{ $json.nam_hoc }}`}\n\\gdef\\thoigian{`{{ $json.thoi_gian }}`}\n\\setcounter{demsode}{`{{ $json.STT_De_Thi }}`}\n\\gdef\\loaide{ĐỀ SỐ \\circlenumH[\\mycolor]{\\fontfamily{ugq}\\selectfont\\large\\thedemsode}}\n\\pgfmathsetmacro{\\made}{random(100,401)}\n\\begin{document}\n    %%%====Hiển thị Mục Lục=======%%%\n    %\\setcounter{tocdepth}{1}\n    %\\setcounter{secnumdepth}{3}\n    %\\tableofcontents\n    %%%====Điều chỉnh lời giải=======%%%\n%    \\tatloigiai\n\t\\dongkeloigiai\n    %\\hienthiloigiai\n    %\\sodongke[4]{ex}\n    %\\sodongke[8]{bt}\n    \\section[{{ $json.ten_ki_thi_sub }}  - Mã đề \\made]{ {{ $json.ten_ki_thi }}}\n%%%==============Phần trắc nghiệm nhiều lựa chọn==============%%%    \n\\subsection{Bài tập trắc nghiệm nhiều lựa chọn}\n\\Opensolutionfile{ansex}[Ans/LGEX-{{ $json.file_DA }}]\n\\Opensolutionfile{ans}[Ans/Ans-{{ $json.file_DA }}]\n{{ $('join_EX').item.json.combined_output }}\n\\Closesolutionfile{ans}\n\\Closesolutionfile{ansex}\n%\\bangdapan{Ans-{{ $json.file_DA }}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2720,-2736],"id":"2fee92f7-eea0-444b-890a-65e38c109fd6","name":"file_output_ex"},{"parameters":{"assignments":{"assignments":[{"id":"ded82117-0a76-4c8a-b79f-6421a3816e8c","name":"file_output","value":"=%%%==============Phần trắc nghiệm đúng sai==============%%% \n\\subsection{Trắc nghiệm đúng sai}\n\\Opensolutionfile{ansex}[Ans/LGTF-{{ $json.file_DA }}]\n\\Opensolutionfile{ansbook}[Ansbook/AnsTF-{{ $json.file_DA }}]\n\\Opensolutionfile{ans}[Ans/Tempt-{{ $json.file_DA }}]\n{{ $('join_TF').item.json.combined_output }}\n\\Closesolutionfile{ans}\n\\Closesolutionfile{ansbook}\n\\Closesolutionfile{ansex}\n%\\bangdapanTF{AnsTF-{{ $json.file_DA }}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2720,-2560],"id":"9c6ea7eb-57b5-4b8b-865c-1092ed39b571","name":"file_output_tf"},{"parameters":{"assignments":{"assignments":[{"id":"ded82117-0a76-4c8a-b79f-6421a3816e8c","name":"file_output","value":"=%%%==============Phần bài tập trả lời ngắn==============%%% \n\\subsection{Bài tập trả lời ngắn}\n\\Opensolutionfile{ansbth}[Ans/LGSA-{{ $json.file_DA }}]\n\\Opensolutionfile{ansbt}[Ans/AnsSA-{{ $json.file_DA }}]\n{{ $('join_SA').item.json.combined_output }}\n\\Closesolutionfile{ansbt}\n\\Closesolutionfile{ansbth}\n%\\bangdapanSA{AnsSA-{{ $json.file_DA }}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2720,-2400],"id":"d12c6881-b737-4258-89a1-f75f98007099","name":"file_output_sa"},{"parameters":{"jsCode":"const allQuestionStrings = items.map(item => item.json.BT);\n\n// Bước 2: Nối tất cả các chuỗi câu hỏi trong mảng vừa tạo thành một chuỗi duy nhất.\n// Sử dụng '\\n\\n' để tạo một dòng trống ngăn cách giữa các câu hỏi, giúp dễ đọc hơn.\nconst combinedString = allQuestionStrings.join('\\n\\n');\n\n// Bước 3: Trả về kết quả dưới dạng một item duy nhất theo định dạng đầu ra của n8n.\n// Chuỗi đã được kết hợp sẽ nằm trong thuộc tính 'combined_output'.\nreturn [\n  {\n    json: {\n      combined_output: combinedString\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3040,-2176],"id":"957ca339-afe6-40a0-aea4-e7fef619be8a","name":"join_BT"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2368,-2384],"id":"b134a2b8-22e9-4cbd-9d51-456d045a2382","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"ded82117-0a76-4c8a-b79f-6421a3816e8c","name":"file_output","value":"=%%%==============Phần bài tập tự luận==============%%%    \n\\subsection{Bài tập tự luận}\n\\Opensolutionfile{ansbth}[Ans/LGBT-{{ $json.file_DA }}]\n\\Opensolutionfile{ansbt}[Ans/AnsBT-{{ $json.file_DA }}]\n{{ $('join_BT').item.json.combined_output }}\n\\Closesolutionfile{ansbt}\n\\Closesolutionfile{ansbth}\n%\\bangdapanSA{AnsBT-{{ $json.file_DA }}}\n\\fileend\n\\end{document}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2720,-2176],"id":"9b1c108b-2eba-41f5-93a7-fdcce2e731f3","name":"file_output_bt"},{"parameters":{"jsCode":"const allFileStrings = items.map(item => item.json.file_output);\n\n// Bước 2: Nối tất cả các chuỗi trong mảng vừa tạo thành một chuỗi duy nhất.\n// Sử dụng '\\n' để tạo một dòng mới ngăn cách giữa các phần nội dung.\nconst combinedString = allFileStrings.join('\\n');\n\n// Bước 3: Trả về kết quả dưới dạng một item duy nhất theo định dạng đầu ra của n8n.\n// Chuỗi đã được kết hợp sẽ nằm trong thuộc tính 'combined_output'.\nreturn [\n  {\n    json: {\n      combined_output: combinedString\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,-2352],"id":"b0c30f2d-cc81-493e-9d83-83a356be1191","name":"join_to_file_content"},{"parameters":{"model":"openai/gpt-5-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-4400,-2064],"id":"8a3e3c2b-ce10-4232-91f6-50b75c5b1709","name":"gpt 5 nano","credentials":{"openRouterApi":{"id":"3EiU5aoaBVhemy6a","name":"deepseek-r1-0528-qwen3-8b"}}},{"parameters":{"promptType":"define","text":"={{ $json.user_prompt }}","needsFallback":true,"options":{"systemMessage":"={{ $json.system_promt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-4448,-2288],"id":"888d26ae-651f-48f5-b5c7-56cffcc88475","name":"CREATE_MATRIX_EXAM"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pmgxt61xd7t6ywx","table":"mrpptm947v4jdjg","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-2864,-2736],"id":"bb932cc9-c1f3-49e2-9bb0-8d38b612106e","name":"Get_infor_ex","credentials":{"nocoDbApiToken":{"id":"1CLDf2cb4oYaVzJf","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pmgxt61xd7t6ywx","table":"mrpptm947v4jdjg","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-2864,-2560],"id":"813ce727-d16a-4b48-8861-34446d653b3b","name":"Get_infor_tf","credentials":{"nocoDbApiToken":{"id":"1CLDf2cb4oYaVzJf","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pmgxt61xd7t6ywx","table":"mrpptm947v4jdjg","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-2880,-2400],"id":"2b353db8-6ba7-4c7e-8078-bd3d56795b56","name":"Get_infor_sa","credentials":{"nocoDbApiToken":{"id":"1CLDf2cb4oYaVzJf","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pmgxt61xd7t6ywx","table":"mrpptm947v4jdjg","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-2880,-2176],"id":"bdadcf53-0f53-4505-9cf1-47e6dd2763c8","name":"Get_infor_bt","credentials":{"nocoDbApiToken":{"id":"1CLDf2cb4oYaVzJf","name":"NocoDB Token account"}}},{"parameters":{"model":"deepseek/deepseek-r1:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-4528,-2064],"id":"0a89aa02-86bb-4648-bece-269f05dc9823","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"21oWA9tW5hDh5iRZ","name":"OpenRouterfree"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-4944,-2608],"id":"5edf1796-6987-46e8-a438-12677e8daa29","name":"CREATE_MATRIX_INPUT","webhookId":"3d1ebb15-bdff-4142-95ef-dcfaf190f617","credentials":{"telegramApi":{"id":"fP6SZt8Z3ASnxJry","name":"CREATE_EXAM_MATRIX"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0dbd83cc-03f4-4f60-97ec-3254e6207655","leftValue":"={{ $json.combined_output }}","rightValue":"=end{document}","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2096,-2352],"id":"1124cb9d-0f7e-4a87-8749-a4f3160dd941","name":"If"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"filename_output\": \"Creat_Matrix_{{$now.format('hh-mm-ss_dd-MM-yyyy')}}.tex\",\n  \"content_to_write\": {{ JSON.stringify($json.combined_output+\"\\n\\\\fileend\\n\\\\end{documnet}\")}}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,-2496],"id":"09506068-37ee-49da-bdcf-2836c6db50fb","name":"File_content_3_part"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"filename_output\": \"Creat_Matrix_{{$now.format('hh-mm-ss_dd-MM-yyyy')}}.tex\",\n  \"content_to_write\": {{ JSON.stringify($json.combined_output) }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,-2176],"id":"fdc353a7-1b75-4c8f-94be-42153c111606","name":"File_content_4_part"}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"CREATE_MATRIX_EXAM","type":"ai_memory","index":0}]]},"PROMT_CREATE_QUESTION":{"main":[[{"node":"input_Ai_agent","type":"main","index":0}]]},"OUTPUT_AI_AGENT":{"main":[[{"node":"Switch","type":"main","index":0}]]},"write_file_request":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Get_matrix":{"main":[[{"node":"PROMT_CREATE_QUESTION","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Send a document","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Get_matrix","type":"main","index":0}]]},"input_Ai_agent":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"OUTPUT_AI_AGENT","type":"main","index":0}],[{"node":"CREATE_MATRIX_EXAM","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Is_EX","type":"main","index":0}],[{"node":"Is_SA","type":"main","index":0}]]},"Is_EX":{"main":[[{"node":"merge_to_list_EX","type":"main","index":0}],[{"node":"merge_to_list_TF","type":"main","index":0}]]},"Is_SA":{"main":[[{"node":"merge_to_list_SA","type":"main","index":0}],[{"node":"merge_to_list_BT","type":"main","index":0}]]},"merge_to_list_EX":{"main":[[{"node":"EX","type":"main","index":0}]]},"merge_to_list_TF":{"main":[[{"node":"TF","type":"main","index":0}]]},"merge_to_list_SA":{"main":[[{"node":"SA","type":"main","index":0}]]},"merge_to_list_BT":{"main":[[{"node":"BT","type":"main","index":0}]]},"EX":{"main":[[{"node":"join_EX","type":"main","index":0}]]},"TF":{"main":[[{"node":"join_TF","type":"main","index":0}]]},"SA":{"main":[[{"node":"join_SA","type":"main","index":0}]]},"BT":{"main":[[{"node":"join_BT","type":"main","index":0}]]},"join_EX":{"main":[[{"node":"Get_infor_ex","type":"main","index":0}]]},"join_TF":{"main":[[{"node":"Get_infor_tf","type":"main","index":0}]]},"join_SA":{"main":[[{"node":"Get_infor_sa","type":"main","index":0}]]},"file_output_ex":{"main":[[{"node":"Merge","type":"main","index":0}]]},"join_BT":{"main":[[{"node":"Get_infor_bt","type":"main","index":0}]]},"file_output_tf":{"main":[[{"node":"Merge","type":"main","index":1}]]},"file_output_sa":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"join_to_file_content","type":"main","index":0}]]},"file_output_bt":{"main":[[{"node":"Merge","type":"main","index":3}]]},"join_to_file_content":{"main":[[{"node":"If","type":"main","index":0}]]},"gpt 5 nano":{"ai_languageModel":[[{"node":"CREATE_MATRIX_EXAM","type":"ai_languageModel","index":1}]]},"CREATE_MATRIX_EXAM":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get_infor_ex":{"main":[[{"node":"file_output_ex","type":"main","index":0}]]},"Get_infor_tf":{"main":[[{"node":"file_output_tf","type":"main","index":0}]]},"Get_infor_sa":{"main":[[{"node":"file_output_sa","type":"main","index":0}]]},"Get_infor_bt":{"main":[[{"node":"file_output_bt","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"CREATE_MATRIX_EXAM","type":"ai_languageModel","index":0}]]},"CREATE_MATRIX_INPUT":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"If":{"main":[[{"node":"File_content_3_part","type":"main","index":0}],[{"node":"File_content_4_part","type":"main","index":0}]]},"File_content_3_part":{"main":[[{"node":"write_file_request","type":"main","index":0}]]},"File_content_4_part":{"main":[[{"node":"write_file_request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"42a84152-5180-4b53-8757-de97588505f6","triggerCount":1,"tags":[]}