create_promt_gen_video_veo3-TbkFELb1hU8CAn8m.json
{"createdAt":"2025-08-19T05:37:12.583Z","updatedAt":"2025-08-20T08:57:17.925Z","id":"TbkFELb1hU8CAn8m","name":"CREATE_PROMT_GEN_VIDEO_VEO3","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1392,-208],"id":"9e4c20c9-6ce3-4fbe-97cc-ff99d06225f3","name":"Create_promt_veo3_input","webhookId":"8a9192ec-be73-42e3-b3ec-ed09f36d140e","credentials":{"telegramApi":{"id":"SugIvvhmJwgtMuQ8","name":"CREATE_PROMT_GEN_VEO3"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chatInput }}","tableName":"create_prompt_veo3_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-144,0],"id":"113b9a09-fc9d-476c-9aa5-8b6afc879706","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"assignments":{"assignments":[{"id":"5f896984-b923-4d4c-90e8-54d5aa866914","name":"chatInput","value":"={{ $json.text }}","type":"string"},{"id":"e7058ca5-7d1b-4da7-8bb6-b9129fe02add","name":"system_prompt","value":"={{ JSON.stringify($json.system_prompt) }}","type":"string"},{"id":"d4d53449-a1d2-4a5a-b029-4282f6b914d2","name":"chatId","value":"={{ $json.chatId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,-368],"id":"2f402381-1aa9-4684-8160-9792ab8e2f69","name":"INPUT_AIAGENT"},{"parameters":{"assignments":{"assignments":[{"id":"5f896984-b923-4d4c-90e8-54d5aa866914","name":"chatInput","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-368],"id":"db5b4a81-e908-4fda-94fa-aa0f5af6b6d4","name":"OUTPUT_AIAGENT"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a716a63-e03c-4b3e-99c3-603f2d3679fb","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"13462083-d42f-41a6-9ac9-77ff9d426fbd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b55227b-e1cb-4583-afa4-f8b42ab6535d","leftValue":"={{ $json.message.photo[2].file_id||$json.message.photo[3].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1120,-224],"id":"c246d96f-20ce-40fa-9436-6bd7594e35a1","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"={{ $json.system_prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-256,-368],"id":"338bec21-d0ce-4b9c-b41b-8532a6fb8821","name":"CREATE_PROMPT_VEO3_AIAGENT"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi {{ $json.message.from.username }} xíu nhé! Mình sẽ phản hồi cho cậu ngay.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-864,-368],"id":"4d709053-b8bb-4927-b550-067ccad9e7c5","name":"WAIT","webhookId":"5e8d33d5-106e-45bf-ade9-1c28d887bdd2","credentials":{"telegramApi":{"id":"SugIvvhmJwgtMuQ8","name":"CREATE_PROMT_GEN_VEO3"}}},{"parameters":{"assignments":{"assignments":[{"id":"d7496cac-8b4d-47a3-a68f-08bead1ad5c5","name":"text","value":"={{ $('Create_promt_veo3_input').item.json.message.text  }}","type":"string"},{"id":"39de0512-7c5e-4625-93c2-a66f91ccb2b5","name":"chatId","value":"={{ $('Create_promt_veo3_input').item.json.message.chat.id }}","type":"number"},{"id":"06035568-871d-4b93-836a-12d18050c2da","name":"system_prompt","value":"=# **System Prompt: Video Prompt Generator for VEo 3**\n\nYou are an **expert video prompt engineer** specializing in generating **highly detailed and cinematic prompts for VEo 3 video generation model**.\nYour task is to **always create prompts with all 12 essential components** to ensure realism, consistency, and cinematic quality.\n\n---\n\n## **Your Responsibilities**\n\n1. Always generate prompts following the **12 mandatory components**.\n2. Keep descriptions **clear, structured, and cinematic**.\n3. Avoid overly complex or contradictory descriptions.\n4. Always add **negative prompts** to remove undesired artifacts.\n\n---\n\n## **12 Mandatory Components for Every Prompt**\n\n1. **Subject (Nội dung chính)** → Define the main subject clearly.\n\n   * Example: *A young woman in a white dress*\n\n2. **Action (Hành động/Chuyển động)** → Specify what the subject is doing.\n\n   * Example: *walking gracefully, soaring, dancing*\n\n3. **Setting (Bối cảnh/Môi trường)** → Describe the location, time, or atmosphere.\n\n   * Example: *in a sunflower field at golden hour, on a snowy mountain peak*\n\n4. **Camera Work (Góc quay & Chuyển động Camera)** → Define shot type and camera movement.\n\n   * Example: *cinematic wide shot, smooth tracking shot, slow zoom in*\n\n5. **Lighting (Ánh sáng & Màu sắc)** → Specify lighting conditions and color tones.\n\n   * Example: *soft golden hour light, dramatic backlighting, warm palette*\n\n6. **Speed & Timing (Tốc độ & Nhịp điệu)** → Define motion pace.\n\n   * Example: *slow motion, real-time, perfectly synchronized timing*\n\n7. **Effects & Atmosphere (Hiệu ứng & Không khí)** → Add natural or fantasy effects.\n\n   * Example: *gentle breeze, floating dust particles, mystical fog*\n\n8. **Visual Style (Phong cách hình ảnh)** → Define style and look.\n\n   * Example: *cinematic, ultra-realistic, anime, oil painting style*\n\n9. **Technical Specs (Thông số kỹ thuật)** → Define length, aspect ratio, frame rate.\n\n   * Example: *12 seconds, 16:9 aspect ratio, 60fps*\n\n10. **Quality Modifiers (Chất lượng Render)** → Ensure clarity and resolution.\n\n* Example: *4K Ultra HD, sharp textures, perfectly stabilized*\n\n11. **Post-production & Color Grading (Hậu kỳ & Màu sắc)** → Define grading style.\n\n* Example: *film-like grading, HDR tone mapping, vibrant contrast*\n\n12. **Negative Prompts (Các yếu tố cần tránh)** → Explicitly state unwanted artifacts.\n\n* Example: *avoid blurry footage, pixelation, unnatural skin, harsh lighting*\n13.Character Voice & Dialogue Tone (Giọng điệu & Lời thoại nhân vật) →\nChỉ rõ giọng nói (deep, soft, energetic, calm, dramatic, whispering...)\nChỉ rõ cảm xúc (happy, sad, mysterious, authoritative, playful...)\n* Example: \"The young woman speaks with a soft, gentle tone full of warmth\", hoặc \"The wizard chants in a deep, powerful, echoing voice\"\n14. Character Dialogue (Lời thoại nhân vật) → Nội dung nhân vật nói, ví dụ:\n“We must protect this land at all costs!” (giọng mạnh mẽ, dõng dạc)\n“I’ve been waiting for you…” (giọng thì thầm, bí ẩn)\n“It’s so beautiful…” (giọng nhẹ nhàng, đầy cảm xúc)\n## **Final Prompt Structure**\n\n```\n[Subject] + [Action] + [Setting] + [Camera work] + [Lighting] + [Speed/Timing] + [Effects] + [Visual style] + [Technical specs] + [Quality modifiers] + [Post-production] + [Character Voice & Tone] + [Character Dialogue] + [Negative prompts]\n\n```\n---\n## **Example Output(only prompt, no explanation)**\n\n```\nA brave young warrior standing on a battlefield at dawn, gripping his sword tightly as the wind blows through his hair, cinematic wide shot slowly dollying in, golden hour backlighting with soft mist covering the ground, sparks and floating dust particles in the air, slow-motion as his cape flutters, epic cinematic fantasy style, 10 seconds duration, 16:9 aspect ratio, 60fps, 4K Ultra HD resolution with sharp textures and HDR grading, perfectly stabilized, his voice is deep and resonant filled with determination, he shouts “For honor and freedom!”, avoid blurry footage, pixelation, oversaturation, and jerky camera movements\n```\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,-368],"id":"6e3738a8-944b-4cd0-a229-c1f48628fb7b","name":"OUTPUT_TEXT"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-416,-16],"id":"17205617-e06b-41ba-beaa-31b27643e7ba","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"NMKcbGDcH6Ujn2GV","name":"OpenAi_GPT_4.1_mini"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-208,-176],"id":"11872c40-e1cf-4116-85d0-699d55a2d836","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"cj63td1781zMkdUi","name":"Google Gemini(PaLM) Api account 5"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[48,-176],"id":"fba17886-1ba4-47e7-9719-87ee5ff49b2d","name":"Auto-fixing Output Parser"},{"parameters":{"schemaType":"manual","inputSchema":"={\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Schema đầu ra cho Promt tạo video Veo3\",\n  \"description\": \"Một đối tượng JSON chứa promt bằng tiếng Việt và tiếng Anh để tạo video với Veo3.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"promt_vi\": {\n      \"description\": \"Promt chi tiết bằng tiếng Việt để AI tạo video.\",\n      \"type\": \"string\"\n    },\n    \"promt_eng\": {\n      \"description\": \"Promt chi tiết bằng tiếng Anh để AI tạo video.\",\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"promt_vi\",\n    \"promt_eng\"\n  ],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[176,0],"id":"6d790432-b967-4c70-bd27-92af44240764","name":"Structured Output Parser"}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"CREATE_PROMPT_VEO3_AIAGENT","type":"ai_memory","index":0}]]},"INPUT_AIAGENT":{"main":[[{"node":"CREATE_PROMPT_VEO3_AIAGENT","type":"main","index":0}]]},"Create_promt_veo3_input":{"main":[[{"node":"Switch","type":"main","index":0}]]},"CREATE_PROMPT_VEO3_AIAGENT":{"main":[[{"node":"OUTPUT_AIAGENT","type":"main","index":0}]]},"Switch":{"main":[[{"node":"WAIT","type":"main","index":0}]]},"WAIT":{"main":[[{"node":"OUTPUT_TEXT","type":"main","index":0}]]},"OUTPUT_TEXT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"CREATE_PROMPT_VEO3_AIAGENT","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"CREATE_PROMPT_VEO3_AIAGENT","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Create_promt_veo3_input":[{"json":{"update_id":879507307,"message":{"message_id":1189,"from":{"id":7638885552,"is_bot":false,"first_name":"Nguyen","last_name":"Duy","username":"edutechnd","language_code":"en"},"chat":{"id":7638885552,"first_name":"Nguyen","last_name":"Duy","username":"edutechnd","type":"private"},"date":1755678279,"text":"Cho tôi cảnh video con chim đại bàng bay giữa không trung"}}}]},"versionId":"aded6817-f367-4117-9e83-648932ab1598","triggerCount":1,"tags":[]}