download_video_yt-1HMC1wTNKjmRiXma.json
{"createdAt":"2025-11-11T20:07:01.335Z","updatedAt":"2025-11-11T20:20:18.369Z","id":"1HMC1wTNKjmRiXma","name":"DOWNLOAD_VIDEO_YT","active":false,"isArchived":false,"nodes":[{"parameters":{"command":"=yt-dlp --quiet --progress -x --audio-format mp3 -o \"/files/audio/%(title)s.%(ext)s\" \"{{ $json.chatInput }}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[16,0],"id":"34a89804-44ea-496c-b519-7b404b35d28b","name":"DOWND_MP3_FROM_URL_VIDEOYT","alwaysOutputData":true,"notesInFlow":true},{"parameters":{"fileSelector":"/files/audio/%(title)s.%(ext)s","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[240,0],"id":"4cf1ef5f-4229-47f4-865a-a631d1dcc4c1","name":"Read Files MP3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-224,0],"id":"4eef331e-3a69-4a54-b311-d0ff8b92b262","name":"When chat message received","webhookId":"8f2e282b-6a41-4a67-81c7-5126d7caba19"}],"connections":{"DOWND_MP3_FROM_URL_VIDEOYT":{"main":[[{"node":"Read Files MP3","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"DOWND_MP3_FROM_URL_VIDEOYT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2d15ae10-d819-47bf-bdc4-722a19adaf4e","triggerCount":0,"shared":[{"createdAt":"2025-11-11T20:07:01.335Z","updatedAt":"2025-11-11T20:07:01.335Z","role":"workflow:owner","workflowId":"1HMC1wTNKjmRiXma","projectId":"EIQckweL3OLW7kzz"}],"tags":[]}