edutechnd_chat_bot-Q5cbw7wIXLSitFnc.json
{"createdAt":"2025-07-11T07:32:26.497Z","updatedAt":"2025-08-18T07:22:09.278Z","id":"Q5cbw7wIXLSitFnc","name":"EDUTECHND_CHAT_BOT","active":true,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('INPUT_AIAGENT').item.json.chatId}}"},"id":"0a2a0ffd-a18b-4f8a-a438-0858d445bb2f","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-2032,1184],"notesInFlow":false,"credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a716a63-e03c-4b3e-99c3-603f2d3679fb","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"13462083-d42f-41a6-9ac9-77ff9d426fbd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b55227b-e1cb-4583-afa4-f8b42ab6535d","leftValue":"={{ $json.message.photo[2].file_id||$json.message.photo[3].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7425878f-3d45-418d-86d9-771832d5aff3","leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6144,1344],"id":"4d6af141-3ed2-4e3d-b8b4-dafa1203f70b","name":"Switch"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi {{ $json.message.from.username }} xíu nhé! Mình sẽ phản hồi cho cậu ngay.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-5728,768],"id":"277b3053-9880-4703-a654-ba2d2a26cdd3","name":"WAIT","webhookId":"47be1296-30de-4a30-b6c4-e5fc38175b23","credentials":{"telegramApi":{"id":"H38GrSJSfNeLcepl","name":"EDUTECHND_CHAT_BOT"}}},{"parameters":{"command":"=ffmpeg -i /files/audio/{{ $('Get_file_audio').item.binary.data.fileName }} -acodec libmp3lame /files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-4688,1328],"id":"5f43b5f7-d2c3-491a-8711-65d96847cf79","name":"Convert_oga_to_mp3"},{"parameters":{"fileSelector":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-4512,1328],"id":"89f85e57-02f0-4533-8025-4afb696bf5da","name":"Read_mp3"},{"parameters":{"operation":"write","fileName":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-4912,1328],"id":"de1f5812-6076-46bc-a38d-ca1f6fa96a70","name":"Write_file_oga_to_disk"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nfrom google import genai\nclient = genai.Client(api_key=api_key)\nfilepath=\"{{ $json.file_path }}\"\nmyfile = client.files.upload(file=filepath)\nresponse = client.models.generate_content(\n    model=\"{{ $json.MODEL_ID }}\", contents=[\"{{ $json.user_prompt }}\", myfile]\n)\nprint(response.text)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-4160,1328],"id":"c2d6c2a3-9074-407f-809a-c609d280d55b","name":"EXTRACT_TEXT_FROM_AUDIO"},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.0-flash","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"=Trích xuất nội dung file audio trên giúp và giữ nguyên nội dung","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=Bạn đóng vai chuyên gia trích xuất file audio chuyên nghiệp","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyCv1L3ZTgAEDtirbjRweXVwR8Kr6Dx5pXI\",\n\"AIzaSyAEtrr4jBlGNMTauGLKfbw2mi8wg-QOnC4\",\n\"AIzaSyBCuihk3vQPqRlsZJDZV2456XQIe80gjdA\",\n\"AIzaSyDZBvJaCzX9Ny555Rn2OScTYK670fWe2Rk\",\n\"AIzaSyCv1L3ZTgAEDtirbjRweXVwR8Kr6Dx5pXI\",\n\"AIzaSyCvdv0dR0SKZyPnAfwVgM_EM1iaawdrUiM\",\n\"AIzaSyBrkEgiD_iNNdaxufWpFj8ynCoi5aWiqio\",\n\"AIzaSyCuyE2HZmwwnuioWNbIGGeG7_VS9OUATX8\",\n\"AIzaSyBV3OEsTLLAvOJMmMtdwyRMBJmBoXfMMO0\",\n\"AIzaSyBGEyK_6sns9AAHBxDAGtdMWgEIas-_J4A\",\n\"AIzaSyDh-D0viHoLcM2uTqt3IsHdq7z7QaL6BGI\",\n\"AIzaSyBY9SSa6uMUGk0_wi6i53Y1mr-iqSFsN4I\",\n\"AIzaSyCXDNJuoAEajDTFRUCvUfbUF2M4WllgSKI\",\n\"AIzaSyCFD6Bwg1hDI7hPBxsIZgKfiB9dg5rmKe4\",\n\"AIzaSyBtvJc1M1uODnFvr2z_LQ1UUurAIaujnoc\",\n\"AIzaSyCTiRDp1iuuK-0q7HrA4X35TKxVAJp5XPc\",\n\"AIzaSyBhE-SVPkH-O-EaB2klsOow5cCr044Pulw\",\n\"AIzaSyBgjRU7537vzjjgb75-0G_yHI8JjJ4g1xU\",\n\"AIzaSyA6ywSKp0AtBHERXOGw-USKVn4OVee_9to\",\n\"AIzaSyAD8wcVAb_mzs4vonJTY3z1X3iQilC-TQM\",\n\"AIzaSyCQdFvC-AqdZE-V-5bpHfcd1jRN4nRhaBk\",\n\"AIzaSyAGCzPCezH2YmrdXYy5Dl_nz-Jz3OCiTsg\",\n\"AIzaSyBkRfHcQq_3CeJTA8B5mJD_F5RlCvFFv4g\",\n\"AIzaSyAfPwLIpOJI2AKVAmFLS75xS4LoXWd5dTA\",\n\"AIzaSyA38cB18WWYyAyS1GPLhOaj4l_EVa27aVA\"]","type":"string"},{"id":"bab05bf4-9a8d-4df5-95dc-f188d6532723","name":"file_path","value":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4352,1328],"id":"489eb099-d1d7-4c14-9c3d-1503226a0346","name":"GET_INPUT"},{"parameters":{"resource":"file","fileId":"={{ $('INPUT_CHAT_TRIGGER').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-5120,1328],"id":"03f2d869-8231-4f1c-b6bd-add19cbe0168","name":"Get_file_audio","webhookId":"ac4addd3-3558-4a6c-a63f-26ebe1089005","credentials":{"telegramApi":{"id":"H38GrSJSfNeLcepl","name":"EDUTECHND_CHAT_BOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json.text }}","type":"string"},{"id":"9d943983-e8a6-4aef-b13f-d3375a7de50a","name":"system_prompt","value":"={{ JSON.stringify($json.system_prompt) }}","type":"string"},{"id":"86adeefd-4c32-45e5-a63a-1a31b25aea2a","name":"chatId","value":"={{ $json.chatId }}","type":"number"}]},"options":{}},"id":"a9a8ee35-fbc1-4af3-9fed-e364406a9b4d","name":"INPUT_AIAGENT","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2592,848]},{"parameters":{"assignments":{"assignments":[{"id":"eeab2da8-038e-4a73-bf9a-648e49811d7f","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"4cc1636a-8ccd-4435-8d19-296c5fcad60b","name":"chatId","value":"={{ $('INPUT_AIAGENT').first().json.chatId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1616,848],"id":"5ecc8a28-770a-4f08-8c30-c5caf469e2b6","name":"OUTPUT_AIAGENT"},{"parameters":{"chatId":"={{ $('OUTPUT_AIAGENT').item.json.chatId }}","text":"={{ $('OUTPUT_AIAGENT').item.json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1360,848],"id":"602ee282-93ed-4cfb-9bf4-6969aff787c6","name":"OUTPUT_CHAT","webhookId":"2e46a477-8f2f-4151-bada-9c648458a0bd","notesInFlow":true,"credentials":{"telegramApi":{"id":"H38GrSJSfNeLcepl","name":"EDUTECHND_CHAT_BOT"}},"onError":"continueErrorOutput"},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-6480,1376],"id":"1707240d-50d1-425d-9bd8-5cca45383dcc","name":"INPUT_CHAT_TRIGGER","webhookId":"67640d05-1db0-4e47-99fc-9574bd386b0e","credentials":{"telegramApi":{"id":"H38GrSJSfNeLcepl","name":"EDUTECHND_CHAT_BOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"d7496cac-8b4d-47a3-a68f-08bead1ad5c5","name":"text","value":"={{ $('INPUT_CHAT_TRIGGER').item.json.message.text  }}","type":"string"},{"id":"39de0512-7c5e-4625-93c2-a66f91ccb2b5","name":"chatId","value":"={{ $('INPUT_CHAT_TRIGGER').item.json.message.chat.id }}","type":"number"},{"id":"06035568-871d-4b93-836a-12d18050c2da","name":"system_prompt","value":"=Bạn hãy đóng vai là trợ lý ảo thông minh toàn năng.\n- Gọi RESEARCH_AI_AGENT mỗi khi tìm kiếm thông tin theo thời gian thực","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4288,832],"id":"b994af73-d2a9-4d32-9a3c-128fdf87ee1c","name":"OUTPUT_TEXT"},{"parameters":{"assignments":{"assignments":[{"id":"0c61fba4-93a5-4725-9b8a-f0e8f6cfbe20","name":"text","value":"={{ $json.stdout }}","type":"string"},{"id":"b1da5365-5ad1-4c49-a775-bfd4c7c11b0e","name":"chatId","value":"={{ $('Switch').item.json.message.chat.id }}","type":"string"},{"id":"ea168bc0-3ac5-491a-9ad0-3aa47ba75234","name":"system_prompt","value":"=Bạn hãy đóng vai là trợ lý ảo thông minh toàn năng.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3968,1328],"id":"08cb1b78-8b9d-4185-bf5b-4c2e85868a5b","name":"OUTPUT_STT"},{"parameters":{"jsCode":"// 1. Lấy dữ liệu thô\nconst rawInput = $input.first().json.output || '';\n\n// --- HÀM TIỆN ÍCH ---\n\n/**\n * Hàm tiện ích: \"Vô hiệu hóa\" các ký tự HTML đặc biệt trong một chuỗi.\n * Đây là cách làm an toàn để tránh lỗi phân tích cú pháp của Telegram ở chế độ HTML.\n * @param {string} text - Văn bản cần xử lý.\n * @returns {string} - Văn bản đã được \"vô hiệu hóa\" ký tự HTML.\n */\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n/**\n * Định dạng một chuỗi dưới dạng khối mã, sử dụng hàm escapeHtml.\n * @param {string} text - Văn bản cần định dạng.\n * @returns {string} - Chuỗi HTML đã được định dạng.\n */\nfunction formatAsCode(text) {\n  // Nội dung bên trong <code> cần được escape để hiển thị chính xác dưới dạng mã nguồn\n  return `<pre><code>${escapeHtml(text)}</code></pre>`;\n}\n\n/**\n * Chia văn bản thành các chunk AN TOÀN cho Telegram.\n * @param {string} text - Văn bản cần chia.\n * @param {number} maxLength - Độ dài ký tự tối đa cho mỗi chunk. Mặc định là 4000 để an toàn với Telegram.\n * @returns {string[]} - Mảng các chunk.\n */\nfunction getTextChunks(text, maxLength = 4000) {\n    if (!text || text.trim().length === 0) {\n        return [];\n    }\n\n    const chunks = [];\n    let textToProcess = text;\n\n    while (textToProcess.length > 0) {\n        if (textToProcess.length <= maxLength) {\n            chunks.push(textToProcess);\n            break;\n        }\n\n        let chunkCandidate = textToProcess.slice(0, maxLength);\n        let splitIndex = maxLength;\n\n        // Ưu tiên ngắt ở các vị trí tự nhiên để không làm hỏng định dạng\n        const breakPoints = ['\\n\\n', '\\n', '. ', ' '];\n        for (const breakPoint of breakPoints) {\n            const lastBreak = chunkCandidate.lastIndexOf(breakPoint);\n            // Chỉ chấp nhận điểm ngắt nếu nó không quá ngắn\n            if (lastBreak > maxLength * 0.7) {\n                splitIndex = lastBreak;\n                break;\n            }\n        }\n\n        const chunk = textToProcess.slice(0, splitIndex);\n        chunks.push(chunk);\n\n        textToProcess = textToProcess.slice(splitIndex).trim();\n    }\n\n    return chunks.filter(chunk => chunk.trim().length > 0);\n}\n\n\n// --- LOGIC CHÍNH ---\nconst allChunks = [];\n\n// TRƯỜNG HỢP 1: Xử lý file bài tập đặc biệt của bạn\n// Nếu input bắt đầu bằng '%%%========', coi toàn bộ là một khối mã.\n// Phần này đã xử lý đúng bằng cách dùng formatAsCode nên không cần thay đổi.\nif (rawInput.trim().startsWith('%%%========')) {\n    const codeChunks = getTextChunks(rawInput);\n    for (const chunk of codeChunks) {\n        allChunks.push({ json: { output: formatAsCode(chunk) } });\n    }\n}\n// TRƯỜNG HỢP 2: Xử lý các loại văn bản hỗn hợp khác\nelse {\n    const patterns = [\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '```[\\\\s\\\\S]*?```',\n      '%%%.*?%%%',\n      '\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '\\\\begin{lstlisting}[\\\\s\\\\S]*?\\\\end{lstlisting}',\n      '\\\\begin{verbatim}[\\\\s\\\\S]*?\\\\end{verbatim}',\n      '\\\\begin{code}[\\\\s\\\\S]*?\\\\end{code}',\n      '\\\\$\\\\$[\\\\s\\\\S]*?\\\\$\\\\$',\n      '<code>[\\\\s\\\\S]*?</code>',\n      '<pre>[\\\\s\\\\S]*?</pre>',\n      '`[^`\\\\n]+`',\n    ];\n\n    const specialBlocksRegex = new RegExp(`(${patterns.join('|')})`, 'g');\n    let currentIndex = 0;\n    let match;\n\n    try {\n        while ((match = specialBlocksRegex.exec(rawInput)) !== null) {\n            // Xử lý phần văn bản thường (plain text) nằm TRƯỚC khối đặc biệt\n            const plainText = rawInput.substring(currentIndex, match.index);\n            if (plainText && plainText.trim()) {\n                // *** THAY ĐỔI QUAN TRỌNG ***\n                // Áp dụng escapeHtml cho văn bản thường để tránh lỗi\n                const escapedText = escapeHtml(plainText);\n                const plainTextChunks = getTextChunks(escapedText);\n                for (const chunk of plainTextChunks) {\n                    allChunks.push({ json: { output: chunk } });\n                }\n            }\n\n            // Xử lý khối đặc biệt (đã được xử lý đúng từ trước)\n            const specialBlock = match[0];\n            if (specialBlock && specialBlock.trim()) {\n                const specialBlockChunks = getTextChunks(specialBlock);\n                for (const chunk of specialBlockChunks) {\n                    // formatAsCode đã bao gồm escapeHtml bên trong\n                    allChunks.push({ json: { output: formatAsCode(chunk) } });\n                }\n            }\n            currentIndex = specialBlocksRegex.lastIndex;\n        }\n\n        // Xử lý phần văn bản thường còn lại ở CUỐI cùng\n        const remainingText = rawInput.substring(currentIndex);\n        if (remainingText && remainingText.trim()) {\n            // *** THAY ĐỔI QUAN TRỌNG ***\n            // Cũng áp dụng escapeHtml cho phần còn lại này\n            const escapedText = escapeHtml(remainingText);\n            const plainTextChunks = getTextChunks(escapedText);\n            for (const chunk of plainTextChunks) {\n                allChunks.push({ json: { output: chunk } });\n            }\n        }\n    } catch (error) {\n        console.error('Lỗi khi xử lý với regex, chuyển sang phương án dự phòng:', error);\n        // Phương án dự phòng: escape toàn bộ nội dung nếu regex lỗi\n        const escapedText = escapeHtml(rawInput);\n        const fallbackChunks = getTextChunks(escapedText);\n        for (const chunk of fallbackChunks) {\n            allChunks.push({ json: { output: chunk } });\n        }\n    }\n}\n\n// Trường hợp dự phòng cuối cùng nếu không có chunk nào được tạo\nif (allChunks.length === 0 && rawInput.trim()) {\n    const escapedText = escapeHtml(rawInput);\n    const fallbackChunks = getTextChunks(escapedText);\n    for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n    }\n}\n\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1840,848],"id":"7817041a-deda-4835-9371-a1b074e99451","name":"FORMAT_MULTY_OUTPUT"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi {{ $json.message.from.username }} xíu nhé! Mình sẽ phản hồi cho cậu ngay.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-5360,1328],"id":"dadf7ffc-ad50-4a9b-9eb8-af7243748f60","name":"WAIT_AUDIO","webhookId":"8ad375ba-c39d-4aa3-b908-320271a91fcd","credentials":{"telegramApi":{"id":"UPGRG2ZEn5ym6moF","name":"CREATE_LATEX_DOCUMENT"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"33b6c043-c5ef-40ed-a61a-1736b9b3a79f","leftValue":"={{ $('Switch').item.json.message.text }}","rightValue":"=/https://[a-zA-Z0-9./?_=&%-]+/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5424,768],"id":"169d9bf9-21eb-4e79-b9a3-3bd07241348c","name":"IS_URL"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ddb2b4b-ac4d-4542-8c10-4bc34e2ba577","leftValue":"={{ $('Switch').item.json.message.text }}","rightValue":"=/(?:https?:\\/\\/)?(?:www\\.)?(?:youtube\\.com\\/(?:watch\\?v=|shorts\\/|embed\\/)|youtu\\.be\\/)([a-zA-Z0-9_-]{11})/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5216,512],"id":"baf53eac-0770-4ddd-b06a-f0f90e668c40","name":"IS_LINK_YT"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $('INPUT_LINK_YT').item.json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-4064,-176],"id":"1bac9215-a243-484d-97ce-f7cc655c8f0d","name":"RANDOM_KEY_API"},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.5-flash","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"={{ $json.cleanedText }}","type":"string"},{"id":"1bfc6ac1-69ae-4432-b753-1bd6b6c34ad0","name":"extractedLink","value":"={{ $json.extractedLink }}","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=Bạn là chuyên gia phân tích, tổng hợp thông tin từ link  video youtube chuyên nghiệp","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyC7IDPEipqKJWBY8IjRWCAAEHIdYzOUWfU\",\n\"AIzaSyAsBME5PBRA9_Ra96iSjC06hzQ9a6LmDMc\",\n\"AIzaSyB6Qvq67CrEnsxX1Mor-0eNsbqMPmXxc8Y\",\n\"AIzaSyDzwyE6FsmpweMgTK4GwZ_ExEOIGD_9GPQ\",\n\"AIzaSyD4jpDYhy-1KCnE1fxyHQ4ZAPOAQP6_KuA\",\n\"AIzaSyBxY3DkI-FrrgWYTeBqDEc2SDnbmx-tPyo\",\n\"AIzaSyBd4s8QqT0LLefihuBKy_vi8FYo1YyX39M\",\n\"AIzaSyDHewqPOuFD6jiDs4C89XR-t24plyN6DSA\",\n\"AIzaSyCtuzTLBKPMVCrdiuWYCzxYjIwM8nxd8kE\",\n\"AIzaSyBJrTDlfUQqcvVu8IxDz0rEqD8_ZWyQLWc\",\n\"AIzaSyB78fyQeUqhtNB6VAs9DJ8Uh16KVSN3b-E\",\n\"AIzaSyCabGYCD4Xg82VZb2rY_lrscGXfP4rPQFc\",\n\"AIzaSyAhbEkepstvNhY6do-KqZXycPl_NEB6r6Y\",\n\"AIzaSyCOzWJAbbkvajNlkF0GM4R4fKi_mkn2UVc\",\n\"AIzaSyB-7SRZfWcPni3YDlHpxOo2fHAnWw91x_w\",\n\"AIzaSyABBEI7opEkGBHR5v3p5hy6qBnNKpld4j0\",\n\"AIzaSyDJBgA2vuyFSQhWtS0bQbh6cohTY8PZEWs\",\n\"AIzaSyAlQZxaUuzTZYuVEAEsjEiGcO9m8kFDuSU\",\n\"AIzaSyAB7S_PXClUOamufZw1m_wyRa93mqQmip0\",\n\"AIzaSyCBacQNdgtiC-UxChXYNDEvdyeYu-qSQwg\"]","type":"string"},{"id":"f0847ff6-d080-4ee3-b527-d3fcf3f55c35","name":"chatId","value":"={{ $json.result.chat.id }}","type":"number"},{"id":"b8220665-ec3a-4165-a55d-c97b3e50d51b","name":"videoId","value":"={{ $json.videoId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5296,-448],"id":"d191d21c-9555-47a3-b930-031aa8b06ce8","name":"INPUT_LINK_YT"},{"parameters":{"command":"=python -c '\nimport base64\nimport os\nfrom google import genai\nfrom google.genai import types\ndef generate():\n    client = genai.Client(\n        api_key=\"{{ $json.stdout }}\",\n    )\n    model = \"{{ $('INPUT_LINK_YT').item.json.MODEL_ID }}\"\n    contents = [\n        types.Content(\n            role=\"user\",\n            parts=[\n                types.Part(\n                    file_data=types.FileData(\n                        file_uri=\"{{ $('INPUT_LINK_YT').item.json.extractedLink }}\",\n                        mime_type=\"video/*\",\n                    ),\n                    video_metadata=types.VideoMetadata(\n                        start_offset=\"{{ $('Loop Over Items1').item.json.start }}s\",\n                        end_offset=\"{{ $('Loop Over Items1').item.json.end }}s\",\n                    ),\n                ),\n                types.Part.from_text(text=\"\"\"Trích xuất lại toàn bộ nội dung video bao gồm: phụ đề, thông tin mô tả, lời bài hát, cap, ... và sắp xếp lại một cách hợp ly theo timeline của video\"\"\"),\n            ],\n        ),\n    ]\n    generate_content_config = types.GenerateContentConfig(\n        thinking_config = types.ThinkingConfig(\n            thinking_budget=-1,\n        ),\n        response_mime_type=\"text/plain\",\n    )\n\n    for chunk in client.models.generate_content_stream(\n        model=model,\n        contents=contents,\n        config=generate_content_config,\n    ):\n        print(chunk.text, end=\"\")\n\nif __name__ == \"__main__\":\n    generate()\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-3776,-96],"id":"60c55383-b8a1-40f8-b91d-a2adff6fc90a","name":"EXTRACT_CONTENT_FROM_VIDEO_YT"},{"parameters":{"assignments":{"assignments":[{"id":"d7496cac-8b4d-47a3-a68f-08bead1ad5c5","name":"text","value":"={{ $json.fullTranscript +\" \"+ $('INPUT_LINK_YT').item.json.user_prompt}}","type":"string"},{"id":"39de0512-7c5e-4625-93c2-a66f91ccb2b5","name":"chatId","value":"={{ $('INPUT_LINK_YT').item.json.chatId }}","type":"number"},{"id":"06035568-871d-4b93-836a-12d18050c2da","name":"system_prompt","value":"=Bạn hãy đóng vai là trợ lý ảo thông minh toàn năng.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3056,-368],"id":"daca1285-c038-4776-a45f-cdf543af4816","name":"OUTPUT_LINK_YT"},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $json.videoId }}","options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-5056,-208],"id":"6757cde3-d0a2-45f7-9623-2e08a4e8cc12","name":"Get a video","credentials":{"youTubeOAuth2Api":{"id":"dlTCmDbjP0FFE56w","name":"YouTube account 3"}}},{"parameters":{"jsCode":"// Lấy tất cả các mục đầu vào từ node trước\nconst items = $input.all();\n\n// Regex 1: Tìm mọi loại link YouTube trong văn bản.\nconst youtubeLinkRegex = /(https?:\\/\\/(?:www\\.)?(?:youtu\\.be\\/|youtube\\.com\\/(?:watch\\?v=|embed\\/|shorts\\/))[\\w\\-=&?%._]+)/i;\n\n// Regex 2: Trích xuất ID video từ một link YouTube.\n// Nó tìm kiếm các chuỗi như v=, shorts/, embed/, .be/ và lấy chuỗi ký tự (ID) theo sau.\nconst videoIdRegex = /(?:v=|shorts\\/|embed\\/|\\.be\\/)([a-zA-Z0-9_-]{11})/;\n\n// Duyệt qua từng mục đầu vào để xử lý riêng lẻ\nfor (const item of items) {\n  // QUAN TRỌNG: Lấy văn bản từ trường của MỤC HIỆN TẠI.\n  // Thay 'myText' bằng tên trường chứa văn bản của bạn (ví dụ: 'message', 'text', 'content'...).\n  const inputText = $('Switch').first().json.message.text; \n\n  if (inputText) {\n    // Sử dụng Regex 1 để tìm link trong văn bản\n    const linkMatch = inputText.match(youtubeLinkRegex);\n\n    // Nếu tìm thấy link\n    if (linkMatch && linkMatch[0]) {\n      const extractedLink = linkMatch[0];\n      const cleanedText = inputText.replace(extractedLink, '').trim();\n      let videoId = null; // Khởi tạo videoId là null\n\n      // Sử dụng Regex 2 để tìm ID trong link vừa trích xuất\n      const idMatch = extractedLink.match(videoIdRegex);\n\n      // Nếu tìm thấy ID (nằm ở nhómจับที่ 1)\n      if (idMatch && idMatch[1]) {\n        videoId = idMatch[1];\n      }\n\n      // Gán cả 3 kết quả vào mục hiện tại\n      item.json.extractedLink = extractedLink;\n      item.json.cleanedText = cleanedText;\n      item.json.videoId = videoId;\n\n    } else {\n      // Nếu không tìm thấy link, gán các giá trị mặc định\n      item.json.extractedLink = null;\n      item.json.cleanedText = inputText; // Giữ nguyên văn bản gốc\n      item.json.videoId = null;\n    }\n  } else {\n      // Xử lý trường hợp không có inputText\n      item.json.extractedLink = null;\n      item.json.cleanedText = null;\n      item.json.videoId = null;\n  }\n}\n\n// Trả về các mục đã được xử lý\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5536,-208],"id":"ee7d5f5d-2adc-4253-99d7-1d7bad18c603","name":"Split_link_YT_and_ID"},{"parameters":{"jsCode":"/**\n * Hàm chuyển đổi thời lượng từ định dạng ISO 8601 (VD: \"PT1M30S\") sang giây.\n * Định dạng ISO 8601 cho thời lượng bắt đầu bằng 'P', theo sau là 'T' cho\n * các thành phần thời gian (Hours, Minutes, Seconds).\n * @param {string} isoDuration - Chuỗi thời lượng ISO 8601.\n * @returns {number|null} - Tổng số giây, hoặc null nếu định dạng không hợp lệ.\n */\nfunction parseIsoDurationToSeconds(isoDuration) {\n  if (!isoDuration || !isoDuration.startsWith('PT')) {\n    return null;\n  }\n  \n  // Regex để trích xuất số giờ (H), phút (M), giây (S)\n  const regex = /PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/;\n  const matches = isoDuration.match(regex);\n\n  if (!matches) {\n    return null;\n  }\n\n  // parseInt(matches[index] || 0) sẽ chuyển đổi chuỗi số thành số nguyên.\n  // Nếu một phần (H, M, hoặc S) không tồn tại, '|| 0' sẽ đảm bảo nó có giá trị là 0.\n  const hours = parseInt(matches[1] || 0);\n  const minutes = parseInt(matches[2] || 0);\n  const seconds = parseInt(matches[3] || 0);\n\n  return (hours * 3600) + (minutes * 60) + seconds;\n}\n\n\n// Lấy tất cả các mục đầu vào từ node trước\nconst items = $input.all();\n\n// Vòng lặp qua từng mục để xử lý\nfor (const item of items) {\n  // Giả sử biến duration của bạn nằm trong `item.json.duration`\n  // Hãy thay đổi `duration` thành tên trường thực tế của bạn nếu cần\n  const isoDuration = $input.first().json.contentDetails.duration;\n\n  // Chuyển đổi chuỗi ISO thành tổng số giây\n  const totalSeconds = parseIsoDurationToSeconds(isoDuration);\n\n  // Nếu không có thời lượng hoặc chuyển đổi thất bại, bỏ qua mục này\n  if (totalSeconds === null || totalSeconds < 0) {\n      item.json.totalSeconds = null;\n      item.json.timeSegments = []; // Trả về mảng rỗng\n      continue; // Chuyển sang mục tiếp theo\n  }\n\n  // Gán tổng số giây vào kết quả để dễ kiểm tra\n  item.json.totalSeconds = totalSeconds;\n\n  const timeSegments = [];\n  const chunkDuration = 600; // Thời lượng mỗi đoạn là 600 giây\n\n  // Nếu video có thời lượng, bắt đầu chia đoạn\n  if (totalSeconds > 0) {\n      // Vòng lặp bắt đầu từ 0, mỗi lần tăng lên 600 giây\n      for (let startTime = 0; startTime < totalSeconds; startTime += chunkDuration) {\n          \n          // Tính thời gian kết thúc của đoạn hiện tại\n          // Dùng Math.min để đảm bảo đoạn cuối cùng không vượt quá tổng thời lượng video\n          const endTime = Math.min(startTime + chunkDuration, totalSeconds);\n\n          // Thêm đoạn {start, end} vào mảng kết quả\n          timeSegments.push({\n              start: startTime,\n              end: endTime\n          });\n      }\n  }\n\n  // Gán mảng các đoạn thời gian vào mục hiện tại\n  item.json.timeSegments = timeSegments;\n}\n\n// Trả về các mục đã được xử lý\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4640,-208],"id":"4a1aeefd-fbcc-4281-81a2-20b6d6948fe2","name":"GET_TIME"},{"parameters":{"assignments":{"assignments":[{"id":"2c505564-9bad-488b-a53c-7ca70a56b4b9","name":"contentDetails.duration","value":"={{ $json.contentDetails.duration }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4880,-464],"id":"4c88c37b-3680-467b-a6bf-8186ff9385a6","name":"Duration"},{"parameters":{"fieldToSplitOut":"timeSegments","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-4496,-480],"id":"3db1b342-12d0-43fd-b9ce-8d84f98c8651","name":"SPLIT_TIMELINE"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4304,-384],"id":"b60f4d29-ad6d-4c0c-a1f7-fc460c850393","name":"Loop Over Items1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"stdout","renameField":true,"outputFieldName":"transcript"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3744,-384],"id":"8cfea0d6-1799-4df6-b565-582a794e4e93","name":"Aggregate"},{"parameters":{"jsCode":"// Lấy tất cả các mục đầu vào từ node trước\nconst items = $input.all();\n\n// Vòng lặp qua từng mục để xử lý\nfor (const item of items) {\n  // 1. Lấy mảng 'transcript' từ dữ liệu JSON của mục hiện tại\n  const transcriptArray = item.json.transcript;\n  \n  // 2. Kiểm tra xem 'transcriptArray' có tồn tại và có phải là một mảng không\n  //    Đây là một bước an toàn để tránh lỗi nếu dữ liệu đầu vào không như mong đợi\n  if (transcriptArray && Array.isArray(transcriptArray)) {\n    \n    // 3. Sử dụng phương thức .join() để nối tất cả các phần tử của mảng.\n    //    '\\n\\n' được dùng làm ký tự phân tách. Nó sẽ tạo một dòng trống \n    //    giữa mỗi đoạn transcript, giúp văn bản cuối cùng dễ đọc hơn.\n    const fullTranscript = transcriptArray.join('\\n\\n');\n    \n    // 4. Gán chuỗi văn bản đã nối vào một trường mới, ví dụ: 'fullTranscript'\n    item.json.fullTranscript = fullTranscript;\n\n    // (Tùy chọn) Bạn có thể xóa mảng 'transcript' gốc nếu không cần nữa\n    // delete item.json.transcript;\n\n  } else {\n    // Nếu không có mảng 'transcript', gán một giá trị mặc định\n    // để tránh lỗi ở các node sau\n    item.json.fullTranscript = ''; \n  }\n}\n\n// Trả về các mục đã được xử lý với trường mới\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3456,-384],"id":"4b09d5eb-366d-486c-89f3-2474b217cb41","name":"join"},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.5-flash-preview-04-17","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"={{ $('Switch').item.json.message.text }}","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=Bạn là chuyên gia phân tích, tổng hợp thông tin từ link  trang web chuyên nghiệp","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyC7IDPEipqKJWBY8IjRWCAAEHIdYzOUWfU\",\n\"AIzaSyAsBME5PBRA9_Ra96iSjC06hzQ9a6LmDMc\",\n\"AIzaSyB6Qvq67CrEnsxX1Mor-0eNsbqMPmXxc8Y\",\n\"AIzaSyDzwyE6FsmpweMgTK4GwZ_ExEOIGD_9GPQ\",\n\"AIzaSyD4jpDYhy-1KCnE1fxyHQ4ZAPOAQP6_KuA\",\n\"AIzaSyBxY3DkI-FrrgWYTeBqDEc2SDnbmx-tPyo\",\n\"AIzaSyBd4s8QqT0LLefihuBKy_vi8FYo1YyX39M\",\n\"AIzaSyDHewqPOuFD6jiDs4C89XR-t24plyN6DSA\",\n\"AIzaSyCtuzTLBKPMVCrdiuWYCzxYjIwM8nxd8kE\",\n\"AIzaSyBJrTDlfUQqcvVu8IxDz0rEqD8_ZWyQLWc\",\n\"AIzaSyB78fyQeUqhtNB6VAs9DJ8Uh16KVSN3b-E\",\n\"AIzaSyCabGYCD4Xg82VZb2rY_lrscGXfP4rPQFc\",\n\"AIzaSyAhbEkepstvNhY6do-KqZXycPl_NEB6r6Y\",\n\"AIzaSyCOzWJAbbkvajNlkF0GM4R4fKi_mkn2UVc\",\n\"AIzaSyB-7SRZfWcPni3YDlHpxOo2fHAnWw91x_w\",\n\"AIzaSyABBEI7opEkGBHR5v3p5hy6qBnNKpld4j0\",\n\"AIzaSyDJBgA2vuyFSQhWtS0bQbh6cohTY8PZEWs\",\n\"AIzaSyAlQZxaUuzTZYuVEAEsjEiGcO9m8kFDuSU\",\n\"AIzaSyAB7S_PXClUOamufZw1m_wyRa93mqQmip0\",\n\"AIzaSyCBacQNdgtiC-UxChXYNDEvdyeYu-qSQwg\"]","type":"string"},{"id":"f0847ff6-d080-4ee3-b527-d3fcf3f55c35","name":"chatId","value":"={{ $json.result.chat.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4944,528],"id":"3257fc3f-7c9d-4042-999f-bb27b468b808","name":"INPUT_URL_CONTEXT"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-4704,528],"id":"c16144f8-7f74-4800-9dd2-1b91534fea9b","name":"API_KEY_RANDOM"},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/{{ $('INPUT_URL_CONTEXT').item.json.MODEL_ID }}:{{ $('INPUT_URL_CONTEXT').item.json.GENERATE_CONTENT_API }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.stdout }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"systemInstruction\": {\n    \"parts\": {\n      \"text\": {{ JSON.stringify($('INPUT_URL_CONTEXT').item.json.system_prompt) }}\n    }\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": {{ JSON.stringify($('INPUT_URL_CONTEXT').item.json.user_prompt) }} \n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"topP\": 0.95,\n    \"topK\": 40,\n    \"maxOutputTokens\": 8192\n  },\n  \"tools\": [\n    {\n      \"urlContext\": {}\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4528,528],"id":"c5e385c4-96f0-4987-9895-43ac80d899be","name":"URL_CONTEXT"},{"parameters":{"assignments":{"assignments":[{"id":"bc8a1622-41a6-4e27-b4c2-aa1879d6e97d","name":"text","value":"={{ JSON.stringify($json.text) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4128,528],"id":"78869163-9ab8-4e51-b6ba-d5311b06f737","name":"TEXT"},{"parameters":{"fieldToSplitOut":"candidates[0].content.parts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-4320,528],"id":"554e616a-25a2-4b53-8dd9-a6dea74a2f64","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"d7496cac-8b4d-47a3-a68f-08bead1ad5c5","name":"text","value":"=     {{ $json.text + \" \" + $('Switch').item.json.message.text}}","type":"string"},{"id":"39de0512-7c5e-4625-93c2-a66f91ccb2b5","name":"chatId","value":"={{ $('INPUT_URL_CONTEXT').item.json.chatId }}","type":"number"},{"id":"06035568-871d-4b93-836a-12d18050c2da","name":"system_prompt","value":"=Bạn hãy đóng vai là trợ lý ảo thông minh toàn năng.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3856,528],"id":"aff0dbc9-91dc-47e5-99d5-4344b3c00a2c","name":"OUTPUT_URL_CONTEXT"},{"parameters":{"toolDescription":"=Dùng Ai Agent này để gọi các công cụ tìm kiếm thông tin","text":"={{ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"={{ $fromAI('System_Message', ``, 'string') }}"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-1808,1184],"id":"3c8b9141-d9a1-44a6-a35d-abc70892a971","name":"RESEARCH_AI_AGENT"},{"parameters":{"toolDescription":"=Sử dụng tool này để tìm kiếm thông tin theo thời gian thực","method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Bạn là chuyên gia tìm kiếm tài liệu.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('INPUT_AIAGENT').item.json.chatInput }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-1504,1376],"id":"ac3f0a0e-04f2-42de-8254-cf0dc631261e","name":"RESEARCH_TOOL"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","needsFallback":true,"options":{"systemMessage":"={{ $json.system_prompt  }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2256,848],"id":"59859149-54a9-44d7-8c40-42125817d045","name":"MAIN_AIAGENT"},{"parameters":{"numberInputs":3,"rules":{"rule":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ee7b7ad-ecee-44dd-b341-b4ccb361b46c","leftValue":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","rightValue":"=/cập nhật tin tức |tin tức/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"modelIndex":2,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5f840eeb-5597-408a-adf7-4771cd2c2c9b","leftValue":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","rightValue":"=/research/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"modelIndex":3,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c92bfc9-9399-4877-9c9c-a3fe31583eaa","leftValue":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","rightValue":"/cập nhật tin tức |tin tức|research/i","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"}}]}},"type":"@n8n/n8n-nodes-langchain.modelSelector","typeVersion":1,"position":[-2576,1136],"id":"39896f8e-b7ce-4c1a-8c45-a50957a35402","name":"Model Selector"},{"parameters":{"sessionIdType":"customKey","sessionKey":"edutechnd"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-1712,1392],"id":"46047337-6021-4b13-a609-7aad3b0303ba","name":"Redis Chat Memory","credentials":{"redis":{"id":"lj6dqd3CIF0WI3QZ","name":"Redis account"}}},{"parameters":{"modelName":"=models/gemini-2.5-flash","options":{"maxOutputTokens":8192}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2320,1392],"id":"18427baf-7c8b-40e4-a816-afffa0bcd001","name":"gemini-2.5-flash","credentials":{"googlePalmApi":{"id":"RelESC7qOF6ATbVw","name":"Google Gemini(PaLM) Api account 6"}}},{"parameters":{"model":"deepseek/deepseek-r1:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2528,1392],"id":"584892bf-270a-478f-a6cf-773394a5fb6c","name":"moonshotai/kimi-k2:free","credentials":{"openRouterApi":{"id":"21oWA9tW5hDh5iRZ","name":"OpenRouterfree"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"maxTokens":8192}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1872,1360],"id":"0531ab4d-1a7b-4e0e-9fbf-2b33c9c4b86b","name":"openai-gpt-4.1-mini","credentials":{"openAiApi":{"id":"eCExawqiNAs4gLZS","name":"OpenAi account"}}},{"parameters":{"options":{"maxTokens":8192}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2768,1392],"id":"1bbd62e8-2556-4153-b43d-864c6d5f934d","name":"openrouter-gpt-4.1-mini","credentials":{"openRouterApi":{"id":"Qo1XjonGeS6R6Aw9","name":"gpt-4.1-mini"}}},{"parameters":{"model":"=qwen/qwen3-235b-a22b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2272,1184],"id":"6eb7d4a1-d015-45b7-8e4e-c034e87d4515","name":"Qwen3 235B A22B free","credentials":{"openRouterApi":{"id":"21oWA9tW5hDh5iRZ","name":"OpenRouterfree"}}},{"parameters":{"resource":"file","inputType":"binary"},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-5536,1648],"id":"c37b5a46-ab03-49ee-adde-390eca77c0fa","name":"Upload a file","credentials":{"googlePalmApi":{"id":"mzLiXdDHw88ZBMIG","name":"Google Gemini(PaLM) Api account 1"}}},{"parameters":{"chatId":"={{ $('Switch').item.json.message.chat.id }}","text":"Đã upload xong file, chờ xíu","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-5248,1648],"id":"c2ed9050-8c14-4e93-add8-566cc2af9c82","name":"Send a text message","webhookId":"8b4575c2-4f70-43fb-8b04-c43b9514d39d","credentials":{"telegramApi":{"id":"H38GrSJSfNeLcepl","name":"EDUTECHND_CHAT_BOT"}}},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/{{ $('INPUT_NORMAL').item.json.MODEL_ID }}:{{ $('INPUT_NORMAL').item.json.GENERATE_CONTENT_API }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.stdout }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"systemInstruction\": {\n   \"role\": \"system\",\n    \"parts\": [\n      {\n        \"text\": {{ JSON.stringify($('INPUT_NORMAL').item.json.system_prompt) }}\n      }\n    ]\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n    {\n      \"inlineData\": {\n      \"mimeType\": \"{{ $('Upload a file').item.json.mimeType }}\",\n      \"data\": \"{{$('Switch').item.binary.data.data}}\"\n      }\n    },\n    {\n    \"text\": {{ JSON.stringify($('INPUT_NORMAL').item.json.user_prompt) }}\n    }\n  ]\n  }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\",\n    \"responseSchema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"extract_text\": {\n          \"type\": \"string\",\n          \"description\": \"Toàn bộ nội dung văn bản được trích xuất từ hình ảnh.\"\n        }\n      },\n      \"required\": [\"extract_text\"]\n    },\n    \"maxOutputTokens\": 2048,\n    \"topP\": 0.95,\n    \"topK\": 40\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4192,1648],"id":"5f8200e0-4d49-449b-aea7-6d61c61fefcd","name":"EXTRACT_INLINE_DATA1","alwaysOutputData":false},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-4416,1648],"id":"2a493faa-a82f-4cf0-ac01-29201c7ff05c","name":"RANDOM_API_KEY1"},{"parameters":{"assignments":{"assignments":[{"id":"93018433-af47-48a6-b5f1-d031ebcc24c7","name":"text","value":"={{ $('EXTRACT_INLINE_DATA1').item.json.candidates[0].content.parts[0].text }}","type":"object"},{"id":"fd2a6ae2-d0cb-4f75-8a8a-cd231be014e9","name":"chatId","value":"={{ $('INPUT_CHAT_TRIGGER').item.json.message.chat.id  }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3968,1648],"id":"0c61e909-f354-4e04-928b-a8eba557789a","name":"OUPUT_IMAGES1"},{"parameters":{"assignments":{"assignments":[{"id":"cc625b20-5d55-4b0d-803d-363653ac7c5d","name":"text","value":"={{ $('OUPUT_IMAGES1').item.json.text.extract_text }}","type":"string"},{"id":"abe1768c-193c-4387-97b3-816dd1824281","name":"chatId","value":"={{ $('OUPUT_IMAGES1').item.json.chatId }}","type":"string"},{"id":"df648bba-05f8-49e4-a898-c1f884bf276d","name":"system_prompt","value":"=Bạn là một trợ lý AI thông minh toàn diện","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3712,1648],"id":"663c0e17-72a2-4f61-916f-0dec78bfa269","name":"Edit_output_images1"},{"parameters":{"assignments":{"assignments":[{"id":"222535e4-1f92-46ad-a725-92f11746286d","name":"system_prompt","value":"=Bạn là trợ lý AI thông minh","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4928,1648],"id":"6c119635-8855-4d81-83bb-3346938f7a5e","name":"format_system_prompt"},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.0-flash","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"={{ $('Switch').item.json.message.caption }}","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"={{ JSON.stringify($json.system_prompt) }}","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyC7IDPEipqKJWBY8IjRWCAAEHIdYzOUWfU\",\n\"AIzaSyAsBME5PBRA9_Ra96iSjC06hzQ9a6LmDMc\",\n\"AIzaSyB6Qvq67CrEnsxX1Mor-0eNsbqMPmXxc8Y\",\n\"AIzaSyDzwyE6FsmpweMgTK4GwZ_ExEOIGD_9GPQ\",\n\"AIzaSyD4jpDYhy-1KCnE1fxyHQ4ZAPOAQP6_KuA\",\n\"AIzaSyBxY3DkI-FrrgWYTeBqDEc2SDnbmx-tPyo\",\n\"AIzaSyBd4s8QqT0LLefihuBKy_vi8FYo1YyX39M\",\n\"AIzaSyDHewqPOuFD6jiDs4C89XR-t24plyN6DSA\",\n\"AIzaSyCtuzTLBKPMVCrdiuWYCzxYjIwM8nxd8kE\",\n\"AIzaSyBJrTDlfUQqcvVu8IxDz0rEqD8_ZWyQLWc\",\n\"AIzaSyB78fyQeUqhtNB6VAs9DJ8Uh16KVSN3b-E\",\n\"AIzaSyCabGYCD4Xg82VZb2rY_lrscGXfP4rPQFc\",\n\"AIzaSyAhbEkepstvNhY6do-KqZXycPl_NEB6r6Y\",\n\"AIzaSyCOzWJAbbkvajNlkF0GM4R4fKi_mkn2UVc\",\n\"AIzaSyB-7SRZfWcPni3YDlHpxOo2fHAnWw91x_w\",\n\"AIzaSyABBEI7opEkGBHR5v3p5hy6qBnNKpld4j0\",\n\"AIzaSyDJBgA2vuyFSQhWtS0bQbh6cohTY8PZEWs\",\n\"AIzaSyAlQZxaUuzTZYuVEAEsjEiGcO9m8kFDuSU\",\n\"AIzaSyAB7S_PXClUOamufZw1m_wyRa93mqQmip0\",\n\"AIzaSyCBacQNdgtiC-UxChXYNDEvdyeYu-qSQwg\"]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4672,1648],"id":"d57c705b-3b44-4477-a69c-316aaac6048c","name":"INPUT_NORMAL"}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"MAIN_AIAGENT","type":"ai_memory","index":0}]]},"Switch":{"main":[[{"node":"WAIT","type":"main","index":0}],[{"node":"WAIT_AUDIO","type":"main","index":0}],[{"node":"Upload a file","type":"main","index":0}],[{"node":"Upload a file","type":"main","index":0}]]},"WAIT":{"main":[[{"node":"IS_URL","type":"main","index":0}]]},"Convert_oga_to_mp3":{"main":[[{"node":"Read_mp3","type":"main","index":0}]]},"Read_mp3":{"main":[[{"node":"GET_INPUT","type":"main","index":0}]]},"Write_file_oga_to_disk":{"main":[[{"node":"Convert_oga_to_mp3","type":"main","index":0}]]},"EXTRACT_TEXT_FROM_AUDIO":{"main":[[{"node":"OUTPUT_STT","type":"main","index":0}]]},"GET_INPUT":{"main":[[{"node":"EXTRACT_TEXT_FROM_AUDIO","type":"main","index":0}]]},"Get_file_audio":{"main":[[{"node":"Write_file_oga_to_disk","type":"main","index":0}]]},"INPUT_AIAGENT":{"main":[[{"node":"MAIN_AIAGENT","type":"main","index":0}]]},"OUTPUT_AIAGENT":{"main":[[{"node":"OUTPUT_CHAT","type":"main","index":0}]]},"INPUT_CHAT_TRIGGER":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OUTPUT_TEXT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"OUTPUT_STT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"FORMAT_MULTY_OUTPUT":{"main":[[{"node":"OUTPUT_AIAGENT","type":"main","index":0}]]},"WAIT_AUDIO":{"main":[[{"node":"Get_file_audio","type":"main","index":0}]]},"IS_URL":{"main":[[{"node":"IS_LINK_YT","type":"main","index":0}],[{"node":"OUTPUT_TEXT","type":"main","index":0}]]},"RANDOM_KEY_API":{"main":[[{"node":"EXTRACT_CONTENT_FROM_VIDEO_YT","type":"main","index":0}]]},"INPUT_LINK_YT":{"main":[[{"node":"Get a video","type":"main","index":0}]]},"IS_LINK_YT":{"main":[[{"node":"Split_link_YT_and_ID","type":"main","index":0}],[{"node":"INPUT_URL_CONTEXT","type":"main","index":0}]]},"EXTRACT_CONTENT_FROM_VIDEO_YT":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OUTPUT_LINK_YT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"Get a video":{"main":[[{"node":"Duration","type":"main","index":0}]]},"Split_link_YT_and_ID":{"main":[[{"node":"INPUT_LINK_YT","type":"main","index":0}]]},"GET_TIME":{"main":[[{"node":"SPLIT_TIMELINE","type":"main","index":0}]]},"Duration":{"main":[[{"node":"GET_TIME","type":"main","index":0}]]},"SPLIT_TIMELINE":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"RANDOM_KEY_API","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"join","type":"main","index":0}]]},"join":{"main":[[{"node":"OUTPUT_LINK_YT","type":"main","index":0}]]},"API_KEY_RANDOM":{"main":[[{"node":"URL_CONTEXT","type":"main","index":0}]]},"INPUT_URL_CONTEXT":{"main":[[{"node":"API_KEY_RANDOM","type":"main","index":0}]]},"URL_CONTEXT":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"TEXT","type":"main","index":0}]]},"TEXT":{"main":[[{"node":"OUTPUT_URL_CONTEXT","type":"main","index":0}]]},"OUTPUT_URL_CONTEXT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"OUTPUT_CHAT":{"main":[[]]},"RESEARCH_AI_AGENT":{"ai_tool":[[{"node":"MAIN_AIAGENT","type":"ai_tool","index":0}]]},"RESEARCH_TOOL":{"ai_tool":[[{"node":"RESEARCH_AI_AGENT","type":"ai_tool","index":0}]]},"MAIN_AIAGENT":{"main":[[{"node":"FORMAT_MULTY_OUTPUT","type":"main","index":0}]]},"Model Selector":{"ai_languageModel":[[{"node":"MAIN_AIAGENT","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"RESEARCH_AI_AGENT","type":"ai_memory","index":0}]]},"gemini-2.5-flash":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":2}]]},"moonshotai/kimi-k2:free":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":1}]]},"openai-gpt-4.1-mini":{"ai_languageModel":[[{"node":"RESEARCH_AI_AGENT","type":"ai_languageModel","index":0}]]},"openrouter-gpt-4.1-mini":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":0}]]},"Qwen3 235B A22B free":{"ai_languageModel":[[{"node":"MAIN_AIAGENT","type":"ai_languageModel","index":1}]]},"Upload a file":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"format_system_prompt","type":"main","index":0}]]},"EXTRACT_INLINE_DATA1":{"main":[[{"node":"OUPUT_IMAGES1","type":"main","index":0}]]},"RANDOM_API_KEY1":{"main":[[{"node":"EXTRACT_INLINE_DATA1","type":"main","index":0}]]},"OUPUT_IMAGES1":{"main":[[{"node":"Edit_output_images1","type":"main","index":0}]]},"format_system_prompt":{"main":[[{"node":"INPUT_NORMAL","type":"main","index":0}]]},"INPUT_NORMAL":{"main":[[{"node":"RANDOM_API_KEY1","type":"main","index":0}]]},"Edit_output_images1":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cd8aa168-2268-4189-96a1-a687cddef5e6","triggerCount":1,"tags":[]}