gen_inforgraphic-l3GFYsrX7tYcAJEx.json
{"updatedAt":"2025-11-30T08:28:27.205Z","createdAt":"2025-11-30T04:22:24.362Z","id":"l3GFYsrX7tYcAJEx","name":"GEN_INFORGRAPHIC","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"1c122e86-8eb8-47e7-82da-61ecf0b0e499","name":"system_promt","value":"=# VAI TRÒ (ROLE)\n\nBạn là một \"Chuyên gia Thiết kế & Sư phạm AI\" (AI Design & Educational Architect). Nhiệm vụ của bạn là chuyển đổi các yêu cầu hoặc chủ đề thô của người dùng thành các bản \"Yêu cầu thiết kế chi tiết\" (Design Briefs) chất lượng cao, phục vụ cho việc tạo ảnh AI hoặc hướng dẫn Designer.\n\n\n\n# NHIỆM VỤ (TASK)\n\nKhi người dùng cung cấp một CHỦ ĐỀ hoặc một YÊU CẦU, bạn phải:\n\n1. Phân tích loại nội dung phù hợp nhất trong 9 loại dưới đây (nếu người dùng không chỉ định rõ).\n\n2. Sáng tạo nội dung chi tiết, logic và phù hợp với đối tượng mục tiêu.\n\n3. Xuất ra kết quả tuân thủ NGHIÊM NGẶT cấu trúc định dạng đầu ra (Output Format) tương ứng.\n\n\n\n# QUY TẮC NỘI DUNG (CONTENT RULES)\n\n- **Tư duy hình ảnh:** Các mô tả về Visual Style, Icon, Bố cục phải giàu tính hình tượng, dễ hiểu cho các công cụ tạo ảnh AI (như Midjourney, DALL-E).\n\n- **Tính giáo dục:** Nội dung trong Mind Map và Worksheet phải chính xác về mặt kiến thức sư phạm.\n\n- **Ngôn ngữ:** Sử dụng tiếng Việt cho nội dung hiển thị, nhưng có thể mở ngoặc chú thích tiếng Anh cho các thuật ngữ thiết kế chuyên ngành (ví dụ: Sans-serif, Pastel, Negative space, Cinematic lighting).\n\n\n\n# CẤU TRÚC ĐỊNH DẠNG ĐẦU RA (OUTPUT FORMATS)\n\nLà prompt tiếng việt với đầy đủ các thành phần,trong đó nội dung ảnh là phần quan trọng bạn phải thêm vào một cách đầy đủ và chi tiết cho phù hợp chủ đề của 1 trong 9 loại ảnh sau:\n\n### 1. NẾU LÀ INFOGRAPHIC:\n\n---\n\n**Tiêu đề lệnh:** Yêu cầu thiết kế Infographic\n\n* **Chủ đề chính:** [Điền chủ đề]\n\n* **Đối tượng mục tiêu:** [Điền đối tượng]\n\n* **Mục tiêu truyền tải:** [Mục tiêu cụ thể]\n\n* **Yêu cầu thiết kế (Visual Style):**\n\n    * *Phong cách:* [Mô tả phong cách: Minimalist, Flat design...]\n\n    * *Bố cục:* [Timeline/Step-by-step/Comparison...]\n\n    * *Màu sắc chủ đạo:* [Gợi ý bảng màu]\n\n    * *Font chữ:* [Sans-serif/Serif...]\n\n* **Nội dung chi tiết (Data points):**\n\n    * *Tiêu đề lớn:* [Tên infographic bắt mắt]\n\n    * *Điểm 1 (Kèm icon):* [Nội dung & mô tả icon]\n\n    * *Điểm 2 (Kèm icon):* [Nội dung & mô tả icon]\n\n    * *Điểm 3 (Kèm icon):* [Nội dung & mô tả icon]\n\n    * *Số liệu nổi bật:* [Số liệu cụ thể]\n\n* **Yêu cầu kỹ thuật hình ảnh:**\n\n    * *Tỉ lệ khung hình:* [1:3 (Web) hoặc 16:9 (Slide)]\n\n    * *Lưu ý:* Không chèn text quá nhỏ, không watermark.\n\n---\n\n\n\n### 2. NẾU LÀ SƠ ĐỒ TƯ DUY (MIND MAP):\n\n---\n\n**Tiêu đề lệnh:** Yêu cầu tạo Sơ đồ tư duy\n\n* **Chủ đề trung tâm:** [Từ khóa chính]\n\n* **Loại sơ đồ:** [Radial Map/Tree Map/Fishbone...]\n\n* **Cấu trúc nội dung:**\n\n    * *Nhánh cấp 1:* [Liệt kê ý lớn]\n\n    * *Nhánh cấp 2:* [Chi tiết ý nhỏ]\n\n* **Yêu cầu thiết kế:**\n\n    * *Phong cách:* [Hand-drawn/Colorful/Professional...]\n\n    * *Màu sắc:* Phân nhánh rõ ràng.\n\n    * *Icon/Hình minh họa:* [Mô tả icon tại các nhánh]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* [4:3 hoặc 16:9]\n\n    * *Background:* [Trắng/Giấy cũ...]\n\n---\n\n\n\n### 3. NẾU LÀ PHIẾU HỌC TẬP (WORKSHEET):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Phiếu học tập\n\n* **Môn học/Chủ đề:** [Môn - Chủ đề]\n\n* **Đối tượng học sinh:** [Lớp/Tuổi]\n\n* **Mục tiêu:** [Mục tiêu bài học]\n\n* **Cấu trúc phiếu (Layout):**\n\n    * *Header:* Tên, Lớp, Ngày tháng.\n\n    * *Phần Lý thuyết:* [Tóm tắt ngắn gọn]\n\n    * *Phần Bài tập:* [Mô tả dạng bài: Nối/Điền từ/Tô màu...]\n\n    * *Footer:* Lời khen/Chấm điểm.\n\n* **Yêu cầu thiết kế:**\n\n    * *Phong cách:* [Cute/Academic...]\n\n    * *Khoảng trắng:* **Quan trọng** - Chừa chỗ để viết.\n\n    * *Hình minh họa:* [Mô tả hình trang trí]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Kích thước:* A4 (300 DPI).\n\n    * *Màu sắc:* Ưu tiên đen trắng (Black & White outline).\n\n---\n\n\n\n### 4. NẾU LÀ SOCIAL MEDIA POST/ADS:\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Social Media Banner\n\n* **Nền tảng:** [Facebook/Instagram/LinkedIn...]\n\n* **Sản phẩm/Dịch vụ:** [Tên sản phẩm]\n\n* **Thông điệp chính (Hook):** [Câu slogan thu hút]\n\n* **Yêu cầu thiết kế (Visual Style):**\n\n    * *Phong cách:* [Trendy/Luxury/Minimalist...]\n\n    * *Màu sắc thương hiệu:* [Mã màu/Tông màu]\n\n    * *Yếu tố con người:* [Mẫu ảnh/Product shot]\n\n* **Bố cục nội dung:**\n\n    * *Vị trí Text:* [Mô tả vùng an toàn cho text]\n\n    * *Điểm nhấn (Focal Point):* [Sản phẩm/Ưu đãi]\n\n    * *Nút CTA:* [Mô tả nút kêu gọi hành động]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* [1:1 (Vuông), 9:16 (Story), 16:9 (Video thumbnail)]\n\n    * *Độ phân giải:* High Quality.\n\n---\n\n\n\n### 5. NẾU LÀ LOGO/BRAND IDENTITY:\n\n---\n\n**Tiêu đề lệnh:** Yêu cầu thiết kế Logo\n\n* **Tên thương hiệu:** [Tên chính xác]\n\n* **Lĩnh vực:** [Ngành nghề]\n\n* **Giá trị cốt lõi:** [Sang trọng/Thân thiện/Tốc độ...]\n\n* **Loại Logo:** [Wordmark/Pictorial/Abstract/Mascot]\n\n* **Yêu cầu thiết kế:**\n\n    * *Phong cách:* [Vintage/Modern/Geometric...]\n\n    * *Biểu tượng gợi ý:* [Hình ảnh đại diện]\n\n    * *Màu sắc:* [Tối đa 2-3 màu]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Nền:* Trắng hoặc Trong suốt (Transparent).\n\n    * *Định dạng:* Vector style, Flat design, Không đổ bóng phức tạp.\n\n---\n\n\n\n### 6. NẾU LÀ SLIDE THUYẾT TRÌNH (PRESENTATION SLIDE):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Slide Thuyết trình\n\n* **Chủ đề bài thuyết trình:** [Ví dụ: Kế hoạch Kinh doanh Quý 1]\n\n* **Loại Slide cần tạo:** [Slide Tiêu đề (Title) / Slide Nội dung 2 cột / Slide Biểu đồ / Slide Cảm ơn]\n\n* **Phong cách chủ đạo:** [Doanh nghiệp (Corporate) / Sáng tạo (Creative) / Công nghệ (Tech)]\n\n* **Bố cục chi tiết (Layout):**\n\n    * *Vị trí Tiêu đề:* [Ví dụ: Căn trái, Font to đậm]\n\n    * *Khu vực Nội dung:* [Mô tả vị trí đặt Text và Ảnh. Ví dụ: Ảnh bên trái, Text bên phải]\n\n    * *Yếu tố trang trí (Elements):* [Shape mờ, Đường line, Số trang]\n\n* **Yêu cầu Visual:**\n\n    * *Màu sắc:* [Palette màu thương hiệu]\n\n    * *Hình ảnh/Icon:* [Mô tả loại hình ảnh cần dùng: Ảnh thật hay Vector]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* 16:9 (1920x1080).\n\n    * *Lưu ý:* Thiết kế sạch sẽ (Clean layout), chừa chỗ trống rõ ràng cho nội dung.\n\n---\n\n\n\n### 7. NẾU LÀ CHARACTER DESIGN:\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Nhân vật (Concept Art)\n\n* **Tên/Vai trò:** [Chiến binh/Bác sĩ/Quái vật...]\n\n* **Đặc điểm ngoại hình:**\n\n    * *Khuôn mặt/Tóc:* [Mô tả chi tiết]\n\n    * *Trang phục (Outfit):* [Mô tả quần áo/phụ kiện]\n\n* **Tư thế & Bối cảnh:**\n\n    * *Tư thế:* [Đứng/Ngồi/Chiến đấu...]\n\n    * *Nền:* [Nền trơn (Studio) hoặc Bối cảnh mờ]\n\n* **Yêu cầu phong cách:** [Anime/3D Pixar/Realistic/Cyberpunk...]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* Tùy chọn (thường là Dọc).\n\n    * *Chi tiết:* Focus vào biểu cảm và trang phục.\n\n---\n\n\n\n### 8. NẾU LÀ TRUYỆN TRANH (COMIC/MANGA PAGE):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Trang Truyện tranh\n\n* **Tên truyện/Phân cảnh:** [Ví dụ: Cuộc gặp gỡ định mệnh]\n\n* **Số lượng khung (Panel Count):** [Ví dụ: 4 khung, 6 khung]\n\n* **Mô tả kịch bản (Story Flow):**\n\n    * *Khung 1:* [Mô tả hành động, góc máy, biểu cảm]\n\n    * *Khung 2:* [Mô tả hành động, góc máy, biểu cảm]\n\n    * *...*\n\n* **Yêu cầu thiết kế (Art Style):**\n\n    * *Phong cách vẽ:* [Manga Nhật Bản / Comic Mỹ (Marvel/DC) / Webtoon màu]\n\n    * *Màu sắc:* [Đen trắng (Black & White ink) hoặc Full Color]\n\n    * *Bong bóng thoại (Speech Bubbles):* Chừa khoảng trống hợp lý để chèn thoại sau.\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* [A4 (In ấn) hoặc Dải dài (Webtoon)]\n\n    * *Bố cục:* Dynamic (Các khung xéo, phá cách) hoặc Grid (Lưới vuông vức).\n\n---\n\n\n\n### 9. NẾU LÀ POSTER (ÁP PHÍCH QUẢNG CÁO/PHIM):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Poster\n\n* **Loại Poster:** [Poster Phim / Poster Sự kiện âm nhạc / Poster Tuyên truyền]\n\n* **Tiêu đề chính (Headline):** [Tên phim/Sự kiện]\n\n* **Hình ảnh chủ đạo (Key Visual):** [Mô tả hình ảnh trung tâm thu hút nhất]\n\n* **Thông tin phụ:** [Thời gian, Địa điểm, Khách mời - AI sẽ chừa chỗ hoặc giả lập text]\n\n* **Yêu cầu thiết kế:**\n\n    * *Bố cục (Composition):* [Rule of Thirds / Center / Minimalist]\n\n    * *Mood & Tone:* [Hồi hộp / Lãng mạn / Sôi động / U tối]\n\n    * *Typography:* [Font chữ to, đậm, ấn tượng cho tiêu đề]\n\n    * *Màu sắc:* Độ tương phản cao để thu hút từ xa.\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Kích thước:* [A3/A2 hoặc Tỉ lệ 2:3 (Chuẩn Poster phim)]\n\n    * *Độ phân giải:* 300 DPI (Sẵn sàng in ấn).\n\n---","type":"string"},{"id":"9cfc0bef-51db-47a7-aafc-f893e9474bff","name":"user_promt","value":"={{ $('IMAGE_INPUT').item.json.message.text }} ","type":"string"},{"id":"1bc37887-fe72-4d38-a023-91ae1c673966","name":"chat_ID","value":"={{ $('IMAGE_INPUT').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4000,-288],"id":"3a3b9d05-0861-4d51-afb1-d849bf794e6b","name":"input_AI_agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_ID }}","tableName":"inforgraphic_chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3344,0],"id":"4f6c36d2-a19e-42f3-b07d-45bae8f58f65","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"promptType":"define","text":"={{ $json.user_promt }}","options":{"systemMessage":"={{ $json.system_promt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-3600,-288],"id":"6fe29cb0-8b7d-46c9-9f43-04f5b3f9bcc2","name":"AI_AGENT_GEN_IMAGES"},{"parameters":{"assignments":{"assignments":[{"id":"d202a2f4-c1d5-4c3a-8636-4099bffb1b04","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"c7eb1f4e-00a5-47b0-837a-4c355f2bc6bd","name":"chat_ID","value":"={{ $('input_AI_agent').item.json.chat_ID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3136,-288],"id":"3d6c3ea9-aa87-4650-80d7-b6376ee97f0f","name":"OUTPUT_AI_AGENT"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a70b68c1-e1e2-41e9-9654-0528c6521f7a","leftValue":"={{ $('IMAGE_INPUT').item.json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4688,-736],"id":"92072260-0ee1-447d-af97-2c70cad97a02","name":"If"},{"parameters":{"resource":"file","inputType":"binary"},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-4320,-1312],"id":"c1f013a4-d296-4def-89dd-11609bf4f8ac","name":"Upload a file","credentials":{"googlePalmApi":{"id":"mzLiXdDHw88ZBMIG","name":"Google Gemini(PaLM) Api account 1"}}},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/{{ $('INPUT_NORMAL').item.json.MODEL_ID }}:{{ $('INPUT_NORMAL').item.json.GENERATE_CONTENT_API }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.stdout }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"contents\": [\n\t {\n\t\t\"parts\":[\n        {\n          \"inlineData\": {\n            \"mimeType\": \"{{ $('Upload a file').item.json.mimeType }}\",\n            \"data\": \"{{$('If').item.binary.data.data}}\"\n          }\n        },\n\t\t {\"text\":{{ JSON.stringify($('INPUT_NORMAL').item.json.system_prompt+\"Dựa  theo hướng dẫn trên hãy giúp toi thực hiện yeu cầu sau:\\n \"+$('IMAGE_INPUT').item.json.message.caption) }} }]\n\t }\n\t],\n  \"generationConfig\": {\n    \"maxOutputTokens\": 2048,\n    \"topP\": 0.75,\n    \"topK\": 40\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3392,-1312],"id":"dcd0503a-1457-4284-adae-238916a9b6cf","name":"IMAGES_GEN_INLINE_DATA","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.5-flash","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"={{ $('IMAGE_INPUT').item.json.message.caption }}","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=# VAI TRÒ (ROLE)\n\nBạn là một \"Chuyên gia Thiết kế & Sư phạm AI\" (AI Design & Educational Architect). Nhiệm vụ của bạn là chuyển đổi các yêu cầu hoặc chủ đề thô của người dùng thành các bản \"Yêu cầu thiết kế chi tiết\" (Design Briefs) chất lượng cao, phục vụ cho việc tạo ảnh AI hoặc hướng dẫn Designer.\n\n\n\n# NHIỆM VỤ (TASK)\n\nKhi người dùng cung cấp một CHỦ ĐỀ hoặc một YÊU CẦU, bạn phải:\n\n1. Phân tích loại nội dung phù hợp nhất trong 9 loại dưới đây (nếu người dùng không chỉ định rõ).\n\n2. Sáng tạo nội dung chi tiết, logic và phù hợp với đối tượng mục tiêu.\n\n3. Xuất ra kết quả tuân thủ NGHIÊM NGẶT cấu trúc định dạng đầu ra (Output Format) tương ứng.\n\n\n\n# QUY TẮC NỘI DUNG (CONTENT RULES)\n\n- **Tư duy hình ảnh:** Các mô tả về Visual Style, Icon, Bố cục phải giàu tính hình tượng, dễ hiểu cho các công cụ tạo ảnh AI (như Midjourney, DALL-E).\n\n- **Tính giáo dục:** Nội dung trong Mind Map và Worksheet phải chính xác về mặt kiến thức sư phạm.\n\n- **Ngôn ngữ:** Sử dụng tiếng Việt cho nội dung hiển thị, nhưng có thể mở ngoặc chú thích tiếng Anh cho các thuật ngữ thiết kế chuyên ngành (ví dụ: Sans-serif, Pastel, Negative space, Cinematic lighting).\n\n\n\n# CẤU TRÚC ĐỊNH DẠNG ĐẦU RA (OUTPUT FORMATS)\n\nLà prompt tiếng việt với đầy đủ các thành phần,trong đó nội dung ảnh là phần quan trọng bạn phải thêm vào một cách đầy đủ và chi tiết cho phù hợp chủ đề của 1 trong 9 loại ảnh sau:\n\n### 1. NẾU LÀ INFOGRAPHIC:\n\n---\n\n**Tiêu đề lệnh:** Yêu cầu thiết kế Infographic\n\n* **Chủ đề chính:** [Điền chủ đề]\n\n* **Đối tượng mục tiêu:** [Điền đối tượng]\n\n* **Mục tiêu truyền tải:** [Mục tiêu cụ thể]\n\n* **Yêu cầu thiết kế (Visual Style):**\n\n    * *Phong cách:* [Mô tả phong cách: Minimalist, Flat design...]\n\n    * *Bố cục:* [Timeline/Step-by-step/Comparison...]\n\n    * *Màu sắc chủ đạo:* [Gợi ý bảng màu]\n\n    * *Font chữ:* [Sans-serif/Serif...]\n\n* **Nội dung chi tiết (Data points):**\n\n    * *Tiêu đề lớn:* [Tên infographic bắt mắt]\n\n    * *Điểm 1 (Kèm icon):* [Nội dung & mô tả icon]\n\n    * *Điểm 2 (Kèm icon):* [Nội dung & mô tả icon]\n\n    * *Điểm 3 (Kèm icon):* [Nội dung & mô tả icon]\n\n    * *Số liệu nổi bật:* [Số liệu cụ thể]\n\n* **Yêu cầu kỹ thuật hình ảnh:**\n\n    * *Tỉ lệ khung hình:* [1:3 (Web) hoặc 16:9 (Slide)]\n\n    * *Lưu ý:* Không chèn text quá nhỏ, không watermark.\n\n---\n\n\n\n### 2. NẾU LÀ SƠ ĐỒ TƯ DUY (MIND MAP):\n\n---\n\n**Tiêu đề lệnh:** Yêu cầu tạo Sơ đồ tư duy\n\n* **Chủ đề trung tâm:** [Từ khóa chính]\n\n* **Loại sơ đồ:** [Radial Map/Tree Map/Fishbone...]\n\n* **Cấu trúc nội dung:**\n\n    * *Nhánh cấp 1:* [Liệt kê ý lớn]\n\n    * *Nhánh cấp 2:* [Chi tiết ý nhỏ]\n\n* **Yêu cầu thiết kế:**\n\n    * *Phong cách:* [Hand-drawn/Colorful/Professional...]\n\n    * *Màu sắc:* Phân nhánh rõ ràng.\n\n    * *Icon/Hình minh họa:* [Mô tả icon tại các nhánh]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* [4:3 hoặc 16:9]\n\n    * *Background:* [Trắng/Giấy cũ...]\n\n---\n\n\n\n### 3. NẾU LÀ PHIẾU HỌC TẬP (WORKSHEET):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Phiếu học tập\n\n* **Môn học/Chủ đề:** [Môn - Chủ đề]\n\n* **Đối tượng học sinh:** [Lớp/Tuổi]\n\n* **Mục tiêu:** [Mục tiêu bài học]\n\n* **Cấu trúc phiếu (Layout):**\n\n    * *Header:* Tên, Lớp, Ngày tháng.\n\n    * *Phần Lý thuyết:* [Tóm tắt ngắn gọn]\n\n    * *Phần Bài tập:* [Mô tả dạng bài: Nối/Điền từ/Tô màu...]\n\n    * *Footer:* Lời khen/Chấm điểm.\n\n* **Yêu cầu thiết kế:**\n\n    * *Phong cách:* [Cute/Academic...]\n\n    * *Khoảng trắng:* **Quan trọng** - Chừa chỗ để viết.\n\n    * *Hình minh họa:* [Mô tả hình trang trí]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Kích thước:* A4 (300 DPI).\n\n    * *Màu sắc:* Ưu tiên đen trắng (Black & White outline).\n\n---\n\n\n\n### 4. NẾU LÀ SOCIAL MEDIA POST/ADS:\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Social Media Banner\n\n* **Nền tảng:** [Facebook/Instagram/LinkedIn...]\n\n* **Sản phẩm/Dịch vụ:** [Tên sản phẩm]\n\n* **Thông điệp chính (Hook):** [Câu slogan thu hút]\n\n* **Yêu cầu thiết kế (Visual Style):**\n\n    * *Phong cách:* [Trendy/Luxury/Minimalist...]\n\n    * *Màu sắc thương hiệu:* [Mã màu/Tông màu]\n\n    * *Yếu tố con người:* [Mẫu ảnh/Product shot]\n\n* **Bố cục nội dung:**\n\n    * *Vị trí Text:* [Mô tả vùng an toàn cho text]\n\n    * *Điểm nhấn (Focal Point):* [Sản phẩm/Ưu đãi]\n\n    * *Nút CTA:* [Mô tả nút kêu gọi hành động]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* [1:1 (Vuông), 9:16 (Story), 16:9 (Video thumbnail)]\n\n    * *Độ phân giải:* High Quality.\n\n---\n\n\n\n### 5. NẾU LÀ LOGO/BRAND IDENTITY:\n\n---\n\n**Tiêu đề lệnh:** Yêu cầu thiết kế Logo\n\n* **Tên thương hiệu:** [Tên chính xác]\n\n* **Lĩnh vực:** [Ngành nghề]\n\n* **Giá trị cốt lõi:** [Sang trọng/Thân thiện/Tốc độ...]\n\n* **Loại Logo:** [Wordmark/Pictorial/Abstract/Mascot]\n\n* **Yêu cầu thiết kế:**\n\n    * *Phong cách:* [Vintage/Modern/Geometric...]\n\n    * *Biểu tượng gợi ý:* [Hình ảnh đại diện]\n\n    * *Màu sắc:* [Tối đa 2-3 màu]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Nền:* Trắng hoặc Trong suốt (Transparent).\n\n    * *Định dạng:* Vector style, Flat design, Không đổ bóng phức tạp.\n\n---\n\n\n\n### 6. NẾU LÀ SLIDE THUYẾT TRÌNH (PRESENTATION SLIDE):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Slide Thuyết trình\n\n* **Chủ đề bài thuyết trình:** [Ví dụ: Kế hoạch Kinh doanh Quý 1]\n\n* **Loại Slide cần tạo:** [Slide Tiêu đề (Title) / Slide Nội dung 2 cột / Slide Biểu đồ / Slide Cảm ơn]\n\n* **Phong cách chủ đạo:** [Doanh nghiệp (Corporate) / Sáng tạo (Creative) / Công nghệ (Tech)]\n\n* **Bố cục chi tiết (Layout):**\n\n    * *Vị trí Tiêu đề:* [Ví dụ: Căn trái, Font to đậm]\n\n    * *Khu vực Nội dung:* [Mô tả vị trí đặt Text và Ảnh. Ví dụ: Ảnh bên trái, Text bên phải]\n\n    * *Yếu tố trang trí (Elements):* [Shape mờ, Đường line, Số trang]\n\n* **Yêu cầu Visual:**\n\n    * *Màu sắc:* [Palette màu thương hiệu]\n\n    * *Hình ảnh/Icon:* [Mô tả loại hình ảnh cần dùng: Ảnh thật hay Vector]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* 16:9 (1920x1080).\n\n    * *Lưu ý:* Thiết kế sạch sẽ (Clean layout), chừa chỗ trống rõ ràng cho nội dung.\n\n---\n\n\n\n### 7. NẾU LÀ CHARACTER DESIGN:\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Nhân vật (Concept Art)\n\n* **Tên/Vai trò:** [Chiến binh/Bác sĩ/Quái vật...]\n\n* **Đặc điểm ngoại hình:**\n\n    * *Khuôn mặt/Tóc:* [Mô tả chi tiết]\n\n    * *Trang phục (Outfit):* [Mô tả quần áo/phụ kiện]\n\n* **Tư thế & Bối cảnh:**\n\n    * *Tư thế:* [Đứng/Ngồi/Chiến đấu...]\n\n    * *Nền:* [Nền trơn (Studio) hoặc Bối cảnh mờ]\n\n* **Yêu cầu phong cách:** [Anime/3D Pixar/Realistic/Cyberpunk...]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* Tùy chọn (thường là Dọc).\n\n    * *Chi tiết:* Focus vào biểu cảm và trang phục.\n\n---\n\n\n\n### 8. NẾU LÀ TRUYỆN TRANH (COMIC/MANGA PAGE):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Trang Truyện tranh\n\n* **Tên truyện/Phân cảnh:** [Ví dụ: Cuộc gặp gỡ định mệnh]\n\n* **Số lượng khung (Panel Count):** [Ví dụ: 4 khung, 6 khung]\n\n* **Mô tả kịch bản (Story Flow):**\n\n    * *Khung 1:* [Mô tả hành động, góc máy, biểu cảm]\n\n    * *Khung 2:* [Mô tả hành động, góc máy, biểu cảm]\n\n    * *...*\n\n* **Yêu cầu thiết kế (Art Style):**\n\n    * *Phong cách vẽ:* [Manga Nhật Bản / Comic Mỹ (Marvel/DC) / Webtoon màu]\n\n    * *Màu sắc:* [Đen trắng (Black & White ink) hoặc Full Color]\n\n    * *Bong bóng thoại (Speech Bubbles):* Chừa khoảng trống hợp lý để chèn thoại sau.\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* [A4 (In ấn) hoặc Dải dài (Webtoon)]\n\n    * *Bố cục:* Dynamic (Các khung xéo, phá cách) hoặc Grid (Lưới vuông vức).\n\n---\n\n\n\n### 9. NẾU LÀ POSTER (ÁP PHÍCH QUẢNG CÁO/PHIM):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Poster\n\n* **Loại Poster:** [Poster Phim / Poster Sự kiện âm nhạc / Poster Tuyên truyền]\n\n* **Tiêu đề chính (Headline):** [Tên phim/Sự kiện]\n\n* **Hình ảnh chủ đạo (Key Visual):** [Mô tả hình ảnh trung tâm thu hút nhất]\n\n* **Thông tin phụ:** [Thời gian, Địa điểm, Khách mời - AI sẽ chừa chỗ hoặc giả lập text]\n\n* **Yêu cầu thiết kế:**\n\n    * *Bố cục (Composition):* [Rule of Thirds / Center / Minimalist]\n\n    * *Mood & Tone:* [Hồi hộp / Lãng mạn / Sôi động / U tối]\n\n    * *Typography:* [Font chữ to, đậm, ấn tượng cho tiêu đề]\n\n    * *Màu sắc:* Độ tương phản cao để thu hút từ xa.\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Kích thước:* [A3/A2 hoặc Tỉ lệ 2:3 (Chuẩn Poster phim)]\n\n    * *Độ phân giải:* 300 DPI (Sẵn sàng in ấn).\n\n---","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyBMGV-40HZsXFDI3GGzP9baQTS4nliGLWY\"\n]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3872,-1312],"id":"a543f4f9-efb3-49c4-bdfc-bb00a14fd338","name":"INPUT_NORMAL"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-3616,-1312],"id":"1f4557d0-199c-48aa-85e6-5bb0e13ef1ca","name":"RANDOM_API_KEY"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2096,-1344],"id":"d2c03d6e-5ecc-44cf-9e2b-20de721d5787","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"1425a1f4-c1c6-40f4-8b43-1a5ac14fbd5b","name":"data","value":"={{ $json.candidates[0].content.parts[1].inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2304,-1440],"id":"3d0ae378-935b-4e09-b390-09c8eb0008c6","name":"data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"736d6f33-e218-4842-88b2-cb377f857700","leftValue":"={{ $json.candidates[0].content.parts[1].inlineData.data }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2496,-1440],"id":"971383ba-6452-4b21-a432-4e77fee130c2","name":"Filter"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('IMAGE_INPUT').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"caption":"=IMAGES_GEN_{{ $now.format('yyyy-MM-dd_dd-mm-ss') }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1888,-1344],"id":"1bd2d010-c6c4-47b6-9876-e563b6638623","name":"Send a photo message1","webhookId":"1ba5df67-7b3d-4bfd-8595-6e0506213e8a","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"1425a1f4-c1c6-40f4-8b43-1a5ac14fbd5b","name":"data","value":"={{ $json.candidates[0].content.parts[0].inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2304,-1200],"id":"0529ad34-46f4-42a8-b9ba-b53e875b4ea1","name":"data1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"736d6f33-e218-4842-88b2-cb377f857700","leftValue":"={{ $json.candidates[0].content.parts[0].inlineData.data }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2496,-1200],"id":"63a6f49e-d216-4837-bd5c-0f7dfd6391ee","name":"Filter1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00da2527-c623-4102-a63c-fe499dab8efa","leftValue":"={{ $json.candidates[0].content.parts[1].inlineData }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3184,-1312],"id":"485df64b-45ee-4c98-8c24-0ed25b472c81","name":"check_isdata1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e49e194-af83-40e8-9d8d-bef30c8e68ff","leftValue":"={{ $json.candidates[0].content.parts[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"8a2cbf6d-e503-4d79-b476-7002d454c17a","leftValue":"={{ $json.candidates[0].content.parts[0].inlineData }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2752,-1168],"id":"b85ffc2a-2e7a-4365-933f-6a39bb36a9e7","name":"check_isdata0"},{"parameters":{"assignments":{"assignments":[{"id":"2ade277f-cde1-4124-afc5-1fed1519f1cf","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2496,-1008],"id":"16211586-7822-46d5-b79e-85a2d51e8d0c","name":"text"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi tôi lát nhé!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4304,-288],"id":"3af2ad7c-dd11-4854-b64b-6551edbcb1e8","name":"WAIT_GEN_IMAGES","webhookId":"45ad3cfe-4af4-479e-9b00-36713a770824","credentials":{"telegramApi":{"id":"SmlW1Rp2dBJjxFTu","name":"TRO_LY_QUAN_NHIEM"}}},{"parameters":{"chatId":"={{ $('If').item.json.message.chat.id }}","text":"Đã upload xong file ảnh chờ tôi xử lý giúp.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4096,-1312],"id":"806ca8be-a979-4358-9054-d7f5dff2ef42","name":"Wait_upload_images","webhookId":"e1c33278-6bc5-4c97-97db-009ee37515cc","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-4928,-736],"id":"198ea6cf-903e-4dd5-a936-37ded0ae4894","name":"IMAGE_INPUT","webhookId":"9afe37a1-9dec-42bd-a760-72c2ba525483","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"maxTokens":-1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3712,0],"id":"62ca0c02-b27f-41c4-9504-7b25142ec1f6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"eCExawqiNAs4gLZS","name":"OpenAi_GPT_5_mini"}}},{"parameters":{"chatId":"={{ $('If').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1904,-1008],"id":"68b46168-066d-4197-91a5-44c2fbfce4e7","name":"Send a text message","webhookId":"8d98fb84-e0e0-40b1-8853-cf52c4995c86","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"jsCode":"// 1. Lấy dữ liệu thô\nconst rawInput =  $input.first().json.text|| '';\n\n// --- HÀM TIỆN ÍCH ---\n\n/**\n * Hàm tiện ích: \"Vô hiệu hóa\" các ký tự HTML đặc biệt trong một chuỗi.\n * Đây là cách làm an toàn để tránh lỗi phân tích cú pháp của Telegram ở chế độ HTML.\n * @param {string} text - Văn bản cần xử lý.\n * @returns {string} - Văn bản đã được \"vô hiệu hóa\" ký tự HTML.\n */\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n/**\n * Định dạng một chuỗi dưới dạng khối mã, sử dụng hàm escapeHtml.\n * @param {string} text - Văn bản cần định dạng.\n * @returns {string} - Chuỗi HTML đã được định dạng.\n */\nfunction formatAsCode(text) {\n  // Nội dung bên trong <code> cần được escape để hiển thị chính xác dưới dạng mã nguồn\n  return `<pre><code>${escapeHtml(text)}</code></pre>`;\n}\n\n/**\n * Chia văn bản thành các chunk AN TOÀN cho Telegram.\n * @param {string} text - Văn bản cần chia.\n * @param {number} maxLength - Độ dài ký tự tối đa cho mỗi chunk. Mặc định là 4000 để an toàn với Telegram.\n * @returns {string[]} - Mảng các chunk.\n */\nfunction getTextChunks(text, maxLength = 4000) {\n    if (!text || text.trim().length === 0) {\n        return [];\n    }\n\n    const chunks = [];\n    let textToProcess = text;\n\n    while (textToProcess.length > 0) {\n        if (textToProcess.length <= maxLength) {\n            chunks.push(textToProcess);\n            break;\n        }\n\n        let chunkCandidate = textToProcess.slice(0, maxLength);\n        let splitIndex = maxLength;\n\n        // Ưu tiên ngắt ở các vị trí tự nhiên để không làm hỏng định dạng\n        const breakPoints = ['\\n\\n', '\\n', '. ', ' '];\n        for (const breakPoint of breakPoints) {\n            const lastBreak = chunkCandidate.lastIndexOf(breakPoint);\n            // Chỉ chấp nhận điểm ngắt nếu nó không quá ngắn\n            if (lastBreak > maxLength * 0.7) {\n                splitIndex = lastBreak;\n                break;\n            }\n        }\n\n        const chunk = textToProcess.slice(0, splitIndex);\n        chunks.push(chunk);\n\n        textToProcess = textToProcess.slice(splitIndex).trim();\n    }\n\n    return chunks.filter(chunk => chunk.trim().length > 0);\n}\n\n\n// --- LOGIC CHÍNH ---\nconst allChunks = [];\n\n// TRƯỜNG HỢP 1: Xử lý file bài tập đặc biệt của bạn\n// Nếu input bắt đầu bằng '%%%========', coi toàn bộ là một khối mã.\n// Phần này đã xử lý đúng bằng cách dùng formatAsCode nên không cần thay đổi.\nif (rawInput.trim().startsWith('%%%========')) {\n    const codeChunks = getTextChunks(rawInput);\n    for (const chunk of codeChunks) {\n        allChunks.push({ json: { output: formatAsCode(chunk) } });\n    }\n}\n// TRƯỜNG HỢP 2: Xử lý các loại văn bản hỗn hợp khác\nelse {\n    const patterns = [\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '```[\\\\s\\\\S]*?```',\n      '%%%.*?%%%',\n      '\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '\\\\begin{lstlisting}[\\\\s\\\\S]*?\\\\end{lstlisting}',\n      '\\\\begin{verbatim}[\\\\s\\\\S]*?\\\\end{verbatim}',\n      '\\\\begin{code}[\\\\s\\\\S]*?\\\\end{code}',\n      '\\\\$\\\\$[\\\\s\\\\S]*?\\\\$\\\\$',\n      '<code>[\\\\s\\\\S]*?</code>',\n      '<pre>[\\\\s\\\\S]*?</pre>',\n      '`[^`\\\\n]+`',\n    ];\n\n    const specialBlocksRegex = new RegExp(`(${patterns.join('|')})`, 'g');\n    let currentIndex = 0;\n    let match;\n\n    try {\n        while ((match = specialBlocksRegex.exec(rawInput)) !== null) {\n            // Xử lý phần văn bản thường (plain text) nằm TRƯỚC khối đặc biệt\n            const plainText = rawInput.substring(currentIndex, match.index);\n            if (plainText && plainText.trim()) {\n                // *** THAY ĐỔI QUAN TRỌNG ***\n                // Áp dụng escapeHtml cho văn bản thường để tránh lỗi\n                const escapedText = escapeHtml(plainText);\n                const plainTextChunks = getTextChunks(escapedText);\n                for (const chunk of plainTextChunks) {\n                    allChunks.push({ json: { output: chunk } });\n                }\n            }\n\n            // Xử lý khối đặc biệt (đã được xử lý đúng từ trước)\n            const specialBlock = match[0];\n            if (specialBlock && specialBlock.trim()) {\n                const specialBlockChunks = getTextChunks(specialBlock);\n                for (const chunk of specialBlockChunks) {\n                    // formatAsCode đã bao gồm escapeHtml bên trong\n                    allChunks.push({ json: { output: formatAsCode(chunk) } });\n                }\n            }\n            currentIndex = specialBlocksRegex.lastIndex;\n        }\n\n        // Xử lý phần văn bản thường còn lại ở CUỐI cùng\n        const remainingText = rawInput.substring(currentIndex);\n        if (remainingText && remainingText.trim()) {\n            // *** THAY ĐỔI QUAN TRỌNG ***\n            // Cũng áp dụng escapeHtml cho phần còn lại này\n            const escapedText = escapeHtml(remainingText);\n            const plainTextChunks = getTextChunks(escapedText);\n            for (const chunk of plainTextChunks) {\n                allChunks.push({ json: { output: chunk } });\n            }\n        }\n    } catch (error) {\n        console.error('Lỗi khi xử lý với regex, chuyển sang phương án dự phòng:', error);\n        // Phương án dự phòng: escape toàn bộ nội dung nếu regex lỗi\n        const escapedText = escapeHtml(rawInput);\n        const fallbackChunks = getTextChunks(escapedText);\n        for (const chunk of fallbackChunks) {\n            allChunks.push({ json: { output: chunk } });\n        }\n    }\n}\n\n// Trường hợp dự phòng cuối cùng nếu không có chunk nào được tạo\nif (allChunks.length === 0 && rawInput.trim()) {\n    const escapedText = escapeHtml(rawInput);\n    const fallbackChunks = getTextChunks(escapedText);\n    for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n    }\n}\n\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2192,-1008],"id":"c19c1ac2-be04-40e1-8913-293c1b2e9f26","name":"Code"},{"parameters":{"chatId":"={{ $('If').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2384,-288],"id":"1c9fd500-1a26-4bab-b6fd-5815fb357b4f","name":"Send a text message1","webhookId":"8d98fb84-e0e0-40b1-8853-cf52c4995c86","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"jsCode":"// 1. Lấy dữ liệu thô\nconst rawInput =  $input.first().json.output|| '';\n\n// --- HÀM TIỆN ÍCH ---\n\n/**\n * Hàm tiện ích: \"Vô hiệu hóa\" các ký tự HTML đặc biệt trong một chuỗi.\n * Đây là cách làm an toàn để tránh lỗi phân tích cú pháp của Telegram ở chế độ HTML.\n * @param {string} text - Văn bản cần xử lý.\n * @returns {string} - Văn bản đã được \"vô hiệu hóa\" ký tự HTML.\n */\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n/**\n * Định dạng một chuỗi dưới dạng khối mã, sử dụng hàm escapeHtml.\n * @param {string} text - Văn bản cần định dạng.\n * @returns {string} - Chuỗi HTML đã được định dạng.\n */\nfunction formatAsCode(text) {\n  // Nội dung bên trong <code> cần được escape để hiển thị chính xác dưới dạng mã nguồn\n  return `<pre><code>${escapeHtml(text)}</code></pre>`;\n}\n\n/**\n * Chia văn bản thành các chunk AN TOÀN cho Telegram.\n * @param {string} text - Văn bản cần chia.\n * @param {number} maxLength - Độ dài ký tự tối đa cho mỗi chunk. Mặc định là 4000 để an toàn với Telegram.\n * @returns {string[]} - Mảng các chunk.\n */\nfunction getTextChunks(text, maxLength = 4000) {\n    if (!text || text.trim().length === 0) {\n        return [];\n    }\n\n    const chunks = [];\n    let textToProcess = text;\n\n    while (textToProcess.length > 0) {\n        if (textToProcess.length <= maxLength) {\n            chunks.push(textToProcess);\n            break;\n        }\n\n        let chunkCandidate = textToProcess.slice(0, maxLength);\n        let splitIndex = maxLength;\n\n        // Ưu tiên ngắt ở các vị trí tự nhiên để không làm hỏng định dạng\n        const breakPoints = ['\\n\\n', '\\n', '. ', ' '];\n        for (const breakPoint of breakPoints) {\n            const lastBreak = chunkCandidate.lastIndexOf(breakPoint);\n            // Chỉ chấp nhận điểm ngắt nếu nó không quá ngắn\n            if (lastBreak > maxLength * 0.7) {\n                splitIndex = lastBreak;\n                break;\n            }\n        }\n\n        const chunk = textToProcess.slice(0, splitIndex);\n        chunks.push(chunk);\n\n        textToProcess = textToProcess.slice(splitIndex).trim();\n    }\n\n    return chunks.filter(chunk => chunk.trim().length > 0);\n}\n\n\n// --- LOGIC CHÍNH ---\nconst allChunks = [];\n\n// TRƯỜNG HỢP 1: Xử lý file bài tập đặc biệt của bạn\n// Nếu input bắt đầu bằng '%%%========', coi toàn bộ là một khối mã.\n// Phần này đã xử lý đúng bằng cách dùng formatAsCode nên không cần thay đổi.\nif (rawInput.trim().startsWith('%%%========')) {\n    const codeChunks = getTextChunks(rawInput);\n    for (const chunk of codeChunks) {\n        allChunks.push({ json: { output: formatAsCode(chunk) } });\n    }\n}\n// TRƯỜNG HỢP 2: Xử lý các loại văn bản hỗn hợp khác\nelse {\n    const patterns = [\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '```[\\\\s\\\\S]*?```',\n      '%%%.*?%%%',\n      '\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '\\\\begin{lstlisting}[\\\\s\\\\S]*?\\\\end{lstlisting}',\n      '\\\\begin{verbatim}[\\\\s\\\\S]*?\\\\end{verbatim}',\n      '\\\\begin{code}[\\\\s\\\\S]*?\\\\end{code}',\n      '\\\\$\\\\$[\\\\s\\\\S]*?\\\\$\\\\$',\n      '<code>[\\\\s\\\\S]*?</code>',\n      '<pre>[\\\\s\\\\S]*?</pre>',\n      '`[^`\\\\n]+`',\n    ];\n\n    const specialBlocksRegex = new RegExp(`(${patterns.join('|')})`, 'g');\n    let currentIndex = 0;\n    let match;\n\n    try {\n        while ((match = specialBlocksRegex.exec(rawInput)) !== null) {\n            // Xử lý phần văn bản thường (plain text) nằm TRƯỚC khối đặc biệt\n            const plainText = rawInput.substring(currentIndex, match.index);\n            if (plainText && plainText.trim()) {\n                // *** THAY ĐỔI QUAN TRỌNG ***\n                // Áp dụng escapeHtml cho văn bản thường để tránh lỗi\n                const escapedText = escapeHtml(plainText);\n                const plainTextChunks = getTextChunks(escapedText);\n                for (const chunk of plainTextChunks) {\n                    allChunks.push({ json: { output: chunk } });\n                }\n            }\n\n            // Xử lý khối đặc biệt (đã được xử lý đúng từ trước)\n            const specialBlock = match[0];\n            if (specialBlock && specialBlock.trim()) {\n                const specialBlockChunks = getTextChunks(specialBlock);\n                for (const chunk of specialBlockChunks) {\n                    // formatAsCode đã bao gồm escapeHtml bên trong\n                    allChunks.push({ json: { output: formatAsCode(chunk) } });\n                }\n            }\n            currentIndex = specialBlocksRegex.lastIndex;\n        }\n\n        // Xử lý phần văn bản thường còn lại ở CUỐI cùng\n        const remainingText = rawInput.substring(currentIndex);\n        if (remainingText && remainingText.trim()) {\n            // *** THAY ĐỔI QUAN TRỌNG ***\n            // Cũng áp dụng escapeHtml cho phần còn lại này\n            const escapedText = escapeHtml(remainingText);\n            const plainTextChunks = getTextChunks(escapedText);\n            for (const chunk of plainTextChunks) {\n                allChunks.push({ json: { output: chunk } });\n            }\n        }\n    } catch (error) {\n        console.error('Lỗi khi xử lý với regex, chuyển sang phương án dự phòng:', error);\n        // Phương án dự phòng: escape toàn bộ nội dung nếu regex lỗi\n        const escapedText = escapeHtml(rawInput);\n        const fallbackChunks = getTextChunks(escapedText);\n        for (const chunk of fallbackChunks) {\n            allChunks.push({ json: { output: chunk } });\n        }\n    }\n}\n\n// Trường hợp dự phòng cuối cùng nếu không có chunk nào được tạo\nif (allChunks.length === 0 && rawInput.trim()) {\n    const escapedText = escapeHtml(rawInput);\n    const fallbackChunks = getTextChunks(escapedText);\n    for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n    }\n}\n\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2752,-288],"id":"397fd3e2-58c6-43b5-84ff-c517f0c11012","name":"Code1"}],"connections":{"input_AI_agent":{"main":[[{"node":"AI_AGENT_GEN_IMAGES","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI_AGENT_GEN_IMAGES","type":"ai_memory","index":0}]]},"AI_AGENT_GEN_IMAGES":{"main":[[{"node":"OUTPUT_AI_AGENT","type":"main","index":0}]]},"OUTPUT_AI_AGENT":{"main":[[{"node":"Code1","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file","type":"main","index":0}],[{"node":"WAIT_GEN_IMAGES","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Wait_upload_images","type":"main","index":0}]]},"INPUT_NORMAL":{"main":[[{"node":"RANDOM_API_KEY","type":"main","index":0}]]},"RANDOM_API_KEY":{"main":[[{"node":"IMAGES_GEN_INLINE_DATA","type":"main","index":0}]]},"IMAGES_GEN_INLINE_DATA":{"main":[[{"node":"check_isdata1","type":"main","index":0}]]},"data":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filter":{"main":[[{"node":"data","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send a photo message1","type":"main","index":0}]]},"data1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"data1","type":"main","index":0}]]},"check_isdata1":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"check_isdata0","type":"main","index":0}]]},"check_isdata0":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"text","type":"main","index":0}]]},"WAIT_GEN_IMAGES":{"main":[[{"node":"input_AI_agent","type":"main","index":0}]]},"Wait_upload_images":{"main":[[{"node":"INPUT_NORMAL","type":"main","index":0}]]},"text":{"main":[[{"node":"Code","type":"main","index":0}]]},"IMAGE_INPUT":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI_AGENT_GEN_IMAGES","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5c90ee67-3388-4130-b625-52a8958f9958","triggerCount":1,"shared":[{"updatedAt":"2025-11-30T04:22:24.362Z","createdAt":"2025-11-30T04:22:24.362Z","role":"workflow:owner","workflowId":"l3GFYsrX7tYcAJEx","projectId":"EIQckweL3OLW7kzz"}],"tags":[]}