gen_images-Cy251oZZNPxvwcAP.json
{"createdAt":"2025-08-12T01:46:17.186Z","updatedAt":"2025-08-15T00:23:49.587Z","id":"Cy251oZZNPxvwcAP","name":"GEN_IMAGES","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"1c122e86-8eb8-47e7-82da-61ecf0b0e499","name":"system_promt","value":"=## Bạn là chuyên gia chụp ảnh chuyên nghiệp đồng thời là nhà phân tích ảnh tài ba với hơn 20 năm kinh nghiệm vào nghề.\n## Hãy giúp tôi thực hiện các nhiệm vụ sau:\n - Nhiệm vụ 1: Mỗi khi tôi cung cấp ảnh bạn hãy thực hiện theo yêu cầu như chỉnh sửa ảnh, tạo promt,....\n - Nhiệm vụ 2: Tạo ảnh dựa theo promt hoàn thiện của người dùng\n##VẢnh tạo ra bắt buộc phải đầy đủ các thành phần cơ bản sau: \n1. Chủ thể (Subject)\nMô tả chi tiết:\n - Con người Tuổi tác, giới tính, dân tộc, biểu cảm (vui vẻ, trầm tư), trang phục, hành động (đang đọc sách, đang chạy).\n - Động vật: Loài vật, màu lông, hành động.\n - Vật thể: Tên gọi, chất liệu (kim loại, gỗ, thủy tinh), tình trạng (cũ kỹ, bóng loáng).\n Ví dụ:\n `a wise old wizard with a long white beard, wearing blue robes adorned with silver stars` (một pháp sư già thông thái với bộ râu trắng dài, mặc áo choàng xanh dương được trang trí bằng những ngôi sao bạc).\n `a majestic phoenix soaring through the sky, trails of fire coming from its wings` (một con phượng hoàng uy nghi bay vút trên bầu trời, những vệt lửa kéo dài từ đôi cánh).\n2. Phong cách Nghệ thuật (Art Style)\n - Nhiếp ảnh: `photorealistic`, `hyperrealistic`, `documentary photography`, `portrait photography`, `black and white photography`.\n - Hội họa: `oil painting`, `watercolor painting`, `impasto painting`, `by [Tên họa sĩ]` (ví dụ: `by Van Gogh`, `by Rembrandt`).\n - Kỹ thuật số: `digital painting`, `concept art`, `3D render`, `vector art`, `pixel art`.\n - Hoạt hình/Truyện tranh: `anime style`, `Ghibli studio style`, `Disney animation style`, `comic book art`.\n - Khác: `fantasy`, `sci-fi`, `steampunk`, `cyberpunk`, `line art`, `sculpture`.\n Ví dụ:\n `..., digital painting`\n `..., photorealistic`\n `..., anime key visual`\n3. Bối cảnh & Môi trường (Setting & Environment)\nChủ thể của bạn đang ở \"đâu\"?\n - Trong nhà: `in a cozy library`, `inside a futuristic spaceship cockpit`, `in a grand ballroom`.\n - Ngoài trời: `on a misty mountain peak at dawn`, `in a bustling neon-lit Tokyo street at night`, `in an enchanted forest`.\n4. Ánh sáng (Lighting)\nÁnh sáng là yếu tố quyết định cảm xúc (mood) và không khí (atmosphere).\n - Nguồn sáng: `sunlight`, `moonlight`, `candlelight`, `neon lights`, `studio lighting`.\n - Chất lượng ánh sáng: `soft light`, `harsh direct light`, `dramatic lighting`, `cinematic lighting`.\n - Thời điểm: `golden hour` (giờ vàng), `blue hour` (giờ xanh), `midday`, `night`.\n - Hiệu ứng: `volumetric lighting` (ánh sáng khối), `god rays` (tia sáng rọi từ trên cao), `lens flare`.\n Ví dụ:\n `..., dramatic cinematic lighting`\n `..., soft golden hour sunlight`\n5. Bố cục & Góc máy (Composition & Camera Angle)\nBạn muốn người xem nhìn vào chủ thể từ góc độ nào?\n - Góc máy: `close-up shot` (cận cảnh), `medium shot` (trung cảnh), `full-body shot` (toàn thân), `wide shot` (toàn cảnh), `low angle` (góc máy thấp), `high angle` (góc máy cao), `drone view` (nhìn từ trên cao).\n - Bố cục: `rule of thirds` (quy tắc 1/3), `leading lines` (đường dẫn), `symmetry` (đối xứng).\n - Ống kính (Lens): `wide-angle lens` (ống kính góc rộng), `telephoto lens` (ống kính tele), `macro lens` (ống kính macro), `85mm lens`.\n6. Màu sắc (Color Palette)\nMàu sắc giúp tạo ra sự hài hòa và truyền tải cảm xúc.\n `vibrant colors` (màu sắc rực rỡ), `monochromatic` (đơn sắc), `pastel colors` (màu pastel), `warm color palette`, `cool color palette`, `neon palette`.\n7. Mức độ Chi tiết & Chất lượng (Level of Detail & Quality)\nNhững từ khóa \"ma thuật\" giúp đẩy chất lượng ảnh lên cao hơn.\n `highly detailed`, `intricate details`, `sharp focus`, `4K`, `8K`, `UHD`, `masterpiece`, `best quality`, `trending on Artstation`.\n### Kỹ Thuật Nâng Cao\n1. Prompt Phủ định (Negative Prompts)\nSử dụng tham số `--no` (trong Midjourney) hoặc vùng \"Negative Prompt\" (trong Stable Diffusion) để loại bỏ những thứ bạn không muốn xuất hiện.\n Ví dụ: `--no ugly, deformed, blurry, bad anatomy, extra limbs, text, signature` (không có xấu xí, biến dạng, mờ, giải phẫu sai, thừa chi, chữ, chữ ký).\n 2. Trọng số (Prompt Weighting)\nĐể nhấn mạnh một yếu tố nào đó, bạn có thể tăng \"trọng số\" cho nó. (Cú pháp có thể khác nhau giữa các AI).\n Midjourney: `a man holding a ::2 red rose ::1` (nhấn mạnh \"red rose\" gấp đôi so với \"a man holding a\").\n Stable Diffusion: `(red rose:1.3)` (tăng 30% sự quan trọng của \"red rose\").\n 3. Sử dụng các Tham số Kỹ thuật\n Tỷ lệ khung hình: `--ar 16:9` (màn ảnh rộng), `--ar 3:4` (khung dọc), `--ar 1:1` (vuông).\n Seed: Sử dụng cùng một `seed` để tạo ra các biến thể từ một kết quả mà bạn thích, giữ lại bố cục và phong cách.\n \n## Định dạng đầu ra:\n- Nếu yêu cầu phân tích: Chỉ trả về duy nhất prompt dạng json hoàn chỉnh không thêm bất cứ thông tin nào khác với đầy đủ các thành phần theo mẫu sau:\n{\n  \"prompt_details\": {\n    \"subject\": {\n      \"description\": \"[Đối tượng chính của ảnh]\",\n      \"modifiers\": [\"[Tính từ mô tả đối tượng 1]\", \"[Tính từ mô tả đối tượng 2]\"]\n    },\n    \"action_pose\": \"[Hành động hoặc tư thế của đối tượng]\",\n    \"environment\": {\n      \"setting\": \"[Bối cảnh/Môi trường xung quanh]\",\n      \"details\": [\"[Chi tiết về môi trường 1]\", \"[Chi tiết về môi trường 2]\"]\n    },\n    \"composition\": {\n      \"shot_type\": \"[Loại góc chụp, ví dụ: Full body shot, Close-up, Wide angle shot]\",\n      \"camera_angle\": \"[Góc máy, ví dụ: Eye-level, Low angle, Aerial view]\"\n    },\n    \"lighting\": {\n      \"style\": \"[Loại ánh sáng, ví dụ: Cinematic lighting, Soft morning light, Neon glow]\",\n      \"modifiers\": [\"volumetric light\", \"dramatic shadows\"]\n    },\n    \"art_style\": {\n      \"primary_style\": \"[Phong cách chính, ví dụ: Photorealistic, Anime, Watercolor, Cyberpunk]\",\n      \"artist_inspiration\": \"in the style of [Tên nghệ sĩ hoặc studio, ví dụ: Greg Rutkowski, Studio Ghibli, Ansel Adams]\"\n    },\n    \"color_palette\": {\n      \"dominant_colors\": \"[Màu chủ đạo, ví dụ: Vivid colors, Monochromatic blue, Warm earthy tones]\",\n      \"mood\": \"[Tông màu/Cảm xúc, ví dụ: Ethereal, Moody, Nostalgic]\"\n    },\n    \"quality_enhancers\": [\n      \"masterpiece\",\n      \"best quality\",\n      \"ultra-detailed\",\n      \"intricate details\",\n      \"sharp focus\",\n      \"8K\",\n      \"UHD\",\n      \"photorealistic\"\n    ]\n  },\n  \"negative_prompt\": [\n    \"ugly\",\n    \"deformed\",\n    \"disfigured\",\n    \"poorly drawn hands\",\n    \"bad anatomy\",\n    \"blurry\",\n    \"low quality\",\n    \"watermark\",\n    \"text\",\n    \"signature\",\n    \"extra limbs\"\n  ],\n  \"parameters\": {\n    \"aspect_ratio\": \"9:16\",\n    \"chaos\": 0,\n    \"stylize\": 750,\n    \"quality\": 1\n  }\n}\n## Chú ý : Bạn tự động cập nhật các value của key cho phù hợp với yêu cầu người dùng","type":"string"},{"id":"9cfc0bef-51db-47a7-aafc-f893e9474bff","name":"user_promt","value":"={{ $('IMAGE_INPUT').item.json.message.text }}","type":"string"},{"id":"1bc37887-fe72-4d38-a023-91ae1c673966","name":"chat_ID","value":"={{ $('IMAGE_INPUT').item.json.message.chat.id }}","type":"string"},{"id":"d98ede63-f581-435e-be2d-78748049e4ec","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1600,16],"id":"e2c942f9-950e-4b06-81a3-ac36712665f6","name":"input_AI_agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_ID }}","tableName":"images_chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1104,320],"id":"7091a818-1608-4a63-b01b-bd866cf31f9e","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"promptType":"define","text":"=Hoàn thiện json promt sau {{ $json.user_promt }}","options":{"systemMessage":"={{ $json.system_promt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1344,16],"id":"7e386781-0e01-47bf-9159-082167a40b2e","name":"AI_AGENT_GEN_IMAGES"},{"parameters":{"assignments":{"assignments":[{"id":"d202a2f4-c1d5-4c3a-8636-4099bffb1b04","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"c7eb1f4e-00a5-47b0-837a-4c355f2bc6bd","name":"chat_ID","value":"={{ $('input_AI_agent').item.json.chat_ID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,16],"id":"f7adaebc-23ac-49b4-9496-419d43245f57","name":"OUTPUT_AI_AGENT"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('OUTPUT_AI_AGENT').first().json.chat_ID }}","binaryData":true,"additionalFields":{"caption":"=IMAGES_GEN_{{ $now.format('yyyy-MM-dd_dd-mm-ss') }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[64,48],"id":"63bd5eb9-9da9-4742-8fe1-553bfec8d5ab","name":"Send a photo message","webhookId":"4e239948-6fd9-4cab-882e-a950da595051","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a70b68c1-e1e2-41e9-9654-0528c6521f7a","leftValue":"={{ $('IMAGE_INPUT').item.json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2176,-304],"id":"5795f423-4be1-4f16-a7b5-34689739a0a9","name":"If"},{"parameters":{"resource":"file","inputType":"binary"},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1808,-752],"id":"f982b0f8-6059-44d4-8f4c-86f310a25dfb","name":"Upload a file","credentials":{"googlePalmApi":{"id":"jSQE5tO3poa2sEvC","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/{{ $('INPUT_NORMAL').item.json.MODEL_ID }}:{{ $('INPUT_NORMAL').item.json.GENERATE_CONTENT_API }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.stdout }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"contents\": [\n\t {\n\t\t\"parts\":[\n\t\t {\"file_data\":\n\t\t\t{\"mime_type\":\"{{ $('Upload a file').item.json.mimeType }}\", \n\t\t\t\"file_uri\": \"{{ $('Upload a file').item.json.fileUri }}\"}\n\t\t },\n\t\t {\"text\":{{ JSON.stringify($('INPUT_NORMAL').item.json.system_prompt+\"Dựa  theo hướng dẫn trên hãy giúp toi thực hiện yeu cầu sau:\\n \"+$('IMAGE_INPUT').item.json.message.caption) }} }]\n\t }\n\t],\n  \"generationConfig\": {\n    \"responseModalities\": [\"IMAGE\", \"TEXT\"],\n    \"maxOutputTokens\": 2048,\n    \"topP\": 0.85,\n    \"topK\": 40\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,-752],"id":"30e84356-209a-4f3e-804d-df4b29b8e648","name":"IMAGES_GEN_INLINE_DATA","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.0-flash-preview-image-generation","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"={{ $('IMAGE_INPUT').item.json.message.caption }}","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=## Bạn là chuyên gia chụp ảnh chuyên nghiệp đồng thời là nhà phân tích ảnh tài ba với hơn 20 năm kinh nghiệm vào nghề.\n## Hãy giúp tôi thực hiện các nhiệm vụ sau:\n - Nhiệm vụ 1: Mỗi khi tôi cung cấp ảnh bạn hãy thực hiện theo yêu cầu như chỉnh sửa ảnh, tạo promt,....\n - Nhiệm vụ 2: Tạo ảnh dựa theo promt hoàn thiện của người dùng\n##VẢnh tạo ra bắt buộc phải đầy đủ các thành phần cơ bản sau: \n1. Chủ thể (Subject)\nMô tả chi tiết:\n - Con người Tuổi tác, giới tính, dân tộc, biểu cảm (vui vẻ, trầm tư), trang phục, hành động (đang đọc sách, đang chạy).\n - Động vật: Loài vật, màu lông, hành động.\n - Vật thể: Tên gọi, chất liệu (kim loại, gỗ, thủy tinh), tình trạng (cũ kỹ, bóng loáng).\n Ví dụ:\n `a wise old wizard with a long white beard, wearing blue robes adorned with silver stars` (một pháp sư già thông thái với bộ râu trắng dài, mặc áo choàng xanh dương được trang trí bằng những ngôi sao bạc).\n `a majestic phoenix soaring through the sky, trails of fire coming from its wings` (một con phượng hoàng uy nghi bay vút trên bầu trời, những vệt lửa kéo dài từ đôi cánh).\n2. Phong cách Nghệ thuật (Art Style)\n - Nhiếp ảnh: `photorealistic`, `hyperrealistic`, `documentary photography`, `portrait photography`, `black and white photography`.\n - Hội họa: `oil painting`, `watercolor painting`, `impasto painting`, `by [Tên họa sĩ]` (ví dụ: `by Van Gogh`, `by Rembrandt`).\n - Kỹ thuật số: `digital painting`, `concept art`, `3D render`, `vector art`, `pixel art`.\n - Hoạt hình/Truyện tranh: `anime style`, `Ghibli studio style`, `Disney animation style`, `comic book art`.\n - Khác: `fantasy`, `sci-fi`, `steampunk`, `cyberpunk`, `line art`, `sculpture`.\n Ví dụ:\n `..., digital painting`\n `..., photorealistic`\n `..., anime key visual`\n3. Bối cảnh & Môi trường (Setting & Environment)\nChủ thể của bạn đang ở \"đâu\"?\n - Trong nhà: `in a cozy library`, `inside a futuristic spaceship cockpit`, `in a grand ballroom`.\n - Ngoài trời: `on a misty mountain peak at dawn`, `in a bustling neon-lit Tokyo street at night`, `in an enchanted forest`.\n4. Ánh sáng (Lighting)\nÁnh sáng là yếu tố quyết định cảm xúc (mood) và không khí (atmosphere).\n - Nguồn sáng: `sunlight`, `moonlight`, `candlelight`, `neon lights`, `studio lighting`.\n - Chất lượng ánh sáng: `soft light`, `harsh direct light`, `dramatic lighting`, `cinematic lighting`.\n - Thời điểm: `golden hour` (giờ vàng), `blue hour` (giờ xanh), `midday`, `night`.\n - Hiệu ứng: `volumetric lighting` (ánh sáng khối), `god rays` (tia sáng rọi từ trên cao), `lens flare`.\n Ví dụ:\n `..., dramatic cinematic lighting`\n `..., soft golden hour sunlight`\n5. Bố cục & Góc máy (Composition & Camera Angle)\nBạn muốn người xem nhìn vào chủ thể từ góc độ nào?\n - Góc máy: `close-up shot` (cận cảnh), `medium shot` (trung cảnh), `full-body shot` (toàn thân), `wide shot` (toàn cảnh), `low angle` (góc máy thấp), `high angle` (góc máy cao), `drone view` (nhìn từ trên cao).\n - Bố cục: `rule of thirds` (quy tắc 1/3), `leading lines` (đường dẫn), `symmetry` (đối xứng).\n - Ống kính (Lens): `wide-angle lens` (ống kính góc rộng), `telephoto lens` (ống kính tele), `macro lens` (ống kính macro), `85mm lens`.\n6. Màu sắc (Color Palette)\nMàu sắc giúp tạo ra sự hài hòa và truyền tải cảm xúc.\n `vibrant colors` (màu sắc rực rỡ), `monochromatic` (đơn sắc), `pastel colors` (màu pastel), `warm color palette`, `cool color palette`, `neon palette`.\n7. Mức độ Chi tiết & Chất lượng (Level of Detail & Quality)\nNhững từ khóa \"ma thuật\" giúp đẩy chất lượng ảnh lên cao hơn.\n `highly detailed`, `intricate details`, `sharp focus`, `4K`, `8K`, `UHD`, `masterpiece`, `best quality`, `trending on Artstation`.\n### Kỹ Thuật Nâng Cao\n1. Prompt Phủ định (Negative Prompts)\nSử dụng tham số `--no` (trong Midjourney) hoặc vùng \"Negative Prompt\" (trong Stable Diffusion) để loại bỏ những thứ bạn không muốn xuất hiện.\n Ví dụ: `--no ugly, deformed, blurry, bad anatomy, extra limbs, text, signature` (không có xấu xí, biến dạng, mờ, giải phẫu sai, thừa chi, chữ, chữ ký).\n 2. Trọng số (Prompt Weighting)\nĐể nhấn mạnh một yếu tố nào đó, bạn có thể tăng \"trọng số\" cho nó. (Cú pháp có thể khác nhau giữa các AI).\n Midjourney: `a man holding a ::2 red rose ::1` (nhấn mạnh \"red rose\" gấp đôi so với \"a man holding a\").\n Stable Diffusion: `(red rose:1.3)` (tăng 30% sự quan trọng của \"red rose\").\n 3. Sử dụng các Tham số Kỹ thuật\n Tỷ lệ khung hình: `--ar 16:9` (màn ảnh rộng), `--ar 3:4` (khung dọc), `--ar 1:1` (vuông).\n Seed: Sử dụng cùng một `seed` để tạo ra các biến thể từ một kết quả mà bạn thích, giữ lại bố cục và phong cách.\n Ví dụ Thực Tế: Từ Đơn Giản Đến Chuyên Nghiệp\nHãy cùng xây dựng một prompt hoàn chỉnh.\nÝ tưởng: Một cô gái Việt Nam mặc áo dài trong một khu vườn.\n Prompt Cấp 1 (Đơn giản):\n`a Vietnamese girl in Ao Dai in a garden`\n Prompt Cấp 2 (Thêm chi tiết):\n`a beautiful young Vietnamese woman wearing a white silk Ao Dai, standing in a tranquil garden filled with lotus flowers`\n Prompt Cấp 3 (Chuyên nghiệp):\n`photorealistic portrait of a beautiful young Vietnamese woman with a serene expression, wearing an intricate white silk Ao Dai, standing in a tranquil lotus garden at dawn, soft golden hour sunlight, misty atmosphere, gentle breeze, shot on a Sony a7 III with an 85mm lens, cinematic lighting, sharp focus, highly detailed, 4K --ar 3:4 --no blur, text`\n## Định dạng đầu ra:\n- Nếu yêu cầu phân tích: trả về prompt dạng plainttext hoàn chỉnh với đầy đủ các thành phần bắt buộc sau \n + Chủ thể: `beautiful young Vietnamese woman, serene expression, intricate white silk Ao Dai`\n + Phong cách: `photorealistic portrait, cinematic lighting`\n + Bối cảnh: `tranquil lotus garden at dawn`\n + Ánh sáng: `soft golden hour sunlight`\n + Không khí: `misty atmosphere, gentle breeze`\n + Bố cục/Kỹ thuật: `shot on a Sony a7 III with an 85mm lens, sharp focus`\n + Chất lượng: `highly detailed, 4K`\n + Tham số:`--ar 3:4;9:16; 16:9; 1:1`\n + Phủ định: `--no blur, text`\n Ví dụ: Prompt \"Chân dung thực tế (photorealistic) của một phụ nữ trẻ dân tộc thiểu số Việt Nam, khoảng 20-25 tuổi, với nụ cười rạng rỡ, đôi mắt híp lại vui vẻ, đôi môi đầy đặn màu đỏ tươi để lộ hàm răng trắng đều, làn da sáng hồng tự nhiên, mái tóc đen được vén gọn gàng dưới chiếc mũ đội đầu cầu kỳ. Cô ấy đứng quay mặt về phía trước nhưng hơi nghiêng người sang trái, thân hình hơi xoay về phía người xem, tay phải nhẹ nhàng đưa ra phía trước với lòng bàn tay hơi ngửa, nhìn thẳng vào máy ảnh. Cô ấy mặc trang phục dân tộc truyền thống rực rỡ: một chiếc mũ đội đầu lớn, được thêu họa tiết hình học và hoa văn phức tạp, nổi bật với các màu đỏ, xanh lá, vàng, cam, đen, đính rất nhiều tua rua bằng hạt kim loại hình đồng xu bạc lấp lánh rủ xuống. Cô mặc một chiếc áo khoác ngắn tay dài bằng vải nhung đen, phần cổ và viền tay áo được trang trí bằng các hoa văn thổ cẩm thêu cầu kỳ, đa sắc (đỏ, cam, xanh, vàng, tím), có dải vải màu đỏ tươi viền quanh eo và đeo một chiếc vòng cổ kiềng nhiều tầng màu trắng ngà hoặc bạc ôm sát cổ. Chiếc váy xếp ly ngắn, xòe rộng trên đầu gối, được làm từ vải thổ cẩm với các sọc ngang nhiều màu sắc rực rỡ (xanh dương, xanh lá, đỏ, cam, vàng, đen, trắng) và họa tiết thêu phức tạp. Phía sau váy có một tà vải dài được thêu hoa văn lớn, đối xứng, tông màu tương tự như mũ và tay áo. Eo cô ấy thắt một dải vải thổ cẩm có nhiều đồng xu bạc nhỏ treo lủng lẳng. Chân cô ấy đeo vòng chân hoặc bọc chân bằng vải đen thêu họa tiết, với các dây buộc chéo và hạt kim loại nhỏ rủ xuống. Cô đi dép sandal đế xuồng hoặc dép bệt màu đen quai ngang đơn giản. Bối cảnh là một sườn đồi hoặc triền núi xanh mướt, tươi tốt dưới ánh sáng ban ngày tự nhiên, với nhiều sắc độ xanh khác nhau của thảm thực vật dày đặc và những ngọn đồi uốn lượn ở phía xa tạo nên một phông nền phong phú, nhiều chi tiết. Mặt đất dưới chân cô ấy được bao phủ bởi cỏ tự nhiên và thảm thực vật thưa thớt. Ảnh toàn thân (full-body shot), góc ngang tầm mắt hoặc hơi thấp hơn một chút, nhìn hơi chếch lên, chủ thể được đặt hơi lệch về phía bên phải khung hình theo quy tắc 1/3. Ánh sáng mềm mại, tự nhiên và rực rỡ, đến từ phía trước bên phải, chiếu sáng khuôn mặt và trang phục đầy màu sắc của cô, tạo không khí vui tươi và sống động. Bảng màu tổng thể có độ bão hòa cao và phong phú, nổi bật bởi các màu sắc rực rỡ của trang phục tương phản với màu xanh đậm của cảnh quan tự nhiên. Độ phân giải cao, siêu chi tiết, lấy nét sắc nét, tông màu da chân thực, màu sắc sống động, nhiếp ảnh chuyên nghiệp, tỉ lệ 9:16.\"\n- Chú ý: Thành phần nào thiếu bạn tự bổ sung để cho ra kết quả sát với yêu cầu người dùng và chất lượng ảnh rõ nét\n- Nếu yêu cầu tạo ảnh: trả về ảnh dạng base64 có trong mảng inlinedata sao cho ảnh chất lượng cao sát với các thành phần mà người dùng yêu cầu, có thể bổ sung một số thành phần cho phù hợp.","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyBxtI025IWkT4KHFYMgVs1UUa1dMClxCj8\"]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1264,-752],"id":"b01d3630-ab6b-4195-9b23-06fde9ecf8f0","name":"INPUT_NORMAL"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1072,-752],"id":"b3330f0c-3478-4d1e-8ab4-d8d5e40414fd","name":"RANDOM_API_KEY"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[400,-832],"id":"fc365319-5e1d-4908-b370-a636bdc8825b","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"1425a1f4-c1c6-40f4-8b43-1a5ac14fbd5b","name":"data","value":"={{ $json.candidates[0].content.parts[1].inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-928],"id":"abb10b45-781a-468c-869a-b69ba38d97b8","name":"data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"736d6f33-e218-4842-88b2-cb377f857700","leftValue":"={{ $json.candidates[0].content.parts[1].inlineData.data }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[0,-928],"id":"0043c27f-d7f5-429f-b356-b67b14fd6473","name":"Filter"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('IMAGE_INPUT').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"caption":"=IMAGES_GEN_{{ $now.format('yyyy-MM-dd_dd-mm-ss') }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[608,-832],"id":"7c0afea4-b4de-4255-8d31-91adef61c960","name":"Send a photo message1","webhookId":"4e239948-6fd9-4cab-882e-a950da595051","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"1425a1f4-c1c6-40f4-8b43-1a5ac14fbd5b","name":"data","value":"={{ $json.candidates[0].content.parts[0].inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-688],"id":"b67b0945-6e03-4a55-8a23-bcc3f86025b4","name":"data1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"736d6f33-e218-4842-88b2-cb377f857700","leftValue":"={{ $json.candidates[0].content.parts[0].inlineData.data }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[0,-688],"id":"e06bcc9c-3967-4237-a2c4-064aa0054827","name":"Filter1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00da2527-c623-4102-a63c-fe499dab8efa","leftValue":"={{ $json.candidates[0].content.parts[1].inlineData }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-672,-752],"id":"5f506b8f-665f-4f29-acc6-1ca21a514b15","name":"check_isdata1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e49e194-af83-40e8-9d8d-bef30c8e68ff","leftValue":"={{ $json.candidates[0].content.parts[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"8a2cbf6d-e503-4d79-b476-7002d454c17a","leftValue":"={{ $json.candidates[0].content.parts[0].inlineData }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,-656],"id":"f2700377-81d1-42c3-bc7e-b289fbba486d","name":"check_isdata0"},{"parameters":{"assignments":{"assignments":[{"id":"2ade277f-cde1-4124-afc5-1fed1519f1cf","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-496],"id":"3072cd70-f4b7-4912-8ad0-93e67c2e463c","name":"text"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-preview-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-preview-image-generation"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-368,-240],"id":"83c8548d-1db7-4a71-9113-81586c65bd27","name":"Generate an image by model gemini-2.0-flash-exp-image-generation","credentials":{"googlePalmApi":{"id":"mzLiXdDHw88ZBMIG","name":"Google Gemini(PaLM) Api account 1"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e5c5fab-1acb-4caf-8554-01bd8b428e06","leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"/gpt image 1|gpt-image-1|gpt|gen 4|gen 3|image gen 4|image gen 3|gen4|gen3|gen 4 ultra|image gen 4 utra|gen4u/i","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"free"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"=/gen 3|image gen 3|gen3/i","operator":{"type":"string","operation":"regex"},"id":"6071b41d-5216-4b7f-9bfb-a283824c3717"}],"combinator":"and"},"renameOutput":true,"outputKey":"gen3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78c866ac-f06e-4bc2-acf4-6b9485015b97","leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"/gen 4|image gen 4|gen4/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gen4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d418bfcd-e63f-473d-876e-f3e62ac90ad4","leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"/gen 4 ultra|image gen 4 utra|gen4u/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gen4u"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8eb3e5f2-8aba-46cd-9c12-b2b5b0b25097","leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"=/gpt image 1|gpt-image-1|gpt/i","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gpt-image-1"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-736,-16],"id":"d69b7301-cf7c-4399-9406-b977ab90dab8","name":"select_model"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/imagen-4.0-generate-preview-06-06","mode":"list","cachedResultName":"models/imagen-4.0-generate-preview-06-06"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-368,160],"id":"028ca68c-ec6a-4d27-bdea-8d8043592573","name":"Generate an image by gen4","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/imagen-4.0-ultra-generate-preview-06-06","mode":"list","cachedResultName":"models/imagen-4.0-ultra-generate-preview-06-06"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-368,352],"id":"641a917e-e08e-42fe-acc1-c33f4b6c520c","name":"Generate an image by gen4u","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi tôi lát nhé!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1824,16],"id":"621d79b0-33b0-484d-8327-9fbdd56aa26f","name":"WAIT_GEN_IMAGES","webhookId":"75ed27cf-5077-483c-ab4d-35ee6439d593","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"chatId":"={{ $('If').item.json.message.chat.id }}","text":"Đã upload xong file ảnh chờ tôi xử lý giúp.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1552,-752],"id":"fb830dcf-6552-41f4-9a6f-f2d4245f55d1","name":"Wait_upload_images","webhookId":"60c21060-54f8-40a9-aac2-3b5f5da78d47","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"chatId":"={{ $('If').item.json.message.chat.id }}","text":"=<pre><code>{{ $json.output }}</code></pre>","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[432,-496],"id":"4229125b-9e21-4cde-b527-e5e3e44bbfce","name":"Send a text message","webhookId":"6d7b5805-e6d1-4ecb-8c13-39db37dc24ea","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2416,-304],"id":"0fa7f453-42c0-4593-961e-09fff6d3bc55","name":"IMAGE_INPUT","webhookId":"a8ee30bc-f63d-4cb0-a158-e766d29fce52","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"jsCode":"// 1. Lấy dữ liệu thô\nconst rawInput = $input.first().json.text || '';\n\n// --- HÀM TIỆN ÍCH ---\n\n/**\n * Hàm tiện ích: \"Vô hiệu hóa\" các ký tự HTML đặc biệt trong một chuỗi.\n * Đây là cách làm an toàn để tránh lỗi phân tích cú pháp của Telegram ở chế độ HTML.\n * @param {string} text - Văn bản cần xử lý.\n * @returns {string} - Văn bản đã được \"vô hiệu hóa\" ký tự HTML.\n */\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n/**\n * Định dạng một chuỗi dưới dạng khối mã, sử dụng hàm escapeHtml.\n * @param {string} text - Văn bản cần định dạng.\n * @returns {string} - Chuỗi HTML đã được định dạng.\n */\nfunction formatAsCode(text) {\n  // Nội dung bên trong <code> cần được escape để hiển thị chính xác dưới dạng mã nguồn\n  return `<pre><code>${escapeHtml(text)}</code></pre>`;\n}\n\n/**\n * Chia văn bản thành các chunk AN TOÀN cho Telegram.\n * @param {string} text - Văn bản cần chia.\n * @param {number} maxLength - Độ dài ký tự tối đa cho mỗi chunk. Mặc định là 4000 để an toàn với Telegram.\n * @returns {string[]} - Mảng các chunk.\n */\nfunction getTextChunks(text, maxLength = 4000) {\n    if (!text || text.trim().length === 0) {\n        return [];\n    }\n\n    const chunks = [];\n    let textToProcess = text;\n\n    while (textToProcess.length > 0) {\n        if (textToProcess.length <= maxLength) {\n            chunks.push(textToProcess);\n            break;\n        }\n\n        let chunkCandidate = textToProcess.slice(0, maxLength);\n        let splitIndex = maxLength;\n\n        // Ưu tiên ngắt ở các vị trí tự nhiên để không làm hỏng định dạng\n        const breakPoints = ['\\n\\n', '\\n', '. ', ' '];\n        for (const breakPoint of breakPoints) {\n            const lastBreak = chunkCandidate.lastIndexOf(breakPoint);\n            // Chỉ chấp nhận điểm ngắt nếu nó không quá ngắn\n            if (lastBreak > maxLength * 0.7) {\n                splitIndex = lastBreak;\n                break;\n            }\n        }\n\n        const chunk = textToProcess.slice(0, splitIndex);\n        chunks.push(chunk);\n\n        textToProcess = textToProcess.slice(splitIndex).trim();\n    }\n\n    return chunks.filter(chunk => chunk.trim().length > 0);\n}\n\n\n// --- LOGIC CHÍNH ---\nconst allChunks = [];\n\n// TRƯỜNG HỢP 1: Xử lý file bài tập đặc biệt của bạn\n// Nếu input bắt đầu bằng '%%%========', coi toàn bộ là một khối mã.\n// Phần này đã xử lý đúng bằng cách dùng formatAsCode nên không cần thay đổi.\nif (rawInput.trim().startsWith('%%%========')) {\n    const codeChunks = getTextChunks(rawInput);\n    for (const chunk of codeChunks) {\n        allChunks.push({ json: { output: formatAsCode(chunk) } });\n    }\n}\n// TRƯỜNG HỢP 2: Xử lý các loại văn bản hỗn hợp khác\nelse {\n    const patterns = [\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '```[\\\\s\\\\S]*?```',\n      '%%%.*?%%%',\n      '\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '\\\\begin{lstlisting}[\\\\s\\\\S]*?\\\\end{lstlisting}',\n      '\\\\begin{verbatim}[\\\\s\\\\S]*?\\\\end{verbatim}',\n      '\\\\begin{code}[\\\\s\\\\S]*?\\\\end{code}',\n      '\\\\$\\\\$[\\\\s\\\\S]*?\\\\$\\\\$',\n      '<code>[\\\\s\\\\S]*?</code>',\n      '<pre>[\\\\s\\\\S]*?</pre>',\n      '`[^`\\\\n]+`',\n    ];\n\n    const specialBlocksRegex = new RegExp(`(${patterns.join('|')})`, 'g');\n    let currentIndex = 0;\n    let match;\n\n    try {\n        while ((match = specialBlocksRegex.exec(rawInput)) !== null) {\n            // Xử lý phần văn bản thường (plain text) nằm TRƯỚC khối đặc biệt\n            const plainText = rawInput.substring(currentIndex, match.index);\n            if (plainText && plainText.trim()) {\n                // *** THAY ĐỔI QUAN TRỌNG ***\n                // Áp dụng escapeHtml cho văn bản thường để tránh lỗi\n                const escapedText = escapeHtml(plainText);\n                const plainTextChunks = getTextChunks(escapedText);\n                for (const chunk of plainTextChunks) {\n                    allChunks.push({ json: { output: chunk } });\n                }\n            }\n\n            // Xử lý khối đặc biệt (đã được xử lý đúng từ trước)\n            const specialBlock = match[0];\n            if (specialBlock && specialBlock.trim()) {\n                const specialBlockChunks = getTextChunks(specialBlock);\n                for (const chunk of specialBlockChunks) {\n                    // formatAsCode đã bao gồm escapeHtml bên trong\n                    allChunks.push({ json: { output: formatAsCode(chunk) } });\n                }\n            }\n            currentIndex = specialBlocksRegex.lastIndex;\n        }\n\n        // Xử lý phần văn bản thường còn lại ở CUỐI cùng\n        const remainingText = rawInput.substring(currentIndex);\n        if (remainingText && remainingText.trim()) {\n            // *** THAY ĐỔI QUAN TRỌNG ***\n            // Cũng áp dụng escapeHtml cho phần còn lại này\n            const escapedText = escapeHtml(remainingText);\n            const plainTextChunks = getTextChunks(escapedText);\n            for (const chunk of plainTextChunks) {\n                allChunks.push({ json: { output: chunk } });\n            }\n        }\n    } catch (error) {\n        console.error('Lỗi khi xử lý với regex, chuyển sang phương án dự phòng:', error);\n        // Phương án dự phòng: escape toàn bộ nội dung nếu regex lỗi\n        const escapedText = escapeHtml(rawInput);\n        const fallbackChunks = getTextChunks(escapedText);\n        for (const chunk of fallbackChunks) {\n            allChunks.push({ json: { output: chunk } });\n        }\n    }\n}\n\n// Trường hợp dự phòng cuối cùng nếu không có chunk nào được tạo\nif (allChunks.length === 0 && rawInput.trim()) {\n    const escapedText = escapeHtml(rawInput);\n    const fallbackChunks = getTextChunks(escapedText);\n    for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n    }\n}\n\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,-496],"id":"2057e8c8-c960-48ca-8507-629a9c9ef7a2","name":"FORMAT_MULTY_OUTPUT"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1488,320],"id":"7aed4ef1-96d8-4152-a088-7c4994c8e25f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"eCExawqiNAs4gLZS","name":"OpenAi account"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/imagen-3.0-generate-002","mode":"list","cachedResultName":"models/imagen-3.0-generate-002"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-368,-16],"id":"33996731-a44b-45cb-ae01-153d409bf275","name":"Generate an image by gen3","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-368,560],"id":"234f49e4-6820-4dd1-ad54-f51d0068bbfa","name":"Generate an image","credentials":{"openAiApi":{"id":"eCExawqiNAs4gLZS","name":"OpenAi account"}}}],"connections":{"input_AI_agent":{"main":[[{"node":"AI_AGENT_GEN_IMAGES","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI_AGENT_GEN_IMAGES","type":"ai_memory","index":0}]]},"AI_AGENT_GEN_IMAGES":{"main":[[{"node":"OUTPUT_AI_AGENT","type":"main","index":0}]]},"OUTPUT_AI_AGENT":{"main":[[{"node":"select_model","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file","type":"main","index":0}],[{"node":"WAIT_GEN_IMAGES","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Wait_upload_images","type":"main","index":0}]]},"INPUT_NORMAL":{"main":[[{"node":"RANDOM_API_KEY","type":"main","index":0}]]},"RANDOM_API_KEY":{"main":[[{"node":"IMAGES_GEN_INLINE_DATA","type":"main","index":0}]]},"IMAGES_GEN_INLINE_DATA":{"main":[[{"node":"check_isdata1","type":"main","index":0}]]},"data":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filter":{"main":[[{"node":"data","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send a photo message1","type":"main","index":0}]]},"data1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"data1","type":"main","index":0}]]},"check_isdata1":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"check_isdata0","type":"main","index":0}]]},"check_isdata0":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"text","type":"main","index":0}]]},"Generate an image by model gemini-2.0-flash-exp-image-generation":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"select_model":{"main":[[{"node":"Generate an image by model gemini-2.0-flash-exp-image-generation","type":"main","index":0}],[{"node":"Generate an image by gen3","type":"main","index":0}],[{"node":"Generate an image by gen4","type":"main","index":0}],[{"node":"Generate an image by gen4u","type":"main","index":0}],[{"node":"Generate an image","type":"main","index":0}]]},"Generate an image by gen4":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Generate an image by gen4u":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"WAIT_GEN_IMAGES":{"main":[[{"node":"input_AI_agent","type":"main","index":0}]]},"Wait_upload_images":{"main":[[{"node":"INPUT_NORMAL","type":"main","index":0}]]},"text":{"main":[[{"node":"FORMAT_MULTY_OUTPUT","type":"main","index":0}]]},"IMAGE_INPUT":{"main":[[{"node":"If","type":"main","index":0}]]},"FORMAT_MULTY_OUTPUT":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI_AGENT_GEN_IMAGES","type":"ai_languageModel","index":0}]]},"Generate an image by gen3":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7969037c-709e-488e-95a3-eade39a5703a","triggerCount":1,"tags":[]}