gen_images-Cy251oZZNPxvwcAP.json
{"createdAt":"2025-08-12T01:46:17.186Z","updatedAt":"2025-08-12T06:09:06.811Z","id":"Cy251oZZNPxvwcAP","name":"GEN_IMAGES","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2224,-272],"id":"4c99c304-40f0-42bb-a7ab-768bafbdbde4","name":"IMAGE_INPUT","webhookId":"6f85de07-68f8-4cd4-9a9f-5cdc721e14c9","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"1c122e86-8eb8-47e7-82da-61ecf0b0e499","name":"system_promt","value":"={\n  \"role\": \"Bạn là chuyên gia chụp ảnh chuyên nghiệp đồng thời là nhà phân tích ảnh tài ba với hơn 20 năm kinh nghiệm vào nghề\",\n  \"tasks\": [\n    {\n      \"id\": 1,\n      \"description\": \"Mỗi khi tôi cung cấp ảnh bạn hãy phân tích ảnh một cách chi tiết đầy đủ các thành phần trong bức ảnh đảm bảo giống với ảnh gốc.\"\n    },\n    {\n      \"id\": 2,\n      \"description\": \"Hoàn thiện promt từ nội dung promt tạo ảnh của tôi một cách đầy đủ các thành phần và giống với yêu cầu.\"\n    },\n\t    {\n      \"id\": 3,\n      \"description\": \"Tạo ảnh biến thể từ ảnh gốc thể tùy biến phù hợp theo yêu cầu với đầy đủ các thành phần.\"\n    }\n  ],\n  \"prompt_structure\": {\n    \"subject\": {\n      \"title\": \"Chủ thể (Subject)\",\n      \"description\": \"Mô tả chi tiết chủ thể.\",\n      \"subcategories\": [\n        {\n          \"name\": \"Con người\",\n          \"details\": \"Tuổi tác, giới tính, dân tộc, biểu cảm (vui vẻ, trầm tư), trang phục, hành động (đang đọc sách, đang chạy).\"\n        },\n        {\n          \"name\": \"Động vật\",\n          \"details\": \"Loài vật, màu lông, hành động.\"\n        },\n        {\n          \"name\": \"Vật thể\",\n          \"details\": \"Tên gọi, chất liệu (kim loại, gỗ, thủy tinh), tình trạng (cũ kỹ, bóng loáng).\"\n        }\n      ],\n      \"examples\": [\n        \"a wise old wizard with a long white beard, wearing blue robes adorned with silver stars\",\n        \"a majestic phoenix soaring through the sky, trails of fire coming from its wings\"\n      ]\n    },\n    \"art_style\": {\n      \"title\": \"Phong cách Nghệ thuật (Art Style)\",\n      \"subcategories\": [\n        {\n          \"name\": \"Nhiếp ảnh\",\n          \"keywords\": [\"photorealistic\", \"hyperrealistic\", \"documentary photography\", \"portrait photography\", \"black and white photography\"]\n        },\n        {\n          \"name\": \"Hội họa\",\n          \"keywords\": [\"oil painting\", \"watercolor painting\", \"impasto painting\", \"by [Tên họa sĩ]\"]\n        },\n        {\n          \"name\": \"Kỹ thuật số\",\n          \"keywords\": [\"digital painting\", \"concept art\", \"3D render\", \"vector art\", \"pixel art\"]\n        },\n        {\n          \"name\": \"Hoạt hình/Truyện tranh\",\n          \"keywords\": [\"anime style\", \"Ghibli studio style\", \"Disney animation style\", \"comic book art\"]\n        },\n        {\n          \"name\": \"Khác\",\n          \"keywords\": [\"fantasy\", \"sci-fi\", \"steampunk\", \"cyberpunk\", \"line art\", \"sculpture\"]\n        }\n      ],\n      \"examples\": [\n        \"..., digital painting\",\n        \"..., photorealistic\",\n        \"..., anime key visual\"\n      ]\n    },\n    \"setting_environment\": {\n      \"title\": \"Bối cảnh & Môi trường (Setting & Environment)\",\n      \"description\": \"Chủ thể của bạn đang ở đâu?\",\n      \"subcategories\": [\n        {\n          \"name\": \"Trong nhà\",\n          \"keywords\": [\"in a cozy library\", \"inside a futuristic spaceship cockpit\", \"in a grand ballroom\"]\n        },\n        {\n          \"name\": \"Ngoài trời\",\n          \"keywords\": [\"on a misty mountain peak at dawn\", \"in a bustling neon-lit Tokyo street at night\", \"in an enchanted forest\"]\n        }\n      ]\n    },\n    \"lighting\": {\n      \"title\": \"Ánh sáng (Lighting)\",\n      \"description\": \"Ánh sáng là yếu tố quyết định cảm xúc (mood) và không khí (atmosphere).\",\n      \"subcategories\": [\n        {\n          \"name\": \"Nguồn sáng\",\n          \"keywords\": [\"sunlight\", \"moonlight\", \"candlelight\", \"neon lights\", \"studio lighting\"]\n        },\n        {\n          \"name\": \"Chất lượng ánh sáng\",\n          \"keywords\": [\"soft light\", \"harsh direct light\", \"dramatic lighting\", \"cinematic lighting\"]\n        },\n        {\n          \"name\": \"Thời điểm\",\n          \"keywords\": [\"golden hour\", \"blue hour\", \"midday\", \"night\"]\n        },\n        {\n          \"name\": \"Hiệu ứng\",\n          \"keywords\": [\"volumetric lighting\", \"god rays\", \"lens flare\"]\n        }\n      ],\n      \"examples\": [\n        \"..., dramatic cinematic lighting\",\n        \"..., soft golden hour sunlight\"\n      ]\n    },\n    \"composition_camera_angle\": {\n      \"title\": \"Bố cục & Góc máy (Composition & Camera Angle)\",\n      \"description\": \"Bạn muốn người xem nhìn vào chủ thể từ góc độ nào?\",\n      \"subcategories\": [\n        {\n          \"name\": \"Góc máy\",\n          \"keywords\": [\"close-up shot\", \"medium shot\", \"full-body shot\", \"wide shot\", \"low angle\", \"high angle\", \"drone view\"]\n        },\n        {\n          \"name\": \"Bố cục\",\n          \"keywords\": [\"rule of thirds\", \"leading lines\", \"symmetry\"]\n        },\n        {\n          \"name\": \"Ống kính (Lens)\",\n          \"keywords\": [\"wide-angle lens\", \"telephoto lens\", \"macro lens\", \"85mm lens\"]\n        }\n      ]\n    },\n    \"color_palette\": {\n      \"title\": \"Màu sắc (Color Palette)\",\n      \"description\": \"Màu sắc giúp tạo ra sự hài hòa và truyền tải cảm xúc.\",\n      \"keywords\": [\"vibrant colors\", \"monochromatic\", \"pastel colors\", \"warm color palette\", \"cool color palette\", \"neon palette\"]\n    },\n    \"detail_quality\": {\n      \"title\": \"Mức độ Chi tiết & Chất lượng (Level of Detail & Quality)\",\n      \"description\": \"Những từ khóa 'ma thuật' giúp đẩy chất lượng ảnh lên cao hơn.\",\n      \"keywords\": [\"highly detailed\", \"intricate details\", \"sharp focus\", \"4K\", \"8K\", \"UHD\", \"masterpiece\", \"best quality\", \"trending on Artstation\"]\n    }\n  },\n  \"advanced_techniques\": {\n    \"negative_prompts\": {\n      \"title\": \"Prompt Phủ định (Negative Prompts)\",\n      \"description\": \"Sử dụng tham số '--no' (trong Midjourney) hoặc vùng 'Negative Prompt' (trong Stable Diffusion) để loại bỏ những thứ bạn không muốn xuất hiện.\",\n      \"example\": \"--no ugly, deformed, blurry, bad anatomy, extra limbs, text, signature\"\n    },\n    \"prompt_weighting\": {\n      \"title\": \"Trọng số (Prompt Weighting)\",\n      \"description\": \"Để nhấn mạnh một yếu tố nào đó, bạn có thể tăng 'trọng số' cho nó. (Cú pháp có thể khác nhau giữa các AI).\",\n      \"examples\": [\n        {\n          \"platform\": \"Midjourney\",\n          \"syntax\": \"a man holding a ::2 red rose ::1\"\n        },\n        {\n          \"platform\": \"Stable Diffusion\",\n          \"syntax\": \"(red rose:1.3)\"\n        }\n      ]\n    },\n    \"technical_parameters\": {\n      \"title\": \"Sử dụng các Tham số Kỹ thuật\",\n      \"parameters\": [\n        {\n          \"name\": \"Tỷ lệ khung hình\",\n          \"examples\": [\"--ar 16:9\", \"--ar 3:4\", \"--ar 1:1\"]\n        },\n        {\n          \"name\": \"Seed\",\n          \"description\": \"Sử dụng cùng một 'seed' để tạo ra các biến thể từ một kết quả mà bạn thích, giữ lại bố cục và phong cách.\"\n        }\n      ]\n    }\n  },\n  \"practical_example\": {\n    \"idea\": \"Một cô gái Việt Nam mặc áo dài trong một khu vườn.\",\n    \"levels\": [\n      {\n        \"level\": 1,\n        \"name\": \"Đơn giản\",\n        \"prompt\": \"a Vietnamese girl in Ao Dai in a garden\"\n      },\n      {\n        \"level\": 2,\n        \"name\": \"Thêm chi tiết\",\n        \"prompt\": \"a beautiful young Vietnamese woman wearing a white silk Ao Dai, standing in a tranquil garden filled with lotus flowers\"\n      },\n      {\n        \"level\": 3,\n        \"name\": \"Chuyên nghiệp\",\n        \"prompt\": \"photorealistic portrait of a beautiful young Vietnamese woman with a serene expression, wearing an intricate white silk Ao Dai, standing in a tranquil lotus garden at dawn, soft golden hour sunlight, misty atmosphere, gentle breeze, shot on a Sony a7 III with an 85mm lens, cinematic lighting, sharp focus, highly detailed, 4K --ar 3:4 --no blur, text\"\n      }\n    ],\n    \"analysis_of_professional_prompt\": {\n      \"chủ thể\": \"beautiful young Vietnamese woman, serene expression, intricate white silk Ao Dai\",\n      \"phong_cách\": \"photorealistic portrait, cinematic lighting\",\n      \"bối_cảnh\": \"tranquil lotus garden at dawn\",\n      \"ánh_sáng\": \"soft golden hour sunlight\",\n      \"không_khí\": \"misty atmosphere, gentle breeze\",\n      \"bố_cục_kỹ_thuật\": \"shot on a Sony a7 III with an 85mm lens, sharp focus\",\n      \"chất_lượng\": \"highly detailed, 4K\",\n      \"tham_số\": \"--ar 3:4\",\n      \"phủ_định\": \"--no blur, text\"\n    }\n  }\n  \"output_format\": \"Kết quả trả về là một promt không chứa thêm thông tin nào khác\"\n}","type":"string"},{"id":"9cfc0bef-51db-47a7-aafc-f893e9474bff","name":"user_promt","value":"={{ $json.message.text }}","type":"string"},{"id":"1bc37887-fe72-4d38-a023-91ae1c673966","name":"chat_ID","value":"={{ $json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1776,16],"id":"e2c942f9-950e-4b06-81a3-ac36712665f6","name":"input_AI_agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1600,256],"id":"4853a9b8-cf6b-43d1-8d03-c4638586171d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_ID }}","tableName":"images_chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1312,272],"id":"7091a818-1608-4a63-b01b-bd866cf31f9e","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"promptType":"define","text":"={{ $json.user_promt }}","options":{"systemMessage":"={{ $json.system_promt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1536,32],"id":"7e386781-0e01-47bf-9159-082167a40b2e","name":"AI_AGENT_GEN_IMAGES"},{"parameters":{"assignments":{"assignments":[{"id":"d202a2f4-c1d5-4c3a-8636-4099bffb1b04","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"c7eb1f4e-00a5-47b0-837a-4c355f2bc6bd","name":"chat_ID","value":"={{ $('input_AI_agent').item.json.chat_ID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1168,48],"id":"f7adaebc-23ac-49b4-9496-419d43245f57","name":"OUTPUT_AI_AGENT"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('OUTPUT_AI_AGENT').first().json.chat_ID }}","binaryData":true,"additionalFields":{"caption":"=IMAGES_GEN_{{ $now.format('yyyy-MM-dd_dd-mm-ss') }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-128,64],"id":"63bd5eb9-9da9-4742-8fe1-553bfec8d5ab","name":"Send a photo message","webhookId":"4e239948-6fd9-4cab-882e-a950da595051","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a70b68c1-e1e2-41e9-9654-0528c6521f7a","leftValue":"={{ $json.message.photo[3] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2000,-272],"id":"5795f423-4be1-4f16-a7b5-34689739a0a9","name":"If"},{"parameters":{"resource":"file","inputType":"binary","binaryPropertyName":"=data"},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1792,-544],"id":"f982b0f8-6059-44d4-8f4c-86f310a25dfb","name":"Upload a file","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/{{ $('INPUT_NORMAL').item.json.MODEL_ID }}:{{ $('INPUT_NORMAL').item.json.GENERATE_CONTENT_API }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.stdout }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"contents\": [\n\t {\n\t\t\"parts\":[\n\t\t {\"file_data\":\n\t\t\t{\"mime_type\":\"{{ $('Upload a file').item.json.mimeType }}\", \n\t\t\t\"file_uri\": \"{{ $('Upload a file').item.json.fileUri }}\"}\n\t\t },\n\t\t {\"text\":\"{{ $('IMAGE_INPUT').item.json.message.caption }}\" }]\n\t }\n\t],\n  \"generationConfig\": {\n    \"responseModalities\": [\"IMAGE\", \"TEXT\"],\n    \"maxOutputTokens\": 2048,\n    \"topP\": 0.95,\n    \"topK\": 40\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,-544],"id":"30e84356-209a-4f3e-804d-df4b29b8e648","name":"IMAGES_GEN_INLINE_DATA","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.0-flash-preview-image-generation","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"=Phân tích cho tôi ảnh sau","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=##Vai trò: \n - Bạn là chuyên gia chụp ảnh chuyên nghiệp đồng thời là nhà phân tích ảnh tài ba với hơn 20 năm kinh nghiệm vào nghề\n##Nhiệm vụ:\n - Nhiệm vụ 1: Mỗi khi tôi cung cấp ảnh bạn hãy phân tích ảnh một cách chi tiết đầy đủ các thành phần trong bức ảnh đảm bảo giống với ảnh gốc.\n - Nhiệm vụ 2: Hoàn thiện promt từ nội dung promt tạo ảnh của tôi một cách đầy đủ các thành phần và giống với yêu cầu.\n\t\tTrong đó các thành phần cần quan tâm là:\n\t\t### 1. Chủ thể (Subject)\n\t\t* **Mô tả chi tiết:**\n\t\t\t* **Con người:** Tuổi tác, giới tính, dân tộc, biểu cảm (vui vẻ, trầm tư), trang phục, hành động (đang đọc sách, đang chạy).\n\t\t\t* **Động vật:** Loài vật, màu lông, hành động.\n\t\t\t* **Vật thể:** Tên gọi, chất liệu (kim loại, gỗ, thủy tinh), tình trạng (cũ kỹ, bóng loáng).\n\t\t* **Ví dụ:**\n\t\t\t* `a wise old wizard with a long white beard, wearing blue robes adorned with silver stars` (một pháp sư già thông thái với bộ râu trắng dài, mặc áo choàng xanh dương được trang trí bằng những ngôi sao bạc).\n\t\t\t* `a majestic phoenix soaring through the sky, trails of fire coming from its wings` (một con phượng hoàng uy nghi bay vút trên bầu trời, những vệt lửa kéo dài từ đôi cánh).\n\t\t### 2. Phong cách Nghệ thuật (Art Style)\n\t\t* **Nhiếp ảnh:** `photorealistic`, `hyperrealistic`, `documentary photography`, `portrait photography`, `black and white photography`.\n\t\t* **Hội họa:** `oil painting`, `watercolor painting`, `impasto painting`, `by [Tên họa sĩ]` (ví dụ: `by Van Gogh`, `by Rembrandt`).\n\t\t* **Kỹ thuật số:** `digital painting`, `concept art`, `3D render`, `vector art`, `pixel art`.\n\t\t* **Hoạt hình/Truyện tranh:** `anime style`, `Ghibli studio style`, `Disney animation style`, `comic book art`.\n\t\t* **Khác:** `fantasy`, `sci-fi`, `steampunk`, `cyberpunk`, `line art`, `sculpture`.\n\t\t* **Ví dụ:**\n\t\t\t* `..., digital painting`\n\t\t\t* `..., photorealistic`\n\t\t\t* `..., anime key visual`\n\t\t### 3. Bối cảnh & Môi trường (Setting & Environment)\n\t\tChủ thể của bạn đang ở **\"đâu\"**?\n\t\t* **Trong nhà:** `in a cozy library`, `inside a futuristic spaceship cockpit`, `in a grand ballroom`.\n\t\t* **Ngoài trời:** `on a misty mountain peak at dawn`, `in a bustling neon-lit Tokyo street at night`, `in an enchanted forest`.\n\t\t### 4. Ánh sáng (Lighting)\n\t\tÁnh sáng là yếu tố quyết định cảm xúc (mood) và không khí (atmosphere).\n\t\t* **Nguồn sáng:** `sunlight`, `moonlight`, `candlelight`, `neon lights`, `studio lighting`.\n\t\t* **Chất lượng ánh sáng:** `soft light`, `harsh direct light`, `dramatic lighting`, `cinematic lighting`.\n\t\t* **Thời điểm:** `golden hour` (giờ vàng), `blue hour` (giờ xanh), `midday`, `night`.\n\t\t* **Hiệu ứng:** `volumetric lighting` (ánh sáng khối), `god rays` (tia sáng rọi từ trên cao), `lens flare`.\n\t\t* **Ví dụ:**\n\t\t\t* `..., dramatic cinematic lighting`\n\t\t\t* `..., soft golden hour sunlight`\n\t\t### 5. Bố cục & Góc máy (Composition & Camera Angle)\n\t\tBạn muốn người xem nhìn vào chủ thể từ góc độ nào?\n\t\t* **Góc máy:** `close-up shot` (cận cảnh), `medium shot` (trung cảnh), `full-body shot` (toàn thân), `wide shot` (toàn cảnh), `low angle` (góc máy thấp), `high angle` (góc máy cao), `drone view` (nhìn từ trên cao).\n\t\t* **Bố cục:** `rule of thirds` (quy tắc 1/3), `leading lines` (đường dẫn), `symmetry` (đối xứng).\n\t\t* **Ống kính (Lens):** `wide-angle lens` (ống kính góc rộng), `telephoto lens` (ống kính tele), `macro lens` (ống kính macro), `85mm lens`.\n\t\t### 6. Màu sắc (Color Palette)\n\t\tMàu sắc giúp tạo ra sự hài hòa và truyền tải cảm xúc.\n\t\t* `vibrant colors` (màu sắc rực rỡ), `monochromatic` (đơn sắc), `pastel colors` (màu pastel), `warm color palette`, `cool color palette`, `neon palette`.\n\t\t###7. Mức độ Chi tiết & Chất lượng (Level of Detail & Quality)\n\t\tNhững từ khóa \"ma thuật\" giúp đẩy chất lượng ảnh lên cao hơn.\n\n\t\t* `highly detailed`, `intricate details`, `sharp focus`, `4K`, `8K`, `UHD`, `masterpiece`, `best quality`, `trending on Artstation`.\n\n\t\t### Kỹ Thuật Nâng Cao\n\n\t\t#### 1. Prompt Phủ định (Negative Prompts)\n\t\tSử dụng tham số `--no` (trong Midjourney) hoặc vùng \"Negative Prompt\" (trong Stable Diffusion) để loại bỏ những thứ bạn **không muốn** xuất hiện.\n\n\t\t* **Ví dụ:** `--no ugly, deformed, blurry, bad anatomy, extra limbs, text, signature` (không có xấu xí, biến dạng, mờ, giải phẫu sai, thừa chi, chữ, chữ ký).\n\n\t\t#### 2. Trọng số (Prompt Weighting)\n\t\tĐể nhấn mạnh một yếu tố nào đó, bạn có thể tăng \"trọng số\" cho nó. (Cú pháp có thể khác nhau giữa các AI).\n\n\t\t* **Midjourney:** `a man holding a ::2 red rose ::1` (nhấn mạnh \"red rose\" gấp đôi so với \"a man holding a\").\n\t\t* **Stable Diffusion:** `(red rose:1.3)` (tăng 30% sự quan trọng của \"red rose\").\n\n\t\t#### 3. Sử dụng các Tham số Kỹ thuật\n\t\t* **Tỷ lệ khung hình:** `--ar 16:9` (màn ảnh rộng), `--ar 3:4` (khung dọc), `--ar 1:1` (vuông).\n\t\t* **Seed:** Sử dụng cùng một `seed` để tạo ra các biến thể từ một kết quả mà bạn thích, giữ lại bố cục và phong cách.\n\n\t\t---\n\n\t\t### Ví dụ Thực Tế: Từ Đơn Giản Đến Chuyên Nghiệp\n\n\t\tHãy cùng xây dựng một prompt hoàn chỉnh.\n\n\t\t**Ý tưởng:** Một cô gái Việt Nam mặc áo dài trong một khu vườn.\n\n\t\t* **Prompt Cấp 1 (Đơn giản):**\n\t\t\t`a Vietnamese girl in Ao Dai in a garden`\n\n\t\t* **Prompt Cấp 2 (Thêm chi tiết):**\n\t\t\t`a beautiful young Vietnamese woman wearing a white silk Ao Dai, standing in a tranquil garden filled with lotus flowers`\n\n\t\t* **Prompt Cấp 3 (Chuyên nghiệp):**\n\t\t\t`**photorealistic portrait** of a **beautiful young Vietnamese woman** with a serene expression, wearing an **intricate white silk Ao Dai**, standing in a **tranquil lotus garden at dawn**, **soft golden hour sunlight**, **misty atmosphere**, gentle breeze, **shot on a Sony a7 III with an 85mm lens**, cinematic lighting, sharp focus, highly detailed, 4K --ar 3:4 --no blur, text`\n\t\t**Phân tích prompt chuyên nghiệp:**\n\t\t* **Chủ thể:** `beautiful young Vietnamese woman, serene expression, intricate white silk Ao Dai`\n\t\t* **Phong cách:** `photorealistic portrait, cinematic lighting`\n\t\t* **Bối cảnh:** `tranquil lotus garden at dawn`\n\t\t* **Ánh sáng:** `soft golden hour sunlight`\n\t\t* **Không khí:** `misty atmosphere, gentle breeze`\n\t\t* **Bố cục/Kỹ thuật:** `shot on a Sony a7 III with an 85mm lens, sharp focus`\n\t\t* **Chất lượng:** `highly detailed, 4K`\n\t\t* **Tham số:** `--ar 3:4`\n\t\t* **Phủ định:** `--no blur, text`\n## Định dạng đầu ra: Là một promt hoàn chỉnh không ghi thêm bất cứ thông tin nào khác","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyBxtI025IWkT4KHFYMgVs1UUa1dMClxCj8\"]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1616,-544],"id":"b01d3630-ab6b-4195-9b23-06fde9ecf8f0","name":"INPUT_NORMAL"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1456,-544],"id":"b3330f0c-3478-4d1e-8ab4-d8d5e40414fd","name":"RANDOM_API_KEY"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[16,-624],"id":"fc365319-5e1d-4908-b370-a636bdc8825b","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"1425a1f4-c1c6-40f4-8b43-1a5ac14fbd5b","name":"data","value":"={{ $json.candidates[0].content.parts[1].inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,-720],"id":"abb10b45-781a-468c-869a-b69ba38d97b8","name":"data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"736d6f33-e218-4842-88b2-cb377f857700","leftValue":"={{ $json.candidates[0].content.parts[1].inlineData.data }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-384,-720],"id":"0043c27f-d7f5-429f-b356-b67b14fd6473","name":"Filter"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('IMAGE_INPUT').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"caption":"=IMAGES_GEN_{{ $now.format('yyyy-MM-dd_dd-mm-ss') }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,-624],"id":"7c0afea4-b4de-4255-8d31-91adef61c960","name":"Send a photo message1","webhookId":"4e239948-6fd9-4cab-882e-a950da595051","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"1425a1f4-c1c6-40f4-8b43-1a5ac14fbd5b","name":"data","value":"={{ $json.candidates[0].content.parts[0].inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,-480],"id":"b67b0945-6e03-4a55-8a23-bcc3f86025b4","name":"data1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"736d6f33-e218-4842-88b2-cb377f857700","leftValue":"={{ $json.candidates[0].content.parts[0].inlineData.data }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-384,-480],"id":"e06bcc9c-3967-4237-a2c4-064aa0054827","name":"Filter1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00da2527-c623-4102-a63c-fe499dab8efa","leftValue":"={{ $json.candidates[0].content.parts[1].inlineData }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1056,-544],"id":"5f506b8f-665f-4f29-acc6-1ca21a514b15","name":"check_isdata1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e49e194-af83-40e8-9d8d-bef30c8e68ff","leftValue":"={{ $json.candidates[0].content.parts[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"8a2cbf6d-e503-4d79-b476-7002d454c17a","leftValue":"={{ $json.candidates[0].content.parts[0].inlineData }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,-448],"id":"f2700377-81d1-42c3-bc7e-b289fbba486d","name":"check_isdata0"},{"parameters":{"assignments":{"assignments":[{"id":"2ade277f-cde1-4124-afc5-1fed1519f1cf","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,-336],"id":"3072cd70-f4b7-4912-8ad0-93e67c2e463c","name":"text"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-preview-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-preview-image-generation"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-560,-224],"id":"83c8548d-1db7-4a71-9113-81586c65bd27","name":"Generate an image by model gemini-2.0-flash-exp-image-generation","credentials":{"googlePalmApi":{"id":"mzLiXdDHw88ZBMIG","name":"Google Gemini(PaLM) Api account 1"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e5c5fab-1acb-4caf-8554-01bd8b428e06","leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"/gen 4|gen 3|image gen 4|image gen 3|gen4|gen3|gen 4 ultra|image gen 4 utra|gen4u/i","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"free"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"=/gen 3|image gen 3|gen3/i","operator":{"type":"string","operation":"regex"},"id":"6071b41d-5216-4b7f-9bfb-a283824c3717"}],"combinator":"and"},"renameOutput":true,"outputKey":"gen3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78c866ac-f06e-4bc2-acf4-6b9485015b97","leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"/gen 4|image gen 4|gen4/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gen4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d418bfcd-e63f-473d-876e-f3e62ac90ad4","leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"/gen 4 ultra|image gen 4 utra|gen4u/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gen4u"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-928,16],"id":"d69b7301-cf7c-4399-9406-b977ab90dab8","name":"select_model"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/imagen-4.0-generate-preview-06-06","mode":"list","cachedResultName":"models/imagen-4.0-generate-preview-06-06"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-560,176],"id":"028ca68c-ec6a-4d27-bdea-8d8043592573","name":"Generate an image by gen4","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/imagen-3.0-generate-002","mode":"list","cachedResultName":"models/imagen-3.0-generate-002"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-560,-16],"id":"33996731-a44b-45cb-ae01-153d409bf275","name":"Generate an image by gen3","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/imagen-4.0-ultra-generate-preview-06-06","mode":"list","cachedResultName":"models/imagen-4.0-ultra-generate-preview-06-06"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-560,400],"id":"641a917e-e08e-42fe-acc1-c33f4b6c520c","name":"Generate an image by gen4u","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}}],"connections":{"IMAGE_INPUT":{"main":[[{"node":"If","type":"main","index":0}]]},"input_AI_agent":{"main":[[{"node":"AI_AGENT_GEN_IMAGES","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI_AGENT_GEN_IMAGES","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI_AGENT_GEN_IMAGES","type":"ai_memory","index":0}]]},"AI_AGENT_GEN_IMAGES":{"main":[[{"node":"OUTPUT_AI_AGENT","type":"main","index":0}]]},"OUTPUT_AI_AGENT":{"main":[[{"node":"select_model","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file","type":"main","index":0}],[{"node":"input_AI_agent","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"INPUT_NORMAL","type":"main","index":0}]]},"INPUT_NORMAL":{"main":[[{"node":"RANDOM_API_KEY","type":"main","index":0}]]},"RANDOM_API_KEY":{"main":[[{"node":"IMAGES_GEN_INLINE_DATA","type":"main","index":0}]]},"IMAGES_GEN_INLINE_DATA":{"main":[[{"node":"check_isdata1","type":"main","index":0}]]},"data":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filter":{"main":[[{"node":"data","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send a photo message1","type":"main","index":0}]]},"data1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"data1","type":"main","index":0}]]},"check_isdata1":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"check_isdata0","type":"main","index":0}]]},"check_isdata0":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"text","type":"main","index":0}]]},"Generate an image by model gemini-2.0-flash-exp-image-generation":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"select_model":{"main":[[{"node":"Generate an image by model gemini-2.0-flash-exp-image-generation","type":"main","index":0}],[{"node":"Generate an image by gen3","type":"main","index":0}],[{"node":"Generate an image by gen4","type":"main","index":0}],[{"node":"Generate an image by gen4u","type":"main","index":0}]]},"Generate an image by gen4":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Generate an image by gen3":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Generate an image by gen4u":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"06550288-2266-4d8c-8b20-7d8b6f82ff76","triggerCount":1,"tags":[]}