gen_images-Cy251oZZNPxvwcAP.json
{"createdAt":"2025-08-12T01:46:17.186Z","updatedAt":"2025-09-27T09:59:32.998Z","id":"Cy251oZZNPxvwcAP","name":"GEN_IMAGES","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"1c122e86-8eb8-47e7-82da-61ecf0b0e499","name":"system_promt","value":"=# SYSTEM PROMPT: AI IMAGE PROMPT GENERATOR & ANALYZER (OPTIMIZED)\n\n## CORE IDENTITY\nBạn là một AI Image Prompt Engineer chuyên nghiệp với khả năng tự động tạo ra các prompts hoàn thiện, chi tiết và chất lượng cao cho tất cả các nền tảng sinh ảnh AI (DALL-E, Midjourney, Stable Diffusion, Adobe Firefly, etc.) và phân tích hình ảnh để tạo prompts tái tạo chính xác.\n\n## CẤU TRÚC PROMPT HOÀN CHỈNH TỰ ĐỘNG\n\n### CÔNG THỨC PROMPT CHUẨN\nMỗi prompt output PHẢI bao gồm đầy đủ các thành phần sau theo thứ tự:\n\n**[CHỦ THỂ CHÍNH] + [HÀNH ĐỘNG/TƯ THẾ] + [MÔI TRƯỜNG/BỐI CẢNH] + [PHONG CÁCH NGHỆ THUẬT] + [ÁNH SÁNG] + [GÓC CHỤP/COMPOSITION] + [CHẤT LƯỢNG RENDERING] + [PALETTE MÀU] + [TÂMTRẠNG/ATMOSPHERE] + [CÀI ĐẶT CAMERA] + [CHẤT LIỆU/TEXTURE] + [HIỆU ỨNG POST-PROCESSING] + [TỶ LỆ KHUNG HÌNH] + [NEGATIVE PROMPTS]**\n\n## TEMPLATE TỰ ĐỘNG (LUÔN LUÔN TUÂN THỦ)\n\n### PROMPT STRUCTURE TEMPLATE:\n```\n[CHỦ THỂ CHÍNH với mô tả chi tiết], [HÀNH ĐỘNG/POSE cụ thể], [MÔI TRƯỜNG với chi tiết background], [PHONG CÁCH NGHỆ THUẬT cụ thể], [CHẤT LƯỢNG: 8K, ultra detailed, masterpiece, high resolution], [ÁNH SÁNG: nguồn sáng + chất lượng ánh sáng + thời gian], [CAMERA: focal length + aperture + góc chụp], [MÀU SẮC: dominant colors + temperature + saturation], [ATMOSPHERE: mood + ambiance], [TEXTURE: material properties], [POST-PROCESSING: filters/effects], [TỶ LỆ: aspect ratio], --ar [ratio] --q 2 --v 6\n\nNegative prompt: [danh sách chi tiết những gì cần tránh]\n```\n\n## QUY TẮC TỰ ĐỘNG HÓA\n\n### 1. LUÔN LUÔN BAO GỒM:\n- **Chất lượng cao**: 8K, ultra detailed, masterpiece, high resolution, photorealistic (hoặc tương đương theo style)\n- **Tỷ lệ khung hình**: --ar 16:9 (hoặc phù hợp với yêu cầu)\n- **Cài đặt camera**: focal length (35mm, 85mm, etc.) + aperture (f/1.4, f/2.8, etc.)\n- **Ánh sáng chi tiết**: golden hour, soft lighting, dramatic shadows, etc.\n- **Palette màu**: warm tones, cool colors, vibrant, muted, etc.\n- **Atmosphere**: cinematic, dreamy, mysterious, energetic, etc.\n- **Negative prompts**: ugly, blurry, low quality, distorted, etc.\n\n### 2. KHÔNG BAO GIỜ THIẾU:\n- Mô tả chi tiết subject (tuổi, giới tính, trang phục, biểu cảm)\n- Environmental context (indoor/outdoor, specific location)\n- Technical specifications (resolution, rendering quality)\n- Artistic style reference (photorealistic, artistic style, specific artist)\n- Post-processing effects (color grading, filters)\n\n## OUTPUT FORMAT CHUẨN\n\n### CHO ENHANCEMENT PROMPT:\n```\n**PROMPT HOÀN CHỈNH:**\n[Subject chi tiết], [action/pose], [environment với background chi tiết], [artistic style cụ thể], 8K ultra detailed masterpiece, high resolution, [lighting setup chi tiết], [camera specifications], [color palette], [atmospheric mood], [material textures], [post-processing effects], --ar [ratio] --q 2 --v 6\n\n**NEGATIVE PROMPT:**\nugly, blurry, low quality, distorted, [specific things to avoid based on context]\n\n**STYLE VARIATIONS:**\n• Cinematic Version: [Phiên bản điện ảnh với lighting và composition khác]\n• Artistic Version: [Phiên bản nghệ thuật với style painting/illustration]\n• Hyperrealistic Version: [Phiên bản siêu thực với detail enhancement]\n```\n\n### CHO IMAGE ANALYSIS:\n```\n**PHÂN TÍCH HÌNH ẢNH:**\n**Thành phần chính:**\n- Chủ thể: [Mô tả chi tiết]\n- Môi trường: [Background và setting]\n- Composition: [Framing và layout]\n\n**Thông số kỹ thuật:**\n- Style: [Phong cách nghệ thuật]\n- Lighting: [Nguồn sáng và chất lượng]\n- Camera: [Ước tính settings]\n- Chất lượng: [Resolution và level detail]\n\n**PROMPT TÁI TẠO HOÀN CHỈNH:**\n[Prompt đầy đủ với tất cả thành phần để tái tạo chính xác 100%]\n\n**NEGATIVE PROMPT:**\n[Danh sách những gì cần tránh]\n\n**MỨC ĐỘ CHÍNH XÁC:** [Phần trăm]\n```\n\n## SPECIALIZED COMPONENTS LIBRARY\n\n### CHẤT LƯỢNG TEMPLATES:\n- **Photorealistic**: \"8K ultra detailed, photorealistic masterpiece, professional photography, high resolution\"\n- **Digital Art**: \"digital art masterpiece, highly detailed, 4K resolution, professional illustration\"\n- **Cinematic**: \"cinematic masterpiece, movie quality, 8K, dramatic lighting, professional cinematography\"\n- **Artistic**: \"artistic masterpiece, museum quality, fine art, highly detailed painting\"\n\n### CAMERA SETTINGS PRESETS:\n- **Portrait**: \"85mm lens, f/1.4 aperture, shallow depth of field, professional portrait\"\n- **Landscape**: \"24mm wide angle, f/8 aperture, sharp focus throughout\"\n- **Macro**: \"100mm macro lens, f/2.8, extreme close-up detail\"\n- **Street**: \"35mm lens, f/2.8, documentary style\"\n\n### LIGHTING PRESETS:\n- **Golden Hour**: \"golden hour lighting, warm soft light, long shadows\"\n- **Studio**: \"professional studio lighting, three-point setup, controlled shadows\"\n- **Natural**: \"natural daylight, soft window light, realistic shadows\"\n- **Dramatic**: \"dramatic lighting, strong contrast, chiaroscuro effect\"\n\n### ATMOSPHERE PRESETS:\n- **Cinematic**: \"cinematic atmosphere, movie-like quality, dramatic mood\"\n- **Dreamy**: \"dreamy atmosphere, soft ethereal mood, fantasy-like\"\n- **Moody**: \"moody atmosphere, dark ambiance, mysterious feeling\"\n- **Vibrant**: \"vibrant atmosphere, energetic mood, lively colors\"\n\n## EXECUTION RULES\n\n### LUÔN LUÔN:\n1. Tích hợp TẤT CẢ thành phần vào prompt chính\n2. Bao gồm technical specifications đầy đủ\n3. Thêm quality enhancers phù hợp\n4. Cung cấp negative prompts chi tiết\n5. Đảm bảo aspect ratio và parameters\n\n### KHÔNG BAO GIỜ:\n1. Đưa ra suggestions \"có thể thêm...\"\n2. Để thiếu bất kỳ thành phần nào trong template\n3. Tạo prompts không complete\n4. Quên negative prompts\n5. Bỏ qua technical specifications\n\n## QUALITY ASSURANCE\n\nMỗi output PHẢI pass checklist sau:\n- ✅ Subject description chi tiết\n- ✅ Environment/background specific\n- ✅ Artistic style defined\n- ✅ Quality parameters included\n- ✅ Camera settings specified\n- ✅ Lighting setup described\n- ✅ Color palette mentioned\n- ✅ Atmosphere/mood included\n- ✅ Aspect ratio provided\n- ✅ Negative prompts comprehensive\n- ✅ Platform parameters added\n\n## INTERACTION PROTOCOL\n- Khi user đưa ra idea cơ bản → Tự động mở rộng thành prompt hoàn chỉnh\n- Khi user upload ảnh → Phân tích và tạo prompt tái tạo đầy đủ\n- Luôn output prompt ready-to-use, không cần chỉnh sửa thêm\n- Tự động optimize cho platform phù hợp nhất","type":"string"},{"id":"9cfc0bef-51db-47a7-aafc-f893e9474bff","name":"user_promt","value":"=Hoàn thiện cho tôi promt tạo ảnh sau: {{ $('IMAGE_INPUT').item.json.message.text }} ","type":"string"},{"id":"1bc37887-fe72-4d38-a023-91ae1c673966","name":"chat_ID","value":"={{ $('IMAGE_INPUT').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4000,-288],"id":"b6fcf243-bf66-491b-8811-e306e550e278","name":"input_AI_agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_ID }}","tableName":"images_chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3392,-48],"id":"940861ee-8da8-452f-ad85-b2eb4ca232ec","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"promptType":"define","text":"=Hoàn thiện  promt sau {{ $json.user_promt }}","options":{"systemMessage":"={{ $json.system_promt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-3600,-288],"id":"e030d397-6e92-4486-8a19-7b52692292c5","name":"AI_AGENT_GEN_IMAGES"},{"parameters":{"assignments":{"assignments":[{"id":"d202a2f4-c1d5-4c3a-8636-4099bffb1b04","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"c7eb1f4e-00a5-47b0-837a-4c355f2bc6bd","name":"chat_ID","value":"={{ $('input_AI_agent').item.json.chat_ID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3168,-288],"id":"266f88d5-2cb1-4a42-9a09-c3fef17b639a","name":"OUTPUT_AI_AGENT"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('OUTPUT_AI_AGENT').first().json.chat_ID }}","binaryData":true,"additionalFields":{"caption":"=IMAGES_GEN_{{ $now.format('yyyy-MM-dd_dd-mm-ss') }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1696,-224],"id":"f68d06df-219e-4c11-9ff5-407110afb4e2","name":"Send a photo message","webhookId":"4e239948-6fd9-4cab-882e-a950da595051","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a70b68c1-e1e2-41e9-9654-0528c6521f7a","leftValue":"={{ $('IMAGE_INPUT').item.json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4688,-736],"id":"65dd4de2-f1b3-465e-91c6-87869a532777","name":"If"},{"parameters":{"resource":"file","inputType":"binary"},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-4320,-1312],"id":"4e65951c-b0e7-4f5f-8e85-df63475d2bfc","name":"Upload a file","credentials":{"googlePalmApi":{"id":"jSQE5tO3poa2sEvC","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/{{ $('INPUT_NORMAL').item.json.MODEL_ID }}:{{ $('INPUT_NORMAL').item.json.GENERATE_CONTENT_API }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.stdout }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"contents\": [\n\t {\n\t\t\"parts\":[\n        {\n          \"inlineData\": {\n            \"mimeType\": \"{{ $('Upload a file').item.json.mimeType }}\",\n            \"data\": \"{{$('If').item.binary.data.data}}\"\n          }\n        },\n\t\t {\"text\":{{ JSON.stringify($('INPUT_NORMAL').item.json.system_prompt+\"Dựa  theo hướng dẫn trên hãy giúp toi thực hiện yeu cầu sau:\\n \"+$('IMAGE_INPUT').item.json.message.caption) }} }]\n\t }\n\t],\n  \"generationConfig\": {\n    \"responseModalities\": [\"IMAGE\", \"TEXT\"],\n    \"maxOutputTokens\": 2048,\n    \"topP\": 0.75,\n    \"topK\": 40\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3392,-1312],"id":"6aba93f8-dbd9-4c10-ba4c-b9703e5d22cc","name":"IMAGES_GEN_INLINE_DATA","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.0-flash-preview-image-generation","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"={{ $('IMAGE_INPUT').item.json.message.caption }}","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=# SYSTEM PROMPT: AI IMAGE PROMPT GENERATOR & ANALYZER (OPTIMIZED)\n\n## CORE IDENTITY\nBạn là một AI Image Prompt Engineer chuyên nghiệp với khả năng tự động tạo ra các prompts hoàn thiện, chi tiết và chất lượng cao cho tất cả các nền tảng sinh ảnh AI (DALL-E, Midjourney, Stable Diffusion, Adobe Firefly, etc.) và phân tích hình ảnh để tạo prompts tái tạo chính xác.\n\n## CẤU TRÚC PROMPT HOÀN CHỈNH TỰ ĐỘNG\n\n### CÔNG THỨC PROMPT CHUẨN\nMỗi prompt output PHẢI bao gồm đầy đủ các thành phần sau theo thứ tự:\n\n**[CHỦ THỂ CHÍNH] + [HÀNH ĐỘNG/TƯ THẾ] + [MÔI TRƯỜNG/BỐI CẢNH] + [PHONG CÁCH NGHỆ THUẬT] + [ÁNH SÁNG] + [GÓC CHỤP/COMPOSITION] + [CHẤT LƯỢNG RENDERING] + [PALETTE MÀU] + [TÂMTRẠNG/ATMOSPHERE] + [CÀI ĐẶT CAMERA] + [CHẤT LIỆU/TEXTURE] + [HIỆU ỨNG POST-PROCESSING] + [TỶ LỆ KHUNG HÌNH] + [NEGATIVE PROMPTS]**\n\n## TEMPLATE TỰ ĐỘNG (LUÔN LUÔN TUÂN THỦ)\n\n### PROMPT STRUCTURE TEMPLATE:\n```\n[CHỦ THỂ CHÍNH với mô tả chi tiết], [HÀNH ĐỘNG/POSE cụ thể], [MÔI TRƯỜNG với chi tiết background], [PHONG CÁCH NGHỆ THUẬT cụ thể], [CHẤT LƯỢNG: 8K, ultra detailed, masterpiece, high resolution], [ÁNH SÁNG: nguồn sáng + chất lượng ánh sáng + thời gian], [CAMERA: focal length + aperture + góc chụp], [MÀU SẮC: dominant colors + temperature + saturation], [ATMOSPHERE: mood + ambiance], [TEXTURE: material properties], [POST-PROCESSING: filters/effects], [TỶ LỆ: aspect ratio], --ar [ratio] --q 2 --v 6\n\nNegative prompt: [danh sách chi tiết những gì cần tránh]\n```\n\n## QUY TẮC TỰ ĐỘNG HÓA\n\n### 1. LUÔN LUÔN BAO GỒM:\n- **Chất lượng cao**: 8K, ultra detailed, masterpiece, high resolution, photorealistic (hoặc tương đương theo style)\n- **Tỷ lệ khung hình**: --ar 16:9 (hoặc phù hợp với yêu cầu)\n- **Cài đặt camera**: focal length (35mm, 85mm, etc.) + aperture (f/1.4, f/2.8, etc.)\n- **Ánh sáng chi tiết**: golden hour, soft lighting, dramatic shadows, etc.\n- **Palette màu**: warm tones, cool colors, vibrant, muted, etc.\n- **Atmosphere**: cinematic, dreamy, mysterious, energetic, etc.\n- **Negative prompts**: ugly, blurry, low quality, distorted, etc.\n\n### 2. KHÔNG BAO GIỜ THIẾU:\n- Mô tả chi tiết subject (tuổi, giới tính, trang phục, biểu cảm)\n- Environmental context (indoor/outdoor, specific location)\n- Technical specifications (resolution, rendering quality)\n- Artistic style reference (photorealistic, artistic style, specific artist)\n- Post-processing effects (color grading, filters)\n\n## OUTPUT FORMAT CHUẨN\n\n### CHO ENHANCEMENT PROMPT:\n```\n**PROMPT HOÀN CHỈNH:**\n[Subject chi tiết], [action/pose], [environment với background chi tiết], [artistic style cụ thể], 8K ultra detailed masterpiece, high resolution, [lighting setup chi tiết], [camera specifications], [color palette], [atmospheric mood], [material textures], [post-processing effects], --ar [ratio] --q 2 --v 6\n\n**NEGATIVE PROMPT:**\nugly, blurry, low quality, distorted, [specific things to avoid based on context]\n\n**STYLE VARIATIONS:**\n• Cinematic Version: [Phiên bản điện ảnh với lighting và composition khác]\n• Artistic Version: [Phiên bản nghệ thuật với style painting/illustration]\n• Hyperrealistic Version: [Phiên bản siêu thực với detail enhancement]\n```\n\n### CHO IMAGE ANALYSIS:\n```\n**PHÂN TÍCH HÌNH ẢNH:**\n**Thành phần chính:**\n- Chủ thể: [Mô tả chi tiết]\n- Môi trường: [Background và setting]\n- Composition: [Framing và layout]\n\n**Thông số kỹ thuật:**\n- Style: [Phong cách nghệ thuật]\n- Lighting: [Nguồn sáng và chất lượng]\n- Camera: [Ước tính settings]\n- Chất lượng: [Resolution và level detail]\n\n**PROMPT TÁI TẠO HOÀN CHỈNH:**\n[Prompt đầy đủ với tất cả thành phần để tái tạo chính xác 100%]\n\n**NEGATIVE PROMPT:**\n[Danh sách những gì cần tránh]\n\n**MỨC ĐỘ CHÍNH XÁC:** [Phần trăm]\n```\n\n## SPECIALIZED COMPONENTS LIBRARY\n\n### CHẤT LƯỢNG TEMPLATES:\n- **Photorealistic**: \"8K ultra detailed, photorealistic masterpiece, professional photography, high resolution\"\n- **Digital Art**: \"digital art masterpiece, highly detailed, 4K resolution, professional illustration\"\n- **Cinematic**: \"cinematic masterpiece, movie quality, 8K, dramatic lighting, professional cinematography\"\n- **Artistic**: \"artistic masterpiece, museum quality, fine art, highly detailed painting\"\n\n### CAMERA SETTINGS PRESETS:\n- **Portrait**: \"85mm lens, f/1.4 aperture, shallow depth of field, professional portrait\"\n- **Landscape**: \"24mm wide angle, f/8 aperture, sharp focus throughout\"\n- **Macro**: \"100mm macro lens, f/2.8, extreme close-up detail\"\n- **Street**: \"35mm lens, f/2.8, documentary style\"\n\n### LIGHTING PRESETS:\n- **Golden Hour**: \"golden hour lighting, warm soft light, long shadows\"\n- **Studio**: \"professional studio lighting, three-point setup, controlled shadows\"\n- **Natural**: \"natural daylight, soft window light, realistic shadows\"\n- **Dramatic**: \"dramatic lighting, strong contrast, chiaroscuro effect\"\n\n### ATMOSPHERE PRESETS:\n- **Cinematic**: \"cinematic atmosphere, movie-like quality, dramatic mood\"\n- **Dreamy**: \"dreamy atmosphere, soft ethereal mood, fantasy-like\"\n- **Moody**: \"moody atmosphere, dark ambiance, mysterious feeling\"\n- **Vibrant**: \"vibrant atmosphere, energetic mood, lively colors\"\n\n## EXECUTION RULES\n\n### LUÔN LUÔN:\n1. Tích hợp TẤT CẢ thành phần vào prompt chính\n2. Bao gồm technical specifications đầy đủ\n3. Thêm quality enhancers phù hợp\n4. Cung cấp negative prompts chi tiết\n5. Đảm bảo aspect ratio và parameters\n\n### KHÔNG BAO GIỜ:\n1. Đưa ra suggestions \"có thể thêm...\"\n2. Để thiếu bất kỳ thành phần nào trong template\n3. Tạo prompts không complete\n4. Quên negative prompts\n5. Bỏ qua technical specifications\n\n## QUALITY ASSURANCE\n\nMỗi output PHẢI pass checklist sau:\n- ✅ Subject description chi tiết\n- ✅ Environment/background specific\n- ✅ Artistic style defined\n- ✅ Quality parameters included\n- ✅ Camera settings specified\n- ✅ Lighting setup described\n- ✅ Color palette mentioned\n- ✅ Atmosphere/mood included\n- ✅ Aspect ratio provided\n- ✅ Negative prompts comprehensive\n- ✅ Platform parameters added\n\n## INTERACTION PROTOCOL\n- Khi user đưa ra idea cơ bản → Tự động mở rộng thành prompt hoàn chỉnh\n- Khi user upload ảnh → Phân tích và tạo prompt tái tạo đầy đủ\n- Luôn output prompt ready-to-use, không cần chỉnh sửa thêm\n- Tự động optimize cho platform phù hợp nhất","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyCleJh-ivJFMVvJI07AE_Au5gS4sRm5lPM\",\n\"AIzaSyA5NNoFmor3PapvBYeHkkRcbgfx8YjLR04\",\n\"AIzaSyAMfsrC2l7LOwZ0Jcxyv38qHj_jOmvDQUQ\",\n\"AIzaSyCTW0dmqKZHZzRAVk-1RnRWYICNi7frpmU\"\n]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3872,-1312],"id":"f6e725b7-e6c3-458b-a17c-0acfa2b0682a","name":"INPUT_NORMAL"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-3616,-1312],"id":"efcb2723-4085-4283-aeea-f9ae43e6d1e1","name":"RANDOM_API_KEY"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2096,-1344],"id":"d7ca92ba-1b80-4072-a51e-c50f5202de4e","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"1425a1f4-c1c6-40f4-8b43-1a5ac14fbd5b","name":"data","value":"={{ $json.candidates[0].content.parts[1].inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2304,-1440],"id":"5f83c731-b766-485d-9ece-161e69a35f54","name":"data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"736d6f33-e218-4842-88b2-cb377f857700","leftValue":"={{ $json.candidates[0].content.parts[1].inlineData.data }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2496,-1440],"id":"e0eefb67-c333-4170-b993-8b32dbe2c995","name":"Filter"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('IMAGE_INPUT').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"caption":"=IMAGES_GEN_{{ $now.format('yyyy-MM-dd_dd-mm-ss') }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1888,-1344],"id":"dd3612db-7047-46b0-8f0f-112331f49c41","name":"Send a photo message1","webhookId":"4e239948-6fd9-4cab-882e-a950da595051","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"1425a1f4-c1c6-40f4-8b43-1a5ac14fbd5b","name":"data","value":"={{ $json.candidates[0].content.parts[0].inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2304,-1200],"id":"66acf796-260d-49d8-9a1b-158a004ea3d3","name":"data1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"736d6f33-e218-4842-88b2-cb377f857700","leftValue":"={{ $json.candidates[0].content.parts[0].inlineData.data }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2496,-1200],"id":"d97645cb-e6b8-4c54-a4ad-c2c19258d831","name":"Filter1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00da2527-c623-4102-a63c-fe499dab8efa","leftValue":"={{ $json.candidates[0].content.parts[1].inlineData }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3184,-1312],"id":"489629f6-83cc-483f-82d6-f0a691ce32fc","name":"check_isdata1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e49e194-af83-40e8-9d8d-bef30c8e68ff","leftValue":"={{ $json.candidates[0].content.parts[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"8a2cbf6d-e503-4d79-b476-7002d454c17a","leftValue":"={{ $json.candidates[0].content.parts[0].inlineData }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2752,-1168],"id":"dd39f44b-5020-4c6d-a9e8-0dcc80036763","name":"check_isdata0"},{"parameters":{"assignments":{"assignments":[{"id":"2ade277f-cde1-4124-afc5-1fed1519f1cf","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2496,-1008],"id":"75be28ed-36e9-42d8-8d0e-76a1cdc27f3d","name":"text"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e5c5fab-1acb-4caf-8554-01bd8b428e06","leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"/gpt image 1|gpt-image-1|gpt|gen 4|gen 3|image gen 4|image gen 3|gen4|gen3|gen 4 ultra|image gen 4 utra|gen4u/i","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"free"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"=/gen 3|image gen 3|gen3/i","operator":{"type":"string","operation":"regex"},"id":"6071b41d-5216-4b7f-9bfb-a283824c3717"}],"combinator":"and"},"renameOutput":true,"outputKey":"gen3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78c866ac-f06e-4bc2-acf4-6b9485015b97","leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"/gen 4|image gen 4|gen4/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gen4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d418bfcd-e63f-473d-876e-f3e62ac90ad4","leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"/gen 4 ultra|image gen 4 utra|gen4u/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gen4u"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8eb3e5f2-8aba-46cd-9c12-b2b5b0b25097","leftValue":"={{ $('IMAGE_INPUT').item.json.message.text }}","rightValue":"=/gpt image 1|gpt-image-1|gpt/i","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gpt-image-1"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2864,-336],"id":"1e993d3e-db64-4389-b09d-fac08b5af4b3","name":"select_model"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/imagen-4.0-generate-preview-06-06","mode":"list","cachedResultName":"models/imagen-4.0-generate-preview-06-06"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-2352,-224],"id":"0761457b-4a42-441b-9c6c-8cc804858764","name":"Generate an image by gen4","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/imagen-4.0-ultra-generate-preview-06-06","mode":"list","cachedResultName":"models/imagen-4.0-ultra-generate-preview-06-06"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-2352,-32],"id":"c27247fe-e5cf-4f9d-948c-889f8169b60c","name":"Generate an image by gen4u","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi tôi lát nhé!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4304,-288],"id":"346677ea-78ac-4fec-bed8-ca0ea43eae9e","name":"WAIT_GEN_IMAGES","webhookId":"75ed27cf-5077-483c-ab4d-35ee6439d593","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"chatId":"={{ $('If').item.json.message.chat.id }}","text":"Đã upload xong file ảnh chờ tôi xử lý giúp.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4096,-1312],"id":"21daa965-1fee-4b0a-a510-73b261db5813","name":"Wait_upload_images","webhookId":"60c21060-54f8-40a9-aac2-3b5f5da78d47","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-4928,-736],"id":"bf619794-f801-49f2-b843-e294de751910","name":"IMAGE_INPUT","webhookId":"a8ee30bc-f63d-4cb0-a158-e766d29fce52","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3728,-32],"id":"5694beff-0132-480e-82ea-41ef6f67d6d1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"eCExawqiNAs4gLZS","name":"OpenAi_GPT_5_mini"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/imagen-3.0-generate-002","mode":"list","cachedResultName":"models/imagen-3.0-generate-002"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-2352,-400],"id":"8cd6d029-0c2a-475f-8daf-66f08844b434","name":"Generate an image by gen3","credentials":{"googlePalmApi":{"id":"Uln34B0gzpcRKe6F","name":"Google Gemini(PaLM) Api pro"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2352,192],"id":"5ece7475-9304-4aab-b55a-932de9f6b5fb","name":"Generate an image","credentials":{"openAiApi":{"id":"eCExawqiNAs4gLZS","name":"OpenAi_GPT_5_mini"}}},{"parameters":{"chatId":"={{ $('If').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1904,-1008],"id":"03abcd41-2fe2-4612-adf5-230aad667825","name":"Send a text message","webhookId":"6d7b5805-e6d1-4ecb-8c13-39db37dc24ea","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"jsCode":"// 1. Lấy dữ liệu thô\nconst rawInput =  $input.first().json.text|| '';\n\n// --- HÀM TIỆN ÍCH ---\n\n/**\n * Hàm tiện ích: \"Vô hiệu hóa\" các ký tự HTML đặc biệt trong một chuỗi.\n * Đây là cách làm an toàn để tránh lỗi phân tích cú pháp của Telegram ở chế độ HTML.\n * @param {string} text - Văn bản cần xử lý.\n * @returns {string} - Văn bản đã được \"vô hiệu hóa\" ký tự HTML.\n */\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n/**\n * Định dạng một chuỗi dưới dạng khối mã, sử dụng hàm escapeHtml.\n * @param {string} text - Văn bản cần định dạng.\n * @returns {string} - Chuỗi HTML đã được định dạng.\n */\nfunction formatAsCode(text) {\n  // Nội dung bên trong <code> cần được escape để hiển thị chính xác dưới dạng mã nguồn\n  return `<pre><code>${escapeHtml(text)}</code></pre>`;\n}\n\n/**\n * Chia văn bản thành các chunk AN TOÀN cho Telegram.\n * @param {string} text - Văn bản cần chia.\n * @param {number} maxLength - Độ dài ký tự tối đa cho mỗi chunk. Mặc định là 4000 để an toàn với Telegram.\n * @returns {string[]} - Mảng các chunk.\n */\nfunction getTextChunks(text, maxLength = 4000) {\n    if (!text || text.trim().length === 0) {\n        return [];\n    }\n\n    const chunks = [];\n    let textToProcess = text;\n\n    while (textToProcess.length > 0) {\n        if (textToProcess.length <= maxLength) {\n            chunks.push(textToProcess);\n            break;\n        }\n\n        let chunkCandidate = textToProcess.slice(0, maxLength);\n        let splitIndex = maxLength;\n\n        // Ưu tiên ngắt ở các vị trí tự nhiên để không làm hỏng định dạng\n        const breakPoints = ['\\n\\n', '\\n', '. ', ' '];\n        for (const breakPoint of breakPoints) {\n            const lastBreak = chunkCandidate.lastIndexOf(breakPoint);\n            // Chỉ chấp nhận điểm ngắt nếu nó không quá ngắn\n            if (lastBreak > maxLength * 0.7) {\n                splitIndex = lastBreak;\n                break;\n            }\n        }\n\n        const chunk = textToProcess.slice(0, splitIndex);\n        chunks.push(chunk);\n\n        textToProcess = textToProcess.slice(splitIndex).trim();\n    }\n\n    return chunks.filter(chunk => chunk.trim().length > 0);\n}\n\n\n// --- LOGIC CHÍNH ---\nconst allChunks = [];\n\n// TRƯỜNG HỢP 1: Xử lý file bài tập đặc biệt của bạn\n// Nếu input bắt đầu bằng '%%%========', coi toàn bộ là một khối mã.\n// Phần này đã xử lý đúng bằng cách dùng formatAsCode nên không cần thay đổi.\nif (rawInput.trim().startsWith('%%%========')) {\n    const codeChunks = getTextChunks(rawInput);\n    for (const chunk of codeChunks) {\n        allChunks.push({ json: { output: formatAsCode(chunk) } });\n    }\n}\n// TRƯỜNG HỢP 2: Xử lý các loại văn bản hỗn hợp khác\nelse {\n    const patterns = [\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '```[\\\\s\\\\S]*?```',\n      '%%%.*?%%%',\n      '\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '\\\\begin{lstlisting}[\\\\s\\\\S]*?\\\\end{lstlisting}',\n      '\\\\begin{verbatim}[\\\\s\\\\S]*?\\\\end{verbatim}',\n      '\\\\begin{code}[\\\\s\\\\S]*?\\\\end{code}',\n      '\\\\$\\\\$[\\\\s\\\\S]*?\\\\$\\\\$',\n      '<code>[\\\\s\\\\S]*?</code>',\n      '<pre>[\\\\s\\\\S]*?</pre>',\n      '`[^`\\\\n]+`',\n    ];\n\n    const specialBlocksRegex = new RegExp(`(${patterns.join('|')})`, 'g');\n    let currentIndex = 0;\n    let match;\n\n    try {\n        while ((match = specialBlocksRegex.exec(rawInput)) !== null) {\n            // Xử lý phần văn bản thường (plain text) nằm TRƯỚC khối đặc biệt\n            const plainText = rawInput.substring(currentIndex, match.index);\n            if (plainText && plainText.trim()) {\n                // *** THAY ĐỔI QUAN TRỌNG ***\n                // Áp dụng escapeHtml cho văn bản thường để tránh lỗi\n                const escapedText = escapeHtml(plainText);\n                const plainTextChunks = getTextChunks(escapedText);\n                for (const chunk of plainTextChunks) {\n                    allChunks.push({ json: { output: chunk } });\n                }\n            }\n\n            // Xử lý khối đặc biệt (đã được xử lý đúng từ trước)\n            const specialBlock = match[0];\n            if (specialBlock && specialBlock.trim()) {\n                const specialBlockChunks = getTextChunks(specialBlock);\n                for (const chunk of specialBlockChunks) {\n                    // formatAsCode đã bao gồm escapeHtml bên trong\n                    allChunks.push({ json: { output: formatAsCode(chunk) } });\n                }\n            }\n            currentIndex = specialBlocksRegex.lastIndex;\n        }\n\n        // Xử lý phần văn bản thường còn lại ở CUỐI cùng\n        const remainingText = rawInput.substring(currentIndex);\n        if (remainingText && remainingText.trim()) {\n            // *** THAY ĐỔI QUAN TRỌNG ***\n            // Cũng áp dụng escapeHtml cho phần còn lại này\n            const escapedText = escapeHtml(remainingText);\n            const plainTextChunks = getTextChunks(escapedText);\n            for (const chunk of plainTextChunks) {\n                allChunks.push({ json: { output: chunk } });\n            }\n        }\n    } catch (error) {\n        console.error('Lỗi khi xử lý với regex, chuyển sang phương án dự phòng:', error);\n        // Phương án dự phòng: escape toàn bộ nội dung nếu regex lỗi\n        const escapedText = escapeHtml(rawInput);\n        const fallbackChunks = getTextChunks(escapedText);\n        for (const chunk of fallbackChunks) {\n            allChunks.push({ json: { output: chunk } });\n        }\n    }\n}\n\n// Trường hợp dự phòng cuối cùng nếu không có chunk nào được tạo\nif (allChunks.length === 0 && rawInput.trim()) {\n    const escapedText = escapeHtml(rawInput);\n    const fallbackChunks = getTextChunks(escapedText);\n    for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n    }\n}\n\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2192,-1008],"id":"21747102-df86-4995-8f6e-23df8945156c","name":"Code"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-preview-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-preview-image-generation"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-2352,-576],"id":"0dbfafdb-86b8-42f1-9553-d2ea74b58a6f","name":"Generate an image by gen","credentials":{"googlePalmApi":{"id":"cj63td1781zMkdUi","name":"Google Gemini(PaLM) Api account 5"}}}],"connections":{"input_AI_agent":{"main":[[{"node":"AI_AGENT_GEN_IMAGES","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI_AGENT_GEN_IMAGES","type":"ai_memory","index":0}]]},"AI_AGENT_GEN_IMAGES":{"main":[[{"node":"OUTPUT_AI_AGENT","type":"main","index":0}]]},"OUTPUT_AI_AGENT":{"main":[[{"node":"select_model","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file","type":"main","index":0}],[{"node":"WAIT_GEN_IMAGES","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Wait_upload_images","type":"main","index":0}]]},"INPUT_NORMAL":{"main":[[{"node":"RANDOM_API_KEY","type":"main","index":0}]]},"RANDOM_API_KEY":{"main":[[{"node":"IMAGES_GEN_INLINE_DATA","type":"main","index":0}]]},"IMAGES_GEN_INLINE_DATA":{"main":[[{"node":"check_isdata1","type":"main","index":0}]]},"data":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filter":{"main":[[{"node":"data","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send a photo message1","type":"main","index":0}]]},"data1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"data1","type":"main","index":0}]]},"check_isdata1":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"check_isdata0","type":"main","index":0}]]},"check_isdata0":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"text","type":"main","index":0}]]},"select_model":{"main":[[{"node":"Generate an image by gen","type":"main","index":0}],[{"node":"Generate an image by gen3","type":"main","index":0}],[{"node":"Generate an image by gen4","type":"main","index":0}],[{"node":"Generate an image by gen4u","type":"main","index":0}],[{"node":"Generate an image","type":"main","index":0}]]},"Generate an image by gen4":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Generate an image by gen4u":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"WAIT_GEN_IMAGES":{"main":[[{"node":"input_AI_agent","type":"main","index":0}]]},"Wait_upload_images":{"main":[[{"node":"INPUT_NORMAL","type":"main","index":0}]]},"text":{"main":[[{"node":"Code","type":"main","index":0}]]},"IMAGE_INPUT":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI_AGENT_GEN_IMAGES","type":"ai_languageModel","index":0}]]},"Generate an image by gen3":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Generate an image by gen":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d09221c3-46e8-4a17-b1e6-ab0c0d1a1f09","triggerCount":1,"shared":[{"createdAt":"2025-08-12T01:46:17.186Z","updatedAt":"2025-08-12T01:46:17.186Z","role":"workflow:owner","workflowId":"Cy251oZZNPxvwcAP","projectId":"EIQckweL3OLW7kzz"}],"tags":[]}