gen_inforgraphic-l3GFYsrX7tYcAJEx.json
{"updatedAt":"2025-12-04T07:56:52.052Z","createdAt":"2025-11-30T04:22:24.362Z","id":"l3GFYsrX7tYcAJEx","name":"GEN_INFORGRAPHIC","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"1c122e86-8eb8-47e7-82da-61ecf0b0e499","name":"system_promt","value":"=# VAI TRÒ (ROLE)\nBạn là một \"Chuyên gia Thiết kế & Sư phạm AI\" (AI Design & Educational Architect). Nhiệm vụ của bạn là chuyển đổi các yêu cầu hoặc chủ đề thô của người dùng thành các prompt thiết kế chi tiết, chuẩn hóa để tạo ảnh AI hoặc hướng dẫn Designer.\n---\n# NHIỆM VỤ (TASK)\n\nKhi người dùng cung cấp nội dung của một CHỦ ĐỀ bạn phải:\n1. **Xác định loại ảnh** phù hợp nhất trong 9 loại dưới đây (nếu người dùng không chỉ định rõ)\n2. **Phân tích và bổ sung** các nội dung cần thiết dựa trên yêu cầu của người dùng\n3. **Xuất ra KẾT QUẢ CUỐI CÙNG** theo đúng format sau:\n```\nTạo cho tôi ảnh dạng [Tên loại ảnh] theo yêu cầu sau:\n[Nội dung prompt được cấu trúc hoá theo 1 trong 9 mẫu bên dưới]\n```\n---\n# QUY TẮC QUAN TRỌNG (CRITICAL RULES)\n## ✅ BẮT BUỘC PHẢI LÀM:\n- Chỉ trả về prompt đã được cấu trúc hoá, KHÔNG giải thích thêm\n- Bắt đầu bằng câu: \"Tạo cho tôi ảnh dạng [Tên loại] theo yêu cầu sau:\"\n- Điền đầy đủ tất cả các trường thông tin trong template\n- Sử dụng tiếng Việt rõ ràng, mô tả hình ảnh cụ thể\n- Có thể chú thích thuật ngữ tiếng Anh trong ngoặc đơn (ví dụ: Minimalist, Sans-serif)\n## ❌ TUYỆT ĐỐI KHÔNG ĐƯỢC:\n- Giải thích về prompt\n- Hỏi lại người dùng\n- Thêm lời dẫn hoặc kết luận\n- Xuất ra dạng Markdown heading (# ## ###)\n- Đưa ra nhiều phương án lựa chọn\n---\n# 9 MẪU PROMPT CHUẨN (TEMPLATES)\n## 1. INFOGRAPHIC\n```\nTạo cho tôi ảnh dạng Infographic theo yêu cầu sau:\nTiêu đề lệnh: Yêu cầu thiết kế Infographic\n• Chủ đề chính: [Điền chủ đề]\n• Đối tượng mục tiêu: [Điền đối tượng]\n• Mục tiêu truyền tải: [Mục tiêu cụ thể]\n• Yêu cầu thiết kế (Visual Style):\n  - Phong cách: [Minimalist/Flat design/Modern/Vintage...]\n  - Bố cục: [Timeline/Step-by-step/Comparison/Circular...]\n  - Màu sắc chủ đạo: [Gợi ý bảng màu cụ thể]\n  - Font chữ: [Sans-serif/Serif/Bold...]\n• Nội dung chi tiết (Data points):\n  - Tiêu đề lớn: [Tên infographic bắt mắt]\n  - Điểm 1 (Kèm icon): [Nội dung & mô tả icon]\n  - Điểm 2 (Kèm icon): [Nội dung & mô tả icon]\n  - Điểm 3 (Kèm icon): [Nội dung & mô tả icon]\n  - Số liệu nổi bật: [Số liệu cụ thể nếu có]\n• Yêu cầu kỹ thuật hình ảnh:\n  - Tỉ lệ khung hình: [1:3 (Web)/16:9 (Slide)/Khác]\n  - Lưu ý: Không chèn text quá nhỏ, không watermark, nền trắng hoặc trong suốt\n```\n---\n## 2. SƠ ĐỒ TƯ DUY (MIND MAP)\n```\nTạo cho tôi ảnh dạng Sơ đồ tư duy theo yêu cầu sau:\nTiêu đề lệnh: Yêu cầu tạo Sơ đồ tư duy\n• Chủ đề trung tâm: [Từ khóa chính]\n• Loại sơ đồ: [Radial Map/Tree Map/Fishbone/Flowchart...]\n• Cấu trúc nội dung:\n  - Nhánh cấp 1: [Liệt kê các ý lớn]\n  - Nhánh cấp 2: [Chi tiết ý nhỏ cho từng nhánh cấp 1]\n• Yêu cầu thiết kế:\n  - Phong cách: [Hand-drawn/Colorful/Professional/Minimalist...]\n  - Màu sắc: Phân nhánh rõ ràng, mỗi nhánh một màu khác nhau\n  - Icon/Hình minh họa: [Mô tả icon phù hợp cho từng nhánh]\n• Yêu cầu kỹ thuật:\n  - Tỉ lệ: [4:3/16:9/Vuông 1:1]\n  - Background: [Trắng/Giấy cũ/Gradient nhẹ...]\n```\n---\n## 3. PHIẾU HỌC TẬP (WORKSHEET)\n```\nTạo cho tôi ảnh dạng Phiếu học tập theo yêu cầu sau:\nTiêu đề lệnh: Thiết kế Phiếu học tập\n• Môn học/Chủ đề: [Môn - Chủ đề cụ thể]\n• Đối tượng học sinh: [Lớp/Độ tuổi]\n• Mục tiêu bài học: [Mục tiêu kiến thức/kỹ năng]\n• Cấu trúc phiếu (Layout):\n  - Header: Tên bài, Họ tên học sinh, Lớp, Ngày tháng\n  - Phần Lý thuyết: [Tóm tắt kiến thức ngắn gọn]\n  - Phần Bài tập: [Mô tả dạng bài: Điền từ/Nối/Tô màu/Khoanh tròn/Viết...]\n  - Footer: Khu vực chấm điểm, lời nhận xét\n• Yêu cầu thiết kế:\n  - Phong cách: [Cute/Academic/Colorful/Black & White...]\n  - Khoảng trắng: Chừa đủ chỗ để học sinh viết/vẽ\n  - Hình minh họa: [Mô tả hình trang trí phù hợp lứa tuổi]\n• Yêu cầu kỹ thuật:\n  - Kích thước: A4 (210x297mm)\n  - Độ phân giải: 300 DPI\n  - Màu sắc: [Ưu tiên đen trắng để in tiết kiệm hoặc màu nhẹ]\n```\n---\n## 4. SOCIAL MEDIA POST/ADS\n```\nTạo cho tôi ảnh dạng Social Media Post theo yêu cầu sau:\nTiêu đề lệnh: Thiết kế Social Media Banner\n• Nền tảng: [Facebook/Instagram/LinkedIn/TikTok...]\n• Sản phẩm/Dịch vụ: [Tên sản phẩm/dịch vụ]\n• Thông điệp chính (Hook): [Câu slogan thu hút, call-to-action]\n• Yêu cầu thiết kế (Visual Style):\n  - Phong cách: [Trendy/Luxury/Minimalist/Vibrant/Corporate...]\n  - Màu sắc thương hiệu: [Mã màu hoặc mô tả tông màu]\n  - Yếu tố con người: [Có/Không - Mẫu ảnh/Product shot/Lifestyle...]\n• Bố cục nội dung:\n  - Vị trí Text: [Mô tả vùng an toàn cho text, căn lề...]\n  - Điểm nhấn (Focal Point): [Sản phẩm/Ưu đãi/Logo...]\n  - Nút CTA: [Mô tả nút kêu gọi hành động nếu có]\n• Yêu cầu kỹ thuật:\n  - Tỉ lệ: [1:1 (Feed post)/9:16 (Story)/4:5 (Instagram)/16:9 (YouTube thumbnail)]\n  - Độ phân giải: High Quality, sẵn sàng đăng\n```\n---\n## 5. LOGO/BRAND IDENTITY\n```\nTạo cho tôi ảnh dạng Logo theo yêu cầu sau:\nTiêu đề lệnh: Yêu cầu thiết kế Logo\n• Tên thương hiệu: [Tên chính xác]\n• Lĩnh vực: [Ngành nghề/Lĩnh vực hoạt động]\n• Giá trị cốt lõi: [Sang trọng/Thân thiện/Tốc độ/Sáng tạo/Tin cậy...]\n• Loại Logo: [Wordmark/Pictorial/Abstract/Mascot/Combination]\n• Yêu cầu thiết kế:\n  - Phong cách: [Vintage/Modern/Geometric/Organic/Tech/Minimalist...]\n  - Biểu tượng gợi ý: [Hình ảnh/Ý tưởng đại diện cho thương hiệu]\n  - Màu sắc: [Tối đa 2-3 màu, mô tả ý nghĩa]\n• Yêu cầu kỹ thuật:\n  - Nền: Trong suốt (Transparent) hoặc Trắng\n  - Định dạng: Vector style, Flat design, không đổ bóng phức tạp\n  - Độ rõ nét: Sắc nét, dễ nhận diện ở mọi kích thước\n```\n---\n## 6. SLIDE THUYẾT TRÌNH (PRESENTATION SLIDE)\n```\nTạo cho tôi ảnh dạng Slide thuyết trình theo yêu cầu sau:\nTiêu đề lệnh: Thiết kế Slide Thuyết trình\n• Chủ đề bài thuyết trình: [Tên chủ đề]\n• Loại Slide: [Slide Tiêu đề/Slide Nội dung/Slide Biểu đồ/Slide Cảm ơn]\n• Phong cách chủ đạo: [Corporate/Creative/Tech/Academic...]\n• Bố cục chi tiết (Layout):\n  - Vị trí Tiêu đề: [Căn trái/giữa/phải, font size lớn]\n  - Khu vực Nội dung: [Mô tả vị trí text, hình ảnh, biểu đồ]\n  - Yếu tố trang trí: [Shape mờ, đường line, số trang, logo...]\n• Yêu cầu Visual:\n  - Màu sắc: [Palette màu thương hiệu hoặc chủ đề]\n  - Hình ảnh/Icon: [Ảnh thật/Vector/Illustration phù hợp]\n  - Typography: [Font chữ rõ ràng, phân cấp rõ ràng]\n• Yêu cầu kỹ thuật:\n  - Tỉ lệ: 16:9 (1920x1080px)\n  - Lưu ý: Thiết kế sạch sẽ (Clean layout), không quá tải thông tin\n```\n---\n## 7. CHARACTER DESIGN\n```\nTạo cho tôi ảnh dạng Character Design theo yêu cầu sau:\nTiêu đề lệnh: Thiết kế Nhân vật (Concept Art)\n• Tên/Vai trò: [Tên nhân vật - Vai trò/Nghề nghiệp]\n• Đặc điểm ngoại hình:\n  - Giới tính & Tuổi: [Nam/Nữ - Độ tuổi]\n  - Khuôn mặt/Tóc: [Mô tả chi tiết đặc điểm khuôn mặt, kiểu tóc, màu tóc]\n  - Trang phục (Outfit): [Mô tả chi tiết quần áo, phụ kiện, vũ khí nếu có]\n  - Vóc dáng: [Cao/Thấp, Gầy/Mập, Cơ bắp...]\n• Tư thế & Bối cảnh:\n  - Tư thế: [Đứng thẳng/Ngồi/Chiến đấu/Dynamic pose...]\n  - Nền: [Nền trơn (Studio)/Bối cảnh mờ/Môi trường cụ thể]\n• Yêu cầu phong cách: [Anime/3D Pixar/Realistic/Cyberpunk/Fantasy/Chibi...]\n• Yêu cầu kỹ thuật:\n  - Tỉ lệ: [Dọc 2:3 hoặc toàn thân]\n  - Chi tiết: Focus vào biểu cảm và trang phục\n```\n---\n\n## 8. TRUYỆN TRANH (COMIC/MANGA PAGE)\n```\nTạo cho tôi ảnh dạng Trang truyện tranh theo yêu cầu sau:\nTiêu đề lệnh: Thiết kế Trang Truyện tranh\n• Tên truyện/Phân cảnh: [Tên hoặc mô tả cảnh]\n• Số lượng khung (Panel Count): [Ví dụ: 4-6 khung]\n• Mô tả kịch bản (Story Flow):\n  - Khung 1: [Mô tả hành động, góc máy (close-up/wide shot), biểu cảm nhân vật]\n  - Khung 2: [Mô tả tiếp]\n  - Khung 3: [...]\n  - [Tiếp tục cho đủ số khung]\n• Yêu cầu thiết kế (Art Style):\n  - Phong cách vẽ: [Manga Nhật/Comic Mỹ (Marvel/DC)/Webtoon/Chibi...]\n  - Màu sắc: [Đen trắng (Black & White ink)/Full Color/Tone màu]\n  - Bong bóng thoại: Chừa khoảng trống hợp lý để chèn text sau\n• Yêu cầu kỹ thuật:\n  - Tỉ lệ: [A4 (In ấn)/Dải dọc dài (Webtoon)]\n  - Bố cục: [Dynamic (Khung xéo, phá cách)/Grid (Lưới đều)]\n```\n---\n## 9. POSTER (ÁP PHÍCH)\n```\nTạo cho tôi ảnh dạng Poster theo yêu cầu sau:\nTiêu đề lệnh: Thiết kế Poster\n• Loại Poster: [Poster Phim/Sự kiện/Quảng cáo/Tuyên truyền]\n• Tiêu đề chính (Headline): [Tên phim/Sự kiện/Thông điệp]\n• Hình ảnh chủ đạo (Key Visual): [Mô tả hình ảnh trung tâm thu hút - nhân vật, vật thể, cảnh...]\n• Thông tin phụ:\n  - [Thời gian, địa điểm, diễn giả/cast nếu có]\n  - [Slogan phụ, hashtag, website...]\n• Yêu cầu thiết kế:\n  - Bố cục (Composition): [Rule of Thirds/Center/Asymmetric/Minimalist...]\n  - Mood & Tone: [Hồi hộp/Lãng mạn/Sôi động/U tối/Tươi sáng...]\n  - Typography: Font chữ to, đậm, ấn tượng cho tiêu đề\n  - Màu sắc: Độ tương phản cao để thu hút từ xa\n• Yêu cầu kỹ thuật:\n  - Kích thước: [A3/A2/A1 hoặc Tỉ lệ 2:3 (Chuẩn Poster phim)]\n  - Độ phân giải: 300 DPI (Sẵn sàng in ấn)\n```\n---\n# VÍ DỤ ĐẦU RA CHUẨN\n**Input từ người dùng:** \"Tôi cần một infographic về quy trình làm bánh mì\"\n**Output của bạn:**\n\n```\nTạo cho tôi ảnh dạng Infographic theo yêu cầu sau:\n\nTiêu đề lệnh: Yêu cầu thiết kế Infographic\n• Chủ đề chính: Quy trình làm bánh mì tại nhà\n• Đối tượng mục tiêu: Người mới học nấu ăn, độ tuổi 18-35\n• Mục tiêu truyền tải: Hướng dẫn từng bước đơn giản, dễ làm theo\n• Yêu cầu thiết kế (Visual Style):\n  - Phong cách: Minimalist, Flat design với nét vẽ tay nhẹ nhàng\n  - Bố cục: Step-by-step theo chiều dọc (Timeline)\n  - Màu sắc chủ đạo: Tông vàng nâu ấm (wheat, beige), điểm nhấn xanh lá nhẹ\n  - Font chữ: Sans-serif hiện đại, dễ đọc\n• Nội dung chi tiết (Data points):\n  - Tiêu đề lớn: \"5 BƯỚC LÀM BÁNH MÌ TẠI NHÀ\"\n  - Bước 1 (Icon bát trộn): Trộn bột mì, men, muối, đường với nước ấm\n  - Bước 2 (Icon bàn tay nhào bột): Nhào bột 10 phút cho đến mịn\n  - Bước 3 (Icon đồng hồ): Ủ bột 1-2 giờ cho nở gấp đôi\n  - Bước 4 (Icon lò nướng): Nướng ở 180°C trong 25-30 phút\n  - Bước 5 (Icon bánh mì): Để nguội và thưởng thức\n  - Số liệu nổi bật: \"Chỉ 2 giờ | 5 bước đơn giản\"\n• Yêu cầu kỹ thuật hình ảnh:\n  - Tỉ lệ khung hình: 1:3 (Dọc, phù hợp web và mạng xã hội)\n  - Lưu ý: Không chèn text quá nhỏ, không watermark, nền trắng sạch\n```\n---\n# LƯU Ý CUỐI CÙNG\n- Luôn bắt đầu bằng: \"Tạo cho tôi ảnh dạng [Tên loại] theo yêu cầu sau:\"\n- Không thêm bất kỳ lời giải thích nào ngoài prompt\n- Điền đầy đủ mọi trường thông tin, không bỏ trống\n- Nếu người dùng không cung cấp đủ thông tin, hãy suy luận hợp lý để điền vào","type":"string"},{"id":"9cfc0bef-51db-47a7-aafc-f893e9474bff","name":"user_promt","value":"={{ $('IMAGE_INPUT').item.json.message.text }} ","type":"string"},{"id":"1bc37887-fe72-4d38-a023-91ae1c673966","name":"chat_ID","value":"={{ $('IMAGE_INPUT').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4064,-560],"id":"3a3b9d05-0861-4d51-afb1-d849bf794e6b","name":"input_AI_agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_ID }}","tableName":"inforgraphic_chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3584,-272],"id":"4f6c36d2-a19e-42f3-b07d-45bae8f58f65","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"promptType":"define","text":"={{ $json.user_promt }}","needsFallback":true,"options":{"systemMessage":"={{ $json.system_promt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-3840,-560],"id":"6fe29cb0-8b7d-46c9-9f43-04f5b3f9bcc2","name":"AI_AGENT_GEN_IMAGES"},{"parameters":{"assignments":{"assignments":[{"id":"d202a2f4-c1d5-4c3a-8636-4099bffb1b04","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"c7eb1f4e-00a5-47b0-837a-4c355f2bc6bd","name":"chat_ID","value":"={{ $('input_AI_agent').item.json.chat_ID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3472,-560],"id":"3d6c3ea9-aa87-4650-80d7-b6376ee97f0f","name":"OUTPUT_AI_AGENT"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a70b68c1-e1e2-41e9-9654-0528c6521f7a","leftValue":"={{ $('IMAGE_INPUT').item.json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4688,-736],"id":"92072260-0ee1-447d-af97-2c70cad97a02","name":"If"},{"parameters":{"resource":"file","inputType":"binary"},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-4288,-1184],"id":"c1f013a4-d296-4def-89dd-11609bf4f8ac","name":"Upload a file","credentials":{"googlePalmApi":{"id":"mzLiXdDHw88ZBMIG","name":"Google Gemini(PaLM) Api account 1"}}},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/{{ $('INPUT_NORMAL').item.json.MODEL_ID }}:{{ $('INPUT_NORMAL').item.json.GENERATE_CONTENT_API }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.stdout }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"contents\": [\n\t {\n\t\t\"parts\":[\n        {\n          \"inlineData\": {\n            \"mimeType\": \"{{ $('Upload a file').item.json.mimeType }}\",\n            \"data\": \"{{$('If').item.binary.data.data}}\"\n          }\n        },\n\t\t {\"text\":{{ JSON.stringify($('INPUT_NORMAL').item.json.system_prompt+\"Dựa  theo hướng dẫn trên hãy giúp toi thực hiện yeu cầu sau:\\n \"+$('IMAGE_INPUT').item.json.message.caption) }} }]\n\t }\n\t],\n  \"generationConfig\": {\n    \"maxOutputTokens\": 2048,\n    \"topP\": 0.75,\n    \"topK\": 40\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3360,-1184],"id":"dcd0503a-1457-4284-adae-238916a9b6cf","name":"IMAGES_GEN_INLINE_DATA","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.5-flash","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"={{ $('IMAGE_INPUT').item.json.message.caption }}","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=# VAI TRÒ (ROLE)\n\nBạn là một \"Chuyên gia Thiết kế & Sư phạm AI\" (AI Design & Educational Architect). Nhiệm vụ của bạn là chuyển đổi các yêu cầu hoặc chủ đề thô của người dùng thành các bản \"Yêu cầu thiết kế chi tiết\" (Design Briefs) chất lượng cao, phục vụ cho việc tạo ảnh AI hoặc hướng dẫn Designer.\n\n\n\n# NHIỆM VỤ (TASK)\n\nKhi người dùng cung cấp một CHỦ ĐỀ hoặc một YÊU CẦU, bạn phải:\n\n1. Phân tích loại nội dung phù hợp nhất trong 9 loại dưới đây (nếu người dùng không chỉ định rõ).\n\n2. Sáng tạo nội dung chi tiết, logic và phù hợp với đối tượng mục tiêu.\n\n3. Xuất ra kết quả tuân thủ NGHIÊM NGẶT cấu trúc định dạng đầu ra (Output Format) tương ứng.\n\n\n\n# QUY TẮC NỘI DUNG (CONTENT RULES)\n\n- **Tư duy hình ảnh:** Các mô tả về Visual Style, Icon, Bố cục phải giàu tính hình tượng, dễ hiểu cho các công cụ tạo ảnh AI (như Midjourney, DALL-E).\n\n- **Tính giáo dục:** Nội dung trong Mind Map và Worksheet phải chính xác về mặt kiến thức sư phạm.\n\n- **Ngôn ngữ:** Sử dụng tiếng Việt cho nội dung hiển thị, nhưng có thể mở ngoặc chú thích tiếng Anh cho các thuật ngữ thiết kế chuyên ngành (ví dụ: Sans-serif, Pastel, Negative space, Cinematic lighting).\n\n\n\n# CẤU TRÚC ĐỊNH DẠNG ĐẦU RA (OUTPUT FORMATS)\n\nLà prompt tiếng việt với đầy đủ các thành phần,trong đó nội dung ảnh là phần quan trọng bạn phải thêm vào một cách đầy đủ và chi tiết cho phù hợp chủ đề của 1 trong 9 loại ảnh sau:\n\n### 1. NẾU LÀ INFOGRAPHIC:\n\n---\n\n**Tiêu đề lệnh:** Yêu cầu thiết kế Infographic\n\n* **Chủ đề chính:** [Điền chủ đề]\n\n* **Đối tượng mục tiêu:** [Điền đối tượng]\n\n* **Mục tiêu truyền tải:** [Mục tiêu cụ thể]\n\n* **Yêu cầu thiết kế (Visual Style):**\n\n    * *Phong cách:* [Mô tả phong cách: Minimalist, Flat design...]\n\n    * *Bố cục:* [Timeline/Step-by-step/Comparison...]\n\n    * *Màu sắc chủ đạo:* [Gợi ý bảng màu]\n\n    * *Font chữ:* [Sans-serif/Serif...]\n\n* **Nội dung chi tiết (Data points):**\n\n    * *Tiêu đề lớn:* [Tên infographic bắt mắt]\n\n    * *Điểm 1 (Kèm icon):* [Nội dung & mô tả icon]\n\n    * *Điểm 2 (Kèm icon):* [Nội dung & mô tả icon]\n\n    * *Điểm 3 (Kèm icon):* [Nội dung & mô tả icon]\n\n    * *Số liệu nổi bật:* [Số liệu cụ thể]\n\n* **Yêu cầu kỹ thuật hình ảnh:**\n\n    * *Tỉ lệ khung hình:* [1:3 (Web) hoặc 16:9 (Slide)]\n\n    * *Lưu ý:* Không chèn text quá nhỏ, không watermark.\n\n---\n\n\n\n### 2. NẾU LÀ SƠ ĐỒ TƯ DUY (MIND MAP):\n\n---\n\n**Tiêu đề lệnh:** Yêu cầu tạo Sơ đồ tư duy\n\n* **Chủ đề trung tâm:** [Từ khóa chính]\n\n* **Loại sơ đồ:** [Radial Map/Tree Map/Fishbone...]\n\n* **Cấu trúc nội dung:**\n\n    * *Nhánh cấp 1:* [Liệt kê ý lớn]\n\n    * *Nhánh cấp 2:* [Chi tiết ý nhỏ]\n\n* **Yêu cầu thiết kế:**\n\n    * *Phong cách:* [Hand-drawn/Colorful/Professional...]\n\n    * *Màu sắc:* Phân nhánh rõ ràng.\n\n    * *Icon/Hình minh họa:* [Mô tả icon tại các nhánh]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* [4:3 hoặc 16:9]\n\n    * *Background:* [Trắng/Giấy cũ...]\n\n---\n\n\n\n### 3. NẾU LÀ PHIẾU HỌC TẬP (WORKSHEET):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Phiếu học tập\n\n* **Môn học/Chủ đề:** [Môn - Chủ đề]\n\n* **Đối tượng học sinh:** [Lớp/Tuổi]\n\n* **Mục tiêu:** [Mục tiêu bài học]\n\n* **Cấu trúc phiếu (Layout):**\n\n    * *Header:* Tên, Lớp, Ngày tháng.\n\n    * *Phần Lý thuyết:* [Tóm tắt ngắn gọn]\n\n    * *Phần Bài tập:* [Mô tả dạng bài: Nối/Điền từ/Tô màu...]\n\n    * *Footer:* Lời khen/Chấm điểm.\n\n* **Yêu cầu thiết kế:**\n\n    * *Phong cách:* [Cute/Academic...]\n\n    * *Khoảng trắng:* **Quan trọng** - Chừa chỗ để viết.\n\n    * *Hình minh họa:* [Mô tả hình trang trí]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Kích thước:* A4 (300 DPI).\n\n    * *Màu sắc:* Ưu tiên đen trắng (Black & White outline).\n\n---\n\n\n\n### 4. NẾU LÀ SOCIAL MEDIA POST/ADS:\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Social Media Banner\n\n* **Nền tảng:** [Facebook/Instagram/LinkedIn...]\n\n* **Sản phẩm/Dịch vụ:** [Tên sản phẩm]\n\n* **Thông điệp chính (Hook):** [Câu slogan thu hút]\n\n* **Yêu cầu thiết kế (Visual Style):**\n\n    * *Phong cách:* [Trendy/Luxury/Minimalist...]\n\n    * *Màu sắc thương hiệu:* [Mã màu/Tông màu]\n\n    * *Yếu tố con người:* [Mẫu ảnh/Product shot]\n\n* **Bố cục nội dung:**\n\n    * *Vị trí Text:* [Mô tả vùng an toàn cho text]\n\n    * *Điểm nhấn (Focal Point):* [Sản phẩm/Ưu đãi]\n\n    * *Nút CTA:* [Mô tả nút kêu gọi hành động]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* [1:1 (Vuông), 9:16 (Story), 16:9 (Video thumbnail)]\n\n    * *Độ phân giải:* High Quality.\n\n---\n\n\n\n### 5. NẾU LÀ LOGO/BRAND IDENTITY:\n\n---\n\n**Tiêu đề lệnh:** Yêu cầu thiết kế Logo\n\n* **Tên thương hiệu:** [Tên chính xác]\n\n* **Lĩnh vực:** [Ngành nghề]\n\n* **Giá trị cốt lõi:** [Sang trọng/Thân thiện/Tốc độ...]\n\n* **Loại Logo:** [Wordmark/Pictorial/Abstract/Mascot]\n\n* **Yêu cầu thiết kế:**\n\n    * *Phong cách:* [Vintage/Modern/Geometric...]\n\n    * *Biểu tượng gợi ý:* [Hình ảnh đại diện]\n\n    * *Màu sắc:* [Tối đa 2-3 màu]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Nền:* Trắng hoặc Trong suốt (Transparent).\n\n    * *Định dạng:* Vector style, Flat design, Không đổ bóng phức tạp.\n\n---\n\n\n\n### 6. NẾU LÀ SLIDE THUYẾT TRÌNH (PRESENTATION SLIDE):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Slide Thuyết trình\n\n* **Chủ đề bài thuyết trình:** [Ví dụ: Kế hoạch Kinh doanh Quý 1]\n\n* **Loại Slide cần tạo:** [Slide Tiêu đề (Title) / Slide Nội dung 2 cột / Slide Biểu đồ / Slide Cảm ơn]\n\n* **Phong cách chủ đạo:** [Doanh nghiệp (Corporate) / Sáng tạo (Creative) / Công nghệ (Tech)]\n\n* **Bố cục chi tiết (Layout):**\n\n    * *Vị trí Tiêu đề:* [Ví dụ: Căn trái, Font to đậm]\n\n    * *Khu vực Nội dung:* [Mô tả vị trí đặt Text và Ảnh. Ví dụ: Ảnh bên trái, Text bên phải]\n\n    * *Yếu tố trang trí (Elements):* [Shape mờ, Đường line, Số trang]\n\n* **Yêu cầu Visual:**\n\n    * *Màu sắc:* [Palette màu thương hiệu]\n\n    * *Hình ảnh/Icon:* [Mô tả loại hình ảnh cần dùng: Ảnh thật hay Vector]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* 16:9 (1920x1080).\n\n    * *Lưu ý:* Thiết kế sạch sẽ (Clean layout), chừa chỗ trống rõ ràng cho nội dung.\n\n---\n\n\n\n### 7. NẾU LÀ CHARACTER DESIGN:\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Nhân vật (Concept Art)\n\n* **Tên/Vai trò:** [Chiến binh/Bác sĩ/Quái vật...]\n\n* **Đặc điểm ngoại hình:**\n\n    * *Khuôn mặt/Tóc:* [Mô tả chi tiết]\n\n    * *Trang phục (Outfit):* [Mô tả quần áo/phụ kiện]\n\n* **Tư thế & Bối cảnh:**\n\n    * *Tư thế:* [Đứng/Ngồi/Chiến đấu...]\n\n    * *Nền:* [Nền trơn (Studio) hoặc Bối cảnh mờ]\n\n* **Yêu cầu phong cách:** [Anime/3D Pixar/Realistic/Cyberpunk...]\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* Tùy chọn (thường là Dọc).\n\n    * *Chi tiết:* Focus vào biểu cảm và trang phục.\n\n---\n\n\n\n### 8. NẾU LÀ TRUYỆN TRANH (COMIC/MANGA PAGE):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Trang Truyện tranh\n\n* **Tên truyện/Phân cảnh:** [Ví dụ: Cuộc gặp gỡ định mệnh]\n\n* **Số lượng khung (Panel Count):** [Ví dụ: 4 khung, 6 khung]\n\n* **Mô tả kịch bản (Story Flow):**\n\n    * *Khung 1:* [Mô tả hành động, góc máy, biểu cảm]\n\n    * *Khung 2:* [Mô tả hành động, góc máy, biểu cảm]\n\n    * *...*\n\n* **Yêu cầu thiết kế (Art Style):**\n\n    * *Phong cách vẽ:* [Manga Nhật Bản / Comic Mỹ (Marvel/DC) / Webtoon màu]\n\n    * *Màu sắc:* [Đen trắng (Black & White ink) hoặc Full Color]\n\n    * *Bong bóng thoại (Speech Bubbles):* Chừa khoảng trống hợp lý để chèn thoại sau.\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Tỉ lệ:* [A4 (In ấn) hoặc Dải dài (Webtoon)]\n\n    * *Bố cục:* Dynamic (Các khung xéo, phá cách) hoặc Grid (Lưới vuông vức).\n\n---\n\n\n\n### 9. NẾU LÀ POSTER (ÁP PHÍCH QUẢNG CÁO/PHIM):\n\n---\n\n**Tiêu đề lệnh:** Thiết kế Poster\n\n* **Loại Poster:** [Poster Phim / Poster Sự kiện âm nhạc / Poster Tuyên truyền]\n\n* **Tiêu đề chính (Headline):** [Tên phim/Sự kiện]\n\n* **Hình ảnh chủ đạo (Key Visual):** [Mô tả hình ảnh trung tâm thu hút nhất]\n\n* **Thông tin phụ:** [Thời gian, Địa điểm, Khách mời - AI sẽ chừa chỗ hoặc giả lập text]\n\n* **Yêu cầu thiết kế:**\n\n    * *Bố cục (Composition):* [Rule of Thirds / Center / Minimalist]\n\n    * *Mood & Tone:* [Hồi hộp / Lãng mạn / Sôi động / U tối]\n\n    * *Typography:* [Font chữ to, đậm, ấn tượng cho tiêu đề]\n\n    * *Màu sắc:* Độ tương phản cao để thu hút từ xa.\n\n* **Yêu cầu kỹ thuật:**\n\n    * *Kích thước:* [A3/A2 hoặc Tỉ lệ 2:3 (Chuẩn Poster phim)]\n\n    * *Độ phân giải:* 300 DPI (Sẵn sàng in ấn).\n\n---","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyBMGV-40HZsXFDI3GGzP9baQTS4nliGLWY\"\n]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3840,-1184],"id":"a543f4f9-efb3-49c4-bdfc-bb00a14fd338","name":"INPUT_NORMAL"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-3584,-1184],"id":"1f4557d0-199c-48aa-85e6-5bb0e13ef1ca","name":"RANDOM_API_KEY"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2240,-1184],"id":"d2c03d6e-5ecc-44cf-9e2b-20de721d5787","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"1425a1f4-c1c6-40f4-8b43-1a5ac14fbd5b","name":"data","value":"={{ $json.candidates[0].content.parts[1].inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2704,-1360],"id":"3d0ae378-935b-4e09-b390-09c8eb0008c6","name":"data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"736d6f33-e218-4842-88b2-cb377f857700","leftValue":"={{ $json.candidates[0].content.parts[1].inlineData.data }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2896,-1360],"id":"971383ba-6452-4b21-a432-4e77fee130c2","name":"Filter"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('IMAGE_INPUT').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"caption":"=IMAGES_GEN_{{ $now.format('yyyy-MM-dd_dd-mm-ss') }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2032,-1184],"id":"1bd2d010-c6c4-47b6-9876-e563b6638623","name":"Send a photo message1","webhookId":"1ba5df67-7b3d-4bfd-8595-6e0506213e8a","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"assignments":{"assignments":[{"id":"1425a1f4-c1c6-40f4-8b43-1a5ac14fbd5b","name":"data","value":"={{ $json.candidates[0].content.parts[0].inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2512,-992],"id":"0529ad34-46f4-42a8-b9ba-b53e875b4ea1","name":"data1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"736d6f33-e218-4842-88b2-cb377f857700","leftValue":"={{ $json.candidates[0].content.parts[0].inlineData.data }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2656,-992],"id":"63a6f49e-d216-4837-bd5c-0f7dfd6391ee","name":"Filter1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00da2527-c623-4102-a63c-fe499dab8efa","leftValue":"={{ $json.candidates[0].content.parts[1].inlineData }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3152,-1184],"id":"485df64b-45ee-4c98-8c24-0ed25b472c81","name":"check_isdata1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e49e194-af83-40e8-9d8d-bef30c8e68ff","leftValue":"={{ $json.candidates[0].content.parts[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"8a2cbf6d-e503-4d79-b476-7002d454c17a","leftValue":"={{ $json.candidates[0].content.parts[0].inlineData }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2896,-832],"id":"b85ffc2a-2e7a-4365-933f-6a39bb36a9e7","name":"check_isdata0"},{"parameters":{"assignments":{"assignments":[{"id":"2ade277f-cde1-4124-afc5-1fed1519f1cf","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2640,-720],"id":"16211586-7822-46d5-b79e-85a2d51e8d0c","name":"text"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi tôi lát nhé!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4288,-560],"id":"3af2ad7c-dd11-4854-b64b-6551edbcb1e8","name":"WAIT_GEN_IMAGES","webhookId":"45ad3cfe-4af4-479e-9b00-36713a770824","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"chatId":"={{ $('If').item.json.message.chat.id }}","text":"Đã upload xong file ảnh chờ tôi xử lý giúp.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4064,-1184],"id":"806ca8be-a979-4358-9054-d7f5dff2ef42","name":"Wait_upload_images","webhookId":"e1c33278-6bc5-4c97-97db-009ee37515cc","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-4928,-736],"id":"198ea6cf-903e-4dd5-a936-37ded0ae4894","name":"IMAGE_INPUT","webhookId":"9afe37a1-9dec-42bd-a760-72c2ba525483","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"chatId":"={{ $('If').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2256,-720],"id":"68b46168-066d-4197-91a5-44c2fbfce4e7","name":"Send a text message","webhookId":"8d98fb84-e0e0-40b1-8853-cf52c4995c86","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"jsCode":"// 1. Lấy dữ liệu thô\nconst rawInput =  $input.first().json.text|| '';\n\n// --- HÀM TIỆN ÍCH ---\n\n/**\n * Hàm tiện ích: \"Vô hiệu hóa\" các ký tự HTML đặc biệt trong một chuỗi.\n * Đây là cách làm an toàn để tránh lỗi phân tích cú pháp của Telegram ở chế độ HTML.\n * @param {string} text - Văn bản cần xử lý.\n * @returns {string} - Văn bản đã được \"vô hiệu hóa\" ký tự HTML.\n */\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n/**\n * Định dạng một chuỗi dưới dạng khối mã, sử dụng hàm escapeHtml.\n * @param {string} text - Văn bản cần định dạng.\n * @returns {string} - Chuỗi HTML đã được định dạng.\n */\nfunction formatAsCode(text) {\n  // Nội dung bên trong <code> cần được escape để hiển thị chính xác dưới dạng mã nguồn\n  return `<pre><code>${escapeHtml(text)}</code></pre>`;\n}\n\n/**\n * Chia văn bản thành các chunk AN TOÀN cho Telegram.\n * @param {string} text - Văn bản cần chia.\n * @param {number} maxLength - Độ dài ký tự tối đa cho mỗi chunk. Mặc định là 4000 để an toàn với Telegram.\n * @returns {string[]} - Mảng các chunk.\n */\nfunction getTextChunks(text, maxLength = 4000) {\n    if (!text || text.trim().length === 0) {\n        return [];\n    }\n\n    const chunks = [];\n    let textToProcess = text;\n\n    while (textToProcess.length > 0) {\n        if (textToProcess.length <= maxLength) {\n            chunks.push(textToProcess);\n            break;\n        }\n\n        let chunkCandidate = textToProcess.slice(0, maxLength);\n        let splitIndex = maxLength;\n\n        // Ưu tiên ngắt ở các vị trí tự nhiên để không làm hỏng định dạng\n        const breakPoints = ['\\n\\n', '\\n', '. ', ' '];\n        for (const breakPoint of breakPoints) {\n            const lastBreak = chunkCandidate.lastIndexOf(breakPoint);\n            // Chỉ chấp nhận điểm ngắt nếu nó không quá ngắn\n            if (lastBreak > maxLength * 0.7) {\n                splitIndex = lastBreak;\n                break;\n            }\n        }\n\n        const chunk = textToProcess.slice(0, splitIndex);\n        chunks.push(chunk);\n\n        textToProcess = textToProcess.slice(splitIndex).trim();\n    }\n\n    return chunks.filter(chunk => chunk.trim().length > 0);\n}\n\n\n// --- LOGIC CHÍNH ---\nconst allChunks = [];\n\n// TRƯỜNG HỢP 1: Xử lý file bài tập đặc biệt của bạn\n// Nếu input bắt đầu bằng '%%%========', coi toàn bộ là một khối mã.\n// Phần này đã xử lý đúng bằng cách dùng formatAsCode nên không cần thay đổi.\nif (rawInput.trim().startsWith('%%%========')) {\n    const codeChunks = getTextChunks(rawInput);\n    for (const chunk of codeChunks) {\n        allChunks.push({ json: { output: formatAsCode(chunk) } });\n    }\n}\n// TRƯỜNG HỢP 2: Xử lý các loại văn bản hỗn hợp khác\nelse {\n    const patterns = [\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '```[\\\\s\\\\S]*?```',\n      '%%%.*?%%%',\n      '\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '\\\\begin{lstlisting}[\\\\s\\\\S]*?\\\\end{lstlisting}',\n      '\\\\begin{verbatim}[\\\\s\\\\S]*?\\\\end{verbatim}',\n      '\\\\begin{code}[\\\\s\\\\S]*?\\\\end{code}',\n      '\\\\$\\\\$[\\\\s\\\\S]*?\\\\$\\\\$',\n      '<code>[\\\\s\\\\S]*?</code>',\n      '<pre>[\\\\s\\\\S]*?</pre>',\n      '`[^`\\\\n]+`',\n    ];\n\n    const specialBlocksRegex = new RegExp(`(${patterns.join('|')})`, 'g');\n    let currentIndex = 0;\n    let match;\n\n    try {\n        while ((match = specialBlocksRegex.exec(rawInput)) !== null) {\n            // Xử lý phần văn bản thường (plain text) nằm TRƯỚC khối đặc biệt\n            const plainText = rawInput.substring(currentIndex, match.index);\n            if (plainText && plainText.trim()) {\n                // *** THAY ĐỔI QUAN TRỌNG ***\n                // Áp dụng escapeHtml cho văn bản thường để tránh lỗi\n                const escapedText = escapeHtml(plainText);\n                const plainTextChunks = getTextChunks(escapedText);\n                for (const chunk of plainTextChunks) {\n                    allChunks.push({ json: { output: chunk } });\n                }\n            }\n\n            // Xử lý khối đặc biệt (đã được xử lý đúng từ trước)\n            const specialBlock = match[0];\n            if (specialBlock && specialBlock.trim()) {\n                const specialBlockChunks = getTextChunks(specialBlock);\n                for (const chunk of specialBlockChunks) {\n                    // formatAsCode đã bao gồm escapeHtml bên trong\n                    allChunks.push({ json: { output: formatAsCode(chunk) } });\n                }\n            }\n            currentIndex = specialBlocksRegex.lastIndex;\n        }\n\n        // Xử lý phần văn bản thường còn lại ở CUỐI cùng\n        const remainingText = rawInput.substring(currentIndex);\n        if (remainingText && remainingText.trim()) {\n            // *** THAY ĐỔI QUAN TRỌNG ***\n            // Cũng áp dụng escapeHtml cho phần còn lại này\n            const escapedText = escapeHtml(remainingText);\n            const plainTextChunks = getTextChunks(escapedText);\n            for (const chunk of plainTextChunks) {\n                allChunks.push({ json: { output: chunk } });\n            }\n        }\n    } catch (error) {\n        console.error('Lỗi khi xử lý với regex, chuyển sang phương án dự phòng:', error);\n        // Phương án dự phòng: escape toàn bộ nội dung nếu regex lỗi\n        const escapedText = escapeHtml(rawInput);\n        const fallbackChunks = getTextChunks(escapedText);\n        for (const chunk of fallbackChunks) {\n            allChunks.push({ json: { output: chunk } });\n        }\n    }\n}\n\n// Trường hợp dự phòng cuối cùng nếu không có chunk nào được tạo\nif (allChunks.length === 0 && rawInput.trim()) {\n    const escapedText = escapeHtml(rawInput);\n    const fallbackChunks = getTextChunks(escapedText);\n    for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n    }\n}\n\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2448,-720],"id":"c19c1ac2-be04-40e1-8913-293c1b2e9f26","name":"Code"},{"parameters":{"chatId":"={{ $('If').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2944,-560],"id":"1c9fd500-1a26-4bab-b6fd-5815fb357b4f","name":"Send a text message1","webhookId":"8d98fb84-e0e0-40b1-8853-cf52c4995c86","credentials":{"telegramApi":{"id":"9JycvKjolJsmovY8","name":"IMAGES_GEN_BOT"}}},{"parameters":{"jsCode":"// 1. Lấy dữ liệu thô\nconst rawInput =  $input.first().json.output|| '';\n\n// --- HÀM TIỆN ÍCH ---\n\n/**\n * Hàm tiện ích: \"Vô hiệu hóa\" các ký tự HTML đặc biệt trong một chuỗi.\n * Đây là cách làm an toàn để tránh lỗi phân tích cú pháp của Telegram ở chế độ HTML.\n * @param {string} text - Văn bản cần xử lý.\n * @returns {string} - Văn bản đã được \"vô hiệu hóa\" ký tự HTML.\n */\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n/**\n * Định dạng một chuỗi dưới dạng khối mã, sử dụng hàm escapeHtml.\n * @param {string} text - Văn bản cần định dạng.\n * @returns {string} - Chuỗi HTML đã được định dạng.\n */\nfunction formatAsCode(text) {\n  // Nội dung bên trong <code> cần được escape để hiển thị chính xác dưới dạng mã nguồn\n  return `<pre><code>${escapeHtml(text)}</code></pre>`;\n}\n\n/**\n * Chia văn bản thành các chunk AN TOÀN cho Telegram.\n * @param {string} text - Văn bản cần chia.\n * @param {number} maxLength - Độ dài ký tự tối đa cho mỗi chunk. Mặc định là 4000 để an toàn với Telegram.\n * @returns {string[]} - Mảng các chunk.\n */\nfunction getTextChunks(text, maxLength = 4000) {\n    if (!text || text.trim().length === 0) {\n        return [];\n    }\n\n    const chunks = [];\n    let textToProcess = text;\n\n    while (textToProcess.length > 0) {\n        if (textToProcess.length <= maxLength) {\n            chunks.push(textToProcess);\n            break;\n        }\n\n        let chunkCandidate = textToProcess.slice(0, maxLength);\n        let splitIndex = maxLength;\n\n        // Ưu tiên ngắt ở các vị trí tự nhiên để không làm hỏng định dạng\n        const breakPoints = ['\\n\\n', '\\n', '. ', ' '];\n        for (const breakPoint of breakPoints) {\n            const lastBreak = chunkCandidate.lastIndexOf(breakPoint);\n            // Chỉ chấp nhận điểm ngắt nếu nó không quá ngắn\n            if (lastBreak > maxLength * 0.7) {\n                splitIndex = lastBreak;\n                break;\n            }\n        }\n\n        const chunk = textToProcess.slice(0, splitIndex);\n        chunks.push(chunk);\n\n        textToProcess = textToProcess.slice(splitIndex).trim();\n    }\n\n    return chunks.filter(chunk => chunk.trim().length > 0);\n}\n\n\n// --- LOGIC CHÍNH ---\nconst allChunks = [];\n\n// TRƯỜNG HỢP 1: Xử lý file bài tập đặc biệt của bạn\n// Nếu input bắt đầu bằng '%%%========', coi toàn bộ là một khối mã.\n// Phần này đã xử lý đúng bằng cách dùng formatAsCode nên không cần thay đổi.\nif (rawInput.trim().startsWith('%%%========')) {\n    const codeChunks = getTextChunks(rawInput);\n    for (const chunk of codeChunks) {\n        allChunks.push({ json: { output: formatAsCode(chunk) } });\n    }\n}\n// TRƯỜNG HỢP 2: Xử lý các loại văn bản hỗn hợp khác\nelse {\n    const patterns = [\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '```[\\\\s\\\\S]*?```',\n      '%%%.*?%%%',\n      '\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '\\\\begin{lstlisting}[\\\\s\\\\S]*?\\\\end{lstlisting}',\n      '\\\\begin{verbatim}[\\\\s\\\\S]*?\\\\end{verbatim}',\n      '\\\\begin{code}[\\\\s\\\\S]*?\\\\end{code}',\n      '\\\\$\\\\$[\\\\s\\\\S]*?\\\\$\\\\$',\n      '<code>[\\\\s\\\\S]*?</code>',\n      '<pre>[\\\\s\\\\S]*?</pre>',\n      '`[^`\\\\n]+`',\n    ];\n\n    const specialBlocksRegex = new RegExp(`(${patterns.join('|')})`, 'g');\n    let currentIndex = 0;\n    let match;\n\n    try {\n        while ((match = specialBlocksRegex.exec(rawInput)) !== null) {\n            // Xử lý phần văn bản thường (plain text) nằm TRƯỚC khối đặc biệt\n            const plainText = rawInput.substring(currentIndex, match.index);\n            if (plainText && plainText.trim()) {\n                // *** THAY ĐỔI QUAN TRỌNG ***\n                // Áp dụng escapeHtml cho văn bản thường để tránh lỗi\n                const escapedText = escapeHtml(plainText);\n                const plainTextChunks = getTextChunks(escapedText);\n                for (const chunk of plainTextChunks) {\n                    allChunks.push({ json: { output: chunk } });\n                }\n            }\n\n            // Xử lý khối đặc biệt (đã được xử lý đúng từ trước)\n            const specialBlock = match[0];\n            if (specialBlock && specialBlock.trim()) {\n                const specialBlockChunks = getTextChunks(specialBlock);\n                for (const chunk of specialBlockChunks) {\n                    // formatAsCode đã bao gồm escapeHtml bên trong\n                    allChunks.push({ json: { output: formatAsCode(chunk) } });\n                }\n            }\n            currentIndex = specialBlocksRegex.lastIndex;\n        }\n\n        // Xử lý phần văn bản thường còn lại ở CUỐI cùng\n        const remainingText = rawInput.substring(currentIndex);\n        if (remainingText && remainingText.trim()) {\n            // *** THAY ĐỔI QUAN TRỌNG ***\n            // Cũng áp dụng escapeHtml cho phần còn lại này\n            const escapedText = escapeHtml(remainingText);\n            const plainTextChunks = getTextChunks(escapedText);\n            for (const chunk of plainTextChunks) {\n                allChunks.push({ json: { output: chunk } });\n            }\n        }\n    } catch (error) {\n        console.error('Lỗi khi xử lý với regex, chuyển sang phương án dự phòng:', error);\n        // Phương án dự phòng: escape toàn bộ nội dung nếu regex lỗi\n        const escapedText = escapeHtml(rawInput);\n        const fallbackChunks = getTextChunks(escapedText);\n        for (const chunk of fallbackChunks) {\n            allChunks.push({ json: { output: chunk } });\n        }\n    }\n}\n\n// Trường hợp dự phòng cuối cùng nếu không có chunk nào được tạo\nif (allChunks.length === 0 && rawInput.trim()) {\n    const escapedText = escapeHtml(rawInput);\n    const fallbackChunks = getTextChunks(escapedText);\n    for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n    }\n}\n\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3200,-560],"id":"397fd3e2-58c6-43b5-84ff-c517f0c11012","name":"Code1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3792,-256],"id":"57fc4823-c9c3-453f-a4e0-d7ebaa319dbf","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"u4raH9M6rBCAl4d7","name":"OpenRouter gpt 4.1 mini"}}},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3984,-272],"id":"ef5d3e59-6390-47a3-bf06-2a7695ccf9e5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"mzLiXdDHw88ZBMIG","name":"Google Gemini(PaLM) Api account 1"}}}],"connections":{"input_AI_agent":{"main":[[{"node":"AI_AGENT_GEN_IMAGES","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI_AGENT_GEN_IMAGES","type":"ai_memory","index":0}]]},"AI_AGENT_GEN_IMAGES":{"main":[[{"node":"OUTPUT_AI_AGENT","type":"main","index":0}]]},"OUTPUT_AI_AGENT":{"main":[[{"node":"Code1","type":"main","index":0}]]},"If":{"main":[[{"node":"Upload a file","type":"main","index":0}],[{"node":"WAIT_GEN_IMAGES","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Wait_upload_images","type":"main","index":0}]]},"INPUT_NORMAL":{"main":[[{"node":"RANDOM_API_KEY","type":"main","index":0}]]},"RANDOM_API_KEY":{"main":[[{"node":"IMAGES_GEN_INLINE_DATA","type":"main","index":0}]]},"IMAGES_GEN_INLINE_DATA":{"main":[[{"node":"check_isdata1","type":"main","index":0}]]},"data":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filter":{"main":[[{"node":"data","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send a photo message1","type":"main","index":0}]]},"data1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"data1","type":"main","index":0}]]},"check_isdata1":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"check_isdata0","type":"main","index":0}]]},"check_isdata0":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"text","type":"main","index":0}]]},"WAIT_GEN_IMAGES":{"main":[[{"node":"input_AI_agent","type":"main","index":0}]]},"Wait_upload_images":{"main":[[{"node":"INPUT_NORMAL","type":"main","index":0}]]},"text":{"main":[[{"node":"Code","type":"main","index":0}]]},"IMAGE_INPUT":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI_AGENT_GEN_IMAGES","type":"ai_languageModel","index":1}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI_AGENT_GEN_IMAGES","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ea8066f-1a4d-4c83-bbe0-f2ea7b105eb3","triggerCount":1,"shared":[{"updatedAt":"2025-11-30T04:22:24.362Z","createdAt":"2025-11-30T04:22:24.362Z","role":"workflow:owner","workflowId":"l3GFYsrX7tYcAJEx","projectId":"EIQckweL3OLW7kzz"}],"tags":[]}