json_latex-MS9CsgNhzyfs4Eh2.json
{"updatedAt":"2025-11-29T15:25:44.043Z","createdAt":"2025-10-26T05:25:43.765Z","id":"MS9CsgNhzyfs4Eh2","name":"JSON_LATEX","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"=\n{{ $json.output }}\n\n ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-224],"id":"e291266d-70cd-49ef-a597-897d609d2d85","name":"JSON_LATEX"},{"parameters":{"assignments":{"assignments":[{"id":"6f29acc6-bf36-4ca3-8aa2-23c1d5e4d340","name":"EX","value":"={{ $json.EX }}","type":"string"},{"id":"8a9f4015-3fdd-4b65-95e5-c84218141501","name":"TF","value":"={{ $json.TF }}","type":"string"},{"id":"86e9fb10-eb33-4f8a-92bf-da24f05c25d4","name":"SA","value":"={{ $json.SA }}","type":"string"},{"id":"20125a7a-4644-4573-ad79-b4603d058bba","name":"BT","value":"={{ $json.BT }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,-224],"id":"4d92f291-729e-4525-a2a3-ff7ba8bbccc5","name":"CODE_LATEX"},{"parameters":{"assignments":{"assignments":[{"id":"7eac0a9f-8e37-41e3-944f-095f19e44b74","name":"filename_output","value":"=Create_EXAM_{{$now.format('hh_mm_ss-dd_MM_yyyy')}}.tex","type":"string"},{"id":"1c218b8e-1ad2-48f4-96cf-5dc4c5b5d72e","name":"content_to_write","value":"=\\documentclass[FileMain_Ver1.tex]{subfiles}\n\\gdef\\sophong{ {{ $('On form submission').item.json['Sở '] }}}\n\\gdef\\truong{ {{ $('On form submission').item.json['Phòng'] }}}\n\\gdef\\truongh{ {{ $('On form submission').item.json['Trường'] }}}\n\\gdef\\monhoc{ {{ $('On form submission').item.json['Môn học'] }}}\n\\gdef\\ngaykt{ {{ $('On form submission').item.json['Ngày kiểm tra'] }}}\n\\gdef\\nh{ {{ $('On form submission').item.json['Năm học'] }}}\n\\gdef\\thoigian{ {{ $('On form submission').item.json['Thời gian'] }}}\n\\gdef\\made{ {{ $('On form submission').item.json['Mã đề'] }}}\n\\setcounter{section}{ {{ $('On form submission').item.json['Số thứ tự đề'] }}}\n\\begin{document}\n\t%%%====Hiển thị Mục Lục=======%%%\n\t%\\setcounter{tocdepth}{1}\n\t%\\setcounter{secnumdepth}{3}\n\t%\\tableofcontents\n\t%%%====Điều chỉnh lời giải=======%%%\n%\t\\tatloigiai\n%\t\\dongkeloigiai\n\t%\\hienthiloigiai\n\t%\\sodongke[4]{ex}\n\t%\\sodongke[8]{bt}\n\t\\section[{{ $('On form submission').item.json['Tên Kì Thi'] }}  lần {{ $('On form submission').item.json['Số thứ tự kì thi'] }}  - Mã đề \\made] { {{ $('On form submission').item.json['Tên Kì Thi'] }}}\n\t\\subsection{Trắc nghiệm nhiều lựa chọn.}\\textit{Thí sinh trả lời từ câu 1 đến câu 12. \n\tMỗi câu hỏi thí sinh chỉ chọn một phương án.} \n\t\n\t\\Opensolutionfile{ansex}[Ans/LGEX-{{ $('On form submission').item.json['Tên file đáp án'] }}]\n\t\\Opensolutionfile{ans}[Ans/Ans-{{ $('On form submission').item.json['Tên file đáp án'] }}]\n\t{{ $json.EX }}\n\t\\Closesolutionfile{ans}\n\t\\Closesolutionfile{ansex}\n\t%\\bangdapan{Ans-{{ $('On form submission').item.json['Tên file đáp án'] }}}\n\t\n\t%%%%==============Phần trắc nghiệm đúng sai==============%%%    \n\t\\subsection{Trắc nghiệm đúng sai}\\textit{Thí sinh trả lời từ câu 1 đến câu 2 Trong mỗi ý a), b), c), d) ở mỗi câu, thí sinh chọn đúng hoặc sai} \n\t\\Opensolutionfile{ansex}[Ans/LGTF-{{ $('On form submission').item.json['Tên file đáp án'] }}]\n\t\\Opensolutionfile{ansbook}[Ansbook/AnsTF-{{ $('On form submission').item.json['Tên file đáp án'] }}]\n\t\\Opensolutionfile{ans}[Ans/Tempt-{{ $('On form submission').item.json['Tên file đáp án'] }}]\n\t\\setcounter{ex}{0}\n\t\t{{ $json.TF }}\n\t\\Closesolutionfile{ans}\n\t\\Closesolutionfile{ansbook}\n\t\\Closesolutionfile{ansex}\n\t%\t    \\bangdapanTF{AnsTF-{{ $('On form submission').item.json['Tên file đáp án'] }}}\n\t\n\t%%%==============Phần bài tập trả lời ngắn==============%%%    \n\t\\subsection{Bài tập trả lời ngắn}\\textit{Thí sinh trả lời từ câu 1 đến câu 2. }\n\t\\Opensolutionfile{ansex}[Ans/LGSA-{{ $('On form submission').item.json['Tên file đáp án'] }}]\n\t\\Opensolutionfile{ansexh}[Ans/AnsSA-{{ $('On form submission').item.json['Tên file đáp án'] }}]\n\t\\setcounter{ex}{0}\n\t\t{{ $json.SA }}\n\t\\Closesolutionfile{ansexh}\n\t\\Closesolutionfile{ansex}\n\t%\\bangdapanSA{AnsSA-{{ $('On form submission').item.json['Tên file đáp án'] }}}\n\t%    %%%==============Phần bài tập tự luận==============%%%    \n\t\\subsection{Bài tập tự luận}\\textit{Thí sinh trình bày lời giải chi tiết vào bài làm}\n\t\\Opensolutionfile{ansbth}[Ans/LGBT-{{ $('On form submission').item.json['Tên file đáp án'] }}]\n\t\\Opensolutionfile{ansbt}[Ans/AnsBT-{{ $('On form submission').item.json['Tên file đáp án'] }}]\n\t\t{{ $json.BT }}\n\t\\Closesolutionfile{ansbt}\n\t\\Closesolutionfile{ansbth}\n\t%\\taodongke[1.5][\\hrule][red]{5}\n%\t\\taodongke[][][black]{56}\n\t%\t\\begin{center}\n\t\t%\t\t \\rule[4pt]{2cm}{1pt}\\,\\bfseries Hết\\,\\rule[4pt]{2cm}{1pt}\n\t\t%\t\\end{center}\n\t%%%%%%%%%%%%%%%%%%%%%%%%\n\t\\label{x}\n\\end{document}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,-224],"id":"1664e010-40c6-4e93-811b-2b5c9699ee63","name":"Tempt"},{"parameters":{"fileSelector":"={{ $json.filepath }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1360,-80],"id":"9b38e8ad-d078-4ef8-869c-b86cd543c28d","name":"Read/Write Files from Disk","alwaysOutputData":true},{"parameters":{"jsCode":"// ⚡ Đây là hàm \"thần kỳ\" giúp chuyển đổi text thường sang LaTeX không đảo các phương án ID EX và TF\n// Nó sẽ tìm các công thức (H_2, Fe^{3+}) và các con số (2, 3) để bọc chúng bằng $...$\nconst latexify = (text) => {\n  // 1. Wrap các biểu thức toán học (ví dụ: 2 × 2 = 4)\n  // \\u00D7 là ký tự '×', \\u002A là '*'\n  let result = text.replace(/(\\d+\\s*[\\u00D7\\u002A]\\s*\\d+\\s*=\\s*\\d+)/g, '$$$1$$');\n\n  // 2. Xử lý phần text còn lại\n  const segments = result.split('$');\n  let finalResult = '';\n\n  // 🔥FIX (PHƯƠNG ÁN B+): Đã cập nhật regex để bao gồm ^ { } + -\n  const formulaRegex = /(?<=^|\\s|\\(|\\[)(?:'|\")?([A-Z][A-Za-z]*[0-9_^][A-Za-z0-9_^\\{\\}+-]*|[0-9]+[A-Z][A-Za-z0-9_^\\{\\}+-]*)(?:'|\")?(?=$|\\s|\\.|\\,|\\:|\\?|\\!|\\)|\\])/g;\n\n\n  for (let i = 0; i < segments.length; i++) {\n    if (i % 2 === 0) {\n      // Đây là text thường (nằm ngoài dấu $...$)\n      let temp = segments[i];\n      \n      // 2a. Wrap các công thức hóa học (dùng regex mới)\n      temp = temp.replace(formulaRegex, '$$$1$$');\n      \n      // 2b. Wrap các con số độc lập\n      const formulaSegments = temp.split('$');\n      let tempResult = '';\n      for (let j = 0; j < formulaSegments.length; j++) {\n        if (j % 2 === 0) {\n          // Text thường, wrap số\n          tempResult += formulaSegments[j].replace(/\\b(\\d+)\\b/g, '$$$1$$');\n        } else {\n          // Công thức, giữ nguyên\n          tempResult += `$${formulaSegments[j]}$`;\n        }\n      }\n      finalResult += tempResult;\n      \n    } else {\n      // Đây là text toán học (nằm trong dấu $...$), giữ nguyên\n      finalResult += `$${segments[i]}$`;\n    }\n  }\n  // Dọn dẹp nếu có $$ trống\n  return finalResult.replace(/\\$\\s*\\$/g, ' ');\n};\n\n\n// === PHẦN XỬ LÝ CHÍNH TRONG N8N ===\n\n// Lấy dữ liệu từ TẤT CẢ item, bất kể chế độ Execute Once\nconst items = $input.all();\nlet allLatexOutputs = [];\n\n// Lặp qua từng item (ví dụ: nếu node trước trả về nhiều JSON)\nfor (const item of items) {\n  // 🔥 CẬP NHẬT: Xử lý JSON bị lồng (flat map)\n  // Dữ liệu JSON của bạn có cấu trúc lồng nhau, ta cần làm phẳng nó\n  const rawQuestionData = item.json.cau_hoi_latex;\n  // Đảm bảo rawQuestionData là mảng trước khi flatMap\n  const questions = Array.isArray(rawQuestionData) \n    ? rawQuestionData.flatMap(q => q.cau_hoi_latex ? q.cau_hoi_latex : q)\n    : [];\n  \n  // Mảng này sẽ chứa các chuỗi LaTeX cho TỪNG câu hỏi\n  const questionLatexStrings = [];\n\n  // 🏗️ Dùng vòng lặp for...of để duyệt qua từng câu hỏi\n  for (const question of questions) {\n    \n    // Thêm header\n    questionLatexStrings.push(`%%%============${question.id}=============%%%`);\n    // 🔥 CẬP NHẬT: Dùng \\begin{bt} nếu là BT, ngược lại dùng \\begin{ex}\n    if (question.id.includes('BT')) {\n      questionLatexStrings.push(`\\\\begin{bt}`);\n    } else {\n      questionLatexStrings.push(`\\\\begin{ex}`);\n    }\n    \n    // Thêm tiêu đề (đã được \"latexify\")\n    // Thêm \\n để xuống dòng cho đẹp\n    questionLatexStrings.push(`  ${latexify(question.title)}`);\n    \n    // 🔥 --- START CẬP NHẬT LOGIC 4 NHÁNH (EX, TF, SA, BT) ---\n    const isTrueFalse = question.id.includes('TF');\n    const isShortAnswer = question.id.includes('SA');\n    const isTableExercise = question.id.includes('BT'); // Mới\n    \n    // 1. Thêm khối lựa chọn \\choice, \\choiceTF, \\shortans, hoặc không gì cả\n    if (isTrueFalse) {\n      questionLatexStrings.push(`  \\\\choiceTF`);\n    } else if (isShortAnswer) {\n      // Lấy đáp án ngắn từ \"choices\"\n      const answer = question.choices[0].content;\n      questionLatexStrings.push(`  \\\\shortans{${latexify(answer)}}`);\n    } else if (isTableExercise) {\n      // BT_ type has no choice/shortans block, do nothing.\n    } else { // Mặc định là EX\n      questionLatexStrings.push(`  \\\\choice`);\n    }\n    \n    // 2. Loop qua các lựa chọn (CHỈ DÀNH CHO EX và TF)\n    if (!isShortAnswer && !isTableExercise) { // Thêm !isTableExercise\n      for (const choice of question.choices) {\n        const choicePrefix = choice.correct ? '\\\\True ' : '';\n        let choiceContent = '';\n\n        const testRegex = /^(?:'|\")?([A-Z][A-Za-z]*[0-9_^][A-Za-z0-9_^\\{\\}+-]*|[0-9]+[A-Z][A-Za-z0-9_^\\{\\}+-]*)(?:'|\")?$/;\n        const match = choice.content.match(testRegex);\n        \n        if (match) {\n          choiceContent = `$${match[1]}$`; \n        } else {\n          choiceContent = latexify(choice.content);\n        }\n        \n        questionLatexStrings.push(`  {${choicePrefix}${choiceContent}}`);\n      }\n    }\n    \n    // 3. Thêm khối lời giải\n    questionLatexStrings.push(`  \\\\loigiai{`);\n\n    if (isTrueFalse) {\n      // --- Lời giải cho TF ---\n      const keyParts = [];\n      question.choices.forEach((choice, index) => {\n        const letter = choice.correct ? 'T' : 'F';\n        const number = index + 1;\n        keyParts.push(`${letter}${number}`);\n      });\n      const itemChoiceKey = keyParts.join(',');\n      \n      questionLatexStrings.push(`    \\\\begin{itemchoice}[${itemChoiceKey}]`);\n      for (const line of question.explanation) {\n        questionLatexStrings.push(`      \\\\item ${latexify(line)}`);\n      }\n      questionLatexStrings.push(`    \\\\end{itemchoice}`);\n\n    } else if (isShortAnswer) {\n      // --- Lời giải cho SA ---\n      // Ghép các dòng giải thích thành 1 đoạn văn\n      const explanationText = question.explanation.map(line => latexify(line)).join(' ');\n      questionLatexStrings.push(`    ${explanationText}`);\n\n    } else {\n      // --- Lời giải cho EX và BT (dùng itemize) ---\n      questionLatexStrings.push(`    \\\\begin{itemize}`);\n      for (const line of question.explanation) {\n        questionLatexStrings.push(`      \\\\item ${latexify(line)}`);\n      }\n      questionLatexStrings.push(`    \\\\end{itemize}`);\n    }\n    \n    questionLatexStrings.push(`  }`);\n    \n    // 🔥 CẬP NHẬT: Dùng \\end{bt} nếu là BT, ngược lại dùng \\end{ex}\n    if (isTableExercise) {\n      questionLatexStrings.push(`\\\\end{bt}`);\n    } else {\n      questionLatexStrings.push(`\\\\end{ex}`);\n    }\n    // 🔥 --- END CẬP NHẬT ---\n  }\n  \n  // Nối tất cả các câu hỏi của item này lại, cách nhau 2 dòng mới\n  allLatexOutputs.push(questionLatexStrings.join('\\n'));\n}\n\n// 🚀 Trả về kết quả\nreturn [{\n  json: {\n    // Nối kết quả từ tất cả item đầu vào\n    latex_output: allLatexOutputs.join('\\n\\n')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,-448],"id":"1f9d113a-1610-4f1f-9cff-1c8cc646008d","name":"Convert_code_latex_non_dao_pa","disabled":true},{"parameters":{"jsCode":"// ⚡ Đây là hàm \"thần kỳ\" giúp chuyển đổi text thường sang LaTeX\n// Nó sẽ tìm các công thức (H_2, Fe^{3+}) và các con số (2, 3) để bọc chúng bằng $...$\nconst latexify = (text) => {\n  // 1. Wrap các biểu thức toán học (ví dụ: 2 × 2 = 4)\n  // \\u00D7 là ký tự '×', \\u002A là '*'\n  let result = text.replace(/(\\d+\\s*[\\u00D7\\u002A]\\s*\\d+\\s*=\\s*\\d+)/g, '$$$1$$');\n\n  // 2. Xử lý phần text còn lại\n  const segments = result.split('$');\n  let finalResult = '';\n\n  // 🔥FIX (PHƯƠNG ÁN B+): Đã cập nhật regex để bao gồm ^ { } + -\n  const formulaRegex = /(?<=^|\\s|\\(|\\[)(?:'|\")?([A-Z][A-Za-z]*[0-9_^][A-Za-z0-9_^\\{\\}+-]*|[0-9]+[A-Z][A-Za-z0-9_^\\{\\}+-]*)(?:'|\")?(?=$|\\s|\\.|\\,|\\:|\\?|\\!|\\)|\\])/g;\n\n\n  for (let i = 0; i < segments.length; i++) {\n    if (i % 2 === 0) {\n      // Đây là text thường (nằm ngoài dấu $...$)\n      let temp = segments[i];\n      \n      // 2a. Wrap các công thức hóa học (dùng regex mới)\n      temp = temp.replace(formulaRegex, '$$$1$$');\n      \n      // 2b. Wrap các con số độc lập\n      const formulaSegments = temp.split('$');\n      let tempResult = '';\n      for (let j = 0; j < formulaSegments.length; j++) {\n        if (j % 2 === 0) {\n          // Text thường, wrap số\n          tempResult += formulaSegments[j].replace(/\\b(\\d+)\\b/g, '$$$1$$');\n        } else {\n          // Công thức, giữ nguyên\n          tempResult += `$${formulaSegments[j]}$`;\n        }\n      }\n      finalResult += tempResult;\n      \n    } else {\n      // Đây là text toán học (nằm trong dấu $...$), giữ nguyên\n      finalResult += `$${segments[i]}$`;\n    }\n  }\n  // Dọn dẹp nếu có $$ trống\n  return finalResult.replace(/\\$\\s*\\$/g, ' ');\n};\n\n// 🔥 --- START CẬP NHẬT: Thêm hàm Shuffle ---\n/**\n * Xáo trộn một mảng (Fisher-Yates Shuffle).\n * @param {Array} array Mảng cần xáo trộn.\n */\nconst shuffleArray = (array) => {\n  for (let i = array.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [array[i], array[j]] = [array[j], array[i]];\n  }\n};\n// 🔥 --- END CẬP NHẬT ---\n\n\n// === PHẦN XỬ LÝ CHÍNH TRONG N8N ===\n\n// Lấy dữ liệu từ TẤT CẢ item, bất kể chế độ Execute Once\nconst items = $input.all();\nlet allLatexOutputs = [];\n\n// Lặp qua từng item (ví dụ: nếu node trước trả về nhiều JSON)\nfor (const item of items) {\n  // 🔥 CẬP NHẬT: Xử lý JSON bị lồng (flat map)\n  const rawQuestionData = item.json.cau_hoi_latex;\n  // Đảm bảo rawQuestionData là mảng trước khi flatMap\n  const questions = Array.isArray(rawQuestionData) \n    ? rawQuestionData.flatMap(q => q.cau_hoi_latex ? q.cau_hoi_latex : q)\n    : [];\n  \n  // Mảng này sẽ chứa các chuỗi LaTeX cho TỪNG câu hỏi\n  const questionLatexStrings = [];\n\n  // 🏗️ Dùng vòng lặp for...of để duyệt qua từng câu hỏi\n  for (const question of questions) {\n    \n    // Thêm header\n    questionLatexStrings.push(`%%%============${question.id}=============%%%`);\n    // 🔥 CẬP NHẬT: Dùng \\begin{bt} nếu là BT, ngược lại dùng \\begin{ex}\n    if (question.id.includes('BT')) {\n      questionLatexStrings.push(`\\\\begin{bt}`);\n    } else {\n      questionLatexStrings.push(`\\\\begin{ex}`);\n    }\n    \n    // Thêm tiêu đề (đã được \"latexify\")\n    questionLatexStrings.push(`  ${latexify(question.title)}`);\n    \n    // --- Xác định loại câu hỏi ---\n    const isTrueFalse = question.id.includes('TF');\n    const isShortAnswer = question.id.includes('SA');\n    const isTableExercise = question.id.includes('BT');\n    \n    // 🔥 --- START CẬP NHẬT: Logic Shuffle ---\n    let processedChoices = question.choices;\n    let processedExplanations = question.explanation;\n    \n    // Chỉ shuffle cho EX và TF, và phải đảm bảo 2 mảng đồng bộ\n    const isShuffleType = (question.id.includes('EX') || isTrueFalse);\n\n    if (isShuffleType && \n        Array.isArray(question.choices) && \n        Array.isArray(question.explanation) && \n        question.choices.length === question.explanation.length) {\n      \n      // 1. \"Zip\" 2 mảng lại\n      let combined = question.choices.map((choice, index) => {\n        return {\n          choice: choice,\n          explanation: question.explanation[index]\n        };\n      });\n      \n      // 2. Shuffle mảng \"zipped\"\n      shuffleArray(combined);\n      \n      // 3. \"Unzip\" mảng đã shuffle\n      processedChoices = combined.map(pair => pair.choice);\n      processedExplanations = combined.map(pair => pair.explanation);\n    }\n    // 🔥 --- END CẬP NHẬT: Logic Shuffle ---\n    \n    // 1. Thêm khối lựa chọn \\choice, \\choiceTF, \\shortans, hoặc không gì cả\n    if (isTrueFalse) {\n      questionLatexStrings.push(`  \\\\choiceTF`);\n    } else if (isShortAnswer) {\n      const answer = processedChoices[0].content; // Dùng processedChoices\n      questionLatexStrings.push(`  \\\\shortans{${latexify(answer)}}`);\n    } else if (isTableExercise) {\n      // BT_ type has no choice/shortans block, do nothing.\n    } else { // Mặc định là EX\n      questionLatexStrings.push(`  \\\\choice`);\n    }\n    \n    // 2. Loop qua các lựa chọn (CHỈ DÀNH CHO EX và TF)\n    if (!isShortAnswer && !isTableExercise) {\n      // 🔥 CẬP NHẬT: Dùng processedChoices\n      for (const choice of processedChoices) {\n        const choicePrefix = choice.correct ? '\\\\True ' : '';\n        let choiceContent = '';\n\n        const testRegex = /^(?:'|\")?([A-Z][A-Za-z]*[0-9_^][A-Za-z0-9_^\\{\\}+-]*|[0-9]+[A-Z][A-Za-z0-9_^\\{\\}+-]*)(?:'|\")?$/;\n        const match = choice.content.match(testRegex);\n        \n        if (match) {\n          choiceContent = `$${match[1]}$`; \n        } else {\n          choiceContent = latexify(choice.content);\n        }\n        \n        questionLatexStrings.push(`  {${choicePrefix}${choiceContent}}`);\n      }\n    }\n    \n    // 3. Thêm khối lời giải\n    questionLatexStrings.push(`  \\\\loigiai{`);\n\n    if (isTrueFalse) {\n      // --- Lời giải cho TF ---\n      const keyParts = [];\n      // 🔥 CẬP NHẬT: Dùng processedChoices để tạo key mới\n      processedChoices.forEach((choice, index) => {\n        const letter = choice.correct ? 'T' : 'F';\n        const number = index + 1;\n        keyParts.push(`${letter}${number}`);\n      });\n      const itemChoiceKey = keyParts.join(','); // Key mới: [T1,T2,F3,F4]\n      \n      questionLatexStrings.push(`    \\\\begin{itemchoice}[${itemChoiceKey}]`);\n      // 🔥 CẬP NHẬT: Dùng processedExplanations\n      for (const line of processedExplanations) {\n        questionLatexStrings.push(`      \\\\item ${latexify(line)}`);\n      }\n      questionLatexStrings.push(`    \\\\end{itemchoice}`);\n\n    } else if (isShortAnswer) {\n      // --- Lời giải cho SA ---\n      const explanationText = processedExplanations.map(line => latexify(line)).join(' ');\n      questionLatexStrings.push(`    ${explanationText}`);\n\n    } else {\n      // --- Lời giải cho EX và BT (dùng itemize) ---\n      questionLatexStrings.push(`    \\\\begin{itemize}`);\n      // 🔥 CẬP NHẬT: Dùng processedExplanations\n      for (const line of processedExplanations) {\n        questionLatexStrings.push(`      \\\\item ${latexify(line)}`);\n      }\n      questionLatexStrings.push(`    \\\\end{itemize}`);\n    }\n    \n    questionLatexStrings.push(`  }`);\n    \n    // 🔥 CẬP NHẬT: Dùng \\end{bt} nếu là BT, ngược lại dùng \\end{ex}\n    if (isTableExercise) {\n      questionLatexStrings.push(`\\\\end{bt}`);\n    } else {\n      questionLatexStrings.push(`\\\\end{ex}`);\n    }\n  }\n  \n  // Nối tất cả các câu hỏi của item này lại, cách nhau 2 dòng mới\n  allLatexOutputs.push(questionLatexStrings.join('\\n'));\n}\n\n// 🚀 Trả về kết quả\nreturn [{\n  json: {\n    // Nối kết quả từ tất cả item đầu vào\n    latex_output: allLatexOutputs.join('\\n\\n')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-448],"id":"8b328d4a-603e-453f-b906-35ac86c8af11","name":"Convert_to_latex_dao_PA1","disabled":true},{"parameters":{"jsCode":"// ⚡ Đây là hàm \"thần kỳ\" giúp chuyển đổi text thường sang LaTeX\n// Nó sẽ tìm các công thức (H_2, Fe^{3+}) và các con số (2, 3) để bọc chúng bằng $...$\nconst latexify = (text) => {\n  // 1. Wrap các biểu thức toán học (ví dụ: 2 × 2 = 4)\n  // \\u00D7 là ký tự '×', \\u002A là '*'\n  let result = text.replace(/(\\d+\\s*[\\u00D7\\u002A]\\s*\\d+\\s*=\\s*\\d+)/g, '$$$1$$');\n\n  // 2. Xử lý phần text còn lại\n  const segments = result.split('$');\n  let finalResult = '';\n\n  // 🔥FIX (PHƯƠNG ÁN B+): Đã cập nhật regex để bao gồm ^ { } + -\n  const formulaRegex = /(?<=^|\\s|\\(|\\[)(?:'|\")?([A-Z][A-Za-z]*[0-9_^][A-Za-z0-9_^\\{\\}+-]*|[0-9]+[A-Z][A-Za-z0-9_^\\{\\}+-]*)(?:'|\")?(?=$|\\s|\\.|\\,|\\:|\\?|\\!|\\)|\\])/g;\n\n\n  for (let i = 0; i < segments.length; i++) {\n    if (i % 2 === 0) {\n      // Đây là text thường (nằm ngoài dấu $...$)\n      let temp = segments[i];\n      \n      // 2a. Wrap các công thức hóa học (dùng regex mới)\n      temp = temp.replace(formulaRegex, '$$$1$$');\n      \n      // 2b. Wrap các con số độc lập\n      const formulaSegments = temp.split('$');\n      let tempResult = '';\n      for (let j = 0; j < formulaSegments.length; j++) {\n        if (j % 2 === 0) {\n          // Text thường, wrap số\n          tempResult += formulaSegments[j].replace(/\\b(\\d+)\\b/g, '$$$1$$');\n        } else {\n          // Công thức, giữ nguyên\n          tempResult += `$${formulaSegments[j]}$`;\n        }\n      }\n      finalResult += tempResult;\n      \n    } else {\n      // Đây là text toán học (nằm trong dấu $...$), giữ nguyên\n      finalResult += `$${segments[i]}$`;\n    }\n  }\n  // Dọn dẹp nếu có $$ trống\n  return finalResult.replace(/\\$\\s*\\$/g, ' ');\n};\n\n// 🔥 --- START CẬP NHẬT: Thêm hàm Shuffle ---\n/**\n * Xáo trộn một mảng (Fisher-Yates Shuffle).\n * @param {Array} array Mảng cần xáo trộn.\n */\nconst shuffleArray = (array) => {\n  for (let i = array.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [array[i], array[j]] = [array[j], array[i]];\n  }\n};\n// 🔥 --- END CẬP NHẬT ---\n\n\n// === PHẦN XỬ LÝ CHÍNH TRONG N8N ===\n\n// Lấy dữ liệu từ TẤT CẢ item, bất kể chế độ Execute Once\nconst items = $input.all();\nlet allLatexOutputs = [];\n\n// Lặp qua từng item (ví dụ: nếu node trước trả về nhiều JSON)\nfor (const item of items) {\n  // 🔥 CẬP NHẬT: Xử lý JSON bị lồng (flat map)\n  const rawQuestionData = item.json.cau_hoi_latex;\n  // Đảm bảo rawQuestionData là mảng trước khi flatMap\n  const questions = Array.isArray(rawQuestionData) \n    ? rawQuestionData.flatMap(q => q.cau_hoi_latex ? q.cau_hoi_latex : q)\n    : [];\n\n  // 🔥 --- START CẬP NHẬT MỚI: Xáo trộn vị trí các câu hỏi ---\n  // Dòng này sẽ xáo trộn thứ tự của [EX_1, EX_2, TF_1, SA_1, BT_1, ...]\n  shuffleArray(questions);\n  // 🔥 --- END CẬP NHẬT MỚI ---\n\n  // Mảng này sẽ chứa các chuỗi LaTeX cho TỪNG câu hỏi\n  const questionLatexStrings = [];\n\n  // 🏗️ Dùng vòng lặp for...of để duyệt qua từng câu hỏi (theo thứ tự đã xáo trộn)\n  for (const question of questions) {\n    \n    // Thêm header\n    questionLatexStrings.push(`%%%============${question.id}=============%%%`);\n    // 🔥 CẬP NHẬT: Dùng \\begin{bt} nếu là BT, ngược lại dùng \\begin{ex}\n    if (question.id.includes('BT')) {\n      questionLatexStrings.push(`\\\\begin{bt}`);\n    } else {\n      questionLatexStrings.push(`\\\\begin{ex}`);\n    }\n    \n    // Thêm tiêu đề (đã được \"latexify\")\n    questionLatexStrings.push(`  ${latexify(question.title)}`);\n    \n    // --- Xác định loại câu hỏi ---\n    const isTrueFalse = question.id.includes('TF');\n    const isShortAnswer = question.id.includes('SA');\n    const isTableExercise = question.id.includes('BT');\n    \n    // 🔥 --- START CẬP NHẬT: Logic Shuffle (bên trong câu hỏi) ---\n    let processedChoices = question.choices;\n    let processedExplanations = question.explanation;\n    \n    // Chỉ shuffle cho EX và TF, và phải đảm bảo 2 mảng đồng bộ\n    const isShuffleType = (question.id.includes('EX') || isTrueFalse);\n\n    if (isShuffleType && \n        Array.isArray(question.choices) && \n        Array.isArray(question.explanation) && \n        question.choices.length === question.explanation.length) {\n      \n      // 1. \"Zip\" 2 mảng lại\n      let combined = question.choices.map((choice, index) => {\n        return {\n          choice: choice,\n          explanation: question.explanation[index]\n        };\n      });\n      \n      // 2. Shuffle mảng \"zipped\" (Shuffle bên trong)\n      shuffleArray(combined);\n      \n      // 3. \"Unzip\" mảng đã shuffle\n      processedChoices = combined.map(pair => pair.choice);\n      processedExplanations = combined.map(pair => pair.explanation);\n    }\n    // 🔥 --- END CẬP NHẬT: Logic Shuffle (bên trong câu hỏi) ---\n    \n    // 1. Thêm khối lựa chọn \\choice, \\choiceTF, \\shortans, hoặc không gì cả\n    if (isTrueFalse) {\n      questionLatexStrings.push(`  \\\\choiceTF`);\n    } else if (isShortAnswer) {\n      const answer = processedChoices[0].content; // Dùng processedChoices\n      questionLatexStrings.push(`  \\\\shortans{${latexify(answer)}}`);\n    } else if (isTableExercise) {\n      // BT_ type has no choice/shortans block, do nothing.\n    } else { // Mặc định là EX\n      questionLatexStrings.push(`  \\\\choice`);\n    }\n    \n    // 2. Loop qua các lựa chọn (CHỈ DÀNH CHO EX và TF)\n    if (!isShortAnswer && !isTableExercise) {\n      // 🔥 CẬP NHẬT: Dùng processedChoices (đã xáo trộn)\n      for (const choice of processedChoices) {\n        const choicePrefix = choice.correct ? '\\\\True ' : '';\n        let choiceContent = '';\n\n        const testRegex = /^(?:'|\")?([A-Z][A-Za-z]*[0-9_^][A-Za-z0-9_^\\{\\}+-]*|[0-9]+[A-Z][A-Za-z0-9_^\\{\\}+-]*)(?:'|\")?$/;\n        const match = choice.content.match(testRegex);\n        \n        if (match) {\n          choiceContent = `$${match[1]}$`; \n        } else {\n          choiceContent = latexify(choice.content);\n        }\n        \n        questionLatexStrings.push(`  {${choicePrefix}${choiceContent}}`);\n      }\n    }\n    \n    // 3. Thêm khối lời giải\n    questionLatexStrings.push(`  \\\\loigiai{`);\n\n    if (isTrueFalse) {\n      // --- Lời giải cho TF ---\n      const keyParts = [];\n      // 🔥 CẬP NHẬT: Dùng processedChoices (đã xáo trộn) để tạo key mới\n      processedChoices.forEach((choice, index) => {\n        const letter = choice.correct ? 'T' : 'F';\n        const number = index + 1;\n        keyParts.push(`${letter}${number}`);\n      });\n      const itemChoiceKey = keyParts.join(','); // Key mới: [T1,T2,F3,F4]\n      \n      questionLatexStrings.push(`    \\\\begin{itemchoice}[${itemChoiceKey}]`);\n      // 🔥 CẬP NHẬT: Dùng processedExplanations (đã xáo trộn)\n      for (const line of processedExplanations) {\n        questionLatexStrings.push(`      \\\\item ${latexify(line)}`);\n      }\n      questionLatexStrings.push(`    \\\\end{itemchoice}`);\n\n    } else if (isShortAnswer) {\n      // --- Lời giải cho SA ---\n      const explanationText = processedExplanations.map(line => latexify(line)).join(' ');\n      questionLatexStrings.push(`    ${explanationText}`);\n\n    } else {\n      // --- Lời giải cho EX và BT (dùng itemize) ---\n      questionLatexStrings.push(`    \\\\begin{itemize}`);\n      // 🔥 CẬP NHẬT: Dùng processedExplanations (đã xáo trộn nếu là EX)\n      for (const line of processedExplanations) {\n        questionLatexStrings.push(`      \\\\item ${latexify(line)}`);\n      }\n      questionLatexStrings.push(`    \\\\end{itemize}`);\n    }\n    \n    questionLatexStrings.push(`  }`);\n    \n    // 🔥 CẬP NHẬT: Dùng \\end{bt} nếu là BT, ngược lại dùng \\end{ex}\n    if (isTableExercise) {\n      questionLatexStrings.push(`\\\\end{bt}`);\n    } else {\n      questionLatexStrings.push(`\\\\end{ex}`);\n    }\n  }\n  \n  // Nối tất cả các câu hỏi của item này lại, cách nhau 2 dòng mới\n  allLatexOutputs.push(questionLatexStrings.join('\\n'));\n}\n\n// 🚀 Trả về kết quả\nreturn [{\n  json: {\n    // Nối kết quả từ tất cả item đầu vào\n    latex_output: allLatexOutputs.join('\\n\\n')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-448],"id":"3951e7e7-0274-4999-89ba-595fe662559a","name":"Convert_to_latex_dao_PA_and_dao_cau_hoi","disabled":true},{"parameters":{"jsCode":"// ⚡ Đây là hàm \"thần kỳ\" giúp chuyển đổi text thường sang LaTeX\n// Nó sẽ tìm các công thức (H_2, Fe^{3+}) và các con số (2, 3) để bọc chúng bằng $...$\nconst latexify = (text) => {\n  // 1. Wrap các biểu thức toán học (ví dụ: 2 × 2 = 4)\n  // \\u00D7 là ký tự '×', \\u002A là '*'\n  let result = text.replace(/(\\d+\\s*[\\u00D7\\u002A]\\s*\\d+\\s*=\\s*\\d+)/g, '$$$1$$');\n\n  // 2. Xử lý phần text còn lại\n  const segments = result.split('$');\n  let finalResult = '';\n\n  // 🔥FIX (PHƯƠNG ÁN B+): Đã cập nhật regex để bao gồm ^ { } + -\n  const formulaRegex = /(?<=^|\\s|\\(|\\[)(?:'|\")?([A-Z][A-Za-z]*[0-9_^][A-Za-z0-9_^\\{\\}+-]*|[0-9]+[A-Z][A-Za-z0-9_^\\{\\}+-]*)(?:'|\")?(?=$|\\s|\\.|\\,|\\:|\\?|\\!|\\)|\\])/g;\n\n\n  for (let i = 0; i < segments.length; i++) {\n    if (i % 2 === 0) {\n      // Đây là text thường (nằm ngoài dấu $...$)\n      let temp = segments[i];\n      \n      // 2a. Wrap các công thức hóa học (dùng regex mới)\n      temp = temp.replace(formulaRegex, '$$$1$$');\n      \n      // 2b. Wrap các con số độc lập\n      const formulaSegments = temp.split('$');\n      let tempResult = '';\n      for (let j = 0; j < formulaSegments.length; j++) {\n        if (j % 2 === 0) {\n          // Text thường, wrap số\n          tempResult += formulaSegments[j].replace(/\\b(\\d+)\\b/g, '$$$1$$');\n        } else {\n          // Công thức, giữ nguyên\n          tempResult += `$${formulaSegments[j]}$`;\n        }\n      }\n      finalResult += tempResult;\n      \n    } else {\n      // Đây là text toán học (nằm trong dấu $...$), giữ nguyên\n      finalResult += `$${segments[i]}$`;\n    }\n  }\n  // Dọn dẹp nếu có $$ trống\n  return finalResult.replace(/\\$\\s*\\$/g, ' ');\n};\n\n// 🔥 --- START: Thêm hàm Shuffle ---\n/**\n * Xáo trộn một mảng (Fisher-Yates Shuffle).\n * @param {Array} array Mảng cần xáo trộn.\n */\nconst shuffleArray = (array) => {\n  for (let i = array.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [array[i], array[j]] = [array[j], array[i]];\n  }\n};\n// 🔥 --- END: Thêm hàm Shuffle ---\n\n// 🔥 --- START: Hàm xử lý mảng câu hỏi ---\n/**\n * Xử lý một mảng các câu hỏi và trả về một mảng các chuỗi LaTeX.\n * @param {Array} questionArray - Mảng các đối tượng câu hỏi (ví dụ: exQuestions).\n * @returns {Array<string>} - Mảng các chuỗi LaTeX đã xử lý.\n */\nconst processQuestionsToLatex = (questionArray) => {\n  // Biến này chứa TẤT CẢ các chuỗi LaTeX của các câu hỏi trong nhóm này\n  const allQuestionStrings = []; \n  \n  // 🏗️ Dùng vòng lặp for...of để duyệt qua từng câu hỏi (theo thứ tự đã xáo trộn)\n  for (const question of questionArray) {\n    // 🔥 FIX LÀ Ở ĐÂY:\n    // Biến này CHỈ chứa các dòng cho MỘT câu hỏi\n    const singleQuestionLines = []; \n\n    // Thêm header\n    singleQuestionLines.push(`%%%============${question.id}=============%%%`);\n    if (question.id.includes('BT')) {\n      singleQuestionLines.push(`\\\\begin{bt}`);\n    } else {\n      singleQuestionLines.push(`\\\\begin{ex}`);\n    }\n    \n    // Thêm tiêu đề\n    singleQuestionLines.push(`  ${latexify(question.title)}`);\n    \n    // --- Xác định loại câu hỏi ---\n    const isTrueFalse = question.id.includes('TF');\n    const isShortAnswer = question.id.includes('SA');\n    const isTableExercise = question.id.includes('BT');\n    \n    // --- Logic Shuffle (bên trong câu hỏi EX/TF) ---\n    let processedChoices = question.choices;\n    let processedExplanations = question.explanation;\n    \n    const isShuffleType = (question.id.includes('EX') || isTrueFalse);\n\n    if (isShuffleType && \n        Array.isArray(question.choices) && \n        Array.isArray(question.explanation) && \n        question.choices.length === question.explanation.length) {\n      \n      let combined = question.choices.map((choice, index) => {\n        return {\n          choice: choice,\n          explanation: question.explanation[index]\n        };\n      });\n      \n      shuffleArray(combined); // Shuffle bên trong\n      \n      processedChoices = combined.map(pair => pair.choice);\n      processedExplanations = combined.map(pair => pair.explanation);\n    }\n    \n    // 1. Thêm khối lựa chọn\n    if (isTrueFalse) {\n      singleQuestionLines.push(`  \\\\choiceTF`);\n    } else if (isShortAnswer) {\n      const answer = processedChoices[0].content;\n      singleQuestionLines.push(`  \\\\shortans{${latexify(answer)}}`);\n    } else if (isTableExercise) {\n      // BT không có khối lựa chọn\n    } else { // Mặc định là EX\n      singleQuestionLines.push(`  \\\\choice`); // Dùng singleQuestionLines\n    }\n    \n    // 2. Loop qua các lựa chọn (CHỈ DÀNH CHO EX và TF)\n    if (!isShortAnswer && !isTableExercise) {\n      for (const choice of processedChoices) {\n        const choicePrefix = choice.correct ? '\\\\True ' : '';\n        let choiceContent = '';\n        const testRegex = /^(?:'|\")?([A-Z][A-Za-z]*[0-9_^][A-Za-z0-9_^\\{\\}+-]*|[0-9]+[A-Z][A-Za-z0-9_^\\{\\}+-]*)(?:'|\")?$/;\n        const match = choice.content.match(testRegex);\n        \n        if (match) {\n          choiceContent = `$${match[1]}$`; \n        } else {\n          choiceContent = latexify(choice.content);\n        }\n        \n        singleQuestionLines.push(`  {${choicePrefix}${choiceContent}}`); // Dùng singleQuestionLines\n      }\n    }\n    \n    // 3. Thêm khối lời giải\n    singleQuestionLines.push(`  \\\\loigiai{`); // Dùng singleQuestionLines\n\n    if (isTrueFalse) {\n      // --- Lời giải cho TF ---\n      const keyParts = [];\n      processedChoices.forEach((choice, index) => {\n        const letter = choice.correct ? 'T' : 'F';\n        const number = index + 1;\n        keyParts.push(`${letter}${number}`);\n      });\n      const itemChoiceKey = keyParts.join(',');\n      \n      singleQuestionLines.push(`    \\\\begin{itemchoice}[${itemChoiceKey}]`);\n      for (const line of processedExplanations) {\n        singleQuestionLines.push(`      \\\\item ${latexify(line)}`);\n      }\n      singleQuestionLines.push(`    \\\\end{itemchoice}`);\n\n    } else if (isShortAnswer) {\n      // --- Lời giải cho SA ---\n      const explanationText = processedExplanations.map(line => latexify(line)).join(' ');\n      singleQuestionLines.push(`    ${explanationText}`);\n\n    } else {\n      // --- Lời giải cho EX và BT (dùng itemize) ---\n      singleQuestionLines.push(`    \\\\begin{itemize}`);\n      for (const line of processedExplanations) {\n        singleQuestionLines.push(`      \\\\item ${latexify(line)}`);\n      }\n      singleQuestionLines.push(`    \\\\end{itemize}`);\n    }\n    \n    singleQuestionLines.push(`  }`); // Dùng singleQuestionLines\n    \n    // Đóng khối \\begin\n    if (isTableExercise) {\n      singleQuestionLines.push(`\\\\end{bt}`);\n    } else {\n      singleQuestionLines.push(`\\\\end{ex}`);\n    }\n    \n    // Nối các dòng của câu hỏi này thành 1 string và push vào mảng TỔNG\n    allQuestionStrings.push(singleQuestionLines.join('\\n'));\n  }\n  \n  return allQuestionStrings;\n};\n// 🔥 --- END: Hàm xử lý ---\n\n\n// === PHẦN XỬ LÝ CHÍNH TRONG N8N ===\n\n// Lấy dữ liệu từ TẤT CẢ item, bất kể chế độ Execute Once\nconst items = $input.all();\nlet finalOutput = [];\n\n// Lặp qua từng item (ví dụ: nếu node trước trả về nhiều JSON)\nfor (const item of items) {\n  // 1. Lấy và làm phẳng data\n  const rawQuestionData = item.json.cau_hoi_latex;\n  const questions = Array.isArray(rawQuestionData) \n    ? rawQuestionData.flatMap(q => q.cau_hoi_latex ? q.cau_hoi_latex : q)\n    : [];\n\n  // 2. Tạo 4 mảng để phân loại\n  const exQuestions = [];\n  const tfQuestions = [];\n  const saQuestions = [];\n  const btQuestions = [];\n\n  // 3. Phân loại câu hỏi\n  for (const question of questions) {\n    if (question.id.includes('BT')) {\n      btQuestions.push(question);\n    } else if (question.id.includes('TF')) {\n      tfQuestions.push(question);\n    } else if (question.id.includes('SA')) {\n      saQuestions.push(question);\n    } else { // Mặc định là EX\n      exQuestions.push(question);\n    }\n  }\n\n  // 4. Xáo trộn các câu hỏi *trong* từng nhóm\n  shuffleArray(exQuestions);\n  shuffleArray(tfQuestions);\n  shuffleArray(saQuestions);\n  shuffleArray(btQuestions);\n\n  // 5. Xử lý từng nhóm đã xáo trộn để tạo mảng string LaTeX\n  const exOutput = processQuestionsToLatex(exQuestions);\n  const tfOutput = processQuestionsToLatex(tfQuestions);\n  const saOutput = processQuestionsToLatex(saQuestions);\n  const btOutput = processQuestionsToLatex(btQuestions);\n\n  // 6. Push kết quả của item này vào\n  finalOutput.push({\n    json: {\n      EX: exOutput,\n      TF: tfOutput,\n      SA: saOutput,\n      BT: btOutput\n    }\n  });\n}\n\n// 🚀 Trả về kết quả\n// Trả về một mảng các object, mỗi object tương ứng với một item đầu vào\n// và chứa 4 mảng đã được phân loại\nreturn finalOutput;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,-448],"id":"fcc4b2fd-35ae-46cc-99c5-5b28b13759cf","name":"Convert_to_latex_dao_PA_and_dao_cau_hoi_theo_ID","disabled":true},{"parameters":{"jsCode":"// ⚡ Đây là hàm \"thần kỳ\" giúp chuyển đổi text thường sang LaTeX\n// Nó sẽ tìm các công thức (H_2, Fe^{3+}) và các con số (2, 3) để bọc chúng bằng $...$\nconst latexify = (text) => {\n  // 1. Wrap các biểu thức toán học (ví dụ: 2 × 2 = 4)\n  // \\u00D7 là ký tự '×', \\u002A là '*'\n  let result = text.replace(/(\\d+\\s*[\\u00D7\\u002A]\\s*\\d+\\s*=\\s*\\d+)/g, '$$$1$$');\n\n  // 2. Xử lý phần text còn lại\n  const segments = result.split('$');\n  let finalResult = '';\n\n  // 🔥FIX (PHƯƠNG ÁN B+): Đã cập nhật regex để bao gồm ^ { } + -\n  const formulaRegex = /(?<=^|\\s|\\(|\\[)(?:'|\")?([A-Z][A-Za-z]*[0-9_^][A-Za-z0-9_^\\{\\}+-]*|[0-9]+[A-Z][A-Za-z0-9_^\\{\\}+-]*)(?:'|\")?(?=$|\\s|\\.|\\,|\\:|\\?|\\!|\\)|\\])/g;\n\n\n  for (let i = 0; i < segments.length; i++) {\n    if (i % 2 === 0) {\n      // Đây là text thường (nằm ngoài dấu $...$)\n      let temp = segments[i];\n      \n      // 2a. Wrap các công thức hóa học (dùng regex mới)\n      temp = temp.replace(formulaRegex, '$$$1$$');\n      \n      // 2b. Wrap các con số độc lập\n      const formulaSegments = temp.split('$');\n      let tempResult = '';\n      for (let j = 0; j < formulaSegments.length; j++) {\n        if (j % 2 === 0) {\n          // Text thường, wrap số\n          tempResult += formulaSegments[j].replace(/\\b(\\d+)\\b/g, '$$$1$$');\n        } else {\n          // Công thức, giữ nguyên\n          tempResult += `$${formulaSegments[j]}$`;\n        }\n      }\n      finalResult += tempResult;\n      \n    } else {\n      // Đây là text toán học (nằm trong dấu $...$), giữ nguyên\n      finalResult += `$${segments[i]}$`;\n    }\n  }\n  // Dọn dẹp nếu có $$ trống\n  return finalResult.replace(/\\$\\s*\\$/g, ' ');\n};\n\n// 🔥 --- START: Thêm hàm Shuffle (Dùng để xáo trộn lựa chọn bên trong) ---\n/**\n * Xáo trộn một mảng (Fisher-Yates Shuffle).\n * @param {Array} array Mảng cần xáo trộn.\n */\nconst shuffleArray = (array) => {\n  for (let i = array.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [array[i], array[j]] = [array[j], array[i]];\n  }\n};\n// 🔥 --- END: Thêm hàm Shuffle ---\n\n// 🔥 --- START CẬP NHẬT MỚI: Thêm hàm lấy số ID ---\n/**\n * Lấy phần số từ ID (ví dụ: \"EX_10\" -> 10) để sắp xếp\n * @param {string} id\n * @returns {number}\n */\nconst getIdNumber = (id) => {\n  if (typeof id !== 'string') return 0;\n  const parts = id.split('_');\n  // Lấy phần tử cuối cùng (phòng trường hợp ID như \"SOME_TF_1\")\n  return parseInt(parts[parts.length - 1] || 0, 10);\n};\n// 🔥 --- END CẬP NHẬT MỚI ---\n\n\n// 🔥 --- START: Hàm xử lý mảng câu hỏi ---\n/**\n * Xử lý một mảng các câu hỏi và trả về một mảng các chuỗi LaTeX.\n * @param {Array} questionArray - Mảng các đối tượng câu hỏi (ví dụ: exQuestions).\n * @returns {Array<string>} - Mảng các chuỗi LaTeX đã xử lý.\n */\nconst processQuestionsToLatex = (questionArray) => {\n  // Biến này chứa TẤT CẢ các chuỗi LaTeX của các câu hỏi trong nhóm này\n  const allQuestionStrings = []; \n  \n  // 🏗️ Dùng vòng lặp for...of để duyệt qua từng câu hỏi (theo thứ tự đã SẮP XẾP)\n  for (const question of questionArray) {\n    // Biến này CHỈ chứa các dòng cho MỘT câu hỏi\n    const singleQuestionLines = []; \n\n    // Thêm header\n    singleQuestionLines.push(`%%%============${question.id}=============%%%`);\n    if (question.id.includes('BT')) {\n      singleQuestionLines.push(`\\\\begin{bt}`);\n    } else {\n      singleQuestionLines.push(`\\\\begin{ex}`);\n    }\n    \n    // Thêm tiêu đề\n    singleQuestionLines.push(`  ${latexify(question.title)}`);\n    \n    // --- Xác định loại câu hỏi ---\n    const isTrueFalse = question.id.includes('TF');\n    const isShortAnswer = question.id.includes('SA');\n    const isTableExercise = question.id.includes('BT');\n    \n    // --- Logic Shuffle (bên trong câu hỏi EX/TF) ---\n    let processedChoices = question.choices;\n    let processedExplanations = question.explanation;\n    \n    const isShuffleType = (question.id.includes('EX') || isTrueFalse);\n\n    if (isShuffleType && \n        Array.isArray(question.choices) && \n        Array.isArray(question.explanation) && \n        question.choices.length === question.explanation.length) {\n      \n      let combined = question.choices.map((choice, index) => {\n        return {\n          choice: choice,\n          explanation: question.explanation[index]\n        };\n      });\n      \n      shuffleArray(combined); // Shuffle bên trong\n      \n      processedChoices = combined.map(pair => pair.choice);\n      processedExplanations = combined.map(pair => pair.explanation);\n    }\n    \n    // 1. Thêm khối lựa chọn\n    if (isTrueFalse) {\n      singleQuestionLines.push(`  \\\\choiceTF`);\n    } else if (isShortAnswer) {\n      const answer = processedChoices[0].content;\n      singleQuestionLines.push(`  \\\\shortans{${latexify(answer)}}`);\n    } else if (isTableExercise) {\n      // BT không có khối lựa chọn\n    } else { // Mặc định là EX\n      singleQuestionLines.push(`  \\\\choice`); \n    }\n    \n    // 2. Loop qua các lựa chọn (CHỈ DÀNH CHO EX và TF)\n    if (!isShortAnswer && !isTableExercise) {\n      for (const choice of processedChoices) {\n        const choicePrefix = choice.correct ? '\\\\True ' : '';\n        let choiceContent = '';\n        const testRegex = /^(?:'|\")?([A-Z][A-Za-z]*[0-9_^][A-Za-z0-9_^\\{\\}+-]*|[0-9]+[A-Z][A-Za-z0-9_^\\{\\}+-]*)(?:'|\")?$/;\n        const match = choice.content.match(testRegex);\n        \n        if (match) {\n          choiceContent = `$${match[1]}$`; \n        } else {\n          choiceContent = latexify(choice.content);\n        }\n        \n        singleQuestionLines.push(`  {${choicePrefix}${choiceContent}}`); \n      }\n    }\n    \n    // 3. Thêm khối lời giải\n    singleQuestionLines.push(`  \\\\loigiai{`); \n\n    if (isTrueFalse) {\n      // --- Lời giải cho TF ---\n      const keyParts = [];\n      processedChoices.forEach((choice, index) => {\n        const letter = choice.correct ? 'T' : 'F';\n        const number = index + 1;\n        keyParts.push(`${letter}${number}`);\n      });\n      const itemChoiceKey = keyParts.join(',');\n      \n      singleQuestionLines.push(`    \\\\begin{itemchoice}[${itemChoiceKey}]`);\n      for (const line of processedExplanations) {\n        singleQuestionLines.push(`      \\\\item ${latexify(line)}`);\n      }\n      singleQuestionLines.push(`    \\\\end{itemchoice}`);\n\n    } else if (isShortAnswer) {\n      // --- Lời giải cho SA ---\n      const explanationText = processedExplanations.map(line => latexify(line)).join(' ');\n      singleQuestionLines.push(`    ${explanationText}`);\n\n    } else {\n      // --- Lời giải cho EX và BT (dùng itemize) ---\n      singleQuestionLines.push(`    \\\\begin{itemize}`);\n      for (const line of processedExplanations) {\n        singleQuestionLines.push(`      \\\\item ${latexify(line)}`);\n      }\n      singleQuestionLines.push(`    \\\\end{itemize}`);\n    }\n    \n    singleQuestionLines.push(`  }`); \n    \n    // Đóng khối \\begin\n    if (isTableExercise) {\n      singleQuestionLines.push(`\\\\end{bt}`);\n    } else {\n      singleQuestionLines.push(`\\\\end{ex}`);\n    }\n    \n    // Nối các dòng của câu hỏi này thành 1 string và push vào mảng TỔNG\n    allQuestionStrings.push(singleQuestionLines.join('\\n'));\n  }\n  \n  return allQuestionStrings;\n};\n// 🔥 --- END: Hàm xử lý ---\n\n\n// === PHẦN XỬ LÝ CHÍNH TRONG N8N ===\n\n// Lấy dữ liệu từ TẤT CẢ item, bất kể chế độ Execute Once\nconst items = $input.all();\nlet finalOutput = [];\n\n// Lặp qua từng item (ví dụ: nếu node trước trả về nhiều JSON)\nfor (const item of items) {\n  // 1. Lấy và làm phẳng data\n  const rawQuestionData = item.json.cau_hoi_latex;\n  const questions = Array.isArray(rawQuestionData) \n    ? rawQuestionData.flatMap(q => q.cau_hoi_latex ? q.cau_hoi_latex : q)\n    : [];\n\n  // 2. Tạo 4 mảng để phân loại\n  const exQuestions = [];\n  const tfQuestions = [];\n  const saQuestions = [];\n  const btQuestions = [];\n\n  // 3. Phân loại câu hỏi\n  for (const question of questions) {\n    if (question.id.includes('BT')) {\n      btQuestions.push(question);\n    } else if (question.id.includes('TF')) {\n      tfQuestions.push(question);\n    } else if (question.id.includes('SA')) {\n      saQuestions.push(question);\n    } else { // Mặc định là EX\n      exQuestions.push(question);\n    }\n  }\n\n  // 4. 🔥 CẬP NHẬT MỚI: Sắp xếp các câu hỏi *trong* từng nhóm theo ID\n  const sortById = (a, b) => getIdNumber(a.id) - getIdNumber(b.id);\n  exQuestions.sort(sortById);\n  tfQuestions.sort(sortById);\n  saQuestions.sort(sortById);\n  btQuestions.sort(sortById);\n\n  // 5. Xử lý từng nhóm đã SẮP XẾP để tạo mảng string LaTeX\n  const exOutput = processQuestionsToLatex(exQuestions);\n  const tfOutput = processQuestionsToLatex(tfQuestions);\n  const saOutput = processQuestionsToLatex(saQuestions);\n  const btOutput = processQuestionsToLatex(btQuestions);\n\n  // 6. Push kết quả của item này vào\n  finalOutput.push({\n    json: {\n      EX: exOutput,\n      TF: tfOutput,\n      SA: saOutput,\n      BT: btOutput\n    }\n  });\n}\n\n// 🚀 Trả về kết quả\n// Trả về một mảng các object, mỗi object tương ứng với một item đầu vào\n// và chứa 4 mảng đã được phân loại\nreturn finalOutput;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,-224],"id":"9b8b0869-594f-486a-b44a-b325395cec02","name":"Convert_to_latex_dao_PA_and_dao_cau_hoi_theo_ID_INDEX"},{"parameters":{"jsCode":"// Lấy dữ liệu từ TẤT CẢ item, bất kể chế độ Execute Once\nconst items = $input.all();\n\n// 💡 Dữ liệu của bạn là một mảng [ { ... } ], chúng ta cần lấy object đầu tiên\nconst inputData = items[0].json;\n\n// 1. Khởi tạo object kết quả\nconst outputObject = {\n  \"EX\": \"\",\n  \"TF\": \"\",\n  \"SA\": \"\",\n  \"BT\": \"\"\n};\n\n// 2. Định nghĩa các key chúng ta muốn xử lý\nconst keysToProcess = ['EX', 'TF', 'SA', 'BT'];\n\n// 🏗️ Dùng vòng lặp 'for...of' (một dạng 'for' hiện đại) để duyệt qua các key\nfor (const key of keysToProcess) {\n  \n  // Lấy mảng tương ứng (ví dụ: inputData['EX'])\n  const stringArray = inputData[key];\n  \n  // Tạo một chuỗi rỗng để \"cộng dồn\"\n  let concatenatedString = \"\";\n\n  // 🏗️ Dùng vòng lặp 'for' cổ điển (như bạn yêu cầu) để duyệt qua từng phần tử\n  for (let i = 0; i < stringArray.length; i++) {\n    \n    // Nối (cộng) chuỗi hiện tại vào chuỗi tổng\n    concatenatedString += stringArray[i];\n    \n    // Thêm 2 dấu xuống dòng để ngăn cách các câu hỏi cho dễ đọc\n    // (Bỏ qua nếu là phần tử cuối cùng)\n    if (i < stringArray.length - 1) {\n      concatenatedString += \"\\n\\n\";\n    }\n  }\n  \n  // 3. Gán chuỗi đã nối vào object kết quả\n  outputObject[key] = concatenatedString;\n}\n\n// 4. 🚀 Trả về kết quả\n// Chúng ta trả về một item duy nhất chứa object bạn mong muốn\nreturn [{\n  json: outputObject\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-224],"id":"58389f5e-3cd2-4b5d-90f7-ef7af74d29a8","name":"JOIN"},{"parameters":{"promptType":"define","text":"={{ $json.PROMPT }}","hasOutputParser":true,"options":{"systemMessage":"=## Chuyên gia Soạn thảo Câu hỏi JSON/LaTeX\nBạn là chuyên gia về dữ liệu **JSON** trong javascript và soạn thảo **LaTeX**, với nội dung các câu hỏi bài tập theo từng chủ đề cho các môn học như toán, vật lý, hóa, sinh, khoa học tự nhiên thuộc chương trình **lớp 6, 7, 8, 9, và 10,11,12**.\n---\n## Cấu trúc và Phân loại Câu hỏi\nHệ thống sử dụng 4 loại câu hỏi, tất cả được xây dựng theo cấu trúc dữ liệu JSON. Mỗi loại được xác định bằng một tiền tố ID (mã nhận dạng) duy nhất:\n* **Loại 1:** ID bắt đầu bằng `EX`.\n* **Loại 2:** ID bắt đầu bằng `TF`.\n* **Loại 3:** ID bắt đầu bằng `SA`.\n* **Loại 4:** ID bắt đầu bằng `BT`.\n## Quy tắc Soạn thảo LaTeX 📝\nNội dung các phương án, lời giải  của tất cả các câu hỏi phải được viết bằng mã LaTeX và tuân thủ nghiêm ngặt các quy tắc sau để đảm bảo trình biên dịch không báo lỗi:\n1.  **Tính hợp lệ:** Mã LaTeX phải hoàn toàn chính xác và hợp lệ.\n2.  **Công thức Inline:** Các công thức, ký hiệu toán học nằm **trên cùng một dòng** với văn bản phải được bọc trong cặp dấu: `$ ... $`.\n3.  **Công thức Display:** Các công thức, phương trình được hiển thị **trên một dòng riêng biệt** (thường được căn giữa) phải được bọc trong cặp dấu: `\\[ ... \\]`.\n\n##Yêu cầu về nội dung:\n1. Các số,công thức, kí hiệu  inline phải bọc trong cặp $...$ , các công thức display bọc bởi \\[...\\] thay vì bọc bởi $$...$$.Nếu số thập phân thì dùng \"{,}\" thay vì \",\" để ngăn phần nguyên và phần thập phân $3{,}14$ thay vì $3.14$\n2. Các công thức nhiều dòng phải dùng môi trường eqnarray* để căn dóng:\nVí dụ:\n\\begin{eqnarray*}\n  f(x) & = & (x+1)^2 \\\\\n       & = & x^2 + 2x + 1 \\\\\n       & = & (x^2 + x) + (x + 1)\n\\end{eqnarray*}\n3. Đối với bảng, dùng môi trường tabular latex để soạn thảo:\nVí dụ\n\\begin{center}\n\t\\begin{tabular}{|c|c|c|c|}\n\t\t\\hline\n\t\t& $C-C$ & $C=C$ & C$\\equiv$C \\\\\n\t\t\\hline\n\t\tĐộ dài liên kết ($A^{o}$) & $1{,}54$ & $1{,}34$ & $1{,}20$ \\\\\n\t\t\\hline\n\t\tNăng lượng liên kết ($kJ/mol$) & $347$ & $614$ & $839$ \\\\\n\t\t\\hline\n\t\\end{tabular}\n\\end{center}\nhoặc nếu nội dung nhiều trang dùng môi trường longtable\n\\begin{longtable}{|c|c|c|}\n  \\hline\n  \\textbf{STT} & \\textbf{Họ và tên} & \\textbf{Điểm} \\\\\n  \\hline\n  \\endfirsthead % Phần đầu tiên của bảng (hiển thị trên trang đầu tiên)\n  \\hline\n  \\textbf{STT} & \\textbf{Họ và tên} & \\textbf{Điểm} \\\\\n  \\hline\n  \\endhead % Phần đầu của bảng (hiển thị trên các trang tiếp theo)\n  \\hline\n  \\endfoot % Phần cuối của bảng (hiển thị trên các trang trừ trang cuối)\n  \\hline\n  \\endlastfoot % Phần cuối của bảng (hiển thị trên trang cuối)\n  1 & Nguyễn Văn A & 8.5 \\\\\n  2 & Trần Thị B & 9.0 \\\\\n  3 & Lê Văn C & 7.5 \\\\\n  \\hline\n\\end{longtable}\n##Yêu cầu về định dạng json và latex bắc buộc:\n1. Đối với câu hỏi loại 1 (nhiều lựa chọn 1 phương án đúng) mỗi câu hỏi gồm có các key:value như sau:\n - \"type\": \"ex\"\n - \"id\": \"EX_<số thứ tự>\"\n - \"title\": \"Nội dung câu hỏi loại 1\"\n - \"choices\": [\n\t\t{ \"content\": \"Nội dung phương án sai 1\", \"correct\": false  },\n        { \"content\": \"Nội dung phương án sai 3\", \"correct\":  false },\n        { \"content\": \"Nội dung phương án sai 2\", \"correct\": false },\n        { \"content\": \"Nội dung phương án đúng\", \"correct\": true }]\n - \"explanation\": [\n        \"Nội dung lời giải cho phương án sai 1\",\n        \"Nội dung lời giải cho phương án sai 3\",\n\t\t\"Nội dung lời giải cho phương án sai 2\",\n\t\t\"Nội dung lời giải cho phương án đúng\",\n      ]\t\nChú ý: mảng choice có 4 object mỗi object có hai key \"content\", \"correct\"\nvà explanation luôn có 4 phần tử không để trống\n\n2. Đối với câu hỏi loại 2 (dạng câu hỏi 4 ý , mỗi ý có nội dung mang tính chất đúng hoặc sai) mỗi câu hỏi gồm có các key:value như sau:\n - \"type\": \"ex\"\n - \"id\": \"TF_<số thứ tự>\"\n - \"title\": \"Nội dung câu hỏi loại 2\"\n - \"choices\": [\n\t{\"content\": \"Nội dung phát biểu 1\",\"correct\": true hoặc false},\n\t{\"content\": \"Nội dung phát biểu 2\",\"correct\": true hoặc false},\n\t{\"content\": \"Nội dung phát biểu 3\",\"correct\": true hoặc false},\n\t{\"content\": \"Nội dung phát biểu 4\",\"correct\": true hoặc false}\n\t]\n - \"explanation\": [\n\t\"Lời giải chi tiết cho phát biểu 1.\",\n\t\"Lời giải chi tiết cho phát biểu 2.\",\n\t\"Lời giải chi tiết cho phát biểu 3.\",\n\t\"Lời giải chi tiết cho phát biểu 4.\"]\t\nChú ý: mảng choice có 4 object mỗi object có hai key \"content\", \"correct\"\nvà explanation luôn có 4 phần tử không để trống\n\n3. Đối với câu hỏi loại 3 (dạng câu hỏi trả lời ngắn , kết quả đáp án ở dạng số liệu , con số, đếm số lượng ,... ) mỗi câu hỏi gồm có các key:value như sau:\n - \"type\": \"ex\",\n - \"id\": \"SA_<số thứ tự>\",\n - \"title\": \"Nội dung câu hỏi loại 3\"\n - \"choices\": [{ \"content\": \"Đáp án câu hỏi loại 3 dạng con số\", \"correct\": luôn để là true }],\n - \"explanation\": [\"Nội dung loại giải chi tiết câu hỏi loại 3.\"]\t\nChú ý: mảng choice có 1 object  có hai key \"content\", \"correct\"\nvà explanation luôn có 1 phần tử không để trống.\n\n4. Đối với câu hỏi loại 4 (dạng bài tập tự luận) mỗi câu hỏi gồm có các key:value như sau:\n - \"type\": \"bt\",\n - \"id\": \"BT_<số thứ tự>\",\n - \"title\": \"Nội dung câu hỏi loại 4\"\n - \"choices\": [],\n - \"explanation\": [\"Nội dung loại giải chi tiết câu hỏi loại 4.\"]\t\nChú ý: mảng choice luôn để rỗng và explanation luôn có 1 phần tử không để trống.\n\n\n## Ví dụ về định dạng các câu hỏi\n- Loại 1\n    {\n      \"type\": \"ex\",\n      \"id\": \"EX_1\",\n      \"title\": \"Phát biểu nào sau đây biểu diễn đúng \\\"ba phân tử khí hiđro\\\"?\",\n      \"choices\": [\n        { \"content\": \"$3H$\", \"correct\": false },\n        { \"content\": \"$H_3$\", \"correct\": false },\n        { \"content\": \"$H_2$\", \"correct\": false },\n        { \"content\": \"$3H_2$\", \"correct\": true }\n      ],\n      \"explanation\": [\n        \"$3H$: biểu diễn ba nguyên tử hiđro.\",\n        \"$H_3$: biểu diễn một phân tử hiđro gồm ba nguyên tử (không tồn tại trong điều kiện thường).\",\n        \"$H_2$: biểu diễn một phân tử khí hiđro.\",\n        \"$3H_2$: biểu diễn ba phân tử khí hiđro. Số $3$ là hệ số chỉ số lượng phân tử, còn số $2$ là chỉ số dưới chỉ số lượng nguyên tử trong một phân tử.\"\n      ]\n    },\n- Loại 2\n    {\n      \"type\": \"ex\",\n      \"id\": \"TF_1\",\n      \"title\": \"Chọn câu đúng/sai về nguyên tố hóa học:\",\n      \"choices\": [\n        {\n          \"content\": \"Nguyên tố hóa học là tập hợp các nguyên tử có cùng số proton trong hạt nhân\",\n          \"correct\": true\n        },\n        {\n          \"content\": \"Nguyên tử của cùng một nguyên tố có số proton khác nhau\",\n          \"correct\": false\n        },\n        {\n          \"content\": \"Số hiệu nguyên tử của nguyên tố bằng số proton trong nguyên tử\",\n          \"correct\": true\n        },\n        {\n          \"content\": \"Nguyên tố hóa học là hợp chất cấu tạo từ nhiều nguyên tử khác loại\",\n          \"correct\": false\n        }\n      ],\n      \"explanation\": [\n        \"Nguyên tố hóa học được định nghĩa là tập hợp các nguyên tử có cùng số proton.\",\n        \"Các nguyên tử của cùng một nguyên tố luôn có số proton giống nhau.\",\n        \"Số hiệu nguyên tử chính là số proton trong nguyên tử của nguyên tố đó.\",\n        \"Nguyên tố hóa học không phải là hợp chất, mà là chất cấu tạo từ một loại nguyên tử.\"\n      ]\n    },\n\n - Loại 3\n    {\n      \"type\": \"ex\",\n      \"id\": \"SA_1\",\n      \"title\": \"Nguyên tử của nguyên tố X có tổng số proton và neutron trong hạt nhân là $23$, trong đó số proton là $11$. Hãy tính số neutron trong nguyên tử X.\",\n      \"choices\": [\n        { \"content\": \"$12$\", \"correct\": true }\n      ],\n      \"explanation\": [\n        \"Số neutron bằng tổng số proton và neutron trừ đi số proton, tức là $23 - 11 = 12$.\"\n      ]\n    }\n- Loại 4\n    {\n      \"type\": \"bt\",\n      \"id\": \"BT_1\",\n      \"title\": \"Nguyên tử của nguyên tố X có số hiệu nguyên tử là $12$, số khối là $24$. Hãy hoàn thành bảng sao cho đúng số proton, electron và neutron của nguyên tử X:\\n  \\\\begin{tabular}{|c|c|c|c|}\\n    \\\\hline\\n    Số proton & Số electron & Số neutron & Tên nguyên tố \\\\\\\\\\n    \\\\hline\\n    \\\\ & \\\\ & \\\\ & Magie ($Mg$) \\\\\\\\\\n    \\\\hline\\n  \\\\end{tabular}\",\n      \"choices\": [],\n      \"explanation\": [\n        \"Vì nguyên tử trung hòa điện nên số proton = số electron = số hiệu nguyên tử = $12$.\n        Số neutron = số khối - số proton = $24 - 12 = 12$.\"\n      ]\n    }\n\t\n##Chú ý: \n - Số phân tử trong mảng choices và mảng explanation trong câu hỏi loại 1 và loại 2 phải bằng nhau và bằng 4\n - Số phân tử trong mảng choices và mảng explanation trong câu hỏi loại 3  phải bằng nhau và bằng 1\n - trong câu hỏi loại 4 Số phân tử trong mảng choices bằng 0 và số phần tử và mảng explanation là 1\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-912,-224],"id":"de3a916c-b48e-43c9-a901-a31a27addeea","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"json_latex","tableName":"json_latex_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-896,144],"id":"a509c1e5-8bd7-4d8e-886a-608e8280e22a","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-752,48],"id":"5dc439de-818c-4117-992c-cc8b7433a188","name":"Auto-fixing Output Parser"},{"parameters":{"schemaType":"manual","inputSchema":"={\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Schema Câu hỏi LaTeX (Fix Lỗi - Inline)\",\n  \"description\": \"Schema đã được inline (không dùng $ref) để khắc phục lỗi 'missing items'. Đảm bảo 4 items cho EX/TF.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"cau_hoi_latex\": {\n      \"description\": \"Một mảng chứa danh sách các đối tượng câu hỏi.\",\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"description\": \"Định nghĩa cấu trúc của một câu hỏi bài tập.\",\n        \"properties\": {\n          \"type\": {\n            \"description\": \"Loại định dạng của câu hỏi (ex, bt)\",\n            \"type\": \"string\",\n            \"enum\": [\"ex\", \"bt\"]\n          },\n          \"id\": {\n            \"description\": \"Mã định danh duy nhất (ví dụ: TF_1, EX_2, BT_3, SA_1)\",\n            \"type\": \"string\",\n            \"pattern\": \"^(EX|TF|SA|BT)_\\\\d+$\"\n          },\n          \"title\": {\n            \"description\": \"Nội dung đề bài của câu hỏi (viết bằng LaTeX)\",\n            \"type\": \"string\"\n          },\n          \"choices\": {\n            \"description\": \"Mảng các lựa chọn.\",\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"description\": \"Định nghĩa một lựa chọn trả lời.\",\n              \"properties\": {\n                \"content\": {\n                  \"description\": \"Nội dung lựa chọn (viết bằng LaTeX)\",\n                  \"type\": \"string\"\n                },\n                \"correct\": {\n                  \"description\": \"Lựa chọn này đúng (true) hay sai (false)\",\n                  \"type\": \"boolean\"\n                }\n              },\n              \"required\": [\"content\", \"correct\"]\n            }\n          },\n          \"explanation\": {\n            \"description\": \"Mảng chứa các chuỗi giải thích (viết bằng LaTeX)\",\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\"type\", \"id\", \"title\", \"choices\", \"explanation\"],\n        \"if\": {\n          \"description\": \"Kiểm tra điều kiện: Nếu ID bắt đầu bằng EX hoặc TF\",\n          \"properties\": {\n            \"id\": {\n              \"pattern\": \"^(EX|TF)_\\\\d+$\"\n            }\n          }\n        },\n        \"then\": {\n          \"description\": \"Thì BẮT BUỘC 'choices' và 'explanation' phải có đúng 4 phần tử.\",\n          \"properties\": {\n            \"choices\": {\n              \"description\": \"BẮT BUỘC có 4 lựa chọn.\",\n              \"type\": \"array\",\n              \"minItems\": 4,\n              \"maxItems\": 4,\n              \"items\": {\n                \"type\": \"object\",\n                \"description\": \"Định nghĩa một lựa chọn trả lời.\",\n                \"properties\": {\n                  \"content\": {\n                    \"description\": \"Nội dung lựa chọn (viết bằng LaTeX)\",\n                    \"type\": \"string\"\n                  },\n                  \"correct\": {\n                    \"description\": \"Lựa chọn này đúng (true) hay sai (false)\",\n                    \"type\": \"boolean\"\n                  }\n                },\n                \"required\": [\"content\", \"correct\"]\n              }\n            },\n            \"explanation\": {\n              \"description\": \"BẮT BUỘC có 4 dòng giải thích.\",\n              \"type\": \"array\",\n              \"minItems\": 4,\n              \"maxItems\": 4,\n              \"items\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        }\n      }\n    }\n  },\n  \"required\": [\"cau_hoi_latex\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-624,224],"id":"9353e4de-5411-4b33-8777-0417b89acf06","name":"Structured Output Parser"},{"parameters":{"formTitle":"TẠO JSON LATEX","formDescription":"Tạo Json latex","formFields":{"values":[{"fieldLabel":"PROMPT","placeholder":"=Tạo cho tôi ma trận đề thi gồm 12 câu hỏi loại 1, 2 câu hỏi loại 2, 4 câu hoiar loại 3 và 4 câu hỏi loại 4 về chủ đề "},{"fieldLabel":"Sở ","placeholder":"Sở Giáo dục\\& ĐT Gia Lai"},{"fieldLabel":"Phòng","placeholder":"Trường THPT Chi Lăng"},{"fieldLabel":"Trường","placeholder":"Trường TH, THCS Và THPT Sao Việt"},{"fieldLabel":"Tên Kì Thi","placeholder":"KIềm tra định kỳ"},{"fieldLabel":"Môn học","placeholder":"Hóa học 9"},{"fieldLabel":"Ngày kiểm tra","placeholder":"31/10/2025"},{"fieldLabel":"Năm học","placeholder":"2025-2026"},{"fieldLabel":"Thời gian","placeholder":"30"},{"fieldLabel":"Mã đề","placeholder":"301"},{"fieldLabel":"Số thứ tự đề","placeholder":"0"},{"fieldLabel":"Tên file đáp án","placeholder":"HOA9_GKI_MD201"},{"fieldLabel":"Số thứ tự kì thi","placeholder":"1"}]},"options":{"appendAttribution":false,"buttonLabel":"Submit","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-1296,-224],"id":"3bede8a2-3ca8-4797-9853-928288d31b08","name":"On form submission","webhookId":"b2084767-c2b0-4ce1-b84a-ab2806be8532"},{"parameters":{"assignments":{"assignments":[{"id":"7eac0a9f-8e37-41e3-944f-095f19e44b74","name":"filepath","value":"={{ $json.file_created .replaceAll(`app`,`files`)}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,-80],"id":"081f3186-0cb0-4c64-a91b-6bfe1ea80c9d","name":"input_file"},{"parameters":{"assignments":{"assignments":[{"id":"7eac0a9f-8e37-41e3-944f-095f19e44b74","name":"filename_output","value":"={{ $json.filename_output }}","type":"string"},{"id":"1c218b8e-1ad2-48f4-96cf-5dc4c5b5d72e","name":"=content_to_write","value":"={{ $json.content_to_write }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,-224],"id":"6df86b79-6df6-47a7-aeb5-c12c3c0a6d56","name":"file_content"},{"parameters":{"method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task_name\": \"write_file\",\n  \"payload\": {\n    \"filepath\": \"./latex_document/{{ $json.filename_output }}\",\n    \"content\": {{ JSON.stringify($json.content_to_write) }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,-80],"id":"e8b7ae13-ff05-4294-acc1-59114c62b01d","name":"write_file_request"},{"parameters":{"operation":"toText","sourceProperty":"content_to_write","options":{"fileName":"={{ $json.filename_output }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[912,-352],"id":"b1c789aa-6408-4946-a2f7-0afba263c652","name":"Convert to File"},{"parameters":{"operation":"sendDocument","chatId":"7638885552","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1152,-352],"id":"4e3a98a3-50f5-4866-9171-e7f864af9a37","name":"Send a document","webhookId":"8e58920a-fc15-40da-b7ce-8c6b7f728e9d","credentials":{"telegramApi":{"id":"fP6SZt8Z3ASnxJry","name":"CREATE_EXAM_MATRIX"}}},{"parameters":{"model":"google/gemini-3-pro-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1056,-16],"id":"e21bd882-6958-49cb-9fcf-fc1ce271ce13","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"u4raH9M6rBCAl4d7","name":"OpenRouter gpt 4.1 mini"}}}],"connections":{"JSON_LATEX":{"main":[[{"node":"Convert_to_latex_dao_PA_and_dao_cau_hoi_theo_ID_INDEX","type":"main","index":0}]]},"CODE_LATEX":{"main":[[{"node":"Tempt","type":"main","index":0}]]},"Tempt":{"main":[[{"node":"file_content","type":"main","index":0}]]},"Convert_code_latex_non_dao_pa":{"main":[[]]},"Convert_to_latex_dao_PA_and_dao_cau_hoi":{"main":[[]]},"Convert_to_latex_dao_PA_and_dao_cau_hoi_theo_ID":{"main":[[]]},"Convert_to_latex_dao_PA_and_dao_cau_hoi_theo_ID_INDEX":{"main":[[{"node":"JOIN","type":"main","index":0}]]},"JOIN":{"main":[[{"node":"CODE_LATEX","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"JSON_LATEX","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"input_file":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"file_content":{"main":[[{"node":"write_file_request","type":"main","index":0},{"node":"Convert to File","type":"main","index":0}]]},"write_file_request":{"main":[[{"node":"input_file","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send a document","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ac383091-6fee-4cc2-8a0e-04032e7632f6","triggerCount":1,"shared":[{"updatedAt":"2025-10-26T05:25:43.765Z","createdAt":"2025-10-26T05:25:43.765Z","role":"workflow:owner","workflowId":"MS9CsgNhzyfs4Eh2","projectId":"EIQckweL3OLW7kzz"}],"tags":[]}