multy_aiagent-S5agPvX9pZp241vj.json
{"createdAt":"2025-08-17T15:05:37.616Z","updatedAt":"2025-08-19T06:42:09.014Z","id":"S5agPvX9pZp241vj","name":"MULTY_AIAGENT","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"allowFileUploads":true,"allowedFilesMimeTypes":"*"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1184,32],"id":"60f0ac47-47c7-47d8-a516-8ad1b0ddd98b","name":"When chat message received","webhookId":"61b3afdc-f87d-40c6-b633-450682758c37"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"=gọi công cụ Latex_gennerate_tool mỗi khi yêu cầu tạo bài tập loại 1, loại 2, loại 3, loại 4"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-496,32],"id":"6bd429f5-8900-4e75-992d-e64f903c050d","name":"AI Agent"},{"parameters":{"modelName":"=models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-656,528],"id":"12f80504-0f57-467c-a24c-2b51a48e8921","name":"gemini-2.5-flash","credentials":{"googlePalmApi":{"id":"mzLiXdDHw88ZBMIG","name":"Google Gemini(PaLM) Api account 1"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chatInput }}","tableName":"multy_aiagent_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-320,336],"id":"75191c48-68e3-4bb5-aafb-392d96c58103","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"numberInputs":4,"rules":{"rule":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ee7b7ad-ecee-44dd-b341-b4ccb361b46c","leftValue":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","rightValue":"=/model 1|research|/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"modelIndex":2,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5f840eeb-5597-408a-adf7-4771cd2c2c9b","leftValue":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","rightValue":"=/model 2/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"modelIndex":3,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c92bfc9-9399-4877-9c9c-a3fe31583eaa","leftValue":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","rightValue":"/model 3/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"modelIndex":4,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6dfc6d83-08dd-4a4d-a519-75402a263006","leftValue":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","rightValue":"/model 4/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}}]}},"type":"@n8n/n8n-nodes-langchain.modelSelector","typeVersion":1,"position":[-864,304],"id":"273eeb66-2c13-40ac-a0c5-e9ba991fba79","name":"Model Selector"},{"parameters":{"model":"z-ai/glm-4.5-air:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-848,512],"id":"f8b6a165-854b-4bbc-9895-ea71dc57a24c","name":"OpenRouter_GLM_4.5_free","credentials":{"openRouterApi":{"id":"Qo1XjonGeS6R6Aw9","name":"OpenRouter_gpt-4.1-mini"}}},{"parameters":{"options":{"maxTokens":8192}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1056,512],"id":"b91c5c52-e3f4-4168-886f-bf6b1c29c229","name":"OpenRouter_gpt_4.1_mini","credentials":{"openRouterApi":{"id":"Qo1XjonGeS6R6Aw9","name":"OpenRouter_gpt-4.1-mini"}}},{"parameters":{"model":"qwen/qwen3-235b-a22b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-496,528],"id":"13274cf0-aa9c-42e9-a79e-480318b8ee7e","name":"Openrouter_qwen3-235b-a22b_free","credentials":{"openRouterApi":{"id":"4f6Ugq0nZ84hGbaT","name":"Openrouter_qwen3-235b-a22b_free"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-496,320],"id":"c5c0a3f9-33ab-4cb0-9571-c19b97386654","name":"OpenAi_GPT_5_mini","credentials":{"openAiApi":{"id":"eCExawqiNAs4gLZS","name":"OpenAi_GPT_5_mini"}}},{"parameters":{"assignments":{"assignments":[{"id":"5f896984-b923-4d4c-90e8-54d5aa866914","name":"chatInput","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,32],"id":"e1c31b45-108d-4e49-8c95-9362bc03f76d","name":"INPUT_AIAGENT"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:8000/generate-sse?user_request=Tạo cho tôi 2 bài tập loại 2 về chủ đề  phản ứng oxi hóa khử","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-112,304],"id":"d0aaa192-ead6-4cd9-a45c-6284f38c7dc0","name":"latex_gennerate"}],"connections":{"When chat message received":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"gemini-2.5-flash":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":2}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenRouter_GLM_4.5_free":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":1}]]},"OpenRouter_gpt_4.1_mini":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":0}]]},"Openrouter_qwen3-235b-a22b_free":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":3}]]},"OpenAi_GPT_5_mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"Model Selector":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"INPUT_AIAGENT":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"latex_gennerate":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When chat message received":[{"json":{"sessionId":"7579abb69f8f4545bb4dca10e53b30aa","action":"sendMessage","chatInput":"Sử dụng model 1 Tạo cho tôi 2 bài tập loại 2 chủ đề tính chất hóa học của acid nitric"}}]},"versionId":"39c399d1-70ea-4e3e-bc31-6fea4c97a67e","triggerCount":0,"tags":[]}