multy_aiagent-S5agPvX9pZp241vj.json
{"createdAt":"2025-08-17T15:05:37.616Z","updatedAt":"2025-08-19T16:03:35.316Z","id":"S5agPvX9pZp241vj","name":"MULTY_AIAGENT","active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{"allowFileUploads":true,"allowedFilesMimeTypes":"*"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1184,32],"id":"60f0ac47-47c7-47d8-a516-8ad1b0ddd98b","name":"When chat message received","webhookId":"61b3afdc-f87d-40c6-b633-450682758c37"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chatInput }}","tableName":"multy_aiagent_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-448,320],"id":"75191c48-68e3-4bb5-aafb-392d96c58103","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"numberInputs":3,"rules":{"rule":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ee7b7ad-ecee-44dd-b341-b4ccb361b46c","leftValue":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","rightValue":"=/model 1/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"modelIndex":2,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5f840eeb-5597-408a-adf7-4771cd2c2c9b","leftValue":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","rightValue":"=/model 2/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"modelIndex":3,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c92bfc9-9399-4877-9c9c-a3fe31583eaa","leftValue":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","rightValue":"=/model 3/i","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}}]}},"type":"@n8n/n8n-nodes-langchain.modelSelector","typeVersion":1,"position":[-832,304],"id":"273eeb66-2c13-40ac-a0c5-e9ba991fba79","name":"Model Selector"},{"parameters":{"assignments":{"assignments":[{"id":"5f896984-b923-4d4c-90e8-54d5aa866914","name":"chatInput","value":"={{ $json.chatInput }}","type":"string"},{"id":"e7058ca5-7d1b-4da7-8bb6-b9129fe02add","name":"system_prompt","value":"=##gọi công cụ Latex_Generate_Tool mỗi khi yêu cầu tạo bài tập loại 1, loại 2, loại 3, loại 4 ;sau đó trả nguyên vẹn kết quả của tool cho người dùng không bịa đặt kết quả không có trong tool, không thêm bất cứ thông tin nào khác ngoài code latex\n##Ví dụ mẫu input mong muốn:\n- sử dụng model 1 tạo giúp tôi 2 bài tập loại 2 thuộc chủ đề sulfur và hợp chất của sulfur\n##Ví dụ mẫu output mong muốn:\n```latex\n%%%=============TF_1=============%%%\n\\begin{ex}\n\tCho các phát biểu sau về lưu huỳnh:\n\t\\choiceTF\n\t{\\True Lưu huỳnh có 2 dạng thù hình chính: lưu huỳnh tà phương và lưu huỳnh đơn tà}\n\t{\\True Lưu huỳnh tà phương bền ở nhiệt độ thường}\n\t{Khi đun nóng, lưu huỳnh nóng chảy tạo thành chất lỏng linh động, màu vàng sau đó chuyển sang màu đỏ sẫm và độ nhớt tăng}\n\t{\\True Lưu huỳnh là chất rắn màu vàng, không tan trong nước}\n\t\\loigiai{\n\t\t\\begin{itemchoice}[T1,T2,F3,T4]\n\t\t\t\\itemch Lưu huỳnh có hai dạng thù hình chính là lưu huỳnh tà phương ($S_\\alpha$) và lưu huỳnh đơn tà ($S_\\beta$).\n\t\t\t\\itemch Lưu huỳnh tà phương ($S_\\alpha$) là dạng bền nhất ở nhiệt độ thường, có cấu trúc tinh thể hình thoi.\n\t\t\t\\itemch Khi đun nóng, lưu huỳnh nóng chảy tạo thành chất lỏng linh động, màu vàng. Tiếp tục đun nóng, nhiệt độ đạt khoảng $187^\\circ\\text{C}$, lưu huỳnh trở nên đặc quánh, có màu đỏ sẫm do các vòng $S_8$ bị đứt và tạo thành mạch dài.\n\t\t\t\\itemch Lưu huỳnh là chất rắn màu vàng, không tan trong nước và cồn, ít tan trong ete nhưng tan nhiều trong dung môi hữu cơ như $CS_2$.\n\t\t\\end{itemchoice}\n\t}\n\\end{ex}\n\n%%%=============TF_2=============%%%\n\\begin{ex}\n\tCho các phát biểu sau về tính chất hóa học của lưu huỳnh:\n\t\\choiceTF\n\t{Lưu huỳnh chỉ thể hiện tính oxi hóa khi tác dụng với kim loại}\n\t{\\True Lưu huỳnh tác dụng với $O_2$ cần nhiệt độ và phản ứng tỏa nhiệt}\n\t{Lưu huỳnh có thể tác dụng trực tiếp với $HCl$ đặc}\n\t{\\True Khi cho lưu huỳnh vào dung dịch $NaOH$ đặc nóng, xảy ra phản ứng tự oxi hóa - khử}\n\t\\loigiai{\n\t\t\\begin{itemchoice}[F1,T2,F3,T4]\n\t\t\t\\itemch Lưu huỳnh thể hiện tính oxi hóa khi tác dụng với kim loại và hiđro. Nó thể hiện tính khử khi tác dụng với các chất oxi hóa mạnh hơn như $O_2$, $F_2$, axit nitric đặc, axit sunfuric đặc nóng.\n\t\t\t\\itemch $S + O_2 \\xrightarrow{t^\\circ} SO_2$. Phản ứng này tỏa nhiệt.\n\t\t\t\\itemch Lưu huỳnh không tác dụng trực tiếp với $HCl$ đặc.\n\t\t\t\\itemch Phản ứng của lưu huỳnh với $NaOH$ đặc nóng là phản ứng tự oxi hóa – khử: $3S + 6NaOH \\xrightarrow{t^\\circ} 2Na_2S + Na_2SO_3 + 3H_2O$.\n\t\t\\end{itemchoice}\n\t}\n\\end{ex}\n```\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,32],"id":"e1c31b45-108d-4e49-8c95-9362bc03f76d","name":"INPUT_AIAGENT"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-960,464],"id":"b91c5c52-e3f4-4168-886f-bf6b1c29c229","name":"OpenRouter_gpt-oss-120b","credentials":{"openRouterApi":{"id":"Qo1XjonGeS6R6Aw9","name":"OpenRouter_gpt-oss-120b"}}},{"parameters":{"toolDescription":"=Công cụ tạo câu hỏi loại 1, loại 2,loại 3, loại 4 theo form latex","method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"task_name\": \"latex_generate\",\n    \"payload\": {\n        \"user_request\": \"{{ $fromAI('Prompt__User_Message_', ``, 'string') }}\",\n        \"model\": \"gemini-2.5-flash\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-144,320],"id":"73dbe9af-1ee4-4c0f-b3a1-a20511a15a9a","name":"Latex_Generate_Tool"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json.system_prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-496,32],"id":"6bd429f5-8900-4e75-992d-e64f903c050d","name":"Multy_AIAgent"},{"parameters":{"model":"=openai/gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-784,512],"id":"f8b6a165-854b-4bbc-9895-ea71dc57a24c","name":"OpenRouter_openai/gpt-4.1-mini","credentials":{"openRouterApi":{"id":"u4raH9M6rBCAl4d7","name":"OpenRouter gpt 4.1 mini"}}},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-608,464],"id":"f65c9af1-4840-4cbd-93e7-f44afb36653e","name":"OpenRouter_openai/gpt-5-mini","credentials":{"openRouterApi":{"id":"KOGZRC7RbIZ3i6GF","name":"OpenRouter_gpt_5_mini"}}},{"parameters":{"assignments":{"assignments":[{"id":"5f896984-b923-4d4c-90e8-54d5aa866914","name":"chatInput","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,32],"id":"6045147a-2380-4d83-a6b4-81b33ae5dc94","name":"OUTPUT_AIAGENT"}],"connections":{"When chat message received":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Multy_AIAgent","type":"ai_memory","index":0}]]},"Model Selector":{"ai_languageModel":[[{"node":"Multy_AIAgent","type":"ai_languageModel","index":0}]]},"INPUT_AIAGENT":{"main":[[{"node":"Multy_AIAgent","type":"main","index":0}]]},"OpenRouter_gpt-oss-120b":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":0}]]},"Latex_Generate_Tool":{"ai_tool":[[{"node":"Multy_AIAgent","type":"ai_tool","index":0}]]},"OpenRouter_openai/gpt-4.1-mini":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":1}]]},"OpenRouter_openai/gpt-5-mini":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":2}]]},"Multy_AIAgent":{"main":[[{"node":"OUTPUT_AIAGENT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"37cf106e-5797-4dc3-abe2-3579d05774db","triggerCount":1,"tags":[]}