read_file_python_sever-xCQJKf4GPvdi9rJ3.json
{"updatedAt":"2025-08-19T09:03:30.675Z","createdAt":"2025-07-19T08:39:54.662Z","id":"xCQJKf4GPvdi9rJ3","name":"READ_FILE_PYTHON_SEVER","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task_name\": \"read_file\",\n  \"payload\": {\n    \"filepath\": \"{{ $json.filepath }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,-32],"id":"08110c26-4612-4f63-88f7-bd396ac49de0","name":"read_file_request"},{"parameters":{"assignments":{"assignments":[{"id":"7eac0a9f-8e37-41e3-944f-095f19e44b74","name":"filepath","value":"=./TAI_LIEU_TU_HOC_HOA_2025/pH_DdDem.tex","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,-32],"id":"a576ede4-ecda-4bcb-b79b-4e664747257e","name":"input_file"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-416,-32],"id":"3fc35839-308d-408a-8cd6-95f398225834","name":"When clicking ‘Execute workflow’"}],"connections":{"input_file":{"main":[[{"node":"read_file_request","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"input_file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"918d46dd-ed49-4ed7-96b1-0240cab09a2b","triggerCount":0,"shared":[{"updatedAt":"2025-07-19T08:39:54.662Z","createdAt":"2025-07-19T08:39:54.662Z","role":"workflow:owner","workflowId":"xCQJKf4GPvdi9rJ3","projectId":"EIQckweL3OLW7kzz"}],"tags":[]}