tempt-A7I7CEFPZygFa85V.json
{"createdAt":"2025-07-06T01:48:32.341Z","updatedAt":"2025-07-10T07:00:49.757Z","id":"A7I7CEFPZygFa85V","name":"TEMPT","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"base","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-5240,-960],"id":"aff5b093-cf9b-470f-84e9-a8ec08f4d75f","name":"Get many bases","credentials":{"airtableTokenApi":{"id":"ZIBEjBJAGusW08SS","name":"Airtable create lecture"}},"disabled":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appTNV8bjbhL4jZhC","mode":"list","cachedResultName":"CREATE_LECTURE_LATEX","cachedResultUrl":"https://airtable.com/appTNV8bjbhL4jZhC"},"table":{"__rl":true,"value":"tblvoNkVJ4puVOqno","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appTNV8bjbhL4jZhC/tblvoNkVJ4puVOqno"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-5080,-960],"id":"d1c26f46-1e8f-48cc-b074-dc6ea2fd79a9","name":"Search records","credentials":{"airtableTokenApi":{"id":"ZIBEjBJAGusW08SS","name":"Airtable create lecture"}},"disabled":true},{"parameters":{"base":{"__rl":true,"value":"appTNV8bjbhL4jZhC","mode":"list","cachedResultName":"CREATE_LECTURE_LATEX","cachedResultUrl":"https://airtable.com/appTNV8bjbhL4jZhC"},"table":{"__rl":true,"value":"tblvoNkVJ4puVOqno","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appTNV8bjbhL4jZhC/tblvoNkVJ4puVOqno"},"id":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-4940,-960],"id":"e5856735-9906-4c5b-89d8-42662cb91dc6","name":"Get a record","credentials":{"airtableTokenApi":{"id":"ZIBEjBJAGusW08SS","name":"Airtable create lecture"}},"disabled":true},{"parameters":{"method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4260,-840],"id":"3e12deb1-9f49-4908-88fa-a053f7239db2","name":"replace_python_request","disabled":true},{"parameters":{"mode":"raw","jsonOutput":"={\n\"requestBody\":\n{\n    \"task_name\": \"process_text_advanced\",\n    \"payload\": {\n        \"text\": {{JSON.stringify($json.chatInput) }},\n        \"extraction_patterns\": {\n            \"\\\\\\\\xrightarrow\\\\[(.*?)\\\\]\": \"\\\\\\\\xrightarrow{ \\\\1 }\",\n            \"```latex\\\\s*(.*?)```\": \"\\\\1\"\n        },\n        \"correction_dict\": {\n            \"\\\\end<bt>\": \"\\\\end{bt}\"\n        }\n    }\n}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4500,-840],"id":"2452ed29-547f-43d7-a06a-2a8a83e11ab3","name":"json_body_request","disabled":true},{"parameters":{"method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"task_name\": \"process_text_advanced\",\n    \"payload\": {\n        \"text\": {{JSON.stringify($json.text) }},\n        \"extraction_patterns\": {\n          {{ $json.regex_dict }}\n        },\n        \"correction_dict\": {\n            {{ $json.nomal_dict }}\n        }\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4260,-1000],"id":"d6ee11f9-9146-4f3b-9cee-1a3f83bcc948","name":"replace_python_request1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7eac0a9f-8e37-41e3-944f-095f19e44b74","name":"text","value":"={{ $json.chatInput }}","type":"string"},{"id":"3f61e746-35f2-4f9a-a625-160030c917cc","name":"nomal_dict","value":"=    \"\\\\end<bt>\": \"\\\\end{bt}\"","type":"string"},{"id":"9e0d9138-c046-4885-81b9-535669ff4a23","name":"regex_dict","value":"=\"```latex\\\\s*(.*?)```\": \"\\\\1\",\n\"\\\\\\\\xrightarrow@@@(.*?)@@@\" : \"\\\\\\\\xrightarrow[\\\\1]\",\n\"\\\\\\\\xrightarrow\\\\[(.*?)\\\\]\\\\[(.*?)\\\\]\" : \"\\\\\\\\xrightarrow@@@\\\\1@@@{\\\\2}\",\n\"\\\\\\\\xrightarrow\\\\[(.*?)\\\\]\" : \"\\\\\\\\xrightarrow{\\\\1}\"\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4500,-1000],"id":"72b88a90-0263-41f6-8062-99d8dcf52479","name":"input_para","disabled":true},{"parameters":{"command":"=yt-dlp --quiet --progress -x --audio-format mp3 -o \"/files/audio/%(title)s.%(ext)s\" \"{{ $json.chatInput }}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-5720,-960],"id":"306f4628-aeb6-4253-96c8-d499f5516abe","name":"DOWND_MP3_FROM_URL_VIDEOYT","alwaysOutputData":true,"notesInFlow":true,"disabled":true},{"parameters":{"fileSelector":"/files/audio/%(title)s.%(ext)s","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-5580,-960],"id":"d6fc2663-24fb-460d-bb38-8174343eb4ee","name":"Read Files MP3","disabled":true},{"parameters":{"content":"## Sử dụng hàm thay thế từ môi trường python trên docker\n**Cách 1**\n\n\n\n\n\n\n\n\n\n**Cách 2**","height":380,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-4580,-1080],"typeVersion":1,"id":"80caebef-4246-4fec-92bb-253ce435b619","name":"Sticky Note","disabled":true},{"parameters":{"content":"## Sử dụng AIRTABLE","height":320,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-5260,-1060],"typeVersion":1,"id":"ae71d08d-2112-455c-8f25-5ad9b0ccec3d","name":"Sticky Note1","disabled":true},{"parameters":{"content":"## Tải mp3 và mp4 từ youtube","height":320,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-5840,-1060],"typeVersion":1,"id":"8a052bc4-ccdc-40cf-8560-ccc0370431f7","name":"Sticky Note2","disabled":true},{"parameters":{"content":"## Youtube trasncript","height":420,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[-5840,-660],"typeVersion":1,"id":"c293b0c1-5996-4f4e-8d98-fbfb4d8d4654","name":"Sticky Note3","disabled":true},{"parameters":{"jsCode":"// Lấy tất cả các mục đầu vào từ node trước\nconst items = $input.all();\n\n// Regex 1: Tìm mọi loại link YouTube trong văn bản.\nconst youtubeLinkRegex = /(https?:\\/\\/(?:www\\.)?(?:youtu\\.be\\/|youtube\\.com\\/(?:watch\\?v=|embed\\/|shorts\\/))[\\w\\-=&?%._]+)/i;\n\n// Regex 2: Trích xuất ID video từ một link YouTube.\n// Nó tìm kiếm các chuỗi như v=, shorts/, embed/, .be/ và lấy chuỗi ký tự (ID) theo sau.\nconst videoIdRegex = /(?:v=|shorts\\/|embed\\/|\\.be\\/)([a-zA-Z0-9_-]{11})/;\n\n// Duyệt qua từng mục đầu vào để xử lý riêng lẻ\nfor (const item of items) {\n  // QUAN TRỌNG: Lấy văn bản từ trường của MỤC HIỆN TẠI.\n  // Thay 'myText' bằng tên trường chứa văn bản của bạn (ví dụ: 'message', 'text', 'content'...).\n  const inputText = $input.first().json.chatInput; \n\n  if (inputText) {\n    // Sử dụng Regex 1 để tìm link trong văn bản\n    const linkMatch = inputText.match(youtubeLinkRegex);\n\n    // Nếu tìm thấy link\n    if (linkMatch && linkMatch[0]) {\n      const extractedLink = linkMatch[0];\n      const cleanedText = inputText.replace(extractedLink, '').trim();\n      let videoId = null; // Khởi tạo videoId là null\n\n      // Sử dụng Regex 2 để tìm ID trong link vừa trích xuất\n      const idMatch = extractedLink.match(videoIdRegex);\n\n      // Nếu tìm thấy ID (nằm ở nhómจับที่ 1)\n      if (idMatch && idMatch[1]) {\n        videoId = idMatch[1];\n      }\n\n      // Gán cả 3 kết quả vào mục hiện tại\n      item.json.extractedLink = extractedLink;\n      item.json.cleanedText = cleanedText;\n      item.json.videoId = videoId;\n\n    } else {\n      // Nếu không tìm thấy link, gán các giá trị mặc định\n      item.json.extractedLink = null;\n      item.json.cleanedText = inputText; // Giữ nguyên văn bản gốc\n      item.json.videoId = null;\n    }\n  } else {\n      // Xử lý trường hợp không có inputText\n      item.json.extractedLink = null;\n      item.json.cleanedText = null;\n      item.json.videoId = null;\n  }\n}\n\n// Trả về các mục đã được xử lý\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5700,-540],"id":"8482efe5-03f1-4700-b952-f26cdc2fc1b4","name":"Split_link_YT_and_ID","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"b8220665-ec3a-4165-a55d-c97b3e50d51b","name":"videoId","value":"={{ $json.videoId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5540,-540],"id":"d4125dd4-c9f8-43a6-84b3-22e2b8cefd92","name":"GET_ID","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"bcf7a7a9-9a68-43a1-9b8a-9542c0c3c006","name":"transcript","value":"={{ $json.microformat.playerMicroformatRenderer.description.simpleText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5220,-540],"id":"5c787844-d44f-4ddf-b255-c5d132361104","name":"Get_transcript","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.transcript }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-5040,-540],"id":"bf85f74e-d498-474f-9577-77c82b103249","name":"Respond to Webhook","disabled":true},{"parameters":{"method":"POST","url":"https://www.youtube-transcript.io/api/transcripts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic 686e406230d5ee1fda12d0e2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ids\": [\n    \"{{ $json.videoId }}\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5380,-540],"id":"5710c886-4daa-4a8e-a9a4-46117859d7f8","name":"GEN_TRANSCRIPT_API","disabled":true},{"parameters":{"content":"## READ_AND_WRITE_FILE","height":420,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-4580,-660],"typeVersion":1,"id":"6e0d1c70-ac9e-460f-825e-84b7c01a56ff","name":"Sticky Note4","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7eac0a9f-8e37-41e3-944f-095f19e44b74","name":"filepath","value":"=./latex_document/Create_TF.txt","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4520,-580],"id":"e09082d8-a23b-4689-bb6f-76716d9070e1","name":"input_file","disabled":true},{"parameters":{"method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task_name\": \"read_file\",\n  \"payload\": {\n    \"filepath\": \"{{ $json.filepath }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4280,-580],"id":"90f4e80c-201c-4698-ab65-846fe52b81ee","name":"read_file_request","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7eac0a9f-8e37-41e3-944f-095f19e44b74","name":"filename_output","value":"=Create_TF.txt","type":"string"},{"id":"1c218b8e-1ad2-48f4-96cf-5dc4c5b5d72e","name":"content_to_write","value":"=%%%=============EXTF_1=============%%%\n\\begin{ex}\n Đánh giá tính đúng/sai của các phát biểu sau về khái niệm pH và thang pH ở $25^\\circ C$:\n \\choiceTF\n {\\True pH của dung dịch được định nghĩa là giá trị âm logarit thập phân nồng độ mol/L của ion hydrogen ($H^+$).}\n {Một dung dịch có nồng độ ion hydrogen $[H^+] = 10^{-5}$ M thì có pH $= 5\\%$.}\n {\\True Thang pH chuẩn thường có giá trị từ $0$ đến $14$.}\n {Dung dịch có pH nhỏ hơn $0$ hoặc lớn hơn $14$ là không thể tồn tại.}\n \\loigiai{\n  \\begin{itemchoice}[T1,F2,T3,F4]\n   \\itemch Theo định nghĩa pH, pH $= -\\log[H^+]$. Phát biểu đúng.\n   \\itemch pH $= -\\log[H^+] = -\\log(10^{-5}) = 5$. Giá trị pH là một con số, không có đơn vị phần trăm. Phát biểu sai.\n   \\itemch Thang pH thông thường được xây dựng dựa trên tích số ion của nước tại $25^\\circ C$ ($K_w = 10^{-14}$), với pH nằm trong khoảng từ $0$ đến $14$. Phát biểu đúng.\n   \\itemch Đối với dung dịch acid rất đậm đặc, $[H^+]$ có thể lớn hơn $1$ M, dẫn đến pH $< 0$. Ví dụ, dung dịch $HCl$ 10 M có $[H^+] \\approx 10$ M, pH $\\approx -\\log(10) = -1$. Đối với dung dịch base rất đậm đặc, $[OH^-]$ có thể rất lớn, khiến pOH rất nhỏ (âm), và pH rất lớn ($>14$). Phát biểu sai.\n  \\end{itemchoice}\n }\n\\end{ex}\n\n%%%=============EXTF_2=============%%%\n\\begin{ex}\n Đánh giá tính đúng/sai của các phát biểu liên quan đến mối quan hệ giữa nồng độ ion $H^+$ và pH ở $25^\\circ C$:\n \\choiceTF\n {\\True Khi nồng độ $[H^+]$ trong một dung dịch tăng lên gấp $10$ lần, giá trị pH của dung dịch đó giảm đi $1$ đơn vị.}\n {\\True Dung dịch acid mạnh $HA$ có nồng độ $0{,}001$ M sẽ có pH xấp xỉ $3$ (bỏ qua sự điện li của nước).}\n {Nếu pha loãng dung dịch acid bằng nước cất, nồng độ $[H^+]$ giảm đi, do đó pH sẽ giảm xuống.}\n {\\True Dung dịch có pH $= 9$ thì nồng độ ion hydrogen $[H^+] = 10^{-9}$ M.}\n \\loigiai{\n  \\begin{itemchoice}[T1,T2,F3,T4]\n   \\itemch Ta có $pH = -\\log[H^+]$. Nếu nồng độ mới là $[H^+]' = 10 \\times [H^+]$, thì $pH' = -\\log(10 \\times [H^+]) = -(\\log 10 + \\log[H^+]) = -1 - \\log[H^+] = pH - 1$. Phát biểu đúng.\n   \\itemch Acid mạnh $HA$ phân li hoàn toàn: $HA \\to H^+ + A^-$. Nồng độ $[H^+]$ trong dung dịch bằng nồng độ ban đầu của acid, tức $[H^+] = 0{,}001$ M $= 10^{-3}$ M. pH $= -\\log(10^{-3}) = 3$. Phát biểu đúng.\n   \\itemch Pha loãng dung dịch acid bằng nước cất làm giảm nồng độ $[H^+]$. Vì pH $= -\\log[H^+]$ và hàm $-\\log(x)$ là hàm nghịch biến (khi $x$ giảm thì $-\\log(x)$ tăng), nên khi $[H^+]$ giảm, pH sẽ tăng lên. Phát biểu sai.\n   \\itemch Mối quan hệ giữa pH và nồng độ $[H^+]$ là $[H^+] = 10^{-\\text{pH}}$. Nếu pH $= 9$, thì $[H^+] = 10^{-9}$ M. Phát biểu đúng.\n  \\end{itemchoice}\n }\n\\end{ex}\n\n%%%=============EXTF_3=============%%%\n\\begin{ex}\n Đánh giá tính đúng/sai của các phát biểu sau về mối quan hệ giữa $[OH^-]$, pOH và pH ở $25^\\circ C$:\n \\choiceTF\n {\\True Tích số ion của nước $K_w = [H^+][OH^-]$ và có giá trị $10^{-14}$ ở $25^\\circ C$.}\n {Một dung dịch có pOH $= 3$ thì mang tính acid.}\n {Dung dịch có nồng độ ion hydroxide $[OH^-] = 10^{-4}$ M thì có pH $= 4$.}\n {\\True Mối quan hệ giữa pH và pOH ở $25^\\circ C$ được biểu diễn bằng công thức pH $+$ pOH $= 14$.}\n \\loigiai{\n  \\begin{itemchoice}[T1,F2,F3,T4]\n   \\itemch Định nghĩa và giá trị của tích số ion của nước tại $25^\\circ C$. Phát biểu đúng.\n   \\itemch pOH $= -\\log[OH^-]$. Nếu pOH $= 3$, thì $[OH^-] = 10^{-3}$ M. Ở $25^\\circ C$, pH $= 14 - pOH = 14 - 3 = 11$. Dung dịch có pH $= 11$ là môi trường kiềm (base). Phát biểu sai.\n   \\itemch Nếu $[OH^-] = 10^{-4}$ M, thì pOH $= -\\log[OH^-] = -\\log(10^{-4}) = 4$. Ở $25^\\circ C$, pH $= 14 - pOH = 14 - 4 = 10$. Dung dịch có pH $= 10$, không phải $4$. Phát biểu sai.\n   \\itemch Mối quan hệ này xuất phát từ $K_w = [H^+][OH^-] = 10^{-14}$ (ở $25^\\circ C$). Lấy $-\\log$ cả hai vế: $-\\log([H^+][OH^-]) = -\\log(10^{-14}) \\Rightarrow -\\log[H^+] - \\log[OH^-] = 14 \\Rightarrow pH + pOH = 14$. Phát biểu đúng.\n  \\end{itemchoice}\n }\n\\end{ex}\n%%%=============EXTF_4=============%%%\n\\begin{ex}\n Đánh giá tính đúng/sai của các phát biểu sau khi so sánh pH của các dung dịch ở $25^\\circ C$:\n \\choiceTF\n {\\True Dung dịch acid mạnh $HCl$ $0{,}1$ M có pH nhỏ hơn dung dịch acid yếu $CH_3COOH$ $0{,}1$ M.}\n {\\True Dung dịch có nồng độ ion hydrogen $[H^+] = 10^{-2}$ M có tính acid mạnh hơn dung dịch có pH $= 3$.}\n {Pha loãng dung dịch $NaOH$ bằng nước cất sẽ làm tăng pH của dung dịch.}\n {\\True Dung dịch có pH $= 8$ có tính kiềm yếu hơn so với dung dịch có pH $= 12$.}\n \\loigiai{\n  \\begin{itemchoice}[T1,T2,F3,T4]\n   \\itemch $HCl$ là acid mạnh, phân li hoàn toàn, $[H^+] = 0{,}1$ M, pH $= -\\log(0{,}1) = 1$. $CH_3COOH$ là acid yếu, phân li không hoàn toàn, $[H^+] < 0{,}1$ M, pH $> -\\log(0{,}1) = 1$. Do đó, pH của $HCl$ $0{,}1$ M nhỏ hơn pH của $CH_3COOH$ $0{,}1$ M. Phát biểu đúng.\n   \\itemch Dung dịch có $[H^+] = 10^{-2}$ M có pH $= -\\log(10^{-2}) = 2$. Dung dịch có pH $= 3$ có $[H^+] = 10^{-3}$ M. Dung dịch có pH $= 2$ có nồng độ $H^+$ lớn hơn ($10^{-2}$ M $> 10^{-3}$ M), do đó có tính acid mạnh hơn. Phát biểu đúng.\n   \\itemch Pha loãng dung dịch $NaOH$ (bazơ mạnh) bằng nước cất làm giảm nồng độ $[OH^-]$. Khi $[OH^-]$ giảm, pOH $= -\\log[OH^-]$ sẽ tăng lên. Vì pH $+$ pOH $= 14$ (ở $25^\\circ C$), khi pOH tăng, pH sẽ giảm xuống (tiến dần về $7$). Phát biểu sai.\n   \\itemch Dung dịch có pH $= 8$ là môi trường kiềm (pH $> 7$). Dung dịch có pH $= 12$ cũng là môi trường kiềm. pH càng lớn thì tính kiềm càng mạnh. Do $12 > 8$, dung dịch pH $= 12$ kiềm mạnh hơn dung dịch pH $= 8$. Do đó, dung dịch pH $= 8$ kiềm yếu hơn dung dịch pH $= 12$. Phát biểu đúng.\n  \\end{itemchoice}\n }\n\\end{ex}\n\n%%%=============EXTF_5=============%%%\n\\begin{ex}\n Đánh giá tính đúng/sai của các phát biểu sau về pH của dung dịch:\n \\choiceTF\n {pH của nước tinh khiết luôn bằng $7$ ở mọi nhiệt độ.}\n {Dung dịch $HCl$ $10^{-7}$ M ở $25^\\circ C$ có pH bằng $7$.}\n {\\True Thêm một lượng nhỏ dung dịch acid mạnh vào nước tinh khiết sẽ làm pH của nước giảm đáng kể.}\n {\\True Khi tính acid của một dung dịch tăng lên, giá trị pH của dung dịch đó giảm xuống.}\n \\loigiai{\n  \\begin{itemchoice}[F1,F2,T3,T4]\n   \\itemch pH của nước tinh khiết bằng $7$ chỉ đúng ở $25^\\circ C$. Ở các nhiệt độ khác, tích số ion của nước ($K_w$) thay đổi, dẫn đến nồng độ $[H^+]$ trong nước tinh khiết thay đổi ($\\sqrt{K_w}$), và do đó pH của nước tinh khiết cũng thay đổi (khi nhiệt độ tăng, $K_w$ tăng, $[H^+]$ tăng, pH giảm và pH của nước trung tính nhỏ hơn $7$). Phát biểu sai.\n   \\itemch Dung dịch $HCl$ $10^{-7}$ M rất loãng. Nồng độ $H^+$ tổng cộng là tổng của $H^+$ từ $HCl$ và $H^+$ từ sự điện li của nước. $[H^+]_{\\text{tổng}} = [H^+]_{\\text{từ HCl}} + [H^+]_{\\text{từ H2O}}$. $[H^+]_{\\text{từ HCl}} = 10^{-7}$ M. Nước tinh khiết có $[H^+]_{\\text{từ H2O}} = 10^{-7}$ M ở $25^\\circ C$. Nồng độ $H^+$ trong dung dịch $HCl$ loãng này sẽ lớn hơn $10^{-7}$ M (khoảng $10^{-7} + 10^{-7} = 2 \\times 10^{-7}$ M nếu bỏ qua hiệu ứng ion chung, hoặc tính chính xác hơn bằng cách giải phương trình cân bằng). Do đó, pH $= -\\log[H^+]_{\\text{tổng}}$ sẽ nhỏ hơn $7$. Phát biểu sai.\n   \\itemch Nước tinh khiết có $[H^+] = 10^{-7}$ M. Thêm một lượng nhỏ acid mạnh (ví dụ $10^{-5}$ mol $HCl$ vào 1 lít nước) sẽ làm tăng nồng độ $H^+$ lên đáng kể (từ $10^{-7}$ M lên $\\approx 10^{-5}$ M). Sự thay đổi nồng độ $H^+$ từ $10^{-7}$ lên $10^{-5}$ (gấp 100 lần) tương ứng với sự giảm pH từ $7$ xuống $5$ (giảm 2 đơn vị), là một sự giảm đáng kể. Phát biểu đúng.\n   \\itemch Tính acid của dung dịch được đánh giá bằng nồng độ $[H^+]$. Tính acid tăng khi $[H^+]$ tăng. pH $= -\\log[H^+]$. Khi $[H^+]$ tăng, pH sẽ giảm. Phát biểu đúng.\n  \\end{itemchoice}\n }\n\\end{ex}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4520,-400],"id":"cbb8cf6c-cbe9-4f05-9240-6ecf61ff736b","name":"file_content","disabled":true},{"parameters":{"method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task_name\": \"write_file\",\n  \"payload\": {\n    \"filepath\": \"./latex_document/{{ $json.filename_output }}\",\n    \"content\": {{ JSON.stringify($json.content_to_write) }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4280,-400],"id":"ab342552-078e-43eb-b994-98be101511e2","name":"write_file_request","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-5560,-140],"id":"7f43426c-37a0-428d-b8dc-70887335a97e","name":"When chat message received","webhookId":"db8ee6e0-ff75-479f-ae69-19ecbb9fbc36"}],"connections":{"Get many bases":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"json_body_request":{"main":[[{"node":"replace_python_request","type":"main","index":0}]]},"input_para":{"main":[[{"node":"replace_python_request1","type":"main","index":0}]]},"DOWND_MP3_FROM_URL_VIDEOYT":{"main":[[{"node":"Read Files MP3","type":"main","index":0}]]},"Read Files MP3":{"main":[[]]},"Split_link_YT_and_ID":{"main":[[{"node":"GET_ID","type":"main","index":0}]]},"GET_ID":{"main":[[{"node":"GEN_TRANSCRIPT_API","type":"main","index":0}]]},"Get_transcript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"GEN_TRANSCRIPT_API":{"main":[[{"node":"Get_transcript","type":"main","index":0}]]},"input_file":{"main":[[{"node":"read_file_request","type":"main","index":0}]]},"file_content":{"main":[[{"node":"write_file_request","type":"main","index":0}]]},"When chat message received":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"710a6f9d-93e5-4470-a761-0bfb7814d6fe","triggerCount":1,"tags":[{"createdAt":"2025-07-06T01:46:59.258Z","updatedAt":"2025-07-06T01:46:59.258Z","id":"1yrSisCv8BrKwueg","name":"Long Memory Demo"}]}