tempt-A7I7CEFPZygFa85V.json
{"createdAt":"2025-07-06T01:48:32.341Z","updatedAt":"2025-07-09T10:37:29.306Z","id":"A7I7CEFPZygFa85V","name":"TEMPT","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"base","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-3700,-660],"id":"aff5b093-cf9b-470f-84e9-a8ec08f4d75f","name":"Get many bases","credentials":{"airtableTokenApi":{"id":"ZIBEjBJAGusW08SS","name":"Airtable create lecture"}},"disabled":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appTNV8bjbhL4jZhC","mode":"list","cachedResultName":"CREATE_LECTURE_LATEX","cachedResultUrl":"https://airtable.com/appTNV8bjbhL4jZhC"},"table":{"__rl":true,"value":"tblvoNkVJ4puVOqno","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appTNV8bjbhL4jZhC/tblvoNkVJ4puVOqno"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-3520,-660],"id":"d1c26f46-1e8f-48cc-b074-dc6ea2fd79a9","name":"Search records","credentials":{"airtableTokenApi":{"id":"ZIBEjBJAGusW08SS","name":"Airtable create lecture"}},"disabled":true},{"parameters":{"base":{"__rl":true,"value":"appTNV8bjbhL4jZhC","mode":"list","cachedResultName":"CREATE_LECTURE_LATEX","cachedResultUrl":"https://airtable.com/appTNV8bjbhL4jZhC"},"table":{"__rl":true,"value":"tblvoNkVJ4puVOqno","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appTNV8bjbhL4jZhC/tblvoNkVJ4puVOqno"},"id":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-3360,-660],"id":"e5856735-9906-4c5b-89d8-42662cb91dc6","name":"Get a record","credentials":{"airtableTokenApi":{"id":"ZIBEjBJAGusW08SS","name":"Airtable create lecture"}},"disabled":true},{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-4100,-180],"id":"ff1496d5-8a29-4cc6-9c82-fc2886504327","name":"When chat message received","webhookId":"6dec6ad5-7708-4b9f-a199-38affcb781e1"},{"parameters":{"method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2720,-540],"id":"3e12deb1-9f49-4908-88fa-a053f7239db2","name":"replace_python_request","disabled":true},{"parameters":{"mode":"raw","jsonOutput":"={\n\"requestBody\":\n{\n    \"task_name\": \"process_text_advanced\",\n    \"payload\": {\n        \"text\": {{JSON.stringify($json.chatInput) }},\n        \"extraction_patterns\": {\n            \"\\\\\\\\xrightarrow\\\\[(.*?)\\\\]\": \"\\\\\\\\xrightarrow{ \\\\1 }\",\n            \"```latex\\\\s*(.*?)```\": \"\\\\1\"\n        },\n        \"correction_dict\": {\n            \"\\\\end<bt>\": \"\\\\end{bt}\"\n        }\n    }\n}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,-540],"id":"2452ed29-547f-43d7-a06a-2a8a83e11ab3","name":"json_body_request","disabled":true},{"parameters":{"method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"task_name\": \"process_text_advanced\",\n    \"payload\": {\n        \"text\": {{JSON.stringify($json.text) }},\n        \"extraction_patterns\": {\n          {{ $json.regex_dict }}\n        },\n        \"correction_dict\": {\n            {{ $json.nomal_dict }}\n        }\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2720,-700],"id":"d6ee11f9-9146-4f3b-9cee-1a3f83bcc948","name":"replace_python_request1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7eac0a9f-8e37-41e3-944f-095f19e44b74","name":"text","value":"={{ $json.chatInput }}","type":"string"},{"id":"3f61e746-35f2-4f9a-a625-160030c917cc","name":"nomal_dict","value":"=    \"\\\\end<bt>\": \"\\\\end{bt}\"","type":"string"},{"id":"9e0d9138-c046-4885-81b9-535669ff4a23","name":"regex_dict","value":"=\"```latex\\\\s*(.*?)```\": \"\\\\1\",\n\"\\\\\\\\xrightarrow\\\\[(.*?)\\\\]\\\\[(.*?)\\\\]\" : \"\\\\\\\\xrightarrow@@@\\\\1@@@{\\\\2}\",\n\"\\\\\\\\xrightarrow\\\\[(.*?)\\\\]\" : \"\\\\\\\\xrightarrow{\\\\1}\",\n\"\\\\\\\\xrightarrow@@@(.*?)@@@\" : \"\\\\\\\\xrightarrow[\\\\1]\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,-700],"id":"72b88a90-0263-41f6-8062-99d8dcf52479","name":"input_para","disabled":true},{"parameters":{"command":"=yt-dlp --quiet --progress -x --audio-format mp3 -o \"/files/audio/%(title)s.%(ext)s\" \"{{ $json.chatInput }}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-4160,-680],"id":"306f4628-aeb6-4253-96c8-d499f5516abe","name":"DOWND_MP3_FROM_URL_VIDEOYT","alwaysOutputData":true,"notesInFlow":true,"disabled":true},{"parameters":{"fileSelector":"/files/audio/%(title)s.%(ext)s","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-4020,-680],"id":"d6fc2663-24fb-460d-bb38-8174343eb4ee","name":"Read Files MP3","disabled":true},{"parameters":{"content":"## Sử dụng hàm thay thế từ môi trường python trên docker\n**Cách 1**\n\n\n\n\n\n\n\n\n\n**Cách 2**","height":380,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-3040,-780],"typeVersion":1,"id":"80caebef-4246-4fec-92bb-253ce435b619","name":"Sticky Note","disabled":true},{"parameters":{"content":"## Sử dụng AIRTABLE","height":320,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-3720,-760],"typeVersion":1,"id":"ae71d08d-2112-455c-8f25-5ad9b0ccec3d","name":"Sticky Note1","disabled":true},{"parameters":{"content":"## Tải mp3 và mp4 từ youtube","height":320,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-4340,-780],"typeVersion":1,"id":"8a052bc4-ccdc-40cf-8560-ccc0370431f7","name":"Sticky Note2","disabled":true},{"parameters":{"content":"## Youtube trasncript","height":360,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[-4140,-320],"typeVersion":1,"id":"c293b0c1-5996-4f4e-8d98-fbfb4d8d4654","name":"Sticky Note3"},{"parameters":{"jsCode":"// Lấy tất cả các mục đầu vào từ node trước\nconst items = $input.all();\n\n// Regex 1: Tìm mọi loại link YouTube trong văn bản.\nconst youtubeLinkRegex = /(https?:\\/\\/(?:www\\.)?(?:youtu\\.be\\/|youtube\\.com\\/(?:watch\\?v=|embed\\/|shorts\\/))[\\w\\-=&?%._]+)/i;\n\n// Regex 2: Trích xuất ID video từ một link YouTube.\n// Nó tìm kiếm các chuỗi như v=, shorts/, embed/, .be/ và lấy chuỗi ký tự (ID) theo sau.\nconst videoIdRegex = /(?:v=|shorts\\/|embed\\/|\\.be\\/)([a-zA-Z0-9_-]{11})/;\n\n// Duyệt qua từng mục đầu vào để xử lý riêng lẻ\nfor (const item of items) {\n  // QUAN TRỌNG: Lấy văn bản từ trường của MỤC HIỆN TẠI.\n  // Thay 'myText' bằng tên trường chứa văn bản của bạn (ví dụ: 'message', 'text', 'content'...).\n  const inputText = $input.first().json.chatInput; \n\n  if (inputText) {\n    // Sử dụng Regex 1 để tìm link trong văn bản\n    const linkMatch = inputText.match(youtubeLinkRegex);\n\n    // Nếu tìm thấy link\n    if (linkMatch && linkMatch[0]) {\n      const extractedLink = linkMatch[0];\n      const cleanedText = inputText.replace(extractedLink, '').trim();\n      let videoId = null; // Khởi tạo videoId là null\n\n      // Sử dụng Regex 2 để tìm ID trong link vừa trích xuất\n      const idMatch = extractedLink.match(videoIdRegex);\n\n      // Nếu tìm thấy ID (nằm ở nhómจับที่ 1)\n      if (idMatch && idMatch[1]) {\n        videoId = idMatch[1];\n      }\n\n      // Gán cả 3 kết quả vào mục hiện tại\n      item.json.extractedLink = extractedLink;\n      item.json.cleanedText = cleanedText;\n      item.json.videoId = videoId;\n\n    } else {\n      // Nếu không tìm thấy link, gán các giá trị mặc định\n      item.json.extractedLink = null;\n      item.json.cleanedText = inputText; // Giữ nguyên văn bản gốc\n      item.json.videoId = null;\n    }\n  } else {\n      // Xử lý trường hợp không có inputText\n      item.json.extractedLink = null;\n      item.json.cleanedText = null;\n      item.json.videoId = null;\n  }\n}\n\n// Trả về các mục đã được xử lý\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3960,-180],"id":"8482efe5-03f1-4700-b952-f26cdc2fc1b4","name":"Split_link_YT_and_ID"},{"parameters":{"assignments":{"assignments":[{"id":"b8220665-ec3a-4165-a55d-c97b3e50d51b","name":"videoId","value":"={{ $json.videoId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3800,-180],"id":"d4125dd4-c9f8-43a6-84b3-22e2b8cefd92","name":"GET_ID"},{"parameters":{"assignments":{"assignments":[{"id":"bcf7a7a9-9a68-43a1-9b8a-9542c0c3c006","name":"transcript","value":"={{ $json.microformat.playerMicroformatRenderer.description.simpleText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3480,-180],"id":"5c787844-d44f-4ddf-b255-c5d132361104","name":"Get_transcript"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.transcript }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-3300,-180],"id":"bf85f74e-d498-474f-9577-77c82b103249","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://www.youtube-transcript.io/api/transcripts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic 686e406230d5ee1fda12d0e2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ids\": [\n    \"{{ $json.videoId }}\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3640,-180],"id":"5710c886-4daa-4a8e-a9a4-46117859d7f8","name":"GEN_TRANSCRIPT_API"}],"connections":{"Get many bases":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Split_link_YT_and_ID","type":"main","index":0}]]},"json_body_request":{"main":[[{"node":"replace_python_request","type":"main","index":0}]]},"input_para":{"main":[[{"node":"replace_python_request1","type":"main","index":0}]]},"DOWND_MP3_FROM_URL_VIDEOYT":{"main":[[{"node":"Read Files MP3","type":"main","index":0}]]},"Read Files MP3":{"main":[[]]},"Split_link_YT_and_ID":{"main":[[{"node":"GET_ID","type":"main","index":0}]]},"GET_ID":{"main":[[{"node":"GEN_TRANSCRIPT_API","type":"main","index":0}]]},"Get_transcript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"GEN_TRANSCRIPT_API":{"main":[[{"node":"Get_transcript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"828c1b0e-2e17-4f69-b407-598253b6e3a7","triggerCount":1,"tags":[{"createdAt":"2025-07-06T01:46:59.258Z","updatedAt":"2025-07-06T01:46:59.258Z","id":"1yrSisCv8BrKwueg","name":"Long Memory Demo"}]}