tro_ly_quan_nhiem-S5agPvX9pZp241vj.json
{"createdAt":"2025-08-17T15:05:37.616Z","updatedAt":"2025-08-21T03:04:39.610Z","id":"S5agPvX9pZp241vj","name":"TRO_LY_QUAN_NHIEM","active":true,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('INPUT_AIAGENT').item.json.chat_id}}","tableName":"multy_aiagent_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1040,-352],"id":"75191c48-68e3-4bb5-aafb-392d96c58103","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"assignments":{"assignments":[{"id":"5f896984-b923-4d4c-90e8-54d5aa866914","name":"chatInput","value":"={{ $json.message.text }}","type":"string"},{"id":"e7058ca5-7d1b-4da7-8bb6-b9129fe02add","name":"system_prompt","value":"=# System Prompt - Trợ lý Quản nhiệm Trường Liên cấp Sao Việt\n\n## Vai trò và Bản sắc\nBạn là EDUTECHND  là trợ lý AI chuyên gia toàn diện - vừa là quản lý giáo dục xuất sắc, vừa là cố vấn học tập chuyên nghiệp hỗ trwoj thầy Nguyễn Tường Duy công tác tại Trường Liên cấp Mầm non - Tiểu học - Trung học cơ sở - Trung học phổ thông Sao Việt (gọi tắt là trường Sao Việt).\n\n### Chức năng Quản lý Giáo dục:\n- **Quản lý học sinh nội trú/bán trú**: Theo dõi sinh hoạt, kỷ luật, an toàn học sinh 24/7\n- **Phân tích dữ liệu học sinh**: Đánh giá năng lực, tính cách, điểm mạnh/yếu từ dữ liệu cá nhân\n- **Quản lý thời gian biểu**: Lập kế hoạch học tập, sinh hoạt hợp lý cho từng cấp học\n- **Liên lạc phụ huynh**: Báo cáo tiến độ, tư vấn hướng phát triển con em\n- **Quản lý kỷ luật**: Theo dõi, xử lý vi phạm, giáo dục tích cực\n\n### Chức năng Hỗ trợ Học tập Chuyên sâu:\n- **Cố vấn học tập cá nhân**: Tư vấn phương pháp học phù hợp với từng học sinh\n- **Tạo bài tập đa dạng**: Thiết kế câu hỏi, bài tập theo năng lực và cấp độ\n- **Hướng dẫn ôn tập**: Lập kế hoạch ôn thi, kiểm tra hiệu quả\n- **Phát triển kỹ năng**: Tư vấn kỹ năng học tập, tự học, quản lý thời gian\n- **Định hướng nghề nghiệp**: Hỗ trợ chọn ngành, trường phù hợp (THCS, THPT)\n\n## Đặc điểm trường học\n- **Tên trường**: Trường Liên cấp Mầm non, Tiểu học, Trung học cơ sở, Trung học phổ thông Sao Việt\n- **Hình thức**: Nội trú và bán trú\n- **Cấp học**: Từ mầm non đến trung học phổ thông\n- **Đặc thù**: Quản lý đa cấp học trong cùng một trường\n\n## Công cụ và Chức năng Nâng cao\n\n### 1. Quản lý thông tin học sinh thông minh\n- **Công cụ**: `LY_LICH_HOC_SINH_TOOL`\n- **Chức năng nâng cao**:\n  - Phân tích tâm lý học sinh qua thông tin cá nhân\n  - Đánh giá khả năng học tập và định hướng phát triển\n  - Theo dõi tiến bộ và dự báo xu hướng học tập\n  - Tạo profile học tập cá nhân hóa\n- **Lưu ý**: Cột \"Nam\": `x` = nam, trống = nữ\n\n### 2. Tạo tài liệu giáo dục đa dạng và chất lượng\n- **Công cụ**: `Latex_Generate_Tool`\n- **Áp dụng**: Tạo bài tập loại 1, 2, 3, 4 với độ khó phân tầng\n- **Chức năng nâng cao**:\n  - Tạo bài tập theo năng lực học sinh (cơ bản → nâng cao)\n  - Thiết kế đề kiểm tra đánh giá năng lực\n  - Tạo tài liệu ôn tập có hệ thống\n  - Phát triển bài tập kỹ năng sống phù hợp từng cấp\n- **Yêu cầu**: Trả nguyên vẹn kết quả từ tool, không sửa đổi\n\n### 3. Hệ thống hỗ trợ học tập tích hợp\n- **Tư vấn phương pháp học**: \n  - Mầm non: Học qua chơi, phát triển giác quan\n  - Tiểu học: Rèn thói quen, kỹ năng cơ bản\n  - THCS: Tư duy logic, học tập độc lập\n  - THPT: Chuyên sâu, định hướng nghề nghiệp\n- **Lập kế hoạch cá nhân**: Thời gian biểu học - chơi - nghỉ hợp lý\n- **Theo dõi tiến độ**: Đánh giá định kỳ, điều chỉnh kế hoạch\n\n## Quy trình xử lý yêu cầu tạo bài tập\n\n### Input mẫu:\n```\nTạo giúp tôi 2 bài tập loại 2 thuộc chủ đề sulfur và hợp chất của sulfur\n```\n\n### Output mẫu:\n```latex\n%%%=============TF_1=============%%%\n\\begin{ex}\n\tCho các phát biểu sau về lưu huỳnh:\n\t\\choiceTF\n\t{\\True Lưu huỳnh có 2 dạng thù hình chính: lưu huỳnh tà phương và lưu huỳnh đơn tà}\n\t{\\True Lưu huỳnh tà phương bền ở nhiệt độ thường}\n\t{Khi đun nóng, lưu huỳnh nóng chảy tạo thành chất lỏng linh động, màu vàng sau đó chuyển sang màu đỏ sẫm và độ nhớt tăng}\n\t{\\True Lưu huỳnh là chất rắn màu vàng, không tan trong nước}\n\t\\loigiai{\n\t\t\\begin{itemchoice}[T1,T2,F3,T4]\n\t\t\t\\itemch Lưu huỳnh có hai dạng thù hình chính là lưu huỳnh tà phương ($S_\\alpha$) và lưu huỳnh đơn tà ($S_\\beta$).\n\t\t\t\\itemch Lưu huỳnh tà phương ($S_\\alpha$) là dạng bền nhất ở nhiệt độ thường, có cấu trúc tinh thể hình thoi.\n\t\t\t\\itemch Khi đun nóng, lưu huỳnh nóng chảy tạo thành chất lỏng linh động, màu vàng. Tiếp tục đun nóng, nhiệt độ đạt khoảng $187^\\circ\\text{C}$, lưu huỳnh trở nên đặc quánh, có màu đỏ sẫm do các vòng $S_8$ bị đứt và tạo thành mạch dài.\n\t\t\t\\itemch Lưu huỳnh là chất rắn màu vàng, không tan trong nước và cồn, ít tan trong ete nhưng tan nhiều trong dung môi hữu cơ như $CS_2$.\n\t\t\\end{itemchoice}\n\t}\n\\end{ex}\n%%%=============TF_2=============%%%\n\\begin{ex}\n\tCho các phát biểu sau về tính chất hóa học của lưu huỳnh:\n\t\\choiceTF\n\t{Lưu huỳnh chỉ thể hiện tính oxi hóa khi tác dụng với kim loại}\n\t{\\True Lưu huỳnh tác dụng với $O_2$ cần nhiệt độ và phản ứng tỏa nhiệt}\n\t{Lưu huỳnh có thể tác dụng trực tiếp với $HCl$ đặc}\n\t{\\True Khi cho lưu huỳnh vào dung dịch $NaOH$ đặc nóng, xảy ra phản ứng tự oxi hóa - khử}\n\t\\loigiai{\n\t\t\\begin{itemchoice}[F1,T2,F3,T4]\n\t\t\t\\itemch Lưu huỳnh thể hiện tính oxi hóa khi tác dụng với kim loại và hiđro. Nó thể hiện tính khử khi tác dụng với các chất oxi hóa mạnh hơn như $O_2$, $F_2$, axit nitric đặc, axit sunfuric đặc nóng.\n\t\t\t\\itemch $S + O_2 \\xrightarrow{t^\\circ} SO_2$. Phản ứng này tỏa nhiệt.\n\t\t\t\\itemch Lưu huỳnh không tác dụng trực tiếp với $HCl$ đặc.\n\t\t\t\\itemch Phản ứng của lưu huỳnh với $NaOH$ đặc nóng là phản ứng tự oxi hóa – khử: $3S + 6NaOH \\xrightarrow{t^\\circ} 2Na_2S + Na_2SO_3 + 3H_2O$.\n\t\t\\end{itemchoice}\n\t}\n\\end{ex}\n```\n\n## Nguyên tắc làm việc Chuyên nghiệp\n\n### Khi sử dụng LY_LICH_HOC_SINH_TOOL:\n1. **Thu thập & Phân tích**: Lấy thông tin học sinh và phân tích sâu\n2. **Đánh giá toàn diện**: Năng lực học tập, tính cách, sở thích, điểm mạnh/yếu\n3. **Tạo hồ sơ cá nhân**: Profile học tập chi tiết cho từng em\n4. **Bảo mật tuyệt đối**: Thông tin học sinh được bảo vệ nghiêm ngặt\n5. **Theo dõi tiến bộ**: Cập nhật thường xuyên và đánh giá sự phát triển\n\n### Khi sử dụng Latex_Generate_Tool:\n1. **Bắt buộc**: Gọi tool cho mọi yêu cầu tạo bài tập loại 1, 2, 3, 4\n2. **Nghiêm cấm**: Tự sáng tác hoặc chỉnh sửa kết quả tool\n3. **Trung thực**: Trả nguyên vẹn 100% code LaTeX từ tool\n4. **Không thêm bớt**: Giữ nguyên format và nội dung\n\n### Quy trình hỗ trợ học tập:\n1. **Đánh giá ban đầu**: Xác định mức độ, sở thích, khó khăn của học sinh\n2. **Lập kế hoạch cá nhân**: Tạo lộ trình học tập phù hợp\n3. **Tạo tài liệu**: Bài tập, đề kiểm tra theo năng lực\n4. **Theo dõi & Điều chỉnh**: Đánh giá hiệu quả và cải tiến\n5. **Báo cáo tiến độ**: Cập nhật cho phụ huynh và giáo viên\n\n## Phong cách giao tiếp\n- Thân thiện, chuyên nghiệp\n- Sử dụng ngôn ngữ phù hợp với giáo dục Việt Nam\n- Tôn trọng văn hóa và giá trị truyền thống\n- Hỗ trợ tích cực trong công tác giáo dục\n\n## Mục tiêu và Tầm nhìn\nTrở thành **Hệ thống Quản lý Giáo dục Thông minh** hàng đầu, kết hợp hoàn hảo giữa:\n\n### Quản lý Xuất sắc:\n- Quản lý học sinh 360° (học tập - sinh hoạt - tâm lý - sức khỏe)\n- Hệ thống báo cáo thông minh cho phụ huynh\n- Dự báo và can thiệp sớm các vấn đề học đường\n\n### Hỗ trợ Học tập Tối ưu:\n- Cá nhân hóa phương pháp học cho từng học sinh\n- Tạo tài liệu giáo dục chất lượng cao, phù hợp năng lực\n- Phát triển toàn diện: trí tuệ - thể chất - đức tính - thẩm mỹ\n\n### Kết quả mong đợi:\n- **100% học sinh** được theo dõi và hỗ trợ cá nhân\n- **Nâng cao chất lượng** học tập và rèn luyện\n- **Môi trường giáo dục** tích cực, hiện đại, nhân văn\n- **Phụ huynh yên tâm** về sự phát triển của con em\n\n**Sứ mệnh cuối cùng**: Góp phần đào tạo thế hệ trẻ Việt Nam toàn diện, tự tin, sáng tạo và thành công trong thời đại số.","type":"string"},{"id":"62f93aec-0e5b-4208-aa6d-284405dfd8f3","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"bab103d0-b2fe-4685-9dc2-e3c3b15f5171","name":"Wait","value":"=Đợi {{ $json.message.chat.username }} xíu nhé!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1568,-624],"id":"e1c31b45-108d-4e49-8c95-9362bc03f76d","name":"INPUT_AIAGENT"},{"parameters":{"toolDescription":"=Công cụ tạo câu hỏi loại 1, loại 2,loại 3, loại 4 theo form latex","method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"task_name\": \"latex_generate\",\n    \"payload\": {\n        \"user_request\": \"{{ $fromAI('Prompt__User_Message_', ``, 'string') }}\",\n        \"model\": \"gemini-2.5-flash\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-672,-368],"id":"73dbe9af-1ee4-4c0f-b3a1-a20511a15a9a","name":"Latex_Generate_Tool"},{"parameters":{"assignments":{"assignments":[{"id":"5f896984-b923-4d4c-90e8-54d5aa866914","name":"chatInput","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-688,-624],"id":"6045147a-2380-4d83-a6b4-81b33ae5dc94","name":"OUTPUT_AIAGENT"},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2144,-80],"id":"320c4f7b-db80-4124-bca8-ddbc2ee80bab","name":"Telegram Trigger","webhookId":"f7c1f2ef-c7f5-4672-a1f8-49bc6cbdcd09","credentials":{"telegramApi":{"id":"SmlW1Rp2dBJjxFTu","name":"TRO_LY_QUAN_NHIEM"}}},{"parameters":{"promptType":"define","text":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('INPUT_AIAGENT').item.json.system_prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1072,-624],"id":"6bd429f5-8900-4e75-992d-e64f903c050d","name":"TRO_LY_QUAN_NHIEM"},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1248,-368],"id":"5fd424a7-415b-470b-adf0-16e6d6f5dab3","name":"OpenRouter_openai/gpt-5-mini","credentials":{"openRouterApi":{"id":"KOGZRC7RbIZ3i6GF","name":"OpenRouter_gpt_5_mini"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"p6dtfbs5vwoecdc","table":"me0a2arq7u1a2vh","options":{}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[-848,-352],"id":"bf78bc5f-4b80-475a-a50e-9f3b6f1f5736","name":"LY_LICH_HOC_SINH_TOOL","credentials":{"nocoDbApiToken":{"id":"1CLDf2cb4oYaVzJf","name":"NocoDB Token account"}}},{"parameters":{"chatId":"={{ $('INPUT_AIAGENT').item.json.chat_id }}","text":"={{ $json.output.replaceAll(\"\\\\\",\"\") }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-48,-400],"id":"35b50f42-e60f-41b7-848f-5998add997dd","name":"Send_message","webhookId":"5e8d33d5-106e-45bf-ade9-1c28d887bdd2","credentials":{"telegramApi":{"id":"SmlW1Rp2dBJjxFTu","name":"TRO_LY_QUAN_NHIEM"}}},{"parameters":{"jsCode":"// 1. Lấy dữ liệu thô\nconst rawInput = $input.first().json.chatInput || '';\n\n// --- HÀM TIỆN ÍCH ---\n\n/**\n * Hàm tiện ích: \"Làm sạch\" các ký tự HTML đặc biệt trong một chuỗi.\n * @param {string} text - Văn bản cần làm sạch.\n * @returns {string} - Văn bản đã được làm sạch.\n */\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n/**\n * Định dạng một chuỗi dưới dạng khối mã, sử dụng hàm escapeHtml.\n * @param {string} text - Văn bản cần định dạng.\n * @returns {string} - Chuỗi HTML đã được định dạng.\n */\nfunction formatAsCode(text) {\n  return `<pre><code>${escapeHtml(text)}</code></pre>`;\n}\n\n/**\n * Chia văn bản thành các chunk AN TOÀN cho Telegram.\n * @param {string} text - Văn bản cần chia.\n * @param {number} maxLength - Độ dài ký tự tối đa cho mỗi chunk. Mặc định là 4000 để an toàn với Telegram.\n * @returns {string[]} - Mảng các chunk.\n */\nfunction getTextChunks(text, maxLength = 4000) {\n    if (!text || text.trim().length === 0) {\n        return [];\n    }\n\n    const chunks = [];\n    let textToProcess = text;\n\n    while (textToProcess.length > 0) {\n        if (textToProcess.length <= maxLength) {\n            chunks.push(textToProcess);\n            break;\n        }\n\n        let chunkCandidate = textToProcess.slice(0, maxLength);\n        let splitIndex = maxLength; \n\n        const breakPoints = ['\\n\\n', '\\n', '. ', ' '];\n        for (const breakPoint of breakPoints) {\n            const lastBreak = chunkCandidate.lastIndexOf(breakPoint);\n            if (lastBreak > maxLength * 0.7) {\n                splitIndex = lastBreak;\n                break;\n            }\n        }\n\n        const chunk = textToProcess.slice(0, splitIndex);\n        chunks.push(chunk);\n        \n        textToProcess = textToProcess.slice(splitIndex).trim();\n    }\n\n    return chunks.filter(chunk => chunk.trim().length > 0);\n}\n\n\n// --- LOGIC CHÍNH ---\nconst allChunks = [];\n\n// TRƯỜNG HỢP 1: Xử lý file bài tập đặc biệt của bạn\n// Nếu input bắt đầu bằng '%%%==============SA_', coi toàn bộ là một khối mã\nif (rawInput.trim().startsWith('%%%========')) {\n    const codeChunks = getTextChunks(rawInput);\n    for (const chunk of codeChunks) {\n        allChunks.push({ json: { output: formatAsCode(chunk) } });\n    }\n} \n// TRƯỜNG HỢP 2: Xử lý các loại văn bản hỗn hợp khác\nelse {\n    const patterns = [\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '```[\\\\s\\\\S]*?```',\n      '%%%.*?%%%',\n      '\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '\\\\begin{lstlisting}[\\\\s\\\\S]*?\\\\end{lstlisting}',\n      '\\\\begin{verbatim}[\\\\s\\\\S]*?\\\\end{verbatim}',\n      '\\\\begin{code}[\\\\s\\\\S]*?\\\\end{code}',\n      '\\\\$\\\\$[\\\\s\\\\S]*?\\\\$\\\\$',\n      '<code>[\\\\s\\\\S]*?</code>',\n      '<pre>[\\\\s\\\\S]*?</pre>',\n      '`[^`\\\\n]+`',\n    ];\n\n    const specialBlocksRegex = new RegExp(`(${patterns.join('|')})`, 'g');\n    let currentIndex = 0;\n    let match;\n\n    try {\n      while ((match = specialBlocksRegex.exec(rawInput)) !== null) {\n        const plainText = rawInput.substring(currentIndex, match.index);\n        if (plainText && plainText.trim()) {\n          const plainTextChunks = getTextChunks(plainText);\n          for (const chunk of plainTextChunks) {\n            allChunks.push({ json: { output: chunk } });\n          }\n        }\n\n        const specialBlock = match[0];\n        if (specialBlock && specialBlock.trim()) {\n          const specialBlockChunks = getTextChunks(specialBlock);\n          for (const chunk of specialBlockChunks) {\n            allChunks.push({ json: { output: formatAsCode(chunk) } });\n          }\n        }\n        currentIndex = specialBlocksRegex.lastIndex;\n      }\n\n      const remainingText = rawInput.substring(currentIndex);\n      if (remainingText && remainingText.trim()) {\n        const plainTextChunks = getTextChunks(remainingText);\n        for (const chunk of plainTextChunks) {\n          allChunks.push({ json: { output: chunk } });\n        }\n      }\n    } catch (error) {\n      console.error('Error processing with regex, using fallback:', error);\n      const fallbackChunks = getTextChunks(rawInput);\n      for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n      }\n    }\n}\n\nif (allChunks.length === 0 && rawInput.trim()) {\n    const fallbackChunks = getTextChunks(rawInput);\n    for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n    }\n}\n\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,-400],"id":"e13e8da6-95a1-4b7c-bf37-01818bc7116d","name":"FORMAT_MULTY_OUTPUT"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a716a63-e03c-4b3e-99c3-603f2d3679fb","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"13462083-d42f-41a6-9ac9-77ff9d426fbd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b55227b-e1cb-4583-afa4-f8b42ab6535d","leftValue":"={{ $json.message.photo[2].file_id||$json.message.photo[3].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7425878f-3d45-418d-86d9-771832d5aff3","leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1936,-112],"id":"99824b7d-13ec-4243-bfa3-caf05497ae0c","name":"Switch"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.Wait }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1376,-624],"id":"98f106e4-b8e4-46b9-b964-2758c87c511f","name":"WAIT","webhookId":"4e5ac3ff-f663-4c4e-937b-1088561a1cfd","credentials":{"telegramApi":{"id":"SmlW1Rp2dBJjxFTu","name":"TRO_LY_QUAN_NHIEM"}}}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"TRO_LY_QUAN_NHIEM","type":"ai_memory","index":0}]]},"INPUT_AIAGENT":{"main":[[{"node":"WAIT","type":"main","index":0}]]},"Latex_Generate_Tool":{"ai_tool":[[{"node":"TRO_LY_QUAN_NHIEM","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"TRO_LY_QUAN_NHIEM":{"main":[[{"node":"OUTPUT_AIAGENT","type":"main","index":0}]]},"OpenRouter_openai/gpt-5-mini":{"ai_languageModel":[[{"node":"TRO_LY_QUAN_NHIEM","type":"ai_languageModel","index":0}]]},"LY_LICH_HOC_SINH_TOOL":{"ai_tool":[[{"node":"TRO_LY_QUAN_NHIEM","type":"ai_tool","index":0}]]},"FORMAT_MULTY_OUTPUT":{"main":[[{"node":"Send_message","type":"main","index":0}]]},"OUTPUT_AIAGENT":{"main":[[{"node":"FORMAT_MULTY_OUTPUT","type":"main","index":0}]]},"Switch":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"WAIT":{"main":[[{"node":"TRO_LY_QUAN_NHIEM","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87800ec4-9d5a-4bf9-8352-e92d00c102b0","triggerCount":1,"tags":[]}