tro_ly_quan_nhiem-S5agPvX9pZp241vj.json
{"createdAt":"2025-08-17T15:05:37.616Z","updatedAt":"2025-09-21T22:54:36.278Z","id":"S5agPvX9pZp241vj","name":"TRO_LY_QUAN_NHIEM","active":true,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('INPUT_AIAGENT').item.json.chat_id}}","tableName":"multy_aiagent_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-304,-32],"id":"75191c48-68e3-4bb5-aafb-392d96c58103","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TZUniEFq0fvsFUmr","name":"Postgres Seflhost"}}},{"parameters":{"assignments":{"assignments":[{"id":"5f896984-b923-4d4c-90e8-54d5aa866914","name":"chatInput","value":"={{ $json.text }}","type":"string"},{"id":"e7058ca5-7d1b-4da7-8bb6-b9129fe02add","name":"system_prompt","value":"={{ $json.system_prompt }}","type":"string"},{"id":"62f93aec-0e5b-4208-aa6d-284405dfd8f3","name":"chat_id","value":"={{ $json.chatId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-304],"id":"e1c31b45-108d-4e49-8c95-9362bc03f76d","name":"INPUT_AIAGENT"},{"parameters":{"toolDescription":"=Công cụ tạo câu hỏi loại 1, loại 2,loại 3, loại 4 theo form latex","method":"POST","url":"http://python_service:5000/execute-task","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"task_name\": \"latex_generate\",\n    \"payload\": {\n        \"user_request\": \"{{ $fromAI('Prompt__User_Message_', ``, 'string') }}\",\n        \"model\": \"gemini-2.5-flash\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-16,-48],"id":"73dbe9af-1ee4-4c0f-b3a1-a20511a15a9a","name":"Latex_Generate_Tool"},{"parameters":{"assignments":{"assignments":[{"id":"5f896984-b923-4d4c-90e8-54d5aa866914","name":"chatInput","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-304],"id":"6045147a-2380-4d83-a6b4-81b33ae5dc94","name":"OUTPUT_AIAGENT"},{"parameters":{"promptType":"define","text":"={{ $('INPUT_AIAGENT').item.json.chatInput }}","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"={{ $('INPUT_AIAGENT').item.json.system_prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-448,-304],"id":"6bd429f5-8900-4e75-992d-e64f903c050d","name":"TRO_LY_QUAN_NHIEM"},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-448,-32],"id":"5fd424a7-415b-470b-adf0-16e6d6f5dab3","name":"OpenRouter_openai/gpt-5-mini","credentials":{"openRouterApi":{"id":"KOGZRC7RbIZ3i6GF","name":"OpenRouter_gpt_5_mini"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"p6dtfbs5vwoecdc","table":"mto8zlhj9assjzv","options":{}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[-160,-32],"id":"bf78bc5f-4b80-475a-a50e-9f3b6f1f5736","name":"LY_LICH_HOC_SINH_TOOL","credentials":{"nocoDbApiToken":{"id":"1CLDf2cb4oYaVzJf","name":"NocoDB Token account"}}},{"parameters":{"chatId":"={{ $('INPUT_AIAGENT').item.json.chat_id }}","text":"={{ $json.output.replaceAll(\"\\\\\",\"\") }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[432,-288],"id":"35b50f42-e60f-41b7-848f-5998add997dd","name":"Send_message","webhookId":"5e8d33d5-106e-45bf-ade9-1c28d887bdd2","credentials":{"telegramApi":{"id":"SmlW1Rp2dBJjxFTu","name":"TRO_LY_QUAN_NHIEM"}}},{"parameters":{"jsCode":"// 1. Lấy dữ liệu thô\nconst rawInput = $input.first().json.chatInput || '';\n\n// --- HÀM TIỆN ÍCH ---\n\n/**\n * Hàm tiện ích: \"Làm sạch\" các ký tự HTML đặc biệt trong một chuỗi.\n * @param {string} text - Văn bản cần làm sạch.\n * @returns {string} - Văn bản đã được làm sạch.\n */\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n/**\n * Định dạng một chuỗi dưới dạng khối mã, sử dụng hàm escapeHtml.\n * @param {string} text - Văn bản cần định dạng.\n * @returns {string} - Chuỗi HTML đã được định dạng.\n */\nfunction formatAsCode(text) {\n  return `<pre><code>${escapeHtml(text)}</code></pre>`;\n}\n\n/**\n * Chia văn bản thành các chunk AN TOÀN cho Telegram.\n * @param {string} text - Văn bản cần chia.\n * @param {number} maxLength - Độ dài ký tự tối đa cho mỗi chunk. Mặc định là 4000 để an toàn với Telegram.\n * @returns {string[]} - Mảng các chunk.\n */\nfunction getTextChunks(text, maxLength = 4000) {\n    if (!text || text.trim().length === 0) {\n        return [];\n    }\n\n    const chunks = [];\n    let textToProcess = text;\n\n    while (textToProcess.length > 0) {\n        if (textToProcess.length <= maxLength) {\n            chunks.push(textToProcess);\n            break;\n        }\n\n        let chunkCandidate = textToProcess.slice(0, maxLength);\n        let splitIndex = maxLength; \n\n        const breakPoints = ['\\n\\n', '\\n', '. ', ' '];\n        for (const breakPoint of breakPoints) {\n            const lastBreak = chunkCandidate.lastIndexOf(breakPoint);\n            if (lastBreak > maxLength * 0.7) {\n                splitIndex = lastBreak;\n                break;\n            }\n        }\n\n        const chunk = textToProcess.slice(0, splitIndex);\n        chunks.push(chunk);\n        \n        textToProcess = textToProcess.slice(splitIndex).trim();\n    }\n\n    return chunks.filter(chunk => chunk.trim().length > 0);\n}\n\n\n// --- LOGIC CHÍNH ---\nconst allChunks = [];\n\n// TRƯỜNG HỢP 1: Xử lý file bài tập đặc biệt của bạn\n// Nếu input bắt đầu bằng '%%%==============SA_', coi toàn bộ là một khối mã\nif (rawInput.trim().startsWith('%%%========')) {\n    const codeChunks = getTextChunks(rawInput);\n    for (const chunk of codeChunks) {\n        allChunks.push({ json: { output: formatAsCode(chunk) } });\n    }\n} \n// TRƯỜNG HỢP 2: Xử lý các loại văn bản hỗn hợp khác\nelse {\n    const patterns = [\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '%%%.*?%%%[\\\\s\\\\S]*?\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '```[\\\\s\\\\S]*?```',\n      '%%%.*?%%%',\n      '\\\\begin{ex}[\\\\s\\\\S]*?\\\\end{ex}',\n      '\\\\begin{bt}[\\\\s\\\\S]*?\\\\end{bt}',\n      '\\\\begin{vd}[\\\\s\\\\S]*?\\\\end{vd}',\n      '\\\\begin{lstlisting}[\\\\s\\\\S]*?\\\\end{lstlisting}',\n      '\\\\begin{verbatim}[\\\\s\\\\S]*?\\\\end{verbatim}',\n      '\\\\begin{code}[\\\\s\\\\S]*?\\\\end{code}',\n      '\\\\$\\\\$[\\\\s\\\\S]*?\\\\$\\\\$',\n      '<code>[\\\\s\\\\S]*?</code>',\n      '<pre>[\\\\s\\\\S]*?</pre>',\n      '`[^`\\\\n]+`',\n    ];\n\n    const specialBlocksRegex = new RegExp(`(${patterns.join('|')})`, 'g');\n    let currentIndex = 0;\n    let match;\n\n    try {\n      while ((match = specialBlocksRegex.exec(rawInput)) !== null) {\n        const plainText = rawInput.substring(currentIndex, match.index);\n        if (plainText && plainText.trim()) {\n          const plainTextChunks = getTextChunks(plainText);\n          for (const chunk of plainTextChunks) {\n            allChunks.push({ json: { output: chunk } });\n          }\n        }\n\n        const specialBlock = match[0];\n        if (specialBlock && specialBlock.trim()) {\n          const specialBlockChunks = getTextChunks(specialBlock);\n          for (const chunk of specialBlockChunks) {\n            allChunks.push({ json: { output: formatAsCode(chunk) } });\n          }\n        }\n        currentIndex = specialBlocksRegex.lastIndex;\n      }\n\n      const remainingText = rawInput.substring(currentIndex);\n      if (remainingText && remainingText.trim()) {\n        const plainTextChunks = getTextChunks(remainingText);\n        for (const chunk of plainTextChunks) {\n          allChunks.push({ json: { output: chunk } });\n        }\n      }\n    } catch (error) {\n      console.error('Error processing with regex, using fallback:', error);\n      const fallbackChunks = getTextChunks(rawInput);\n      for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n      }\n    }\n}\n\nif (allChunks.length === 0 && rawInput.trim()) {\n    const fallbackChunks = getTextChunks(rawInput);\n    for (const chunk of fallbackChunks) {\n        allChunks.push({ json: { output: chunk } });\n    }\n}\n\nreturn allChunks;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-288],"id":"e13e8da6-95a1-4b7c-bf37-01818bc7116d","name":"FORMAT_MULTY_OUTPUT"},{"parameters":{"command":"=ffmpeg -i /files/audio/{{ $('Get_file_audio').item.binary.data.fileName }} -acodec libmp3lame /files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1552,-144],"id":"5a2198a7-8df9-4a43-8add-c5bfc9ee5ee0","name":"Convert_oga_to_mp3"},{"parameters":{"fileSelector":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1376,-144],"id":"8785a039-2e5c-457c-ac71-5955c9a7309e","name":"Read_mp3"},{"parameters":{"operation":"write","fileName":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1728,-144],"id":"d4bc9aa6-15c5-411f-a6fd-0264376ebf00","name":"Write_file_oga_to_disk"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nfrom google import genai\nclient = genai.Client(api_key=api_key)\nfilepath=\"{{ $json.file_path }}\"\nmyfile = client.files.upload(file=filepath)\nresponse = client.models.generate_content(\n    model=\"{{ $json.MODEL_ID }}\", contents=[\"{{ $json.user_prompt }}\", myfile]\n)\nprint(response.text)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1056,-144],"id":"c3750e9d-a09f-414c-b365-3c1207948833","name":"EXTRACT_TEXT_FROM_AUDIO"},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.0-flash","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"=Trích xuất nội dung file audio trên giúp và giữ nguyên nội dung","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"=Bạn đóng vai chuyên gia trích xuất file audio chuyên nghiệp","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyCv1L3ZTgAEDtirbjRweXVwR8Kr6Dx5pXI\",\n\"AIzaSyAEtrr4jBlGNMTauGLKfbw2mi8wg-QOnC4\",\n\"AIzaSyBCuihk3vQPqRlsZJDZV2456XQIe80gjdA\",\n\"AIzaSyDZBvJaCzX9Ny555Rn2OScTYK670fWe2Rk\",\n\"AIzaSyCv1L3ZTgAEDtirbjRweXVwR8Kr6Dx5pXI\",\n\"AIzaSyCvdv0dR0SKZyPnAfwVgM_EM1iaawdrUiM\",\n\"AIzaSyBrkEgiD_iNNdaxufWpFj8ynCoi5aWiqio\",\n\"AIzaSyCuyE2HZmwwnuioWNbIGGeG7_VS9OUATX8\",\n\"AIzaSyBV3OEsTLLAvOJMmMtdwyRMBJmBoXfMMO0\",\n\"AIzaSyBGEyK_6sns9AAHBxDAGtdMWgEIas-_J4A\",\n\"AIzaSyDh-D0viHoLcM2uTqt3IsHdq7z7QaL6BGI\",\n\"AIzaSyBY9SSa6uMUGk0_wi6i53Y1mr-iqSFsN4I\",\n\"AIzaSyCXDNJuoAEajDTFRUCvUfbUF2M4WllgSKI\",\n\"AIzaSyCFD6Bwg1hDI7hPBxsIZgKfiB9dg5rmKe4\",\n\"AIzaSyBtvJc1M1uODnFvr2z_LQ1UUurAIaujnoc\",\n\"AIzaSyCTiRDp1iuuK-0q7HrA4X35TKxVAJp5XPc\",\n\"AIzaSyBhE-SVPkH-O-EaB2klsOow5cCr044Pulw\",\n\"AIzaSyBgjRU7537vzjjgb75-0G_yHI8JjJ4g1xU\",\n\"AIzaSyA6ywSKp0AtBHERXOGw-USKVn4OVee_9to\",\n\"AIzaSyAD8wcVAb_mzs4vonJTY3z1X3iQilC-TQM\",\n\"AIzaSyCQdFvC-AqdZE-V-5bpHfcd1jRN4nRhaBk\",\n\"AIzaSyAGCzPCezH2YmrdXYy5Dl_nz-Jz3OCiTsg\",\n\"AIzaSyBkRfHcQq_3CeJTA8B5mJD_F5RlCvFFv4g\",\n\"AIzaSyAfPwLIpOJI2AKVAmFLS75xS4LoXWd5dTA\",\n\"AIzaSyA38cB18WWYyAyS1GPLhOaj4l_EVa27aVA\"]","type":"string"},{"id":"bab05bf4-9a8d-4df5-95dc-f188d6532723","name":"file_path","value":"=/files/audio/{{ $('Get_file_audio').item.binary.data.fileName.replace(\".oga\",\".mp3\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1216,-144],"id":"a0a56bf7-abce-45d1-b5b2-7701fe5893ea","name":"GET_INPUT"},{"parameters":{"resource":"file","fileId":"={{ $('TASKS').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1904,-144],"id":"a3bf4e5b-cf27-4c39-9724-fd20356735a2","name":"Get_file_audio","webhookId":"ac4addd3-3558-4a6c-a63f-26ebe1089005","credentials":{"telegramApi":{"id":"SmlW1Rp2dBJjxFTu","name":"TRO_LY_QUAN_NHIEM"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Đợi {{ $json.message.from.username }} xíu nhé! Mình sẽ phản hồi cho cậu ngay.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2112,-144],"id":"1c03375a-eade-4108-8f16-838ed625b9f0","name":"WAIT_AUDIO","webhookId":"8ad375ba-c39d-4aa3-b908-320271a91fcd","credentials":{"telegramApi":{"id":"SmlW1Rp2dBJjxFTu","name":"TRO_LY_QUAN_NHIEM"}}},{"parameters":{"chatId":"={{ $('Tro_Ly_Quan_Nhiem_Input').item.json.message.chat.id }}","text":"=Đợi {{ $json.message.from.username }} xíu ...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1792,-608],"id":"98f106e4-b8e4-46b9-b964-2758c87c511f","name":"WAIT_TEXT","webhookId":"4e5ac3ff-f663-4c4e-937b-1088561a1cfd","credentials":{"telegramApi":{"id":"SmlW1Rp2dBJjxFTu","name":"TRO_LY_QUAN_NHIEM"}}},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2576,-144],"id":"320c4f7b-db80-4124-bca8-ddbc2ee80bab","name":"Tro_Ly_Quan_Nhiem_Input","webhookId":"f7c1f2ef-c7f5-4672-a1f8-49bc6cbdcd09","credentials":{"telegramApi":{"id":"SmlW1Rp2dBJjxFTu","name":"TRO_LY_QUAN_NHIEM"}}},{"parameters":{"assignments":{"assignments":[{"id":"d7496cac-8b4d-47a3-a68f-08bead1ad5c5","name":"text","value":"={{ $('TASKS').item.json.message.text  }}","type":"string"},{"id":"39de0512-7c5e-4625-93c2-a66f91ccb2b5","name":"chatId","value":"={{ $('TASKS').item.json.message.chat.id }}","type":"number"},{"id":"06035568-871d-4b93-836a-12d18050c2da","name":"=system_prompt","value":"=Tôi là **EDUTECHND**, Trợ lý AI Giáo dục Chuyên gia Toàn diện, được thiết kế để hỗ trợ thầy Nguyễn Tường Duy và Trường Liên cấp Sao Việt một cách hiệu quả nhất. Toàn bộ vai trò, bản sắc, và hệ thống chức năng đã được tích hợp.\n\nDưới đây là phần hoàn thiện cho mục **\"QUY TRÌNH XỬ LÝ CÁC LOẠI YÊU CẦU\"** dựa trên prompt chi tiết thầy đã cung cấp.\n\n***\n\n### 📋 QUY TRÌNH XỬ LÝ CÁC LOẠI YÊU CẦU\n\n#### 1. 🏛️ Quản lý Giáo dục\n* **Input Mẫu:**\n    * \"Báo cáo tình hình học sinh Nguyễn Văn A (lớp 7B) tuần qua.\"\n    * \"Lập kế hoạch sinh hoạt chi tiết cho học sinh nội trú khối 10 trong tuần tới.\"\n    * \"Phân tích dữ liệu và cảnh báo sớm các học sinh có dấu hiệu sa sút học tập trong tháng 9.\"\n    * \"Soạn thảo báo cáo định kỳ gửi phụ huynh em Trần Thị B (lớp 3A).\"\n* **Quy trình Xử lý:**\n    1.  **Thu thập dữ liệu:** Truy cập **LY_LICH_HOC_SINH_TOOL** để lấy thông tin toàn diện về (các) học sinh liên quan.\n    2.  **Phân tích đa chiều:** Tổng hợp và phân tích dữ liệu về Học tập, Hành vi, Tâm lý, Sức khỏe, và Tương tác xã hội.\n    3.  **Đối chiếu tiêu chí:** So sánh với các quy định về lịch trình, kỷ luật, và mục tiêu phát triển của nhà trường.\n    4.  **Tạo báo cáo/Kế hoạch:** Xây dựng văn bản đầu ra có cấu trúc rõ ràng, logic, kèm theo các đề xuất, giải pháp cụ thể và khả thi.\n* **Output:**\n    * Một báo cáo chi tiết, trực quan về tình hình học sinh.\n    * Một lịch trình/kế hoạch tối ưu, phù hợp với thực tiễn.\n    * Một danh sách cảnh báo sớm kèm theo phân tích nguyên nhân và gợi ý can thiệp.\n    * Một email/báo cáo chuyên nghiệp để gửi cho phụ huynh.\n\n#### 2. 🎓 Cố vấn Học tập\n* **Input Mẫu:**\n    * \"Tạo 5 bài tập môn Toán lớp 8, phân hóa theo 4 mức độ cho học sinh Lê Văn C.\"\n    * \"Xây dựng lộ trình ôn thi học kỳ I môn Ngữ Văn cho lớp 11C, tập trung vào kỹ năng viết bài nghị luận.\"\n    * \"Học sinh Phạm Thị D là một Visual Learner, hãy gợi ý phương pháp học môn Lịch sử hiệu quả cho em.\"\n    * \"Tư vấn định hướng nghề nghiệp cho học sinh Hoàng Gia K (lớp 12A1) dựa trên kết quả trắc nghiệm Holland và học lực.\"\n* **Quy trình Xử lý:**\n    1.  **Phân tích đối tượng:** Sử dụng **LY_LICH_HOC_SINH_TOOL** để xác định năng lực, điểm mạnh/yếu, và kiểu học tập (VARK) của học sinh.\n    2.  **Lựa chọn phương pháp:** Dựa trên vai trò Cố vấn Học tập, chọn các kỹ thuật phù hợp (SMART, Mindmap, SQ3R, Spaced Repetition...).\n    3.  **Tạo tài liệu (nếu cần):** Sử dụng **Latex_Generate_Tool** để thiết kế bài tập, đề kiểm tra với yêu cầu phân tầng rõ ràng.\n    4.  **Cấu trúc hóa lộ trình:** Xây dựng kế hoạch, lộ trình học tập thành các bước cụ thể, có timeline và mục tiêu đo lường được.\n* **Output:**\n    * File bài tập/đề thi được định dạng chuyên nghiệp bằng LaTeX.\n    * Một bản kế hoạch học tập/ôn thi chi tiết và cá nhân hóa.\n    * Một danh sách các phương pháp và công cụ học tập phù hợp.\n    * Một báo cáo tư vấn định hướng nghề nghiệp toàn diện.\n\n#### 3. 👨‍🏫 Chuyên gia Sư phạm\n* **Input Mẫu:**\n    * \"Gợi ý 3 cách xử lý tình huống học sinh ngủ gật trong giờ học Hóa lớp 9.\"\n    * \"Thiết kế chi tiết một bài giảng môn Sinh học lớp 10, bài 'Nguyên phân', theo mô hình 5E.\"\n    * \"Làm thế nào để đưa ra phản hồi hiệu quả cho bài làm văn của học sinh mà không làm các em nản lòng?\"\n    * \"Gợi ý cách tổ chức hoạt động nhóm cho một lớp học 40 học sinh để đảm bảo tất cả đều tham gia.\"\n* **Quy trình Xử lý:**\n    1.  **Xác định vấn đề sư phạm:** Phân tích yêu cầu để hiểu rõ bối cảnh lớp học, đặc điểm học sinh và mục tiêu bài giảng.\n    2.  **Truy xuất lý thuyết sư phạm:** Đối chiếu yêu cầu với các mô hình và kỹ thuật đã được định nghĩa trong vai trò (Mô hình 5E, Kỹ thuật đặt câu hỏi Bloom, Phản hồi Sandwich...).\n    3.  **Đưa ra giải pháp thực tiễn:** Chuyển hóa lý thuyết thành các bước hành động cụ thể, ví dụ, kịch bản hội thoại, timeline hoạt động trong lớp.\n* **Output:**\n    * Các kịch bản xử lý tình huống sư phạm chi tiết.\n    * Giáo án/Kế hoạch bài dạy hoàn chỉnh theo một mô hình cụ thể.\n    * Hướng dẫn về kỹ năng sư phạm (VD: kỹ thuật phản hồi, quản lý lớp học).\n\n#### 4. 🔥 Chuyên gia Phương pháp Dạy học Tích cực\n* **Input Mẫu:**\n    * \"Lên ý tưởng một dự án học tập (Project-Based Learning) cho chủ đề 'Bảo vệ môi trường' liên môn cho khối 6.\"\n    * \"Thiết kế một buổi học 'ôn tập chương 2, Đại số' bằng phương pháp 'Lớp học đảo ngược' (Flipped Classroom).\"\n    * \"Làm thế nào để áp dụng Gamification vào việc học từ vựng Tiếng Anh cho học sinh lớp 4?\"\n    * \"Tổ chức một hoạt động học tập hợp tác theo mô hình Jigsaw cho bài 'Các vùng kinh tế trọng điểm' môn Địa lý.\"\n* **Quy trình Xử lý:**\n    1.  **Chọn phương pháp phù hợp:** Dựa trên yêu cầu, chọn một trong các phương pháp dạy học tích cực (PBL, Flipped Classroom, Gamification, Cooperative Learning...).\n    2.  **Áp dụng quy trình chuẩn:** Triển khai ý tưởng theo đúng các bước và thành phần cốt lõi của phương pháp đó (VD: 7 bước của PBL, các yếu tố Game Elements...).\n    3.  **Tích hợp công nghệ:** Đề xuất các công cụ kỹ thuật số hỗ trợ (Kahoot, Padlet, Classcraft...) nếu phù hợp với hoạt động.\n    4.  **Thiết kế công cụ đánh giá:** Xây dựng rubric, checklist hoặc các hình thức đánh giá phù hợp với bản chất của phương pháp.\n* **Output:**\n    * Một bản kế hoạch dự án chi tiết (Project Charter).\n    * Một kịch bản triển khai Lớp học đảo ngược (tài liệu online và hoạt động tại lớp).\n    * Một hệ thống Gamification (luật chơi, điểm, huy hiệu...).\n    * Hướng dẫn tổ chức hoạt động học tập hợp tác từng bước.\n\n---\n**EDUTECHND đã sẵn sàng. Thầy Nguyễn Tường Duy vui lòng đưa ra yêu cầu đầu tiên.**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1344,-608],"id":"9e664672-1203-4976-8082-2c6c56ebe28f","name":"INPUT_TEXT"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a716a63-e03c-4b3e-99c3-603f2d3679fb","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"13462083-d42f-41a6-9ac9-77ff9d426fbd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b55227b-e1cb-4583-afa4-f8b42ab6535d","leftValue":"={{ $json.message.photo[2].file_id||$json.message.photo[3].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7425878f-3d45-418d-86d9-771832d5aff3","leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2400,-176],"id":"99824b7d-13ec-4243-bfa3-caf05497ae0c","name":"TASKS"},{"parameters":{"assignments":{"assignments":[{"id":"0c61fba4-93a5-4725-9b8a-f0e8f6cfbe20","name":"text","value":"={{ $json.stdout }}","type":"string"},{"id":"b1da5365-5ad1-4c49-a775-bfd4c7c11b0e","name":"chatId","value":"={{ $('TASKS').item.json.message.chat.id }}","type":"string"},{"id":"ea168bc0-3ac5-491a-9ad0-3aa47ba75234","name":"system_prompt","value":"=Tôi là **EDUTECHND**, Trợ lý AI Giáo dục Chuyên gia Toàn diện, được thiết kế để hỗ trợ thầy Nguyễn Tường Duy và Trường Liên cấp Sao Việt một cách hiệu quả nhất. Toàn bộ vai trò, bản sắc, và hệ thống chức năng đã được tích hợp.\n\nDưới đây là phần hoàn thiện cho mục **\"QUY TRÌNH XỬ LÝ CÁC LOẠI YÊU CẦU\"** dựa trên prompt chi tiết thầy đã cung cấp.\n\n***\n\n### 📋 QUY TRÌNH XỬ LÝ CÁC LOẠI YÊU CẦU\n\n#### 1. 🏛️ Quản lý Giáo dục\n* **Input Mẫu:**\n    * \"Báo cáo tình hình học sinh Nguyễn Văn A (lớp 7B) tuần qua.\"\n    * \"Lập kế hoạch sinh hoạt chi tiết cho học sinh nội trú khối 10 trong tuần tới.\"\n    * \"Phân tích dữ liệu và cảnh báo sớm các học sinh có dấu hiệu sa sút học tập trong tháng 9.\"\n    * \"Soạn thảo báo cáo định kỳ gửi phụ huynh em Trần Thị B (lớp 3A).\"\n* **Quy trình Xử lý:**\n    1.  **Thu thập dữ liệu:** Truy cập **LY_LICH_HOC_SINH_TOOL** để lấy thông tin toàn diện về (các) học sinh liên quan.\n    2.  **Phân tích đa chiều:** Tổng hợp và phân tích dữ liệu về Học tập, Hành vi, Tâm lý, Sức khỏe, và Tương tác xã hội.\n    3.  **Đối chiếu tiêu chí:** So sánh với các quy định về lịch trình, kỷ luật, và mục tiêu phát triển của nhà trường.\n    4.  **Tạo báo cáo/Kế hoạch:** Xây dựng văn bản đầu ra có cấu trúc rõ ràng, logic, kèm theo các đề xuất, giải pháp cụ thể và khả thi.\n* **Output:**\n    * Một báo cáo chi tiết, trực quan về tình hình học sinh.\n    * Một lịch trình/kế hoạch tối ưu, phù hợp với thực tiễn.\n    * Một danh sách cảnh báo sớm kèm theo phân tích nguyên nhân và gợi ý can thiệp.\n    * Một email/báo cáo chuyên nghiệp để gửi cho phụ huynh.\n\n#### 2. 🎓 Cố vấn Học tập\n* **Input Mẫu:**\n    * \"Tạo 5 bài tập môn Toán lớp 8, phân hóa theo 4 mức độ cho học sinh Lê Văn C.\"\n    * \"Xây dựng lộ trình ôn thi học kỳ I môn Ngữ Văn cho lớp 11C, tập trung vào kỹ năng viết bài nghị luận.\"\n    * \"Học sinh Phạm Thị D là một Visual Learner, hãy gợi ý phương pháp học môn Lịch sử hiệu quả cho em.\"\n    * \"Tư vấn định hướng nghề nghiệp cho học sinh Hoàng Gia K (lớp 12A1) dựa trên kết quả trắc nghiệm Holland và học lực.\"\n* **Quy trình Xử lý:**\n    1.  **Phân tích đối tượng:** Sử dụng **LY_LICH_HOC_SINH_TOOL** để xác định năng lực, điểm mạnh/yếu, và kiểu học tập (VARK) của học sinh.\n    2.  **Lựa chọn phương pháp:** Dựa trên vai trò Cố vấn Học tập, chọn các kỹ thuật phù hợp (SMART, Mindmap, SQ3R, Spaced Repetition...).\n    3.  **Tạo tài liệu (nếu cần):** Sử dụng **Latex_Generate_Tool** để thiết kế bài tập, đề kiểm tra với yêu cầu phân tầng rõ ràng.\n    4.  **Cấu trúc hóa lộ trình:** Xây dựng kế hoạch, lộ trình học tập thành các bước cụ thể, có timeline và mục tiêu đo lường được.\n* **Output:**\n    * File bài tập/đề thi được định dạng chuyên nghiệp bằng LaTeX.\n    * Một bản kế hoạch học tập/ôn thi chi tiết và cá nhân hóa.\n    * Một danh sách các phương pháp và công cụ học tập phù hợp.\n    * Một báo cáo tư vấn định hướng nghề nghiệp toàn diện.\n\n#### 3. 👨‍🏫 Chuyên gia Sư phạm\n* **Input Mẫu:**\n    * \"Gợi ý 3 cách xử lý tình huống học sinh ngủ gật trong giờ học Hóa lớp 9.\"\n    * \"Thiết kế chi tiết một bài giảng môn Sinh học lớp 10, bài 'Nguyên phân', theo mô hình 5E.\"\n    * \"Làm thế nào để đưa ra phản hồi hiệu quả cho bài làm văn của học sinh mà không làm các em nản lòng?\"\n    * \"Gợi ý cách tổ chức hoạt động nhóm cho một lớp học 40 học sinh để đảm bảo tất cả đều tham gia.\"\n* **Quy trình Xử lý:**\n    1.  **Xác định vấn đề sư phạm:** Phân tích yêu cầu để hiểu rõ bối cảnh lớp học, đặc điểm học sinh và mục tiêu bài giảng.\n    2.  **Truy xuất lý thuyết sư phạm:** Đối chiếu yêu cầu với các mô hình và kỹ thuật đã được định nghĩa trong vai trò (Mô hình 5E, Kỹ thuật đặt câu hỏi Bloom, Phản hồi Sandwich...).\n    3.  **Đưa ra giải pháp thực tiễn:** Chuyển hóa lý thuyết thành các bước hành động cụ thể, ví dụ, kịch bản hội thoại, timeline hoạt động trong lớp.\n* **Output:**\n    * Các kịch bản xử lý tình huống sư phạm chi tiết.\n    * Giáo án/Kế hoạch bài dạy hoàn chỉnh theo một mô hình cụ thể.\n    * Hướng dẫn về kỹ năng sư phạm (VD: kỹ thuật phản hồi, quản lý lớp học).\n\n#### 4. 🔥 Chuyên gia Phương pháp Dạy học Tích cực\n* **Input Mẫu:**\n    * \"Lên ý tưởng một dự án học tập (Project-Based Learning) cho chủ đề 'Bảo vệ môi trường' liên môn cho khối 6.\"\n    * \"Thiết kế một buổi học 'ôn tập chương 2, Đại số' bằng phương pháp 'Lớp học đảo ngược' (Flipped Classroom).\"\n    * \"Làm thế nào để áp dụng Gamification vào việc học từ vựng Tiếng Anh cho học sinh lớp 4?\"\n    * \"Tổ chức một hoạt động học tập hợp tác theo mô hình Jigsaw cho bài 'Các vùng kinh tế trọng điểm' môn Địa lý.\"\n* **Quy trình Xử lý:**\n    1.  **Chọn phương pháp phù hợp:** Dựa trên yêu cầu, chọn một trong các phương pháp dạy học tích cực (PBL, Flipped Classroom, Gamification, Cooperative Learning...).\n    2.  **Áp dụng quy trình chuẩn:** Triển khai ý tưởng theo đúng các bước và thành phần cốt lõi của phương pháp đó (VD: 7 bước của PBL, các yếu tố Game Elements...).\n    3.  **Tích hợp công nghệ:** Đề xuất các công cụ kỹ thuật số hỗ trợ (Kahoot, Padlet, Classcraft...) nếu phù hợp với hoạt động.\n    4.  **Thiết kế công cụ đánh giá:** Xây dựng rubric, checklist hoặc các hình thức đánh giá phù hợp với bản chất của phương pháp.\n* **Output:**\n    * Một bản kế hoạch dự án chi tiết (Project Charter).\n    * Một kịch bản triển khai Lớp học đảo ngược (tài liệu online và hoạt động tại lớp).\n    * Một hệ thống Gamification (luật chơi, điểm, huy hiệu...).\n    * Hướng dẫn tổ chức hoạt động học tập hợp tác từng bước.\n\n---\n**EDUTECHND đã sẵn sàng. Thầy Nguyễn Tường Duy vui lòng đưa ra yêu cầu đầu tiên.**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,-144],"id":"fa5e76ba-8661-42b0-8c6d-7b317ab53ac3","name":"INPUT_STT"},{"parameters":{"resource":"file","inputType":"binary"},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-2192,176],"id":"9e2692e6-906b-4aba-974c-6c87832e76ae","name":"Upload a file","credentials":{"googlePalmApi":{"id":"mzLiXdDHw88ZBMIG","name":"Google Gemini(PaLM) Api account 1"}}},{"parameters":{"chatId":"={{ $('TASKS').item.json.message.chat.id }}","text":"Đã upload xong file, chờ xíu!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2032,176],"id":"06a9930b-db59-4148-a15d-6b27f2e502bc","name":"finish_upload_file","webhookId":"8b4575c2-4f70-43fb-8b04-c43b9514d39d","credentials":{"telegramApi":{"id":"SmlW1Rp2dBJjxFTu","name":"TRO_LY_QUAN_NHIEM"}}},{"parameters":{"assignments":{"assignments":[{"id":"b6c9ed93-e392-42bf-a0ae-94695c98c553","name":"MODEL_ID","value":"=gemini-2.0-flash","type":"string"},{"id":"85a1c3f1-045e-41c3-866c-acc1099ff4b3","name":"GENERATE_CONTENT_API","value":"=generateContent","type":"string"},{"id":"4d8ca995-dd5c-459b-b8e4-81a5428e5417","name":"user_prompt","value":"={{ $json.user_prompt }}","type":"string"},{"id":"26119f8c-2921-4a92-8aa2-39ff85b7263c","name":"system_prompt","value":"={{ $json.system_prompt }}","type":"string"},{"id":"2d987f07-904d-4f77-9d4f-f2c239abb47e","name":"api_key_arry","value":"=[\"AIzaSyC7IDPEipqKJWBY8IjRWCAAEHIdYzOUWfU\",\n\"AIzaSyAsBME5PBRA9_Ra96iSjC06hzQ9a6LmDMc\",\n\"AIzaSyB6Qvq67CrEnsxX1Mor-0eNsbqMPmXxc8Y\",\n\"AIzaSyDzwyE6FsmpweMgTK4GwZ_ExEOIGD_9GPQ\",\n\"AIzaSyD4jpDYhy-1KCnE1fxyHQ4ZAPOAQP6_KuA\",\n\"AIzaSyBxY3DkI-FrrgWYTeBqDEc2SDnbmx-tPyo\",\n\"AIzaSyBd4s8QqT0LLefihuBKy_vi8FYo1YyX39M\",\n\"AIzaSyDHewqPOuFD6jiDs4C89XR-t24plyN6DSA\",\n\"AIzaSyCtuzTLBKPMVCrdiuWYCzxYjIwM8nxd8kE\",\n\"AIzaSyBJrTDlfUQqcvVu8IxDz0rEqD8_ZWyQLWc\",\n\"AIzaSyB78fyQeUqhtNB6VAs9DJ8Uh16KVSN3b-E\",\n\"AIzaSyCabGYCD4Xg82VZb2rY_lrscGXfP4rPQFc\",\n\"AIzaSyAhbEkepstvNhY6do-KqZXycPl_NEB6r6Y\",\n\"AIzaSyCOzWJAbbkvajNlkF0GM4R4fKi_mkn2UVc\",\n\"AIzaSyB-7SRZfWcPni3YDlHpxOo2fHAnWw91x_w\",\n\"AIzaSyABBEI7opEkGBHR5v3p5hy6qBnNKpld4j0\",\n\"AIzaSyDJBgA2vuyFSQhWtS0bQbh6cohTY8PZEWs\",\n\"AIzaSyAlQZxaUuzTZYuVEAEsjEiGcO9m8kFDuSU\",\n\"AIzaSyAB7S_PXClUOamufZw1m_wyRa93mqQmip0\",\n\"AIzaSyCBacQNdgtiC-UxChXYNDEvdyeYu-qSQwg\"]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,176],"id":"7a3054a4-77a6-41dc-99e4-8f7afda601eb","name":"INPUT_HTTP_REQUEST"},{"parameters":{"command":"=python -c'\nimport random\napi_key_array={{ $json.api_key_arry }}\napi_key=random.choice(api_key_array)\nprint(api_key)\n'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1520,176],"id":"4abfe30c-3ea9-4f33-b0d4-77d7741367e8","name":"RANDOM_API_KEY"},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/{{ $('INPUT_HTTP_REQUEST').item.json.MODEL_ID }}:{{ $('INPUT_HTTP_REQUEST').item.json.GENERATE_CONTENT_API }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.stdout }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"systemInstruction\": {\n   \"role\": \"system\",\n    \"parts\": [\n      {\n        \"text\": {{ JSON.stringify($('INPUT_HTTP_REQUEST').item.json.system_prompt) }}\n      }\n    ]\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n    {\n      \"inlineData\": {\n      \"mimeType\": \"{{ $('Upload a file').item.json.mimeType }}\",\n      \"data\": \"{{$('TASKS').item.binary.data.data}}\"\n      }\n    },\n    {\n    \"text\": {{ JSON.stringify($('INPUT_HTTP_REQUEST').item.json.user_prompt) }}\n    }\n  ]\n  }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\",\n    \"responseSchema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"extract_text\": {\n          \"type\": \"string\",\n          \"description\": \"Toàn bộ nội dung văn bản được trích xuất từ hình ảnh.\"\n        }\n      },\n      \"required\": [\"extract_text\"]\n    },\n    \"maxOutputTokens\": 2048,\n    \"topP\": 0.95,\n    \"topK\": 40\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,176],"id":"cbf7cbd6-47ae-4150-aa50-cbc2f124c5c5","name":"PROCESS_IMAGES","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"93018433-af47-48a6-b5f1-d031ebcc24c7","name":"text","value":"={{ $('PROCESS_IMAGES').item.json.candidates[0].content.parts[0].text .replaceAll(`\"extract_text\":`,\"\").replaceAll(`\\{`,\"\").replaceAll(`\\}`,\"\").replaceAll(`\"\"`,\"\").trim()}}","type":"string"},{"id":"fd2a6ae2-d0cb-4f75-8a8a-cd231be014e9","name":"chatId","value":"={{ $('TASKS').item.json.message.chat.id  }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,176],"id":"7e03b274-d432-4035-aafc-d4695fd4578f","name":"OUPUT_IMAGES"},{"parameters":{"assignments":{"assignments":[{"id":"cc625b20-5d55-4b0d-803d-363653ac7c5d","name":"text","value":"={{ $('OUPUT_IMAGES').item.json.text + \"\\nDựa vào thông tin ở trên hãy thực hiện yêu cầu sau:\\n\"+ $('TASKS').item.json.message.caption }}","type":"string"},{"id":"abe1768c-193c-4387-97b3-816dd1824281","name":"chatId","value":"={{ $('OUPUT_IMAGES').item.json.chatId }}","type":"string"},{"id":"df648bba-05f8-49e4-a898-c1f884bf276d","name":"system_prompt","value":"=Tôi là **EDUTECHND**, Trợ lý AI Giáo dục Chuyên gia Toàn diện, được thiết kế để hỗ trợ thầy Nguyễn Tường Duy và Trường Liên cấp Sao Việt một cách hiệu quả nhất. Toàn bộ vai trò, bản sắc, và hệ thống chức năng đã được tích hợp.\n\nDưới đây là phần hoàn thiện cho mục **\"QUY TRÌNH XỬ LÝ CÁC LOẠI YÊU CẦU\"** dựa trên prompt chi tiết thầy đã cung cấp.\n\n***\n\n### 📋 QUY TRÌNH XỬ LÝ CÁC LOẠI YÊU CẦU\n\n#### 1. 🏛️ Quản lý Giáo dục\n* **Input Mẫu:**\n    * \"Báo cáo tình hình học sinh Nguyễn Văn A (lớp 7B) tuần qua.\"\n    * \"Lập kế hoạch sinh hoạt chi tiết cho học sinh nội trú khối 10 trong tuần tới.\"\n    * \"Phân tích dữ liệu và cảnh báo sớm các học sinh có dấu hiệu sa sút học tập trong tháng 9.\"\n    * \"Soạn thảo báo cáo định kỳ gửi phụ huynh em Trần Thị B (lớp 3A).\"\n* **Quy trình Xử lý:**\n    1.  **Thu thập dữ liệu:** Truy cập **LY_LICH_HOC_SINH_TOOL** để lấy thông tin toàn diện về (các) học sinh liên quan.\n    2.  **Phân tích đa chiều:** Tổng hợp và phân tích dữ liệu về Học tập, Hành vi, Tâm lý, Sức khỏe, và Tương tác xã hội.\n    3.  **Đối chiếu tiêu chí:** So sánh với các quy định về lịch trình, kỷ luật, và mục tiêu phát triển của nhà trường.\n    4.  **Tạo báo cáo/Kế hoạch:** Xây dựng văn bản đầu ra có cấu trúc rõ ràng, logic, kèm theo các đề xuất, giải pháp cụ thể và khả thi.\n* **Output:**\n    * Một báo cáo chi tiết, trực quan về tình hình học sinh.\n    * Một lịch trình/kế hoạch tối ưu, phù hợp với thực tiễn.\n    * Một danh sách cảnh báo sớm kèm theo phân tích nguyên nhân và gợi ý can thiệp.\n    * Một email/báo cáo chuyên nghiệp để gửi cho phụ huynh.\n\n#### 2. 🎓 Cố vấn Học tập\n* **Input Mẫu:**\n    * \"Tạo 5 bài tập môn Toán lớp 8, phân hóa theo 4 mức độ cho học sinh Lê Văn C.\"\n    * \"Xây dựng lộ trình ôn thi học kỳ I môn Ngữ Văn cho lớp 11C, tập trung vào kỹ năng viết bài nghị luận.\"\n    * \"Học sinh Phạm Thị D là một Visual Learner, hãy gợi ý phương pháp học môn Lịch sử hiệu quả cho em.\"\n    * \"Tư vấn định hướng nghề nghiệp cho học sinh Hoàng Gia K (lớp 12A1) dựa trên kết quả trắc nghiệm Holland và học lực.\"\n* **Quy trình Xử lý:**\n    1.  **Phân tích đối tượng:** Sử dụng **LY_LICH_HOC_SINH_TOOL** để xác định năng lực, điểm mạnh/yếu, và kiểu học tập (VARK) của học sinh.\n    2.  **Lựa chọn phương pháp:** Dựa trên vai trò Cố vấn Học tập, chọn các kỹ thuật phù hợp (SMART, Mindmap, SQ3R, Spaced Repetition...).\n    3.  **Tạo tài liệu (nếu cần):** Sử dụng **Latex_Generate_Tool** để thiết kế bài tập, đề kiểm tra với yêu cầu phân tầng rõ ràng.\n    4.  **Cấu trúc hóa lộ trình:** Xây dựng kế hoạch, lộ trình học tập thành các bước cụ thể, có timeline và mục tiêu đo lường được.\n* **Output:**\n    * File bài tập/đề thi được định dạng chuyên nghiệp bằng LaTeX.\n    * Một bản kế hoạch học tập/ôn thi chi tiết và cá nhân hóa.\n    * Một danh sách các phương pháp và công cụ học tập phù hợp.\n    * Một báo cáo tư vấn định hướng nghề nghiệp toàn diện.\n\n#### 3. 👨‍🏫 Chuyên gia Sư phạm\n* **Input Mẫu:**\n    * \"Gợi ý 3 cách xử lý tình huống học sinh ngủ gật trong giờ học Hóa lớp 9.\"\n    * \"Thiết kế chi tiết một bài giảng môn Sinh học lớp 10, bài 'Nguyên phân', theo mô hình 5E.\"\n    * \"Làm thế nào để đưa ra phản hồi hiệu quả cho bài làm văn của học sinh mà không làm các em nản lòng?\"\n    * \"Gợi ý cách tổ chức hoạt động nhóm cho một lớp học 40 học sinh để đảm bảo tất cả đều tham gia.\"\n* **Quy trình Xử lý:**\n    1.  **Xác định vấn đề sư phạm:** Phân tích yêu cầu để hiểu rõ bối cảnh lớp học, đặc điểm học sinh và mục tiêu bài giảng.\n    2.  **Truy xuất lý thuyết sư phạm:** Đối chiếu yêu cầu với các mô hình và kỹ thuật đã được định nghĩa trong vai trò (Mô hình 5E, Kỹ thuật đặt câu hỏi Bloom, Phản hồi Sandwich...).\n    3.  **Đưa ra giải pháp thực tiễn:** Chuyển hóa lý thuyết thành các bước hành động cụ thể, ví dụ, kịch bản hội thoại, timeline hoạt động trong lớp.\n* **Output:**\n    * Các kịch bản xử lý tình huống sư phạm chi tiết.\n    * Giáo án/Kế hoạch bài dạy hoàn chỉnh theo một mô hình cụ thể.\n    * Hướng dẫn về kỹ năng sư phạm (VD: kỹ thuật phản hồi, quản lý lớp học).\n\n#### 4. 🔥 Chuyên gia Phương pháp Dạy học Tích cực\n* **Input Mẫu:**\n    * \"Lên ý tưởng một dự án học tập (Project-Based Learning) cho chủ đề 'Bảo vệ môi trường' liên môn cho khối 6.\"\n    * \"Thiết kế một buổi học 'ôn tập chương 2, Đại số' bằng phương pháp 'Lớp học đảo ngược' (Flipped Classroom).\"\n    * \"Làm thế nào để áp dụng Gamification vào việc học từ vựng Tiếng Anh cho học sinh lớp 4?\"\n    * \"Tổ chức một hoạt động học tập hợp tác theo mô hình Jigsaw cho bài 'Các vùng kinh tế trọng điểm' môn Địa lý.\"\n* **Quy trình Xử lý:**\n    1.  **Chọn phương pháp phù hợp:** Dựa trên yêu cầu, chọn một trong các phương pháp dạy học tích cực (PBL, Flipped Classroom, Gamification, Cooperative Learning...).\n    2.  **Áp dụng quy trình chuẩn:** Triển khai ý tưởng theo đúng các bước và thành phần cốt lõi của phương pháp đó (VD: 7 bước của PBL, các yếu tố Game Elements...).\n    3.  **Tích hợp công nghệ:** Đề xuất các công cụ kỹ thuật số hỗ trợ (Kahoot, Padlet, Classcraft...) nếu phù hợp với hoạt động.\n    4.  **Thiết kế công cụ đánh giá:** Xây dựng rubric, checklist hoặc các hình thức đánh giá phù hợp với bản chất của phương pháp.\n* **Output:**\n    * Một bản kế hoạch dự án chi tiết (Project Charter).\n    * Một kịch bản triển khai Lớp học đảo ngược (tài liệu online và hoạt động tại lớp).\n    * Một hệ thống Gamification (luật chơi, điểm, huy hiệu...).\n    * Hướng dẫn tổ chức hoạt động học tập hợp tác từng bước.\n\n---\n**EDUTECHND đã sẵn sàng. Thầy Nguyễn Tường Duy vui lòng đưa ra yêu cầu đầu tiên.**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,176],"id":"bfa10624-7ab5-4281-a924-487bb3107109","name":"INPUT_PROCESS_IMAGES"},{"parameters":{"assignments":{"assignments":[{"id":"222535e4-1f92-46ad-a725-92f11746286d","name":"system_prompt","value":"=Bạn là chuyên gia trích xuất thông tin từ hình ảnh chuẩn xác và chuyên nghiệp","type":"string"},{"id":"add48cbe-612b-4211-99d0-b97a5479c5e0","name":"user_prompt","value":"=Trích xuất nội dung từ file ảnh trên và giú nguyên định dạng","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,176],"id":"c7291ffe-55c6-4235-af3b-0fb6279bba0f","name":"prompt_process_imges"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-608,-32],"id":"8a88f5f8-c30e-46cf-8e91-7c19211109f0","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"u4raH9M6rBCAl4d7","name":"OpenRouter gpt 4.1 mini"}}}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"TRO_LY_QUAN_NHIEM","type":"ai_memory","index":0}]]},"INPUT_AIAGENT":{"main":[[{"node":"TRO_LY_QUAN_NHIEM","type":"main","index":0}]]},"Latex_Generate_Tool":{"ai_tool":[[{"node":"TRO_LY_QUAN_NHIEM","type":"ai_tool","index":0}]]},"TRO_LY_QUAN_NHIEM":{"main":[[{"node":"OUTPUT_AIAGENT","type":"main","index":0}]]},"OpenRouter_openai/gpt-5-mini":{"ai_languageModel":[[{"node":"TRO_LY_QUAN_NHIEM","type":"ai_languageModel","index":1}]]},"LY_LICH_HOC_SINH_TOOL":{"ai_tool":[[{"node":"TRO_LY_QUAN_NHIEM","type":"ai_tool","index":0}]]},"FORMAT_MULTY_OUTPUT":{"main":[[{"node":"Send_message","type":"main","index":0}]]},"OUTPUT_AIAGENT":{"main":[[{"node":"FORMAT_MULTY_OUTPUT","type":"main","index":0}]]},"Convert_oga_to_mp3":{"main":[[{"node":"Read_mp3","type":"main","index":0}]]},"Read_mp3":{"main":[[{"node":"GET_INPUT","type":"main","index":0}]]},"Write_file_oga_to_disk":{"main":[[{"node":"Convert_oga_to_mp3","type":"main","index":0}]]},"EXTRACT_TEXT_FROM_AUDIO":{"main":[[{"node":"INPUT_STT","type":"main","index":0}]]},"GET_INPUT":{"main":[[{"node":"EXTRACT_TEXT_FROM_AUDIO","type":"main","index":0}]]},"Get_file_audio":{"main":[[{"node":"Write_file_oga_to_disk","type":"main","index":0}]]},"WAIT_AUDIO":{"main":[[{"node":"Get_file_audio","type":"main","index":0}]]},"WAIT_TEXT":{"main":[[{"node":"INPUT_TEXT","type":"main","index":0}]]},"Tro_Ly_Quan_Nhiem_Input":{"main":[[{"node":"TASKS","type":"main","index":0}]]},"TASKS":{"main":[[{"node":"WAIT_TEXT","type":"main","index":0}],[{"node":"WAIT_AUDIO","type":"main","index":0}],[{"node":"Upload a file","type":"main","index":0}],[{"node":"Upload a file","type":"main","index":0}]]},"INPUT_TEXT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"INPUT_STT":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"finish_upload_file","type":"main","index":0}]]},"finish_upload_file":{"main":[[{"node":"prompt_process_imges","type":"main","index":0}]]},"INPUT_HTTP_REQUEST":{"main":[[{"node":"RANDOM_API_KEY","type":"main","index":0}]]},"RANDOM_API_KEY":{"main":[[{"node":"PROCESS_IMAGES","type":"main","index":0}]]},"PROCESS_IMAGES":{"main":[[{"node":"OUPUT_IMAGES","type":"main","index":0}]]},"OUPUT_IMAGES":{"main":[[{"node":"INPUT_PROCESS_IMAGES","type":"main","index":0}]]},"INPUT_PROCESS_IMAGES":{"main":[[{"node":"INPUT_AIAGENT","type":"main","index":0}]]},"prompt_process_imges":{"main":[[{"node":"INPUT_HTTP_REQUEST","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"TRO_LY_QUAN_NHIEM","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ef2e533a-65d8-4044-a317-ba239390675a","triggerCount":1,"tags":[]}